/*------------------------------------*\
    $COLORS
\*------------------------------------*/

/*
Text colors

* Use class `.script` to force text color as the default text color
* Use class `.darkest-shiro` or .soft-script` for the neutral colors
* Use class `.alternative` to mark text that contains details information
* Use class `.disabled` to mark a text option as disabled
* Use class `.marked` to focus attention in it
* Use class `.highlight` to highlight words as a result of a search
* Use class `.focus` to mark a text as neutral informative change or action
* Use class `.alert` to mark a text as potentially negative action

Markup:
<p class="script">Lorem ipsum dolor sit amet.</p>
<p class="darkest-shiro">Lorem ipsum dolor sit amet.</p>
<p class="soft-script">Lorem ipsum dolor sit amet.</p>
<p class="alternative">Lorem ipsum dolor sit amet.</p>
<p class="disabled">Lorem ipsum dolor sit amet.</p>
<p class="marked">Lorem ipsum dolor sit amet.</p>
<p class="highlight">Lorem ipsum dolor sit amet.</p>
<p class="focus">Lorem ipsum dolor sit amet.</p>
<p class="alert">Lorem ipsum dolor sit amet.</p>
<p class="cta">Lorem ipsum dolor sit amet.</p>

Styleguide #{$sgi-textColors}
*/

.disabled,
.disabled:hover,
.disabled:visited,
.disabled:active,
.disabled[class*="iconfont-"]::before {
	color: $soft-script;
	cursor: default;
}

.disabled:hover {
	text-decoration: none;
}

.marked,
.marked[class*="iconfont-"]::before {
	color: $bamboo;
}

.alternative,
.alternative[class*="iconfont-"]::before {
    color: $soft-script;
}

.alternative-action,
.alternative-action[class*="iconfont-"]::before {
	color: $mid-script;

	.panel-info & {
		color: $shiro;
	}

}

a.alternative-action:hover {
	color: $day-blue;
}

.highlight {
	padding: 2px 5px;
	background-color:$stabilo;
	color: set-color-contrast($stabilo);

	h1 & {
		padding: 10px 5px 0 5px;
	}
}

//force color used for texts. Not use this when it is a component
.script,
a.script,
a.script:hover,
a.script:visited,
a.script:active,
.script[class*="iconfont-"]::before {
	color: $dark-silk;
}

//force color used for texts (p.e: top-searches). Not use this when it is a component
.soft-script,
a.soft-script,
a.soft-script:hover,
a.soft-script:visited,
a.soft-script:active,
.soft-script[class*="iconfont-"]::before {
	color: $outer-pawn;
}

.darkest-shiro,
.darkest-shiro[class*="iconfont-"]::before {
	color: $darkest-shiro;
}

.focus,
.focus[class*="iconfont-"]::before {
	color: $day-blue;
}

.alert,
.alert[class*="iconfont-"]::before,
.alert:hover {
	color: $trueblood;
}

.cta,
.cta[class*="iconfont-"]::before {
	color: $orange-soda;
}


/*
Contrasted text color

Use class `.contrast` to define a text over dark background color

Markup:
<div class="inner panel-info">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<a href="#" class="contrast">Curabitur varius</a>
</div>

Styleguide #{$sgi-textContrastColors}
*/

//white text
.contrast,
.contrast[class*="iconfont-"]::before {
	color: $shiro;

	@media print {
		color: $print-dark;
	}
}
.contrast {

	&:hover {
		color: $shiro;
	}

	&:focus {
		color: $shiro;
	}
}

//underlined text
.contrast-link,
.contrast-link:visited {
	color: #41a4db;

	&:hover,
	&:focus {
		color: $day-blue;
	}
 }

 %marked-contrast {
 	color: $shiro;
 	background-color: $bamboo;
 }

 .marked-contrast,
 .marked-contrast[class*="iconfont-"]::before {
 	@extend %marked-contrast;
 }
