/*------------------------------------*\
	$GRIDS
\*------------------------------------*/

/*
Grid System

**We are using a mobile first 12 column fluid responsive grid system that helps you to build solid multi-device layouts.**

Grid system is used for creating page layout through a series of rows and columns that house
your content.
<br>
@@include('../templates/partials/grid.html')
<br>
- Use class `.row` to create a horizontal group of columns.
- Then nest as many containers `<div class="col-[number]">` as columns are necessary to build the layout
- Include the container `<div class="col-child">` as immediate children of `.col-[number]`.
<br>
@@include('../templates/partials/grid-layouts.html')

Markup:
<div class="row casper">
	<div class="col-4"><div class="col-child">...</div></div>
	<div class="col-8"><div class="col-child">...</div></div>
</div>
<div class="row">
	<div class="col-8"><div class="col-child">...</div></div>
	<div class="col-4"><div class="col-child">...</div></div>
</div>
<div class="row">
	<div class="col-4"><div class="col-child">...</div></div>
	<div class="col-4"><div class="col-child">...</div></div>
	<div class="col-4"><div class="col-child">...</div></div>
</div>
<div class="row">
	<div class="col-3"><div class="col-child">...</div></div>
	<div class="col-3"><div class="col-child">...</div></div>
	<div class="col-3"><div class="col-child">...</div></div>
	<div class="col-3"><div class="col-child">...</div></div>
</div>

Styleguide #{$sgi-gridSystem}
*/

@mixin row {
	margin: 0 0 0 -10px;
	clear: both;
	position: relative;

	&:after {
		content: " ";
		display: table;
		clear: both;
	}

	@media print {
		margin: 0;
	}
}

.row {
	@include row;

	@include mediaquery ($bp-tablet) {
		> [class^="col-"]:last-of-type .col-child,
		> [class*="col-"]:last-of-type .col-child {
				margin-bottom: 0;
		}
	}
	.aside-wrapper & {
		display: table;
		width: 100%;
		margin-left: 0;
	}

	+ .row {
		margin-top: 10px;

		@media print {
			margin: 0;
		}
	}

	//row-matrioska
	.row-matrioska {
		.col-child.inner {
			margin-top: 20px;
			margin-right: 0;
			padding: 0;

			@include mediaquery ($bp-tablet) {
				margin-top: 0;
			}
		}

		.col-12-medium .col-child.inner {
			@include mediaquery ($bp-tablet) {
				margin-top: 20px;
			}

			@include mediaquery ($bp-desktop) {
				margin-top: 0;
			}
		}

		> [class^="col-"]:first-of-type .col-child.inner,
		> [class*="col-"]:first-of-type .col-child.inner {
			margin-top: 0;
		}
	}
}

/*
Medium devices

Therefore, applying at any column the class `.col-6-medium` content will adjust to 50% width or `.col-12-medium` 100% width defined for medium devices.

@@include('../templates/partials/grid-devices.html')

Markup:
<div class="row casper">
	<div class="col-8 col-6-medium"><div class="col-child">...</div></div>
	<div class="col-4 col-6-medium"><div class="col-child">...</div></div>
</div>
<div class="row casper">
	<div class="col-8 col-12-medium"><div class="col-child">...</div></div>
	<div class="col-4 col-12-medium"><div class="col-child">...</div></div>
</div>

Styleguide #{$sgi-mediumDevices}
*/

$gridColumns: 12;

@for $i from 1 through $gridColumns {
	.col-#{$i} {
		@include mediaquery ($bp-tablet) {
			width: ((100 / $gridColumns) * $i) * 1%;
			float: left;
		}
	}

	.col-#{$i}.col-6-medium,
	.col-#{$i}.col-12-medium {
		@include mediaquery ($bp-desktop) {
			width: ((100 / $gridColumns) * $i) * 1%;
		}
	}
}

[class^="col-"],
[class*="col-"] {

	@media print {
		width: 100%;
		float: none;
	}

	.aside-wrapper & {
		float: none;
		display: table-cell;
	}

	+ [class*="col-"] {
		margin-top: 10px;

		@include mediaquery ($bp-tablet) {
			margin-top: 0;
		}
	}
}


.col-6-medium {
	@include mediaquery ($bp-tablet) {
		width: 50%;
	}
}

.col-12-medium {
	@include mediaquery ($bp-tablet) {
		width: 100%;

		+ .col-12-medium {
			margin-top: 20px;
		}
	}

	@include mediaquery ($bp-tablet) {
		+ .col-12-medium {
			margin-top: 0;
		}
	}
}

.col-child {
	margin: 0 0 0 10px;

	// :last-of-type > & {
	// 	@include mediaquery ($bp-tablet) {
	// 		margin-left: 0;
	// 	}
	// }

	.col-12-medium:last-of-type > & {

		@include mediaquery ($bp-tablet) {
			margin-left: 10px;
		}

		// @include mediaquery ($bp-desktop) {
		// 	margin-left: 0;
		// }
	}

	[class*="panel-"] > & { //aplica al padre del col-child: col-x
		margin-left: 0;
		margin-bottom: 0;
	}

	.col-child [class*="col-"]:first-of-type &[class*="panel-"] {
		margin-left: 10px;
	}

	.aside-wrapper & {
		margin-left: 0;
	}

	@media print {
		margin: 0;
	}
}

.col-child-content {
	padding: 10px 10px 10px 0;

	@include mediaquery ($bp-tablet) {

		@at-root .col-child#{&},
		.col-child & {
			padding-left: 10px;
		}
	}

	@media print {
		padding: 0;
	}
}

.row-bleed { //DEPRECATED: only used in 'view-offer'
	@include row;
	margin: 0;
	padding-top: 10px;

	.col-child {
		@include mediaquery ($bp-tablet) {
			margin-right: 10px;
		}
		@include mediaquery ($bp-desktop) {
			margin-right: 0;
		}
	}

	&:last-of-type .col-child {
		@include mediaquery ($bp-desktop) {
			margin-right: 10px;
		}
	}
}

/*------------------------------------*\
	$ROW PANEL
\*------------------------------------*/

.row-faux-card .col-child {
	margin-left: 10px;

	@include mediaquery ($bp-tablet) {
		margin-left: 20px;
	}
}

.row-faux-card [class*="col-"]:first-of-type .col-child {
	margin-left: 10px;
}

/*------------------------------------*\
	$ROW MATRIOSKA
\*------------------------------------*/

/*
Nested row

Use class `.row` and `.row-matrioska` to nested rows.

@@include('../templates/partials/grid-nested.html')

Markup:
<div class="row casper">
	<div class="col-6">
		<div class="col-child">
			<div class="row row-matrioska">
				<div class="col-6"><div class="col-child">...</div></div>
				<div class="col-6"><div class="col-child">...</div></div>
			</div>
		</div>
	</div>
	<div class="col-6"><div class="col-child">...</div></div>
</div>

Styleguide 1.1.1.3
*/


/*------------------------------------*\
	$ROW FAUX
\*------------------------------------*/

/*
Equal height columns

Add class `.row` and `.row-faux` to build an equal height columns structure.

@@include('../templates/partials/grid-equal.html')

Markup:
<div class="row row-faux casper">
	<div class="col-4"><div class="col-child">...</div></div>
	<div class="col-4"><div class="col-child">...</div></div>
	<div class="col-4"><div class="col-child">...</div></div>
</div>

Styleguide #{$sgi-equalHeightColumns}
*/

.row-faux {

	> [class*="col-"]:last-child .col-child {
			margin-bottom: 0;
	}

	@include mediaquery ($bp-tablet) {

		@include display-flex;
		@include vendor-prefix('flex-flow', 'row wrap');

		> [class^="col-"],
		> [class*="col-"] {
			@include display-flex;
			float: none;
			//overflow: hidden; Si hay tooltip se corta por el overflow
		}

		.col-12-medium {
			display: block;

			.col-child {
				margin-bottom: 10px;

				@include mediaquery ($bp-desktop) {
					margin-bottom: 0;
				}
			}
		}

		.col-child {
			display: block;
			@include flex;
		}
	}

	@include mediaquery ($bp-desktop) {

		.col-6-medium,
		.col-12-medium  {
			@include display-flex;
		}

	}

}

.row-panel {
	> [class*="col-"]:not(.col-12-medium):last-of-type {
  		.col-child {
	      @include mediaquery ($bp-tablet) {
	        margin-left: 0;
	      }

		  @include mediaquery ($bp-desktop) {
	        margin-left: 0;
	      }
	    }
  	}

	> [class*="col-"]:last-of-type {
  		.col-child {
	      @include mediaquery ($bp-desktop) {
	        margin-left: 0;
	      }
	    }
  	}
}
