/*------------------------------------*\
    $PRINT
\*------------------------------------*/

@media print {

  $xsmall-font-size: ($xsmall-font-size/$point-to-px);
  $xsmall-line-height: ($xsmall-line-height/$point-to-px);
  $small-font-size: ($small-font-size/$point-to-px);
  $small-line-height: ($small-line-height/$point-to-px);
	$base-font-size: ($base-font-size/$point-to-px);
	$base-line-height: ($base-line-height/$point-to-px);
	$medium-font-size: ($medium-font-size/$point-to-px);
	$medium-line-height: ($medium-line-height/$point-to-px);
	$large-font-size: ($large-font-size/$point-to-px);
	$large-line-height: ($large-line-height/$point-to-px);
  $xlarge-font-size: ($xlarge-font-size/$point-to-px);
  $xlarge-line-height: ($xlarge-line-height/$point-to-px);

  //color
  $dark-silk: #000000;

    * {
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;

    }

    html,
    body {
    	font-size: $base-font-size;
    	line-height: $base-line-height;
    	height: auto;
      color: $dark-silk;
    }

    footer::after {
		content: "@InfoJobs 2016";
		font-size: 10.5pt;
		display: block;
		padding-top: 40px;

	}

    a,
    a:visited {
        text-decoration: none;
        color: $mid-script;
    }

    a.print-url:after {
        content: " (" attr(href) ")";
        text-decoration: underline;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    section {
      page-break-inside: avoid;
    }

    p,
    ul,
    ol {
    	margin-bottom: 15px;
    }

    //hidde

   	.no-print, //no-print es una helper class, usar cuando no podemos ocultar el elemento por defecto o en la definicion de un componente
    [class*="btn"],
    .top-searches,
    #footer-help-companies,
    #ij-policy-disclaimer {
    	display: none!important;
    }

}

@page:right{
  @bottom-right {
    content: counter(page);
  }
}
