//generics
@import "../generics/vars";

/*------------------------------------*\
    $PRINT
\*------------------------------------*/

@media print {

    * {
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;

    }

    html,
    body {
    	font-size: 12pt;
    	line-height: 13pt;
    	height: auto;
    }

    footer::after {
		content: "@InfoJobs 2014";
		font-size: 10.5pt;
		display: block;
		padding-top: 40px;

	}

    a,
    a:visited {
        text-decoration: none;
        color: $mid-script;
    }

    a.print-url:after {
        content: " (" attr(href) ")";
        text-decoration: underline;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    p,
    ul,
    ol {
    	margin-bottom: 15px;
    }

   	.no-print, //no-print es una helper class, usar cuando no podemos ocultar el elemento por defecto o en la definicion de un componente
    .btn,
    .top-searches,
    #footer-help-companies,
    #ij-policy-disclaimer {
    	display: none!important;
    }

}
