// Common CSS
$sgi-boilerplate:           '1.1';
$sgi-layouts:               '1.2';
$sgi-gridSystem:                '1.2.1';
$sgi-gridNested:                    '1.2.1.1'; // Use 4 levels to hide section as menu item
$sgi-mediumDevices:                 '1.2.1.2';
$sgi-equalHeightColumns:            '1.2.1.3';
$sgi-expandGutterColumns:	        '1.2.1.4';
$sgi-removeGutterColumns:	        '1.2.1.5';
$sgi-containers:                '1.2.2';
$sgi-bannersContainers:         '1.2.3';
$sgi-innerContainers:           '1.2.4';
$sgi-examplesLayouts:           '1.2.5';

$sgi-textElements:          '1.3';
$sgi-headings:                  '1.3.1';
$sgi-headingAddons:                 '1.3.1.1';
$sgi-headingSingle:                 '1.3.1.2';
$sgi-headingMega:                   '1.3.1.3';
$sgi-headingMiddle:                 '1.3.1.4';
$sgi-paragraphs:                '1.3.2';
$sgi-blockquotes:               '1.3.3';
$sgi-lists:                     '1.3.4';
$sgi-listsDefault:         			'1.3.4.1';
$sgi-listsInline:         			'1.3.4.2';
$sgi-listsOrdered:         			'1.3.4.3';
$sgi-listsWithBullets:              '1.3.4.4';
$sgi-listsWithIcons:                '1.3.4.5';
$sgi-tagGroup:                      '1.3.4.6';
$sgi-tagDivider:                        '1.3.4.6.1';
$sgi-tagGroupTop:                       '1.3.4.6.2';
$sgi-tagGroupWithEllipsis:              '1.3.4.6.3';
$sgi-textStyle:                 '1.3.5';
$sgi-textSize:                      '1.3.5.1';
$sgi-textVariants:                  '1.3.5.2';
$sgi-textColors:                    '1.3.5.3';
$sgi-textContrastColors:            '1.3.5.4';

$sgi-forms:                 '1.4';
$sgi-forms-basic-fields:        '1.4.1';
$sgi-forms-group-date:          '1.4.2';
$sgi-forms-textarea:            '1.4.3';
$sgi-forms-select:              '1.4.4';
$sgi-forms-select-inline:       '1.4.5';
$sgi-forms-multiple-select:     '1.4.6';
$sgi-forms-radio:               '1.4.7';
$sgi-forms-special-files:       '1.4.8';
$sgi-forms-strength-bar:        '1.4.9';

$sgi-buttons:                '1.5';
$sgi-buttons-type:                  '1.5.1.1';
$sgi-buttons-size:                  '1.5.1.2';
$sgi-buttons-text-icon:             '1.5.1.3';
$sgi-buttons-status:                '1.5.1.4';
$sgi-buttons-annex:                 '1.5.1.5';
$sgi-buttons-display:               '1.5.1.6';

$sgi-icons:                  '1.6';
$sgi-iconsList:                    '1.6.1.1';
$sgi-iconsSize:                    '1.6.1.2';

$sgi-helpers:                '1.7';

// Components
$sgi-board:                  '2.1';
$sgi-board-variants:            '2.1.1.1';

$sgi-button-group:           '2.4';
$sgi-button-group-structure:         '2.4.1.1';
$sgi-button-group-justified:         '2.4.1.2';
$sgi-button-group-icon:              '2.4.1.3';

$sgi-button-file:            '2.5';
$sgi-content-logo:           '2.6';
$sgi-custom-background:      '2.7';

$sgi-filters:                '2.8';
$sgi-filter-keyword:             '2.8.1';
$sgi-filter-slider-single:       '2.8.2';
$sgi-filter-slider-group:        '2.8.3';

$sgi-footer:                 '2.9';

$sgi-job-list:               '2.11';
$sgi-kpi:                    '2.12';
$sgi-notifications:          '2.13';
$sgi-pagination:             '2.14';
$sgi-panels:                 '2.15';
$sgi-rating-nps:             '2.16';
$sgi-tabs:                   '2.17';
$sgi-tabsMenu:               	'2.17.1.1';
$sgi-tabsMenuLink:               	'2.17.1.2';
$sgi-thumbnail:              '2.18';
$sgi-user-feedback:          '2.19';

// JS Components
$sgi-collapsible:            '3.1';
$sgi-collapsible-accordion:  '3.2';

$sgi-modal:                  '3.3';
$sgi-modal-size:                     '3.3.1.1';
$sgi-modal-header:                   '3.3.2.2';
$sgi-modal-content:                  '3.3.3.3';

// Demo html path
$sgp-forms:				'./html/forms.html';
$sgp-boilerplateHTML:	'./html/boilerplate.html';
$sgp-layouts:			'./html/layouts.html';
$sgp-banners:			'./html/banners.html';
$sgp-modal:				'./html/modal.html';
$sgp-notificationToast:	'./html/notifications.html';
$sgp-userFeedback:		'./html/user_feedback.html';
$sgp-tabs:				'./html/tabs.html';
$sgp-kpi:				'./html/kpi.html';
$sgp-joblist:			'./html/job_list.html';

// JS path
$sgp-chosen:		'./js/chosen.jquery.js';

//Properties
$sgp-openPage:		'View demo';
