// Common CSS
$sgi-layouts:               '1.1';

$sgi-gridSystem:			'1.1.1';
$sgi-gridNested:            '1.1.1.2';
$sgi-mediumDevices:         '1.1.1.3';
$sgi-equalHeightColumns:    '1.1.1.4';
$sgi-expandGutterColumns:	'1.1.1.5';
$sgi-removeGutterColumns:	'1.1.1.6';

$sgi-containers:                '1.1.2';

$sgi-bannersContainers:         '1.1.3';

$sgi-textElements:          '1.2';

$sgi-headings:                  '1.2.1';
$sgi-headingAddons:                 '1.2.1.1';
$sgi-headingMega:                   '1.2.1.2';

$sgi-paragraphs:                '1.2.2';

$sgi-textSize:                  '1.2.3';

$sgi-innerContainers:           '1.2.4';

$sgi-textVariants:              '1.2.5';

$sgi-blockquotes:               '1.2.6';

$sgi-lists:                     '1.2.7';

$sgi-listsWithBullets:              '1.2.7.1';
$sgi-listsWithIcons:                '1.2.7.2';
$sgi-tagGroup:                      '1.2.7.5';
$sgi-tagDivider:                        '1.2.7.5.1';
$sgi-tagGroupTop:                       '1.2.7.5.2';
$sgi-tagGroupWithEllipsis:              '1.2.7.5.4';

$sgi-headingMiddle:                 '1.3.1.3';


// Components

$sgi-board:                         '2.1';
$sgi-pulldown-chosen:                   '2.16';

$sgi-notifications:                 '2.2';
$sgi-content-logo:                  '2.3';
$sgi-filters:                       '2.4';
$sgi-footer:                        '2.5';
$sgi-application-list:              '2.6';
$sgi-job-list:                      '2.7';
$sgi-tabs:                          '2.8';
$sgi-pagination:                    '2.9';

$sgi-thumbnail:                     '2.20';
$sgi-user-feedback:                 '2.22';
$sgi-custom-background:             '2.24';
$sgi-kpi:                           '2.25';

// $sgi-banners:                         '2';
// $sgi-carousel:                        '2';
// $sgi-header-microsite:                '2';
// $sgi-navigation:                      '2';
// $sgi-header:                          '2';
// $sgi-layer:                           '2';
// $sgi-loading:                         '2';
// $sgi-media-board:                     '2';
// $sgi-modal:                           '2';
// $sgi-nouislider:                      '2';
// $sgi-panels:                          '2';
// $sgi-search:                          '2';
// $sgi-social-footer:                   '2';
// $sgi-stickers:                        '2';
// $sgi-tooltip:                         '2';
// $sgi-ui-slider-pips:                  '2';
// $sgi-value-proposition:               '2';
// $sgi-crop-image:                      '2';
// $sgi-tips-list:                       '2';
// $sgi-weather:                         '2';
// $sgi-collapsible:                     '2';
// $sgi-form-rating-nps:                 '2';
// $sgi-content-media:                   '2';
// $sgi-steps:                           '2';
// $sgi-application-list:                '2';
