// Common CSS
$sgi-boilerplate:           '1.1';
$sgi-basic-page:                '1.1.1';
$sgi-layouts:               '1.2';
$sgi-gridSystem:                '1.2.1';
$sgi-gridNested:                    '1.2.1.1'; // Use 4 levels to hide section as menu item
$sgi-mediumDevices:                 '1.2.1.2';
$sgi-equalHeightColumns:            '1.2.1.3';
$sgi-expandGutterColumns:	        '1.2.1.4';
$sgi-removeGutterColumns:	        '1.2.1.5';
$sgi-containers:                '1.2.2';
$sgi-bannersContainers:         '1.2.3';
$sgi-innerContainers:           '1.2.4';
$sgi-examplesLayouts:           '1.2.5';

$sgi-textElements:          '1.3';
$sgi-headings:                  '1.3.1';
$sgi-headingAddons:                 '1.3.1.1';
$sgi-headingSingle:                 '1.3.1.2';
$sgi-headingMega:                   '1.3.1.3';
$sgi-headingMiddle:                 '1.3.1.4';
$sgi-paragraphs:                '1.3.2';
$sgi-blockquotes:               '1.3.3';
$sgi-lists:                     '1.3.4';
$sgi-listsDefault:         			'1.3.4.1';
$sgi-listsInline:         			'1.3.4.2';
$sgi-listsOrdered:         			'1.3.4.3';
$sgi-listsWithBullets:              '1.3.4.4';
$sgi-listsWithIcons:                '1.3.4.5';
$sgi-listsColumns:                  '1.3.4.6';
$sgi-listsItemChecked:              '1.3.4.7';
$sgi-dlInline:                      '1.3.4.8';
$sgi-listDivider:                   '1.3.4.9';
$sgi-tagGroup:                  '1.3.5';
$sgi-tagDivider:                    '1.3.5.1';
$sgi-tagGroupTop:                   '1.3.5.2';
$sgi-tagGroupWithEllipsis:          '1.3.5.3';
$sgi-textStyle:                 '1.3.6';
$sgi-textSize:                      '1.3.6.1';
$sgi-textVariants:                  '1.3.6.2';
$sgi-textColors:                    '1.3.6.3';
$sgi-textContrastColors:            '1.3.6.4';

$sgi-forms:                 '1.4';
$sgi-forms-basic-fields:        '1.4.1';
$sgi-forms-group-date:          '1.4.2';
$sgi-forms-textarea:            '1.4.3';
$sgi-forms-select:              '1.4.4';
$sgi-forms-select-inline:       '1.4.5';
$sgi-forms-multiple-select:     '1.4.6';
$sgi-forms-radio:               '1.4.7';
$sgi-forms-special-files:       '1.4.8';
$sgi-forms-strength-bar:        '1.4.9';

$sgi-buttons:                '1.5';
$sgi-buttons-type:                  '1.5.1.1';
$sgi-buttons-size:                  '1.5.1.2';
$sgi-buttons-text-icon:             '1.5.1.3';
$sgi-buttons-status:                '1.5.1.4';
$sgi-buttons-file:                  '1.5.1.5';
$sgi-buttons-variants:              '1.5.1.6';
$sgi-buttons-display:               '1.5.1.7';

$sgi-icons:                  '1.6';
$sgi-iconsList:                    '1.6.1.1';
$sgi-iconsSize:                    '1.6.1.2';

$sgi-helpers:                '1.7';

// Components
$sgi-badges:                 '2.10';
$sgi-board:                  '2.20';
$sgi-board-variants:            '2.20.1.1';
$sgi-button-group:           '2.30';
$sgi-button-group-structure:         '2.30.1.1';
$sgi-button-group-justified:         '2.30.1.2';
$sgi-button-group-icon:              '2.30.1.3';
$sgi-button-file:            '2.40';
$sgi-content-media:          '2.50';
$sgi-content-middle:             '2.50.1';
$sgi-content-top:                '2.50.2';
$sgi-content-toolbar:            '2.50.3';
$sgi-content-overlap:            '2.50.4';
$sgi-content-alt-cover:          '2.50.5';
$sgi-content-media-size:         '2.50.6';
$sgi-crop-image:     '2.60';
$sgi-crop-circle:      '2.60.1';
$sgi-custom-background:      '2.70';
$sgi-filters:                '2.80';
$sgi-filter-keyword:             '2.80.1';
$sgi-filter-slider-single:       '2.80.2';
$sgi-filter-slider-group:        '2.80.3';
$sgi-footer:                 '2.90';
$sgi-job-list:               '2.100';
$sgi-kpi:                    '2.110';
$sgi-messaging:              '2.120';
$sgi-notifications:          '2.130';
$sgi-pagination:             '2.140';
$sgi-panels:                 '2.150';
$sgi-rating-nps:             '2.160';
$sgi-steps:                  '2.165';
$sgi-steps-bullet:             '2.165.1.1';
$sgi-tabs:                   '2.170';
$sgi-tabsMenu:                 '2.170.1.1';
$sgi-tabsMenuLink:             '2.170.1.2';
$sgi-tabsIcons:                '2.170.1.3';
$sgi-tags:                   '2.180';
$sgi-thumbnail:              '2.190';
$sgi-timeline:               '2.200';
$sgi-toolbar:                '2.210';
$sgi-user-feedback:          '2.220';
$sgi-video:                  '2.230';

// JS Components
$sgi-collapsible:            '3.1';
$sgi-collapsible-accordion:  '3.2';

$sgi-modal:                  '3.3';
$sgi-modal-size:                     '3.3.1.1';
$sgi-modal-header:                   '3.3.2.2';
$sgi-modal-content:                  '3.3.3.3';
$sgi-forms-switch-radio:     '3.4';


// Demo html path
$sgp-forms:				'./html/forms.html';
$sgp-boilerplateHTML:	'./html/boilerplate.html';
$sgp-layouts:			'./html/layouts.html';
$sgp-banners:			'./html/banners.html';
$sgp-modal:				'./html/modal.html';
$sgp-notificationToast:	'./html/notifications.html';
$sgp-userFeedback:		'./html/user_feedback.html';
$sgp-tabs:				'./html/tabs.html';
$sgp-kpi:				'./html/kpi.html';
$sgp-joblist:			'./html/job_list.html';
$sgp-content-media-size:  './html/content-media.html';

// JS path
$sgp-chosen:		'./js/chosen.jquery.js';

//Properties
$sgp-openPage:		'View demo';
