/*------------------------------------*\
$MIXIN CROP
\*------------------------------------*/

@mixin crop {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	margin: auto;
	width: 50px;
	height: 50px;
	object-fit: cover;
	object-position: 0 0;

	@include mediaquery ($bp-tablet) {
		width: 60px;
		height: 60px;
	}
}

@mixin crop-circle {
	@include crop;
	border-radius: 50%;
}
