/*------------------------------------*\
$MIXIN COLUMNS
\*------------------------------------*/

@mixin columns {
  @include display-flex;
  @include flex-wrap;
  position: relative;

  .row-faux-card & {
    @include flex(1 1 auto);
  }

  &.content-row-medium-device {
    display: block;
    text-align: center;

    @include mediaquery ($bp-desktop) {
      @include display-flex;
      text-align: left;
    }
  }

  @media print {
    min-height: auto;
  }

  @include mediaquery ($bp-desktop) {
    &:hover {
      .content-toolbar {
        display: block;
      }
    }
  }

  .content-type-text { // col with text inside content-top or content-middle
  	@include display-flex;
  	@include flex(1);
  	@include flex-direction(column);
  	overflow: hidden;

    &:not(:first-child) {
      margin-left: 20px;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }

  	h1,h2,h3 {
  		margin: 0;
  		-moz-hyphens: auto;
  		word-wrap: break-word;
  	}

    dl + h3,
    dl + .heading-group {
      padding-top: 5px;
    }

    .heading-group {
      @include display-flex;
      @include flex-wrap;

      h3 {
        margin-right: 10px;
      }

      .tag-group,
      p {
        margin: 0;
      }
    }

  	[class^="btn-"] {
  		display: table;
  		margin-top: 20px;
  	}

  	.content-end {
      margin-top: auto;
  	}


  	&.contact {
  		[class^="btn-"] {
  			display: inline-block;
  		}
  	}
  }

  .content-type-media { // col with img, tag inside content-top or content-middle
  	@include flex(none)

    .tag {
  		top: 0;
  		width: 60px;
  		margin: 0;
  		text-align: center;
  		white-space: pre;
  	}
  }

  .icon {
  	margin-right: 10px;
  }

  &.content-row-medium-device {
    .content-type-text {
      overflow: inherit;
      margin: 20px 0;

      @include mediaquery ($bp-desktop) {
        margin-top: 0;
        margin-bottom: 0;

        &:not(:first-child) {
          margin-left: 20px;
        }

        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }

  &.content-overlap {
    [class*="content-type-media"] {
      margin-top: -70px;

      @include mediaquery ($bp-desktop) {
        margin-top: -50px;
      }
    }
  }
}
