/*------------------------------------*\
$MIXINS STICKERS
\*------------------------------------*/

@mixin sticker {
  @include font(small);
  position: relative;
  top: -2px;
  display: inline-table;
  padding: 6px 10px;
  border-radius: 15px;
  font-family: $base-font-family;
  border: $sticker-border;

  .nav-bar-notifications & {
  	position: absolute;
  	bottom: 12px;
  	right: -4px;
  }

}

@mixin sticker-skill {
  @include sticker;
  margin: 0 5px 0 0;
  color: $dark-silk;
  background-color: $color-secondary;
}

@mixin sticker-multi {
  @include sticker;
  @include sticker-skill;
  padding-right: 5px;
}

@mixin sticker-label {
  @include font(xsmall);
  display: inline-table;
  padding: 3px 6px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  @media print {
    border: o none;
  }
;


  &-top {
    margin-bottom: 5px;
  }
}
