/*------------------------------------*\
$MIXINS ICONS
\*------------------------------------*/

@mixin iconfont {
  @include font-rendering;
  color: $soft-script;
  font-family: $base-font-icons;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: 0;
  line-height: 0;
  margin-right: 6px;
  position: relative;
  speak: none;
  text-transform: none;
  top: 3px;

  @at-root .iconfont-filled#{&} {
    font-family: $base-font-icons-filled;
  }

  @at-root .iconfont-block#{&} {
    display: block;
    line-height: 1;
    margin: 0 0 $padding/2 0;
    text-align: center;
    top: 0;
  }

  @at-root .iconfont-hover {
    &:hover::before {
      color: $color-primary;
    }
  }
}

@mixin iconfont-ArrowDown {

  &::before {
    @include iconfont;
    content: "\e600";
  }
}

@mixin iconfont-ArrowLeft {

  &::before {
    @include iconfont;
    content: "\e601";
  }
}

@mixin iconfont-ArrowUp {

  &::before {
    @include iconfont;
    content: "\e602";
  }
}

@mixin iconfont-Calendar {

  &::before {
    @include iconfont;
    content: "\e605";
  }
}

@mixin iconfont-Candidaturas {

  &::before {
    @include iconfont;
    content: "\e606";
  }
}

@mixin iconfont-Category {

  &::before {
    @include iconfont;
    content: "\e607";
  }
}

@mixin iconfont-Check {

  &::before {
    @include iconfont;
    content: "\e608";
  }
}

@mixin iconfont-Clock {

  &::before {
    @include iconfont;
    content: "\e609";
  }
}

@mixin iconfont-Company {

  &::before {
    @include iconfont;
    content: "\e60b";
  }
}

@mixin iconfont-Config {

  &::before {
    @include iconfont;
    content: "\e60c";
  }
}

@mixin iconfont-CV {

  &::before {
    @include iconfont;
    content: "\e60d";
  }
}

@mixin iconfont-Euro {

  &::before {
    @include iconfont;
    content: "\e60e";
  }
}

@mixin iconfont-Facebook {

  &::before {
    @include iconfont;
    content: "\e60f";
  }
}

@mixin iconfont-GooglePlus {

  &::before {
    @include iconfont;
    content: "\e610";
  }
}

@mixin iconfont-Location {

  &::before {
    @include iconfont;
    content: "\e611";
  }
}

@mixin iconfont-Mail {

  &::before {
    @include iconfont;
    content: "\e612";
  }
}

@mixin iconfont-Reload {

  &::before {
    @include iconfont;
    content: "\e613";
  }
}

@mixin iconfont-Search {

  &::before {
    @include iconfont;
    content: "\e614";
  }
}

@mixin iconfont-State {

  &::before {
    @include iconfont;
    content: "\e615";
  }
}

@mixin iconfont-Suitecase {

    &::before {
      @include iconfont;
      content: "\e616";
    }
}

@mixin iconfont-Twitter {

  &::before {
    @include iconfont;
    content: "\e617";
  }
}

@mixin iconfont-User {

  &::before {
    @include iconfont;
    content: "\e618";
  }
}

@mixin iconfont-LinkedIn {

  &::before {
    @include iconfont;
    content: "\e619";
  }
}

@mixin iconfont-Viewdetails {

  &::before {
    @include iconfont;
    content: "\e61a";
  }
}

@mixin iconfont-EditCv {

  &::before {
    @include iconfont;
    content: "\e61b";
  }
}

@mixin iconfont-Home {

  &::before {
    @include iconfont;
    content: "\e61c";
  }
}

@mixin iconfont-QR {

  &::before {
    @include iconfont;
    content: "\e61d";
  }
}

@mixin iconfont-Config-alt {

  &::before {
    @include iconfont;
    content: "\e61e";
  }
}

@mixin iconfont-Edit {

  &::before {
    @include iconfont;
    content: "\e61f";
  }
}

@mixin iconfont-Help {

  &::before {
    @include iconfont;
    content: "\e620";
  }
}

@mixin iconfont-Info {

  &::before {
    @include iconfont;
    content: "\e621";
  }
}

@mixin iconfont-Plus {

  &::before {
    @include iconfont;
    content: "\e622";
  }
}

@mixin iconfont-Smile {

  &::before {
    @include iconfont;
    content: "\e623";
  }
}

@mixin iconfont-Wifi {

  &::before {
    @include iconfont;
    content: "\e624";
  }
}

@mixin iconfont-Alert {

  &::before {
    @include iconfont;
    content: "\e625";
  }
}

@mixin iconfont-Connect {

  &::before {
    @include iconfont;
    content: "\e626";
  }
}

@mixin iconfont-AlertProfile {

  &::before {
    @include iconfont;
    content: "\e627";
  }
}

@mixin iconfont-Hide {

  &::before {
    @include iconfont;
    content: "\e628";
  }
}

@mixin iconfont-News {

  &::before {
    @include iconfont;
    content: "\e629";
  }
}

@mixin iconfont-Flag {

  &::before {
    @include iconfont;
    content: "\e62a";
  }
}

@mixin iconfont-Offers {

  &::before {
    @include iconfont;
    content: "\e62b";
  }
}

@mixin iconfont-BigArrowDown {

  &::before {
    @include iconfont;
    content: "\e62d";
  }
}

@mixin iconfont-BigArrowLeft {

  &::before {
    @include iconfont;
    content: "\e62e";
  }
}

@mixin iconfont-BigArrowUp {

  &::before {
    @include iconfont;
    content: "\e62f";
  }
}

@mixin iconfont-BigArrowRight {

  &::before {
    @include iconfont;
    content: "\e630";
  }
}

@mixin iconfont-BigArrowObliqueLeftDown {

  &::before {
    @include iconfont;
    content: "\e631";
  }
}

@mixin iconfont-BigArrowObliqueRightDown {

  &::before {
    @include iconfont;
    content: "\e632";
  }
}

@mixin iconfont-BigArrowObliqueLeftUp {

  &::before {
    @include iconfont;
    content: "\e633";
  }
}

@mixin iconfont-BigArrowObliqueRightUp {

  &::before {
    @include iconfont;
    content: "\e634";
  }
}

@mixin iconfont-Star {

  &::before {
    @include iconfont;
    content: "\e635";
  }
}

@mixin iconfont-Lock  {

  &::before {
    @include iconfont;
    content: "\e636";
  }
}

@mixin iconfont-Alert-circle {

  &::before {
    @include iconfont;
    content: "\e638";
  }
}

@mixin iconfont-Save {

  &::before {
    @include iconfont;
    content: "\e639";
  }
}

@mixin iconfont-BurguerMenu {

  &::before {
    @include iconfont;
    content: "\e604";
  }
}

@mixin iconfont-Close {

  &::before {
    @include iconfont;
    content: "\e60a";
  }
}

@mixin iconfont-Menumore {

  &::before {
    @include iconfont;
    content: "\e637";
  }
}

@mixin iconfont-Big-check {

  &::before {
    @include iconfont;
    content: "\e62c";
  }
}

@mixin iconfont-Arrow {

  &::before {
    @include iconfont;
    content: "\e603";
  }
}

@mixin iconfont-SaveAs {

  &::before {
    @include iconfont;
    content: "\e63a";
  }
}

@mixin iconfont-OneTime {

  &::before {
    @include iconfont;
    content: "\e63b";
  }
}

@mixin iconfont-Applications {

  &::before {
    @include iconfont;
    content: "\e63c";
  }
}

@mixin iconfont-Attach {

  &::before {
    @include iconfont;
    content: "\e63d";
  }
}

@mixin iconfont-Phone {

  &::before {
    @include iconfont;
    content: "\e63e";
  }
}

@mixin iconfont-Website {

  &::before {
    @include iconfont;
    content: "\e63f";
  }
}

@mixin iconfont-Camera {

  &::before {
    @include iconfont;
    content: "\e640";
  }
}

@mixin iconfont-Image {

  &::before {
    @include iconfont;
    content: "\e641";
  }
}

@mixin iconfont-PinReset {

  &::before {
    @include iconfont;
    content: "\e642";
  }
}

@mixin iconfont-CallCenter {

  &::before {
    @include iconfont;
    content: "\e900";
  }
}

@mixin iconfont-Whatsapp {

  &::before {
    @include iconfont;
    content: "\e901";
  }
}

@mixin iconfont-Android {

  &::before {
    @include iconfont;
    content: "\e902";
  }
}

@mixin iconfont-Apple {

  &::before {
    @include iconfont;
    content: "\e903";
  }
}

@mixin iconfont-Book {

  &::before {
    @include iconfont;
    content: "\e904";
  }
}

@mixin iconfont-CloseCircle {

  &::before {
    @include iconfont;
    content: "\e905";
  }
}

@mixin iconfont-Comments {

  &::before {
    @include iconfont;
    content: "\e906";
  }
}

@mixin iconfont-Company2 {

  &::before {
    @include iconfont;
    content: "\e907";
  }
}

@mixin iconfont-Delete {

  &::before {
    @include iconfont;
    content: "\e908";
  }
}

@mixin iconfont-Duplicate {

  &::before {
    @include iconfont;
    content: "\e909";
  }
}

@mixin iconfont-Export {

  &::before {
    @include iconfont;
    content: "\e90a";
  }
}

@mixin iconfont-Filter {

  &::before {
    @include iconfont;
    content: "\e90b";
  }
}

@mixin iconfont-FolderStar {

  &::before {
    @include iconfont;
    content: "\e90c";
  }
}

@mixin iconfont-HeartFirst {

  &::before {
    @include iconfont;
    content: "\e90d";
  }
}

@mixin iconfont-Heart {

  &::before {
    @include iconfont;
    content: "\e90e";
  }
}

@mixin iconfont-Mobile {

  &::before {
    @include iconfont;
    content: "\e90f";
  }
}

@mixin iconfont-Mouse {

  &::before {
    @include iconfont;
    content: "\e910";
  }
}

@mixin iconfont-NoPhoto {

  &::before {
    @include iconfont;
    content: "\e911";
  }
}

@mixin iconfont-Pharma {

  &::before {
    @include iconfont;
    content: "\e912";
  }
}

@mixin iconfont-Present {
  &::before {
    @include iconfont;
    content: "\e913";
  }
}

@mixin iconfont-Print {
  &::before {
    @include iconfont;
    content: "\e914";
  }
}

@mixin iconfont-Sad {
  &::before {
    @include iconfont;
    content: "\e915";
  }
}

@mixin iconfont-Share2 {
  &::before {
    @include iconfont;
    content: "\e916";
  }
}

@mixin iconfont-Share {
  &::before {
    @include iconfont;
    content: "\e917";
  }
}

@mixin iconfont-Shop {
  &::before {
    @include iconfont;
    content: "\e918";
  }
}

@mixin iconfont-StarFirst {
  &::before {
    @include iconfont;
    content: "\e919";
  }
}

@mixin iconfont-TagFirst {
  &::before {
    @include iconfont;
    content: "\e91a";
  }
}

@mixin iconfont-Tag {
  &::before {
    @include iconfont;
    content: "\e91b";
  }
}

@mixin iconfont-Timeline {
  &::before {
    @include iconfont;
    content: "\e91c";
  }
}

@mixin iconfont-Users {
  &::before {
    @include iconfont;
    content: "\e91d";
  }
}

@mixin iconfont-Youtube {
  &::before {
    @include iconfont;
    content: "\e91e";
  }
}

@mixin iconfont-Plus-circle {
  &::before {
    @include iconfont;
    content: "\e91f";
  }
}

@mixin iconfont-Transfer {
  &::before {
    @include iconfont;
    content: "\e920";
  }
}

@mixin iconfont-Label {
  &::before {
    @include iconfont;
    content: "\e922";
  }
}

//
// HTML tags icon
// -------------------------------------------

//button icon close
@mixin btn-close {
  @include iconfont-Close;
  @include hit-area;
  display: block;
  overflow: hidden;
  padding: 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: $large-font-size;
  border: 0 none;
  background: none repeat scroll 0 0 transparent;
  cursor: pointer;

  &::before {
    color: $shiro;
  }
}
