/*------------------------------------*\
$MIXIN COLUMNS
\*------------------------------------*/

@mixin columns {
	@include display-flex;
	position: relative;
	//min-height: 60px; //related with logo on content-logo (mobile)

	@media print {
		min-height: auto;
	}

	.content-logo-text,
	.content-type-text { // col with text inside content-top or content-middle
		@include display-flex;
		@include flex(1);
		@include flex-direction(column);

		overflow: hidden;

		h1,h2,h3 {
			margin: 0;
			-moz-hyphens: auto;
			word-wrap: break-word;
		}

		p:only-of-type {
			margin-bottom: 5px;
		}

		.btn {
			display: table;
			margin-top: 10px;
		}

		&.contact {
			.btn {
			display: inline-block;
			}
		}
	}

	.content-logo-media,
	.content-type-media { // col with img, sticker inside content-top or content-middle
		@include flex(none);

		a {
		    width: 100px;
		    height: 100px;
		}

		img {
			width: 62px;

			&.crop-circle {
				height: 62px;
			}

			@include mediaquery ($bp-tablet) {
				width: 82px;

				&.crop-circle {
					height: 82px;
				}
			}

			@include mediaquery ($bp-desktop) {
				width: 92px;

				&.crop-circle {
					height: 92px;
				}
			}
		}
	}

	.content-type-media-small {

		.fig-thumbnail-logo {
			padding: 2px;

			@include mediaquery ($bp-desktop) {
				padding: 4px;
			}
		}

		img {
			width: 34px;

			&.crop-circle {
				height: 34px;
			}

			@include mediaquery ($bp-desktop) {
				width: 50px;

				&.crop-circle {
					height: 50px;
				}
			}
		}

		.sticker-skill {
			top: 0;
			width: 60px;
			text-align: center;
		}
	}

	.content-type-media-xsmall {

		img {
			width: 30px;

			&.crop-circle {
				height: 30px;
			}

			@include mediaquery ($bp-desktop) {
				width: 40px;

				&.crop-circle {
					height: 40px;
				}
			}
		}

	}


	.action {
		@include flex(none);
		margin-left: 20px;
	}

	.content-logo-text + .content-logo-media,
	.content-type-text + .content-type-media,
	.content-logo-media + .content-logo-text,
	.content-type-media + .content-type-text {
		margin-left: 20px;
	}
	.content-type-text + .content-type-media-xsmall,
	.content-type-media-xsmall + .content-type-text,
	.content-type-text + .content-type-media-small,
	.content-type-media-small + .content-type-text {
		margin-left: 10px;
	}
}
