/*------------------------------------*\
$MIXINS BORDERS
\*------------------------------------*/

@mixin border-contrast($size-border: 1px){
    border-width: $size-border;
    border-style: solid;
    border-color: $shiro;
}

@mixin border-default($size-border: 1px){
    border-width: $size-border;
    border-style: solid;
    border-color: $dark-shiro;

    .panel-default & {
      border-color: $outer-fields;
    }
}

@mixin border-rounded ($border-radius: 2px){
    border-radius: $border-radius;
}
