/*------------------------------------*\
$MIXINS STICKERS
\*------------------------------------*/
//@import "../core/fonts";

@mixin sticker {
    @include font-small-line;
    position: relative;
    top: -2px;
    display: inline-table;
    padding: 6px 10px;
    border-radius: 15px;
    font-family: $base-font-family;
    color: $dark-silk;
    background-color: $resting-katana;

    .nav-bar-notifications & {
    	position: absolute;
    	bottom: 12px;
    	right: -4px;
    }

    @media print {
    	border: 1px solid $darkest-shiro;
    }
}

@mixin sticker-skill {
	@include sticker;
    margin: 0 5px 0 0;
}

@mixin sticker-multi {
    @include sticker;
    @include sticker-skill;
    padding-right: 5px;
}
