/*------------------------------------*\
$MIXINS ICONS
\*------------------------------------*/

@mixin iconfont {
	position: relative;
	font-family: 'Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 0;
	left: 0;
	color: $soft-script;

	/* Better Font Rendering =========== */
  @include font-rendering;
}

@mixin iconfont-BurguerMenu {
	@include iconfont;

	&::before {
		content: "\e604";
	}
}

@mixin iconfont-Close {
	@include iconfont;

	&::before {
		content: "\e60a";
	}
}

@mixin iconfont-Menumore{

	&::before {
    @include iconfont;
    content: "\e637";
	}
}

@mixin iconfont-Big-check {

	&::before {
    @include iconfont;
    content: "\e62c";
	}
}


@mixin iconfont-Arrow {

	&::before {
		content: "\e603";
	}
}

//
// HTML tags icon
// -------------------------------------------

//button icon close
@mixin btn-close {
  @include iconfont-Close;
  @include hit-area;
  display: block;
  overflow: hidden;
  padding: 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: $large-font-size;
  border: 0 none;
  background: none repeat scroll 0 0 transparent;
  cursor: pointer;
}
