/*------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------*/

%divider {
	border-right: 1px solid $darkest-shiro;
	border-radius: 0;

  @media print {
    border-color: $light-silk;
  }
}
