@import "vars";

//
// Brand colors
// -------------------------------------------

$day-blue:				#2088c2;
$resting-katana:		#d5e1e5; // gray default button

$theme-color--primary:       $day-blue;
$theme-color--secondary:     $resting-katana;
$theme-color--contrast:      $shiro;

$theme-button-text-color:    $mid-script;
$theme-button-primary--hover:     $shiro;
$theme-button-primary--active:    $shiro;

$theme-button-secondary--hover:     $shiro;
$theme-button-secondary--active:    $shiro;


//
// Breakpoints
// -------------------------------------------

$theme-container-width:          970px;

// $c-text: $c-gray-dark;
// $c-contrast: $c-bg-light;
// $c-text-soft: $c-gray-light;
// $c-border-base: $c-bg-transparent;
// $c-base: $c-gray-lighter;
// $c-primary: $c-gray-dark;
// $c-soft: $c-gray-extralighter;
// $c-alert: $c-danger;
// $c-base-variant: $c-gray-light; // hover
// $c-primary-variant: $c-bg-dark;
// $c-alert-variant: darken($c-danger,20%);
