//
// Brand colors
// -------------------------------------------

$color-primary:				$theme-color--primary;

//
// Background and border colors
// -------------------------------------------

$color-contrast:            $theme-color--contrast;


//
// Button colors
// -------------------------------------------

$color-secondary:           $theme-color--secondary;


//
// Layout
// -------------------------------------------

$container-width:		        $theme-container-width;
