//
// Brand colors
// -------------------------------------------

$color-primary:				$color-primary;

//
// Background and border colors
// -------------------------------------------

$color-contrast:            $color-contrast;


//
// Button colors
// -------------------------------------------

$color-secondary:           $color-secondary;


//
// Layout
// -------------------------------------------

$container-width:		    $theme-container-width;
