//
// Brand colors
// -------------------------------------------
$color-primary:        $theme-color-primary;
$color-secondary:      $theme-color-secondary;
$color-contrast:       $theme-color-contrast;
$color-header:         $theme-color-focus;


//
// Background and border colors
// -------------------------------------------
$color-contrast:        $theme-color-contrast;


//
// Button colors
// -------------------------------------------
$button-secondary:                      $theme-button-secondary;
$button-secondary--hover:               $theme-button-secondary--hover;
$button-secondary-contrast:             $theme-button-secondary-contrast;
$button-secondary-contrast--hover:      $theme-button-secondary-contrast--hover;

$button-cta: 							$theme-button-cta;
$button-cta--hover:						$theme-button-cta--hover;

//
// Stickers colors
// -------------------------------------------
$sticker-color:              $theme-sticker-color;
$sticker-color--hover:       $theme-sticker-color--hover;
$sticker-border:             $theme-sticker-border;
$sticker-background:         $theme-sticker-background;
$sticker-background--hover:  $theme-sticker-background--hover;

//
// Form elements
// -------------------------------------------
$input-tel-width:       	$theme-input-tel-width;


//
// Layout
// -------------------------------------------
$row-centered-width-form:   $theme-row-centered-width-form;
$row-centered-width:        $theme-row-centered-width;
$container-width:           $theme-container-width;
$container-extended-width:  $theme-container-extended-width;
