// Brand colors
// -------------------------------------------

$light-blue:                  #55799A;
$sunset-blue:                 #315d78;
$dark-blue:                   #2B3D4E;
$soft-blue:                   #D1D8DC;
$sunrise-blue:                #a7adb0; //grey
$midnight-blue:               #7e8284;

$theme-color-primary:       		$light-blue;
$theme-color-primary--hover:		$sunset-blue;
$theme-color-secondary:     		$soft-blue;
$theme-color-contrast:      		$dark-blue;


//
// Buttons
// -------------------------------------------
$theme-button-secondary:     		$soft-blue;
$theme-button-secondary--hover:     $sunrise-blue;

$theme-button-secondary-contrast:		         $sunrise-blue;
$theme-button-secondary-contrast--hover:		 $midnight-blue;


//
// Header
// -------------------------------------------
$theme-color-header:				$dark-blue;


//
// Breakpoints
// -------------------------------------------
$theme-row-centered-width:			545px;
$theme-container-width:				1140px;

$theme-input-tel-width:				247px;
