// Brand colors
// -------------------------------------------

$day-blue:							#2088c2;
$dark-silk:							#2d3133; // grey text mobile menu
$resting-katana:					#d5e1e5; // gray default button
$katana-slash:						#bac7cc;

$theme-color-primary:       		$day-blue;
$theme-color-primary--hover:		$late-blue;
$theme-color-secondary:     		$resting-katana;
$theme-color-contrast:      		$dark-silk;


//
// Buttons
// -------------------------------------------
$theme-button-secondary:     		$resting-katana;
$theme-button-secondary--hover:     $katana-slash;
$theme-button-secondary-contrast:   $resting-katana;
$theme-button-secondary-contrast--hover: $katana-slash;


//
// Header
// -------------------------------------------
$theme-color-header:				$day-blue;


//
// Breakpoints
// -------------------------------------------

$theme-row-centered-width:			486px;
$theme-container-width:				970px;

$theme-input-tel-width:				230px;
