// Brand colors
// -------------------------------------------

$light-blue:                  #55799A;
$sunset-blue:                 #315d78;
$dark-blue:                   #135174;
$soft-blue:                   #D1D8DC;
$sunrise-blue:                #a7adb0; //grey
$midnight-blue:               #7e8284;

$theme-color-primary:       		$light-blue;
$theme-color-secondary:     		$soft-blue;
$theme-color-contrast:      		$dark-blue;


//
// Buttons
// -------------------------------------------
$theme-button-secondary:     		            transparent;
$theme-button-secondary--hover:             $sunrise-blue;
$theme-button-secondary-contrast:		        $sunrise-blue;
$theme-button-secondary-contrast--hover:		$midnight-blue;

$theme-button-cta:     		            $day-blue;
$theme-button-cta--hover: 	            $day-blue;

//
// Sticker colors
// -------------------------------------------
$theme-sticker-color:             $mid-script;
$theme-sticker-color--hover:		  #2b3d4e;
$theme-sticker-border:            1px solid $light-silk;
$theme-sticker-background:        $dark-shiro;
$theme-sticker-background--hover:	#bbc9d7;

//
// Header
// -------------------------------------------
$theme-color-header:				$dark-blue;


//
// Breakpoints
// -------------------------------------------
$theme-row-centered-width:			728px;
$theme-row-centered-width-form:		505px;
$theme-container-width:				1140px;

$theme-input-tel-width:				247px;
