//
// Brand colors
// -------------------------------------------
$color-primary:				$theme-color-primary;
$color-primary-hover: 		$theme-color-primary--hover;
$color-secondary:   		$theme-color-secondary;
$color-contrast: 			$theme-color-contrast;
$color-header:				$theme-color-header;


//
// Background and border colors
// -------------------------------------------
$color-contrast:        	$theme-color-contrast;


//
// Button colors
// -------------------------------------------
$button-secondary:                      $theme-button-secondary;
$button-secondary--hover:               $theme-button-secondary--hover;
$button-secondary-contrast:             $theme-button-secondary-contrast;
$button-secondary-contrast--hover:      $theme-button-secondary-contrast--hover;

//
// Form elements
// -------------------------------------------
$input-tel-width:       	$theme-input-tel-width;


//
// Layout
// -------------------------------------------
$row-centered-width: 		$theme-row-centered-width;
$container-width:		    $theme-container-width;
