//
// Tipography
// -------------------------------------------

$base-font-family:            Proximanova, Helvetica, Arial, sans-serif;
$base-font-family-light:      Proximanovalight, Helvetica, Arial, sans-serif;
$base-font-family-bold:       Proximanovabold, Helvetica, Arial, sans-serif;
$base-font-family-semi-bold:  Proximanovasemibold, Helvetica, Arial, sans-serif;
$alternative-font-family:     Slabo-regular, Helvetica, Arial, sans-serif;
$base-font-icons:             Icons;
$base-font-icons-filled:      Icons-filled;

$path-font:					"/fonts/" !default;

$xxsmall-font-size:     10px;
$xxsmall-line-height:     12px;

$xsmall-font-size: 			12px;
$xsmall-line-height: 		13px;

$small-font-size: 			14px;
$small-line-height: 		18px;

$base-font-size: 			  16px;
$base-line-height: 			20px;

$medium-font-size: 			18px;
$medium-line-height: 		21px;

$large-font-size: 			20px;
$large-line-height: 		23px;

$xlarge-font-size: 			25px;
$xlarge-line-height: 		28px;

$xxlarge-font-size: 		  30px;
$xxlarge-line-height: 		33px;

$xxxlarge-font-size: 		  42px;
$xxxlarge-line-height: 		50px;

//convertion pt to px

$point-to-px:				1.3333;

//
// Forms
// -------------------------------------------

$small-input-height:     30px;
$medium-input-height:    40px;
$input-width:            330px;
$textarea-height:        150px;
$textarea-width:         100%;



//
// Grid
// -------------------------------------------

$padding:  20px;
$spaceamounts: (xs $padding/4, s $padding/2, base $padding, l ($padding/2)*3, xl $padding*2);

$gap: 8px;

//
// Brand colors
// -------------------------------------------

$bamboo:          #00a550;
$bamboo-light:    #e6f6ed;

//
// Text colors
// -------------------------------------------

$mid-script:				#666;
$soft-script:				#999;
$dark:              #000;

$print-dark:		$dark;

//
// Background and border colors
// -------------------------------------------

$shiro:					  	#fff;
$dark-shiro:				#f2f2f2;
$darkest-shiro:			#e2e5e6;
$dark-silk:					#2d3133; // grey text mobile menu
$light-silk:				#c7c7c7;
$dark-softened:			#393939;
$light-bamboo:			#effaf6;
$kiiro:             #f1c40f;
$stabilo:			#ffff66;

//
// Button colors
// -------------------------------------------

$day-blue:          #167db7;
$light-blue:				#41a4db;
$late-blue: 				#00699b;
$night-blue:				#004466;
$midnight-blue:			#01324B;

$katana-slash:				#bac7cc;
$katana-smash:				#97a1a6;
$resting-katana:			#d5e1e5; // gray default button

$wood-resting-katana:		#e3eaed;
$wood-katana-slash:			#d2dee3;
$wood-katana-smash:			#b0c0c7;
$sun: 						      #f9e215;
$orange-soda:				#ff6340;


//
// Alert colors
// -------------------------------------------

$outer-king:				#484f53;
$trueblood:					#d82626;
$kiiro:             #f1c40f;


//
// Off-canvas colors
// -------------------------------------------

$outer-fields:			#c0c7cb;
$outer-land:				#adb5ba;
$outer-pawn:				#586066;
$outer-wall:				#8C9397;

//
// Backgrounds
// -------------------------------------------
$default-background-size:	100% auto;
$mobile-background-size:	cover;


//
// Box model
// -------------------------------------------
$box-model:					border-box;

//
// Borders
// -------------------------------------------
$border-radius-s: 2px;
$border-radius-m: 4px;
$border-radius-l: 6px;

//
// Orientations
// -------------------------------------------
$orientations: (top, right, bottom, left);


//
// URLs
// -------------------------------------------
$path-media:			    '//media.infojobs.net' !default;
$path-icons:			    '//media.infojobs.net/appgrade/icons' !default;
$path-sprites:			  '//media.infojobs.net/appgrade/sprites' !default;
$path-backgrounds: 		'//media.infojobs.net/appgrade/backgrounds' !default;
$path-pictures: 		  '//media.infojobs.net/appgrade/pictures' !default;


//
// Z-index
// -------------------------------------------

$zindex-menu:           9000;
$zindex-pulldown:       8999;
$zindex-wrap-overlay:   8998;
$zindex-modal-layer:    9999;
$zindex-notification:   8997;
$zindex-sticky-content: 8996;

//
// Grid System
// -------------------------------------------

$gridColumns: 12;

//
// Print vars
// -------------------------------------------

$print-bamboo:  cmyk(84%, 0%, 95%, 16%);

//
// Breakpoints
// -------------------------------------------
$desk-start:              1024px;
$tablet-start:            768px;
$mobile-start:            480px;
$header-start:            945px;


$bp-desktop:		          769px;
$bp-tablet:			          481px;

$bp-header:					      946px;
$bp-banner-aside:					1256px;
