// Brand colors
// -------------------------------------------

$light-blue:						#55799A;
$light-blue-hover:					#315d78;
$dark-blue:				    		#2B3D4E;
$soft-blue:				    		#808B95;

$theme-color--primary:       		$light-blue;
$theme-color--primary-hover:		$light-blue-hover;
$theme-color--secondary:     		$soft-blue;
$theme-color--contrast:      		$dark-blue;

$theme-button-primary--hover:   	$shiro;
$theme-button-primary--active:  	$shiro;

$theme-button-secondary--hover:		$shiro;
$theme-button-secondary--active:	$shiro;

$theme-color--header:				$dark-blue;


//
// Breakpoints
// -------------------------------------------

$theme-row-centered-width:			545px;
$theme-container-width:				1140px;

$theme-input-tel-width:				247px;

// $c-text: $c-gray-dark;
// $c-contrast: $c-bg-light;
// $c-text-soft: $c-gray-light;
// $c-border-base: $c-bg-transparent;
// $c-base: $c-gray-lighter;
// $c-primary: $c-gray-dark;
// $c-soft: $c-gray-extralighter;
// $c-alert: $c-danger;
// $c-base-variant: $c-gray-light; // hover
// $c-primary-variant: $c-bg-dark;
// $c-alert-variant: darken($c-danger,20%);
