


/*------------------------------------*\
    $CLEARFIX
\*------------------------------------*/
/**
 *
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 */
.clearfix {
  &:after {
    content: " "; 	// 1
    display: table;
    clear: both;
  }
}
