@import "../core/print";

/*------------------------------------*\
    $UTILITIES
\*------------------------------------*/

/*
Helper classes #disabled#

Styleguide #{$sgi-helpers}
*/

.pull-left {
	float: left;

	&--mobile {
		float: left;

		@include mediaquery ($bp-tablet) {
			float: none;
		}
	}

	&--tablet {

		@include mediaquery ($bp-tablet) {
			float: left;
		}
	}
}

.pull-right {
	float: right;

	&--mobile {
		float: right;

		@include mediaquery ($bp-tablet) {
			float: none;
		}
	}

	&--tablet {
		@include mediaquery ($bp-tablet) {
			float: right;
		}
	}

}

.pull-left--desktop {
	@include mediaquery ($bp-desktop) {
		float: left;
	}
}

.pull-right--desktop {
	@include mediaquery ($bp-desktop) {
		float: right;
	}
}

.text-center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

  svg {
    margin: 0 auto;
  }

	.centered {
		display: inline-block;
	}

	&-small-device {
		text-align: center;

		@include mediaquery ($bp-tablet) {
			text-align: left;
		}
	}

	&-medium-device {
		text-align: center;

		@include mediaquery ($bp-desktop) {
			text-align: left;
		}
	}
}

.text-right {
	text-align: right;
}

[class^="lines-"],
[class*="lines-"] {
	display: block;
}

.text-hyphen {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

//Use to add clickable area
.hit-area {
  @include hit-area;
}

.pull-end {
	align-items: flex-end;
}

@include mediaquery ($bp-desktop) {
  .pull-center {
    position: relative;

    &--content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.flow-items {
	@include mediaquery ($bp-desktop) {
		@include display-inline-flex;
		margin-top: inherit;

		&--center {
			@include align-items(center);
		}
	}
}


/*------------------------------------*\
    $FONT
\*------------------------------------*/

.text-uppercase {
  text-transform: uppercase;
}

/*------------------------------------*\
    $BORDERS
\*------------------------------------*/

@each $value in $orientations {

  .border-#{$value}  { // Used to generate a border line on top, right, bottom or left position
    border-#{$value}: 1px solid $darkest-shiro;
    margin: 0;//only border, reset margins

    @at-root .inner #{&} {
      margin-left: -#{$padding};
      margin-right: -#{$padding};
    }
  }

}

.border-all {
  @include border-default;
}

.border-divider { // Used to generate a gap with a top border
  border-top: 1px solid $darkest-shiro;
  padding-bottom: $padding;
  padding-top: $padding;

	.inner & {
    margin-left: -#{$padding/2};
    margin-right:-#{$padding/2};
    padding-left: $padding/2;
    padding-right: $padding/2;

    @include mediaquery ($bp-tablet) {
      margin-left: -#{$padding};
      margin-right: -#{$padding};
      padding-left: $padding;
      padding-right: $padding;
	   }
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.border-top-expanded {
	@include border-top-expanded;
}

.border-rounded {
  border-radius: $border-radius;
}

.border-top-focus {
  border-top: 5px solid $day-blue;
}

.shadow {
  border-radius: $border-radius;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}


/*------------------------------------*\
    $MARGINS and PADDINGS

    var $orientations and $spaceamounts in _vars.scss
\*------------------------------------*/

@each $side in $orientations {
  @each $size, $space in $spaceamounts {
    @if ($size == base) {
      .margin-#{$side}  {
        margin-#{$side}: $space/2;

        @include mediaquery ($bp-tablet) {
          margin-#{$side}: $space;
        }
	    }
    }
    @else {
      .margin-#{$side}-#{$size} {
        margin-#{$side}: $space;
      }
    }
  }
  .padding-#{$side}  {
    padding-#{$side}: $padding;
  }
}

.link-annex {
	margin-right: 20px;
}

.indent {
  margin-top: 5px;
	margin-left: 24px;

	&--small {
    margin-top: 5px;
		margin-left: 10px;
	}
}

/*------------------------------------*\
    $HIDE
\*------------------------------------*/

.hide {
	display: none !important; //we need important because .break class has display: block
}

@media only screen and (max-width: $mobile-start) {

	.hide-small-device,
	div.hide-small-device,
	.aside-wrapper .hide-small-device {
		display: none!important;
	}
	//div.hide-small-device is must because we have .btn-group > div {display: table-cell;} on buttons.scss
	//.aside-wrapper .hide-small-device is must because we have .aside-wrapper .col-n {display: table-cell;} on grids.scss

}

@include mediaquery ($bp-tablet) {

	//Use to replace text in desktop, this class needs data-text attribute and has to be included the first one
	.data-text {

		&::before {
			content: attr(data-text);
			position: static;
		}

		acronym,
		span {
		display: none;
		}
	}

}

@media only screen and (min-width: $bp-tablet) and (max-width: $tablet-start) { //TODO: convert to a mixin

	.hide-medium-device,
	div.hide-medium-device,
	.aside-wrapper .hide-medium-device {
		display: none;
	}
	//div.hide-medium-device is must because we have .btn-group > div {display: table-cell;} on buttons.scss
	//.aside-wrapper .hide-medium-device is must because we have .aside-wrapper .col-n {display: table-cell;} on grids.scss
}

@include mediaquery ($bp-desktop) {

	.hide-large-device {
		display: none;
	}

}

.invisible {
   visibility: hidden;
}

.default-cursor {
	cursor: default;
}

/*------------------------------------*\
    $IMG
\*------------------------------------*/

.img-responsive {
	max-width: 100%;
	height: auto;
}


/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

.break {
	display: block;

	&-small {
		display: block;

		@include mediaquery ($bp-desktop) {
			display: inline;
		}

		@media print {
		    display: inline;
		}
	}
}

.user-select {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/*------------------------------------*\
    $POSITION
\*------------------------------------*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-sticky-content;
  margin-top: 0;

  @media print {
    position: static;
  }
}

@mixin sticky-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15);
  z-index: $zindex-sticky-content;

  @media print {
    position: static;
  }

}

.sticky-bottom {
  @include sticky-bottom;

  &-medium-device {
    @include sticky-bottom;

    @include mediaquery ($bp-desktop) {
      position: static;
      box-shadow: none;
      .inner &{
        padding: 0;
      }
    }
  }


}
