html,
body {
    height: auto;
}

body#kss-node {
    padding: 0;
    background: $dark-shiro;
}

.sg-guide {
    font-size: 13px;

    //Grid
    .col-child {

        padding: 10px;
        text-align: center;
        background-color: $darkest-shiro;
        overflow: hidden;
    }

    .col-6-medium {
        width: 50%;
    }

    .row {
        margin-bottom: 10px;

        .row-matrioska {

            margin-bottom: 0;

        }
    }

    .row-matrioska .col-child {
        background-color: $dark-shiro;
    }

    //Colors
    .sg-colors {
        overflow: hidden;
        display: inline-block;
        width: 100%;

        li {
			float: left;
			width: 25%;
            padding: 20px;
            font-size: 14px;
			text-align: center;
        }
    }

    //Icons
    &.sg-icons ul {
		overflow: hidden;
        display: inline-block;
        width: 100%;
        margin-left: -5px;

	    li {
			height: 140px;
			margin: 0px;
			border: 5px solid $dark-shiro;
			font-size: 14px;
			text-align: center;
			background-color: $darkest-shiro;
			float: left;
			width: 50%;

			@include mediaquery ($bp-tablet) {
				width: 25%;

			}

			@include mediaquery ($bp-desktop) {
                width: 25%;

			}

        }

		li::after,
        li::before {
			display: block;
			padding: 30px;
			text-align: center;
			font-size: 30px;
		}
    }
}



.sg-content {
    .intro-header {
        height: 100%;
        width: 100%;
        padding-top: 100px;
        background-color: $day-blue;
        -webkit-transition: -webkit-transform 500ms ease;
        transition: transform 500ms ease;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    //Styleguide theme
    h1,
    h2 {
        margin: 0;
    }

    h1 {
        font-size: 25px;
        color: $day-blue;
    }

    h2,
    h3 {
        font-family: 'Proximanovasemibold';
        color: $dark-silk;
    }

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        margin-bottom: 20px;
    }

    p:last-child {
        margin-bottom: 0;
    }

    .sg-img {
        width: 100%;
        margin: 0;

    }

    .sg-link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    //borders to visual guide

    .heading-middle {

        border: 1px dashed $darkest-shiro;
    }

    .sg-selector,
    .sg-block-description code {
        margin-right: 0;
        padding: 3px 5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: $darkest-shiro;
        font-family: Courier;
        font-size: 13px;
        color: #dc1a6c;
    }

    .sg-view {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid $darkest-shiro;

        &::before {
            content: 'Example';
            display: block;
            height: 30px;
            color: $soft-script;
        }
    }

    .sg-modifiers {
        margin-bottom: 10px;
    }

    pre {
        overflow: scroll;
        //width: 102%;
        padding: 20px;
        font-family: Courier;
        font-size: 13px;
        word-break: normal;
        //white-space: nowrap;
        border-top: 1px solid $darkest-shiro;
        background-color: $darkest-shiro;
    }
}

.sg-footer {
    background: none;

    &:before {
        background: none;
    }
}
