@charset "UTF-8";

// Custom vars for Styleguide
$path-media: 		'http://media.infojobs.net';
$path-icons:		'http://media.infojobs.net/appgrade/icons';
$path-sprites:		'http://media.infojobs.net/appgrade/sprites';
$path-backgrounds: 	'http://media.infojobs.net/appgrade/backgrounds/';

$stylesheet: 'candidates';

@import "../styles/generics/docs-index";

@import "../styles/generics/vars";
@import "../styles/generics/vars-ca";

// @if $stylesheet == "candidates" {
//     @import "../styles/generics/vars-ca";
// }
//
// @if $stylesheet == "companies" {
//     @import "../styles/generics/vars-co";
// }

@import "../styles/generics/vars-theme";

@import "../styles/generics/functions";
@import "../styles/generics/mixins";
@import "../styles/generics/placeholders";

@import '../styles/generics/reset';
@import '../styles/generics/clearfix';

//core

@import '../styles/core/main';
@import '../styles/core/grids';
@import '../styles/core/fonts';
@import '../styles/core/colors';
@import '../styles/core/transitions';

//elements

@import '../styles/elements/scroll';
@import '../styles/elements/icons';
@import '../styles/elements/buttons';
@import '../styles/elements/headings';
@import '../styles/elements/paragraphs';
@import '../styles/elements/list';
@import '../styles/elements/forms';
@import '../styles/elements/table';

/*
Common CSS #casper#

Styleguide 1
*/

// components
@import '../styles/components/components';

// tools
@import '../styles/generics/tools';


// Custom styles
@import 'custom';
