// ==========================================================================
// Buttons
// ==========================================================================
section.buttons {
  padding-top: 0;
}

.button {
  text-transform: uppercase;
  display: inline-block;
  margin: 20px 20px 0 0;
  border-radius: 2px;
  font-weight: $font-bold;

  a {
    padding: 10px 20px;
    border-radius: 2px;
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.button-black {
  background-color: $color-white;
  border: 2px solid $color-black;

  a {
    color: $color-black;

    &:hover {
      color: $color-black;
    }
  }

  &:hover {
    background-color: $color-black;
    border: 2px solid $color-black;

    a {
      color: $color-white;

      &:hover {
        color: $color-white;
      }
    }
  }
}

.button-red {
  background-color: $color-white;
  border: 2px solid $color-red;

  a {
    color: $color-red;

    &:hover {
      color: $color-red;
    }
  }

  &:hover {
    background-color: $color-red;
    border: 2px solid $color-red;

    a {
      color: $color-white;

      &:hover {
        color: $color-white;
      }
    }
  }
}
.button-blue {
  background-color: $color-white;
  border: 2px solid $color-blue;

  a {
    color: $color-blue;

    &:hover {
      color: $color-blue;
    }
  }

  &:hover {
    background-color: $color-blue;
    border: 2px solid $color-blue;

    a {
      color: $color-white;

      &:hover {
        color: $color-white;
      }
    }
  }
}
.button-white {
  background-color: $color-blue;
  border: 2px solid $color-white;

  a {
    color: $color-white;

    &:hover {
      color: $color-white;
    }
  }

  &:hover {
    background-color: $color-white;
    border: 2px solid $color-white;

    a {
      color: $color-blue;

      &:hover {
        color: $color-blue;
      }
    }
  }
}

.button-arrow {
  display: inline-block;
  border-radius: 50px;
  background-color: $color-white;
  vertical-align: middle;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.20);
  position: fixed;
  bottom: 2em;
  right: 40px;
  display: none;

  a {
    display: block;
  }

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }

  &.cd-fade-out {
    opacity: 0.5;
  }
}

.arrow {
  color: $color-gray;
  background: url("../img/ico_zeus.png") -259px -38px no-repeat;
  height: 50px;
  width: 50px;
  cursor: pointer;

  &:hover {
    background: url("../img/ico_zeus.png") -259px 12px no-repeat;
  }
}
