.main-menu {
  position: relative;
  ul {
    line-height: $global-line-height;
    li {
      display: inline;
      a {
        color: $color-gray;
        text-decoration: none;
        font-size: 18px;
        padding: 0 25px 0 0;
        &:hover {
          color: $color-black;
        }
      }
    }
    li.active {
      a {
        color: $color-blue;
      }
    }
  }
  #picto-img {
    height: 29px;
    width: 30px;
    cursor: pointer;
    top: -5px;
    right: 0;
    position: absolute;
  }
}
.menu-float {
  position: fixed;
  top: 210px;
  right: 40px;
  padding: 20px 25px;
  background-color: $color-white;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  z-index: 999;
  @media (max-width: $max-size) {
    right: -80px;
    &:hover {
      animation-name: example;
      animation-duration: 1s;
      right: 40px;
    }
    @keyframes example {
      0% {
        right: -80px;
      }
      100% {
        right: 40px;
      }
    }
  }
  nav.nav-float {
    ul {
      li {
        display: block;
        margin: 10px 0;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        > a {
          color: $color-gray;
          &:hover {
            color: $color-black;
          }
        }
        ul.submenu {
          margin: 15px 0 15px 20px;
          li {
            font-size: $min-font-size;
            a {
              color: $color-gray;
              &:hover {
                color: $color-black;
              }
            }
          }
        }
      }
      li.active-submenu {
        > a {
          color: $color-blue;
        }
      }
    }
  }
}
.menu-dark {
  background-color: $color-black;
  display: none;
  padding: 20px 0;
  ul {
    li {
      display: inline-block;
      margin-left: 25px;
      a {
        color: $color-gray;
        &:hover {
          color: $color-white;
        }
      }
    }
    li.active {
      a {
        color: $color-white;
        &:hover {
          color: $color-white;
        }
      }
    }
  }
}
.rotated-left {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.rotated-right {
  transform: rotate(-180deg);
  transition-duration: 0.5s;
}
