
// ==========================================================================
// Variables
// ==========================================================================

// Global
$global-container: 990px;
$paddings: 30px;
$p-font-size: 16px;
$min-font-size: 14px;
$global-background-color: #f9f9f9;
$global-font-family: 'Lato', sans-serif;
$global-font-size: 16px;
$global-line-height: 20px;
$global-font-weight: 400;
$global-color: #999999;

// Colors
$color-light-blue: #35b3fa;
$color-blue: #2088c2;
$color-dark-blue: #1a6d9b;
$color-gray: #999999; //#9f9f9f
$color-light-gray: #e2e5e6;
$color-dark-gray: #666666;
$color-white: #FFF;
$color-black: #2d3133;
$color-red: #cb3837;
$color-yellow: #ffc000;
$color-dark-pink: #f8e1ee;
$color-pink: #ed0b8b;

// Code
$code-font-size: 16px;
$code-line-height: 18px;
$code-color: #272727;
$code-background-color: #f2f2f2;
$code-border-color: #e2e5e6;

// Font Weights
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

// Headings
$h1-font-size: 48px;
$h1-font-size-medium: 36px;
$h2-font-size: 24px;
$h3-font-size: 16px;
$h4-font-size: 16px;
$h5-font-size: 16px;
$h6-font-size: 16px;

// Line-Heights
$h1-lh: 55px;
$h2-lh: 28px;
$h3-lh: 20px;
$h4-lh: 20px;
$h5-lh: 20px;
$h6-lh: 20px;
$p-lh: 18px;

// Messages
$message-border: 4px;
$message-background: #ffffff;
$message-color: #666;
$message-color-red: #ef1617;

// sizes
$max-size: 960px;

// Tables
$table-color-gray: #2D3133;
