/*------------------------------------*\
    $INSTALL APP
\*------------------------------------*/

.install-app-wrapper {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  position: absolute;
  width: 100%;
  -webkit-justify-content: center;
          justify-content: center;

  @media only screen
  and (max-width: 640px)
  and (orientation: landscape) {
    display: block;
  }

}
.install-app-body {
  //@include flex-direction(column);
  max-width: 320px;
  margin: 0 auto;
}
.install-app-logo {
  width: 120px;
  margin: 0 auto 0 ;
}

.install-app-heading {
  margin: 0;
  font-size: $xxlarge-font-size;
  line-height: $xxlarge-line-height;
}
.install-app-footer {
  position: absolute;
  padding-bottom: 40px;
  bottom: 0;
  left: 0;
  right: 0;

  @media only screen
  and (max-width: 640px)
  and (orientation: landscape) {
    position: static;
  }

}
