/*------------------------------------*\
    $IMAGES
\*------------------------------------*/

//BACKGROUNDS

@mixin bg-device($mobile,$tablet,$desktop,$bgcolor:$dark-shiro) {
  background-image: url(#{$path-backgrounds}/#{$mobile}.jpg);
  background-color: $bgcolor;
  @include mediaquery ($bp-tablet) {
    background-image: url(#{$path-backgrounds}/#{$tablet}.jpg);
  }
  @include mediaquery ($bp-desktop) {
    background-image: url(#{$path-backgrounds}/#{$desktop}.jpg);
  }
}

.bg {
  &-home-search {
    @include bg-device (
      bg-home-full-mobile-tv,
      bg-home-full-tablet-tv,
      bg-home-full-tv
    );

    @include mediaquery ($bp-desktop) {
      min-height: 496px;
    }

    &--it {
      @include bg-device (
        bg-home-full-it-mobile-tv,
        bg-home-full-it-tablet-tv,
        bg-home-full-it-desktop-tv
      );

      @include mediaquery ($bp-desktop) {
        min-height: 496px;
      }
    }
  }

  &-home-em {
    @include bg-device (
      bg-header-em-mobile,
      bg-header-em-tablet,
      bg-header-em-desktop,
      $dark-softened
    );
  }

  &-cv-search-em {
    @include bg-device (
      bg-search-cvs-short-mobile,
      bg-search-cvs-short-tablet,
      bg-search-cvs-short-desktop,
      $dark-softened
    );
  }

  &-home-executive {
    @include bg-device (
      bg-crsl-executive-mobile,
      bg-crsl-executive-big,
      bg-crsl-executive-big
    );
  }
}
