/*------------------------------------*\
    $IMAGES
\*------------------------------------*/

//BACKGROUNDS

@mixin bg-device($mobile,$tablet,$desktop) {
  background-image: url(#{$path-backgrounds}/#{$mobile}.jpg);
  @include mediaquery ($bp-tablet) {
    background-image: url(#{$path-backgrounds}/#{$tablet}.jpg);
  }
  @include mediaquery ($bp-desktop) {
    background-image: url(#{$path-backgrounds}/#{$desktop}.jpg);
  }
}

.bg {
  &-home-search {
    @include bg-device (
      bg-home-full-mobile,
      bg-home-full-tablet,
      bg-home-full
    );

    &--it {
      @include bg-device (
        bg-home-full-it-mobile,
        bg-home-full-it-tablet,
        bg-home-full-it-desktop
      );
    }
  }

  &-home-em {
    @include bg-device (
      bg-header-em-mobile,
      bg-header-em-tablet,
      bg-header-em-desktop
    );
  }

  &-cv-search-em {
    @include bg-device (
      bg-search-cvs-short-mobile,
      bg-search-cvs-short-tablet,
      bg-search-cvs-short-desktop
    );
  }

  &-home-executive {
    @include bg-device (
      bg-crsl-executive-mobile,
      bg-crsl-executive-big,
      bg-crsl-executive-big
    );
  }
}
