/*------------------------------------*\
    $IMAGES
\*------------------------------------*/

//BACKGROUNDS

@mixin bg-device($mobile,$tablet,$desktop) {
  background-image: url(#{$path-backgrounds}/#{$mobile}.jpg);
  @include mediaquery ($bp-tablet) {
    background-image: url(#{$path-backgrounds}/#{$tablet}.jpg);
  }
  @include mediaquery ($bp-desktop) {
    background-image: url(#{$path-backgrounds}/#{$desktop}.jpg);
  }
}

.bg {
  &-home-search {
    @include bg-device (
      bg-home-full-mobile,
      bg-home-full-tablet,
      bg-home-full
    );
  }
}
