//generics
@import "../generics/generics";

/*------------------------------------*\
    $APPLICATION LIST
\*------------------------------------*/

/*
Application List

Use class `.application-list` followed by the nested structure `.item` to create the application container. Reapeat `.item`'s structure as many times as applications items are necessary to be shown.<br>
Add class `.title` to format application namE and `.subtitle` to format company name.

Markup:
<ul class="application-list">
    <li>
        <div class="item">
            <a href="#" class="action">Ocultar</a>
            <h2 class="title">
                <a href="#">Coordinador/a</a>
            </h2>
            <h3 class="subtitle">
                <a href="#">Schibsted Spain</a>
            </h3>
        </div>
    </li>
</ul>

Styleguide #{$sgi-application-list}
*/

.application-list {
    border-top: 1px solid $darkest-shiro;

    &:only-child {
        border: none;
    }

    > li {
        overflow: hidden;
        border-bottom: 1px solid $darkest-shiro;
        -webkit-touch-callout:none;
    }

    > li:only-child {
        border-bottom: 0 none;
    }

    .item {
        @include inner;
        position: relative;

        .action {
            @include font-small-line;
            float: right;
            margin-left: 10px;
            text-decoration: underline;
            transition: none;
        }

        @include mediaquery ($bp-desktop) {
            &:hover{
                background: #e3f5fd;
                cursor: pointer;

                .action {
                    visibility: visible;
                }
            }

            .action {
                @include font-small-line;
                visibility: hidden;
                transition: none;
            }
        }
    }

    .title,
    .subtitle {
        margin-top: 0;
        margin-bottom: 0;
    }

    .title {
        @include font-medium-line;
        clear: left;

        a.discarded {
            text-decoration: line-through;
            color: $soft-script;
        }

    }

    .subtitle {
        @include font-small-line;
        font-family: $base-font-family;

        a {
            color: $soft-script;
            text-decoration: underline;
        }
    }

    .suggest {
        @include inner;
    }
}
