/*------------------------------------*\
    $BADGES
\*------------------------------------*/

/*
Badges

Markup:
<ul class="list-inline">
  <li><span class="badge iconfont-Suitecase">Badge with icon</span></li>
  <li><span class="badge iconfont-Suitecase">Badge with icon</span></li>
  <li><span class="badge badge-small text-uppercase">Badge small uppercase</span></li>
</ul>
<ul class="list-inline">
  <li><span class="badge-marked text-uppercase iconfont-Check">Badge marked uppercase with icon</span></li>
  <li><span class="badge-alert text-uppercase iconfont-Close">Badge alert uppercase with icon</span></li>
  <li><span class="badge-focus text-uppercase iconfont-Check">Badge focus uppercase with icon</span></li>
</ul>
<ul class="list-inline">
  <li><span class="badge-sticker iconfont-Suitecase">Badge sticker</span></li>
  <li><span class="badge-marked-sticker">Badge marked sticker</span></li>
  <li><span class="badge-warning-sticker">Badge warning sticker</span></li>
  <li><span class="badge-alert-sticker">Badge alert sticker</span></li>
  <li><span class="badge-focus-sticker">Badge focus sticker</span></li>
</ul>
<span class="badge-marked-sticker badge-xlarge text-uppercase">Badge xlarge uppercase</span>
<span class="badge-count">2</span>

Styleguide #{$sgi-badges}
*/

@mixin badge {
  align-self: flex-start;
  display: inline-table;
  font-family: $base-font-family;
  font-size: $small-font-size;
  line-height: 14px;

  &[class*="iconfont-"]::before,
  &[class*="iconfont-"]::after {
    display: table-cell;
    margin: 0;
    padding-right: 5px;
    font-size: 12px;
    top: -1px;
    color: inherit;
  }

  &:first-child:not(:only-child) {
    margin-bottom: 5px;
  }

  .ellipsis & {
    display: inline;
  }
}

@mixin badge-sticker {
  @include badge;
  font-size: $xsmall-font-size;
  height: 14px;
  border-radius: $border-radius;
  padding: 1px 5px;

  &[class*="iconfont-"]::before,
  &[class*="iconfont-"]::after {
    vertical-align: middle;
    font-size: 11px;
  }

  &.badge-xlarge {
    height: 28px;
    padding: 7px 10px 5px;
  }

  @media print {
    border: 1px solid $dark-silk;
  }
}

.badge {
  @include badge;
  color: $mid-script;

  &-sticker {
    @include badge-sticker;
    background-color: $darkest-shiro;
    color: $mid-script;
  }

  &-marked {
    @include badge;
    color: $bamboo;

    @media print {
      color: $print-bamboo;
    }

    &-sticker {
      @include badge-sticker;
      background-color: $bamboo;
      color: $shiro;

      @media print {
        background-color: transparent;
        color: $bamboo;
      }
    }
  }

  &-warning {

    &-sticker {
      @include badge-sticker;
      background-color: $kiiro;
      color: $dark-silk;
    }
  }

  &-alert {
    @include badge;
    color: $trueblood;

    &-sticker {
      @include badge-sticker;
      background-color: $trueblood;
      color: $shiro;

      @media print {
        background-color: transparent;
        color: $trueblood;
      }
    }
  }

  &-focus {
    @include badge;
    color: $day-blue;

    &-sticker {
      @include badge-sticker;
      background-color: $day-blue;
      color: $shiro;

      @media print {
        background-color: transparent;
        color: $day-blue;
      }
    }
  }

  &-count {
    display: inline-block;
    color: $shiro;
    font-family: $base-font-family;
    font-size: $small-font-size;
    background-color: $trueblood;
    border-radius: 50%;
    padding: 0 2px;
    min-width: 18px;
    height: 18px;
    line-height: 16px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);

    @media print {
      display: none;
    }
  }

  &-cta {
    @extend .badge-count;
    background: $orange-soda;
    border: 3px solid shade($orange-soda,10%);
  }

  &-content {
    left: 50%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &-small {
    font-size: $xsmall-font-size;
    line-height: 12px;
  }

  &-xlarge {
    font-size: $base-font-size;
    line-height: 16px;
  }

  &-xxlarge {
    min-height: 60px;
    min-width: 60px;

  	@include mediaquery ($bp-tablet) {
  		min-height: 82px;
  		min-width: 82px;
	}

	.base {
		@include font(xsmall);
		@include mediaquery ($bp-tablet) {
			@include font(base);
		}
	}

	.xxlarge {
    @include font(xlarge);

		@include mediaquery ($bp-tablet) {
			@include font(xxlarge);
		}
	}
  }
}

//POSITION Badge stickers

.sticker-position {
  position: relative;

  .sticker-bottom-center {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  &--top-right {
    position: absolute;
    top: -15%;
    right: -25%;
  }
}
