/*
Components #casper#

Styleguide 2
*/

//generics
@import "../generics/generics";

/*------------------------------------*\
    $BANNERS
\*------------------------------------*/

/*
Banners's containers

Add class `.wrapper-slotbanner` and `half-page-ad` to the wrapper container, to specify that the page contain banners positions.

Wrap the container with `.slotbanner` to include the banner top position. Include `.slotbanner-top` inside it and add `.container-slotbanner` class to the container, to position the page to the left.
<br><br>
Create `.slotbanner-aside` to include a banner right position. Include `.slotbanner-fixed` to specify the side banner position as fixed.
<br><br>
In case of Brand Bay campaign add `.slotbanner-top-brandday` to `.slotbanner-top`.
<br><br>
<a href="#{$sgp-banners}" target="blank">#{$sgp-openPage}</a>
<br><br>

Markup:
<div class="wrapper wrapper-slotbanner half-page-ad casper">
	<div class="slotbanner">
		<div class="slotbanner-top">
			<!-- banner code -->
		</div>
		<div class="container container-slotbanner">
			<!-- page content -->
		</div>
	</div>
	<div class="slotbanner-aside">
		<div class="slotbanner-fixed">
			<!-- banner code -->
		</div>
	</div>
</div>

Styleguide #{$sgi-bannersContainers}
*/

.wrapper-slotbanner {

	.slotbanner { //padre centra el contenido pagina y banners sin footer
		margin: 0 auto;
	}
	.container-slotbanner { // contenido pagina
		float: left;
		width: 100%;
	}
	.slotbanner-top,
	.slotbanner-top-brandday {
		max-width: 980px;
		margin-top: 10px;
		min-height: 90px;

		@media print {
			display: none;
		}
	}
	.slotbanner-top-brandday {
		min-height: 250px;
	}

	.slotbanner-aside {
		float: left;

		@media print {
			display: none;
		}
	}
	.slotbanner-top img,
	.slotbanner-aside img,
	.slotbanner-top object,
	.slotbanner-aside object {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	.slotbanner-fixed {
		position: fixed;
		top: 0;
		margin: 10px;

		> div {
			margin-bottom: 10px;
			//background: red;
			//border:5px solid coral;
		}
	}
}

//formatos banner

.slotbanner {
	max-width: 970px;
}

.half-page-ad .slotbanner {
	max-width: 1280px;
}

@media only screen and (max-width: 1255px) {

.wrapper-slotbanner.half-page-ad {

		.slotbanner-aside {
			display: none;
		}

		.slotbanner {
	    	max-width: 970px;
		}

	    .slotbanner-top {
	    	overflow: hidden;
		}
	}

}

@media only screen and (max-width: 945px) {

.wrapper-slotbanner {

		.slotbanner-top,
		.slotbanner-aside {
			display:none;
		}

		.container-slotbanner {
			float:none;
		}
	}
}
