/*------------------------------------*\
	$BOARD
\*------------------------------------*/

/*
Board

Board centered

Use class `.board` and `.board-center` followed by the nested structure `.child` and `.child-middle` to create a container with vertically centered text content.<br />
Use class `.claim` to format the main title and `.description` to format the paraghraps.

Use class `.break` to break the description text in a new line.

Markup:
<section class="board board-center panel-contrast">
	<div class="child">
		<div class="child-middle">
			<h1 class="claim">Lorem ipsum dolor sit amet <span class="break iconfont-CallCenter">902 10 60 90</span></h1>
		</div>
	</div>
</section>

Styleguide #{$sgi-board}
*/

/*
Board Large

Use class `.board`, `.board-half` and `.board-large` followed by the nested structure `.child` and `.child-middle` to create a container with vertically centered text content.<br />
Use class `.claim` to format the main title.

Use class `.board-executive` or `.board-welcome` to apply a background image.

Markup:
<div class="board board-half board-large board-executive">
	<div class="child">
		<div class="child-middle">
			<h1 class="claim">Cuenta Executive, exclusiva para directivos, managers y especialistas de alto nivel</h1>
			<p class="description">Tenemos las mejores oportunidades del mercado para acercarte al siguiente paso en tu carrera.</p>
			<a class="btn btn-primary btn-large" href="#" onclick="unfold();">Activar mi cuenta Executive</a>
			<p class="small">En un solo click recuperando tu CV de InfoJobs</p>
		</div>
	</div>
</div>

Styleguide #{$sgi-board-variants}
*/

.board {
	@include inner;
	overflow: hidden;
	width: 100%;

	@include mediaquery ($bp-tablet) {
		padding: 80px;
	}

	.child {
		display: table;
		width: 100%;
		height: 100%;
		color: $shiro;

		&-middle {
			display: table-cell;
			vertical-align: middle;
			margin-top: 0;
			margin-bottom: 20px;
			text-shadow: 0px 0px 5px rgba(51, 51, 51, 0.5);
		}
	}

	.claim {
		font-size: $xlarge-font-size;
		line-height: $xlarge-line-height;
		margin-bottom: 0;
		color: $shiro;

		@include mediaquery ($bp-tablet) {
			font-size: $xxxlarge-font-size;
			line-height: $xxxlarge-line-height;
			margin-bottom: 10px;
		}
	}

	[class*=" iconfont-"]::before {
		font-size: $xxlarge-font-size;
		color: $shiro;
	}

	.claim:only-child,
	.claim + p {
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.break {
		display: block;
		margin-top: 20px;
	}

	.description + .btn {
		margin-top: 30px;
	}

	.btn {
		left: $padding;
	}

	.btn + p {
		margin-top: 10px;
	}

	&-large {
		@include mediaquery ($bp-tablet) {
			padding: 140px 80px;
		}
	}

	&-half {
		@include mediaquery ($bp-tablet) {
			padding: 80px 20px;
		}

		.child {
			@include mediaquery ($bp-tablet) {
				width: 500px;
			}
		}
	}

	&-center {
		text-align: center;
	}

	.slideup {
		margin: 20px -10px -20px -10px;

		@include mediaquery ($bp-tablet) {
			margin: 40px -20px -40px -20px;
		}

	}

	&.board-executive {
		background: $dark-softened;
		background-image: url(#{$path-media}/appgrade/pictures/pic-crsl-executive-mobile.jpg);
		background-position:  0 0;
		background-repeat: no-repeat;
		background-size: cover;

		@include mediaquery ($bp-tablet) {
			background-color: $dark-silk;
			background-image: url(#{$path-media}/appgrade/pictures/pic-crsl-executive-big.jpg);
		}

	}

	&-welcome {
		background: $theme-color--primary;
		background-image: url(#{$path-media}/appgrade/backgrounds/bg-hr-welcome.gif);
		background-position:  0 0;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
