<div class="board board-executive">
	<div class="text" id="stretch">
		<div class="child">
			<div class="child-center">
				<h1 class="claim">Cuenta Executive, exclusiva para directivos, managers y especialistas de alto nivel</h1>
				<p class="description">Tenemos las mejores oportunidades del mercado para acercarte al siguiente paso en tu carrera.</p>
				<a class="btn btn-primary btn-large" href="#" onclick="unfold();" id="ibButton1">Activar mi cuenta Executive</a>
				<p class="small" id="ibLabel2">En un solo click recuperando tu CV de InfoJobs</p>
			</div>
		</div>
	</div>
</div>
