/*------------------------------------*\
	$BOARD
\*------------------------------------*/

/*
Board

Use class `.board` followed by the nested structure `.child` and `.child-middle` to create a container with vertically centered text content.<br><br>
Use class `.claim` to format the main title and `.description` to format the paraghraps.

Use class `.break` to break the description text in a new line.

Add class `.board-center` to center content.

Markup:
<section class="board board-center panel-contrast">
	<div class="child">
		<div class="child-middle">
			<h1 class="claim">Lorem ipsum dolor sit amet <span class="break iconfont-CallCenter">902 10 60 90</span></h1>
		</div>
	</div>
</section>

Styleguide #{$sgi-board}
*/

/*
Board Variants

Add class `.board-half` to display content in the left side.<br>
Add class `.board-large` to increse the hight of the board.<br>
Add class `.board-executive`, `.board-welcome`, `.board-hiring` or `.board-help` to apply a background image.<br>

Markup:
<section class="board board-half board-large board-executive">
	<div class="child">
		<div class="child-middle">
			<h1 class="claim">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed felis porta.</h1>
			<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed felis porta nam congue diam magna.</p>
			<a class="btn btn-primary btn-large" href="#" onclick="unfold();">Lorem ipsum dolor sit amet</a>
			<p class="small">Nam congue diam magna, vel rhoncus neque dapibus id.</p>
		</div>
	</div>
</section>

Styleguide #{$sgi-board-variants}
*/

.board {
	@include inner;
	overflow: hidden;
	width: 100%;

	@include mediaquery ($bp-tablet) {
		padding: 80px;
	}

	.child {
		display: table;
		width: 100%;
		height: 100%;
		color: $shiro;

		&-middle {
			display: table-cell;
			vertical-align: middle;
			margin-top: 0;
			margin-bottom: 20px;
		}
	}

	.claim {
		font-size: $xlarge-font-size;
		line-height: $xlarge-line-height;
		margin-bottom: 10px;
		color: $shiro;

		@include mediaquery ($bp-tablet) {
			font-size: $xxxlarge-font-size;
			line-height: $xxxlarge-line-height;
		}

		&:only-child,
		&:only-of-type,
		& + p  {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	[class*=" iconfont-"]::before {
		font-size: $xxlarge-font-size;
		color: $shiro;
	}

	.break {
		margin-top: 20px;
	}

	.description + [class^="btn-"] {
		margin-top: 20px;
	}

	[class^="btn-"] {
		left: $padding;
	}

  [class^="btn-"] + p {
		margin-top: 10px;
	}

	p {
		margin-bottom: 10px;
	}

	&-large {
		@include mediaquery ($bp-tablet) {
			padding: 140px 80px;
		}
	}

	&-half {
	 	padding: 40px 20px;

		@include mediaquery ($bp-tablet) {
			padding: 80px 20px;
		}

		.child {
			@include mediaquery ($bp-tablet) {
				width: 500px;
			}
		}
	}

	&-center {
		text-align: center;
	}

	.slideup {
		margin: 20px -10px -20px -10px;

		@include mediaquery ($bp-tablet) {
			margin: 40px -20px -40px -20px;
		}

	}

	@mixin board-image {
		background-position: center 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $dark-softened;
		text-shadow: 0px 0px 5px rgba(51, 51, 51, 0.5);
	}

	&-image {
		@include board-image;
	}

	&-executive {
		@include board-image;
		background-color: $dark-softened;
		background-image: url(#{$path-media}/appgrade/pictures/pic-crsl-executive-mobile.jpg);

		@include mediaquery ($bp-tablet) {
			background-color: $dark-silk;
			background-image: url(#{$path-media}/appgrade/pictures/pic-crsl-executive-big.jpg);
		}
	}

	&-welcome {
		@include board-image;
		background-image: url(#{$path-media}/appgrade/backgrounds/bg-hr-welcome.gif);
	}

	&-hiring {
		@include board-image;
		background-image: url(#{$path-media}/appgrade/backgrounds/bg-header.png);
	}

	&-help {
		@include board-image;
		background-image: url(#{$path-media}/appgrade/backgrounds/bg-help.png);
	}
}
