/*
Carousel

```
.carousel-wrapper
.carousel
.carousel-selected-item
.carousel-text
.child
.child-center
.carousel-claim
.carousel-thumbnail
.carousel-pager
.selected
.carousel-pager-frame
.carousel-prev
.carousel-next
```

Markup:
<div class="carousel-wrapper">
	<ul class="carousel" id="carousel">
	    <li class="carousel-selected-item" style="background-image: url(http://media.infojobs.net/appgrade/pictures/pic-crsl-empleo-wide.jpg); width: 970px; height: 280px;">
		    <div class="carousel-text" style="opacity: 1; margin-left: 0px;">
		        <div class="child">
		            <div class="child-center">
		                <h2 class="carousel-claim">Miles de empresas buscan cada dia en InfoJobs.</h2>
		                <button title="Registrate ahora" class="btn btn-primary btn-large" type="submit" id="hnl_carousel_go_to_empleo">Registrate ahora</button>
		            </div>
		        </div>
		    </div>
		</li>
		<li style="background-image: url(http://media.infojobs.net/appgrade/pictures/pic-crsl-executive-wide.jpg); width: 970px; height: 280px;">
	        <div class="carousel-text" style="opacity: 1; margin-left: 0px;">
	            <div class="child">
	                <div class="child-center">
	                    <h2 class="carousel-claim">Las mejores oportunidades para los que toman decisiones</h2>
	                    <button title="Descubre InfoJobs Executive" class="btn btn-primary btn-large" type="submit" id="hnl_carousel_go_to_executive">Descubre InfoJobs Executive</button>
	                </div>
	            </div>
	        </div>
	    </li>
		<li style="background-image: url(http://media.infojobs.net/appgrade/pictures/pic-crsl-freelance-wide.jpg); width: 970px; height: 280px;">
	        <div class="carousel-text" style="opacity: 1; margin-left: 0px;">
	            <div class="child">
	                <div class="child-center">
	                    <h2 class="carousel-claim">Cada vez mas empresas contratan profesionales freelance</h2>
	                    <button title="Descubre InfoJobs Freelance" class="btn btn-primary btn-large" type="submit" id="hnl_carousel_go_to_freelance">Descubre InfoJobs Freelance</button>
	                </div>
	            </div>
	        </div>
	     </li>
	</ul>
</div>

Styleguide
*/

.carousel-wrapper {
	height: 0 !important;
	padding-top: 37.62%;
	min-height: 280px;
	-moz-transition: all .5s ease-out;
		 transition: all .5s ease-out;
}

.carousel-claim {
	@include font(xxxlarge);
	width: 525px;
	margin-top: 0;
	margin-bottom: 20px;
	color: $shiro;
	text-shadow: 0px 0px 5px rgba(51, 51, 51, 0.5);
}

.carousel {
	overflow: hidden;
	height: 365px;

	li {
		position: relative;
		background-repeat: no-repeat;
	    background-position: right center;
	    background-size: cover;
	    height: 365px;

		&.carousel-selected-item {
			overflow: hidden;
		}
	}

	img {
		display: block;
		width: 100%;
	}
}

.carousel-selected-item .carousel-text {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	-moz-transition: all .5s ease-out;
		 transition: all .5s ease-out;
}

.carousel-selected-item .carousel-text .child {
	margin-top: -25px;
	padding-left: $padding;
	display: table;
	height: 100%;

	.child-center {
		display: table-cell;
		vertical-align: middle;
	}
}

.carousel-selected-item [class*="btn"] {
	left: $padding;
}

.carousel-thumbnail {
	.caption {
		background: $dark-silk;
	}

	p {
	  	color: $mid-script;
	    margin: 0;
	    font-size: 14px;
	    padding-left: 10px;
		line-height: 40px;
		padding-top: 1px;
		transition: all 0.3s ease-in-out 0s;

		&:hover {
			color: $shiro;
		}
	}

	.selected & p {
		color: $shiro;
	}
}

.carousel-pager {
	position: relative;
  	z-index: 1;
  	margin-top: -39px;
}

.carousel-pager li {
	width: 33.3334%;
	overflow: hidden;
	line-height: 16px;
	float: left;
	border-right: 1px solid $outer-king;
	cursor: pointer;
}

.carousel-pager li:last-child {
	border: none;
}

.carousel-pager a,
.carousel-pager span,
.carousel-pager li.selected span {
	display: block;
	height: 3px;
}
.carousel-pager span,
.carousel-pager li.selected span {
	position: relative;
	width: 0;
	margin-top: -3px;
	background-color: $bamboo;
}

@media only screen and (max-width: $tablet-start) {
	.carousel-thumbnail {
		position: relative;
		overflow: hidden;
		height: auto;

		.caption {
			position: absolute;
			bottom: 0;
		}
	}

	.carousel-pager-frame {
		position: relative;
		z-index: 1;
		height: 35px;
		background: $dark-silk;
		padding: 5px 10px;
    	margin-top: -35px;
	}

	.carousel-pager {
	    width: 64px;
	    margin: 0 auto;
	}

	.carousel-pager li {
		width:  20px;
		height: 20px;
		border: none;
	}

	.carousel-claim {
		width: 404px;
	    font-size: 26px;
	    line-height: 28px;
	    margin-bottom: 10px;
	}

	.carousel-pager span,
	.carousel-pager li.selected span {
		display: none;
	}

	.carousel-prev,
	.carousel-pager li div {
		width: 10px;
		height: 22px;
    	//margin: 0 5px;
		background: url(#{$path-media}/appgrade/sprites/sprite-carousel-controls.png) no-repeat left 3px;
	}

	.carousel-prev {
		margin-right: 0;
	}

	.carousel-next {
		width: 10px;
		height: 22px;
		margin-left: 10px;
		margin-right: 0;
		background: url(#{$path-media}/appgrade/sprites/sprite-carousel-controls.png) no-repeat -50px 3px;
	}

	.carousel-prev span,
	.carousel-next span {
		display: none;
	}

	.carousel-pager li div {
		margin: 7px 5px 0;
		background: url(#{$path-media}/appgrade/sprites/sprite-carousel-controls.png) no-repeat -50px -50px;
	}

	.carousel-pager li.selected div {
		margin-top: 7px;
		background: url(#{$path-media}/appgrade/sprites/sprite-carousel-controls.png) no-repeat 0 -50px;
	}

	.carousel-text {
		height: 160px;
	}

	.carousel li {
		height: 270px;
	}
}
//el punto de corte para mobil empieza en 600 y no en $mobile-start por necessidades de diseno https://jira.scmspain.com/browse/PRD-12792
@media only screen and (max-width: 600px) {
	.carousel-wrapper {
		height: 250px !important;
		padding-top: 0;
		background: url(#{$path-media}/appgrade/pictures/pic-crsl-mobile.jpg) no-repeat left top;
	}

	.carousel {
		height: 250px;

		> li {
		    height: 250px;
		    background-size: 0;

			img {
				display: none;
			}
		}
	}

	.carousel-selected-item .carousel-text .child {
		.child-center {
			text-align: center;
		}
	}

	.carousel-selected-item [class*="btn"] {
	    text-align: center;
	}

	.carousel-selected-item .carousel-claim {
		position: static;
		text-align: center;
		width: auto;
	}

	carousel-text {
		height: 190px;
	}

	.carousel-selected-item .carousel-text .child {
		padding: 0 3%;
		margin-top: -10px;
	}

}


@media only screen and (max-width: $mobile-start) {
	.carousel-wrapper {
		height: 265px !important;
		padding-top: 0;
		background: url(#{$path-media}/appgrade/pictures/pic-crsl-mobile.jpg) no-repeat left top;
	}

	.carousel li {
		height: 250px;
	}

	.carousel > li img {
		display: none;
	}

	.carousel-selected-item [class*="btn"] {
		display: block;
		margin: 0 auto;
	    text-align: center;
	}

	.carousel-selected-item .carousel-claim {
		position: static;
		text-align: center;
		width: auto;
	}

	.carousel-text {
		height: 190px;
	}

	.carousel-selected-item .carousel-text .child {
		padding: 0 3%;
		margin-top: -10px;
	}
}
