//generics
@import "../generics/generics";


/*------------------------------------*\
    $CASPER
\*------------------------------------*/


.casper {
	overflow: hidden;
	max-height: 320px;
	-webkit-transition: all 300ms lineal;
	transition: all 300ms lineal;
}
