//generics
@import "../generics/generics";


/*------------------------------------*\
    $COLLAPSIBLE
\*------------------------------------*/

.collapsible {
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease;

	.gradient {
    	@include linear-gradient(rgba(255,255,255,0), 0%, rgba(255,255,255,1));

		display: none;
		position: absolute;
		bottom: 0;
		width: 100%;
		min-height: 105px;
	}

}

.collapsible-toggle {
	display: none;
}
