//generics
@import "../generics/generics";

/*------------------------------------*\
	$CONTENT LOGO
\*------------------------------------*/

/*
Content logo

Use class `.content-logo` nested with `.heading-addons` to center vertically text with logo.

Apply `.content-logo-text` and `.content-logo-media` to build the text and logo structure.


Markup:
<div class="heading-addons">
	<div class="content-logo">
		<div class="content-logo-text">
			<h1>Lorem ipsum dolor sit amet</h1>
		</div>
		<div class="content-logo-media">
			<a href="#">
				<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
					<img title="BROS GROUP - Ofertas de trabajo" src="./media/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
					<figcaption class="fig-thumbnail-caption slide-item">
						<p class="fig-thumbnail-details">Lorem ipsum</p>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>
</div>

Styleguide 2.3
*/

.content-logo {
	@include display-flex;
	position: relative;
	min-height: 60px;

	&-center {
		align-items: center;
	}

	@media print {
		min-height: auto;
	}

}

.content-logo-text {
	@include display-flex;
	@include flex(1);
	@include flex-direction(column);

	overflow: hidden;
	align-items: center;

	ul {
		width: 100%;
	}

	h1 {
		width: 100%;
		padding-top: 10px; //corrige centrado vertical exacto
	}
}

.content-logo-media {
	@include flex(none);
	margin-left: 20px;

	a {
	    width: 100px;
	    height: 100px;
	}

	img {
		display: block;
		width: 110px;
		padding: 4px;
		border: 1px solid $darkest-shiro;
	}

	.fig-thumbnail-logo img {
		border: none;
		padding: 0;
		width: 62px;

		@include mediaquery ($bp-tablet) {
			width: 82px;
		}

		@include mediaquery ($bp-desktop) {
			width: 92px;
		}

	}
}
