/*------------------------------------*\
	$CONTENT LOGO
\*------------------------------------*/

/*
Content media

To display text and media content.

Styleguide #{$sgi-content-media}
*/

/*
Content middle

Use class `.content-middle` to center vertically text with other media content.

Apply `.content-type-text` and `.content-type-media` to build the text and media content structure.<br>
Use class `.content-divider-default` to create a divider line.<br>

Markup:
<div class="content-middle inner">
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img class="crop-image" title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
</div>
<div class="content-middle content-divider-default inner">
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img class="crop-image" title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
</div>

Styleguide #{$sgi-content-middle}
*/

.content-middle {
	@include columns;
	align-items: center;
	-webkit-align-items: center;
	flex-grow: 1;

	h1 {
		padding-top: 10px; //corrige centrado vertical exacto
	}

	h2 {
		padding-top: 5px; //corrige centrado vertical exacto
	}

	&.content-center-small-device { //only mobile

		@media only screen and (max-width: $mobile-start) {
			display: block;

			.action {
				margin: 0;
				text-align: center;
			}
		}

	}

	&.content-block-small-device { //only mobile

		@media only screen and (max-width: $mobile-start) {
			display: block;

			.content-type-text + .content-type-media,
			.content-type-media + .content-type-text {
				margin-left: 0;
			}

			.content-type-media {
				[class*="btn"] {
					margin-top: 20px;
				}
			}
		}
	}
}
/*
Content top

Use class `.content-top` to align to top text and media.

Apply `.content-type-text` and `.content-type-media` to build the text and media content structure.
Use class `.content-divider-default` to create a divider line.

Markup:
<div class="content-top inner">
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img class="crop-image" title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
</div>
<div class="content-top inner content-divider-default">
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img class="crop-image" title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
</div>

Styleguide #{$sgi-content-top}
*/
.content-top {
	@include columns;

	p:only-of-type {
		margin-bottom: 5px;

    @media print {
      margin-bottom: 0;
    }
	}
}

.content-top,
.content-middle {
  max-width: 100%;

	p {
		margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
	}

	.list-default & {
		@include display-flex;
	}
}

//dividers of content, se necesita nueva regla, las creadas llevan margin negativo

.content-divider-default {
	border-top: 1px solid $darkest-shiro;

  @media print {
    border-color: #c7c7c7;
  }
}

/*
Content with toolbar

Markup:
<div class="content-top inner">
    <div class="content-toolbar">
        <ul>
            <li>
                <a href="#" class="Icon--small">
                    <svg id="Icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 157.81 170.84"><title>ico-edit-card</title><path class="cls-1" d="M53.51,178.75l22-19a12,12,0,0,0,3.22-4.47L120.61,54l-18.48-7.65L60.94,145.83l-8.45,7.33L51.7,142,92.89,42.56,74.41,34.91,32.5,136.1a12,12,0,0,0-.88,5.44l2.06,29A12,12,0,0,0,53.51,178.75Z" transform="translate(-31.59 -10.87)"/><path class="cls-1" d="M78.24,25.67L124.44,44.8l3.06-7.39A12,12,0,0,0,121,21.73L97,11.78A12,12,0,0,0,81.3,18.28Z" transform="translate(-31.59 -10.87)"/><path class="cls-1" d="M179.4,181.7H109.82a10,10,0,1,1,0-20H179.4A10,10,0,1,1,179.4,181.7Z" transform="translate(-31.59 -10.87)"/></svg>
                    <span>Editar</span>
                </a>
            </li>
            <li>
                <a href="#" class="Icon--small">
                    <svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
                        <path class="st0" d="M145.6,53l-4.9,116H56L52.1,53 M168.4,33h-139L37,178.5c0.8,6,5.9,10.5,11.9,10.5h98.9c6,0,11.1-4.5,11.9-10.5
                        	L168.4,33z"/>
                        <g>
                        	<path class="st0" d="M174.9,52h-152c-2.8,0-5-2.2-5-5V37c0-2.8,2.2-5,5-5h152c2.8,0,5,2.2,5,5v10C179.9,49.8,177.6,52,174.9,52z"/>
                        </g>
                        <g>
                        	<path class="st0" d="M113.5,154L113.5,154c-5.5,0-10-4.5-10-10V89.9c0-5.5,4.5-10,10-10h0c5.5,0,10,4.5,10,10V144
                        		C123.5,149.5,119,154,113.5,154z"/>
                        </g>
                        <g>
                        	<path class="st0" d="M82.5,154L82.5,154c-5.5,0-10-4.5-10-10V89.9c0-5.5,4.5-10,10-10h0c5.5,0,10,4.5,10,10V144
                        		C92.5,149.5,88,154,82.5,154z"/>
                        </g>
                        <g>
                        	<path class="st0" d="M118,32H78V17c0-2.8,2.2-5,5-5h30c2.8,0,5,2.2,5,5V32z"/>
                        </g>
                    </svg>
                    <span>Borrar</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content-type-text">
    	<h3 class="title">Lorem ipsum</h3>
    	<p class="small">Schibsted Classified Media Barcelona</p>
        <div class="content-end">
            <a class="btn btn-primary" href="javascript:">Button</a>
        </div>
    </div>
</div>

Styleguide #{$sgi-content-toolbar}
*/

//toolbar
.content-toolbar {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;

    @include mediaquery ($bp-desktop) {
        display: none;
    }

    li {
        display:inline-block;
        margin-left: 5px;
    }

    + .content-type-text .title {
        padding-right: 50px;
    }

}

//background cover alternative
.content-alt-cover {
   background-size: 100% 100%;
   background-position: left top;
   background-repeat: no-repeat;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
 }

/*
Content overlap

Markup:
<div class="custom-bg custom-bg-default" style="background-image: url('http://media.infojobs.net/appgrade/pictures/pic-custom-bg-default.png');">
</div>
<div class="content-middle content-overlap inner">
  <div class="content-type-media">
    <figure class="fig-thumbnail-logo crop-image-large">
      <img title="BROS GROUP - Ofertas de trabajo" src="http://media.infojobs.net/appgrade/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
    </figure>
  </div>
  <div class="content-type-text">
    <p>content-middle + <strong>content-overlap</strong></p>
    <p>text +
      <strong>
        content-type-media
        <span class="hide-large-device">(100px)</span>
        <span class="hide-small-device hide-medium-device">(140px)</span>
      </strong>
    </p>
  </div>
  <div class="action">
    <a href="#" class="btn btn-primary">Ver ofertas</a>
  </div>
</div>


Styleguide #{$sgi-content-overlap}
*/

/*
Content alt cover

Markup:
<div class="panel-canvas" style="position: relative; height: 200px;">
  <div class="content-alt-cover" style="background-image: url('//media.infojobs.net/appgrade/backgrounds/bg-card-anim.gif');">
  </div>
</div>

Styleguide #{$sgi-content-alt-cover}
*/

/*
Content media size

<a href="#{$sgp-content-media-size}" target="blank">#{$sgp-openPage}</a>

Styleguide #{$sgi-content-media-size}
*/
