/*------------------------------------*\
	$CONTENT LOGO
\*------------------------------------*/

/*
Content logo

To display text and media content.

Styleguide #{$sgi-content-logo}
*/

/*
Content middle

Use class `.content-middle` to center vertically text with other media content.

Apply `.content-type-text` and `.content-type-media` to build the text and media content structure.<br>
Use class `.content-divider-default` to create a divider line.<br>

Markup:
<div class="content-middle inner">
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
</div>
<div class="content-middle content-divider-default inner">
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
</div>

Styleguide #{$sgi-content-middle}
*/

.content-logo,
.content-middle {
	@include columns;
	align-items: center;
	-webkit-align-items: center;
	flex-grow: 1;

	h1 {
		padding-top: 10px; //corrige centrado vertical exacto
	}

	h2 {
		padding-top: 5px; //corrige centrado vertical exacto
	}

	&.content-center-small-device { //only mobile

		@media only screen and (max-width: $mobile-start) {
			display: block;

			.action {
				margin: 0;
				text-align: center;
			}
		}

	}

	&.content-block-small-device { //only mobile

		@media only screen and (max-width: $mobile-start) {
			display: block;

			.content-type-text + .content-type-media,
			.content-type-media + .content-type-text {
				margin-left: 0;
			}

			.content-type-media {
				.btn {
					margin-top: 20px;
				}
			}
		}
	}

	.content-logo-text,
	.content-type-text {
		text-align: left;

		h1,h2,h3,ul {
			width: 100%;
		}

		&.content-center-small-device { //only mobile

			@media only screen and (max-width: $mobile-start) {
				margin: 0;
				text-align: center;
			}

		}

	}
}
/*
Content top

Use class `.content-top` to align to top text and media.

Apply `.content-type-text` and `.content-type-media` to build the text and media content structure.
Use class `.content-divider-default` to create a divider line.

Markup:
<div class="content-top inner">
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
</div>
<div class="content-top inner content-divider-default">
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
</div>

Styleguide #{$sgi-content-top}
*/
.content-top {
	@include columns;

	p:only-of-type {
		margin-bottom: 5px;
	}
}

.content-top,
.content-middle {

	p {
		margin-bottom: 0;
	}

	.list-default & {
		@include display-flex;
	}
}

//dividers of content, se necesita nueva regla, las creadas llevan margin negativo

.content-divider-default {
	border-top: 1px solid $dark-shiro;
}

//toolbar
.content-toolbar {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;

    @include mediaquery ($bp-desktop) {
        display: none;
    }

    li {
        display:inline-block;
        margin-left: 5px;
    }
}

//background cover alternative
.content-alt-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
