//generics
@import "../generics/generics";

/*------------------------------------*\
	$CONTENT LOGO
\*------------------------------------*/

/*
Content logo

Use class `.content-middle` to center vertically text with other media content or  `.content-top` to align to top text and media.

Apply `.content-type-text` and `.content-type-media` to build the text and media content structure.

Markup:
<div class="heading-addons">
	<div class="content-middle">
		<div class="content-type-text">
			<h1>Lorem ipsum dolor sit amet</h1>
		</div>
		<div class="content-type-media">
			<a href="#">
				<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
					<img title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
					<figcaption class="fig-thumbnail-caption slide-item">
						<p class="fig-thumbnail-details">Lorem ipsum</p>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>
</div>

Styleguide #{$sgi-content-logo}
*/

.content-logo,
.content-middle {
	@include columns;
	align-items: center;
	-webkit-align-items: center;
	flex-grow: 1;

	h1 {
		padding-top: 10px; //corrige centrado vertical exacto
	}

	h2 {
		padding-top: 5px; //corrige centrado vertical exacto
	}

	&.content-center-small-device { //only mobile

		@media only screen and (max-width: $mobile-start) {
			display: block;

			.action {
				margin: 0;
				text-align: center;
			}
		}

	}

	&.content-block-small-device { //only mobile

		@media only screen and (max-width: $mobile-start) {
			display: block;

			.content-type-text + .content-type-media,
			.content-type-media + .content-type-text {
				margin-left: 0;
			}

			.content-type-media {
				.btn {
					margin-top: 20px;
				}
			}
		}
	}

	.content-logo-text,
	.content-type-text {
		text-align: left;

		h1,h2,h3,ul {
			width: 100%;
		}

		&.content-center-small-device { //only mobile

			@media only screen and (max-width: $mobile-start) {
				margin: 0;
				text-align: center;
			}

		}

	}
}

.content-top {
	@include columns;

	p:only-of-type {
		margin-bottom: 5px;
	}
}

.content-top,
.content-middle {

	p {
		margin-bottom: 0;
	}

	.list-default & {
		@include display-flex;
	}
}

//dividers of content, se necesita nueva regla, las creadas llevan margin negativo

.content-divider-default {
	border-top: 1px solid $dark-shiro;
}
