/*------------------------------------*\
	$CONTENT LOGO
\*------------------------------------*/

/*
Content media

To display text and media content.

Styleguide #{$sgi-content-media}
*/

/*
Content middle

Use class `.content-middle` to center vertically text with other media content.

Apply `.content-type-text` and `.content-type-media` to build the text and media content structure.<br>
Use class `.content-divider-default` to create a divider line.<br>

Markup:
<div class="content-middle inner">
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img class="crop-image" title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
</div>
<div class="content-middle content-divider-default inner">
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img class="crop-image" title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
</div>

Styleguide #{$sgi-content-middle}
*/

.content-middle {
	@include columns;
	align-items: center;
	-webkit-align-items: center;
	flex-grow: 1;

	h1 {
		padding-top: 10px; //corrige centrado vertical exacto
	}

	h2 {
		padding-top: 5px; //corrige centrado vertical exacto
	}

	&.content-center-small-device { //only mobile

		@media only screen and (max-width: $mobile-start) {
			display: block;

			.action {
				margin: 0;
				text-align: center;
			}
		}

	}

	&.content-block-small-device { //only mobile

		@media only screen and (max-width: $mobile-start) {
			display: block;

			.content-type-text + .content-type-media,
			.content-type-media + .content-type-text {
				margin-left: 0;
			}

			.content-type-media {
				[class*="btn"] {
					margin-top: 20px;
				}
			}
		}
	}
}
/*
Content top

Use class `.content-top` to align to top text and media.

Apply `.content-type-text` and `.content-type-media` to build the text and media content structure.
Use class `.content-divider-default` to create a divider line.

Markup:
<div class="content-top inner">
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img class="crop-image" title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
</div>
<div class="content-top inner content-divider-default">
	<div class="content-type-media">
		<a href="#">
			<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
				<img class="crop-image" title="BROS GROUP - Ofertas de trabajo" src="./images/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
				<figcaption class="fig-thumbnail-caption slide-item">
					<p class="fig-thumbnail-details">Lorem ipsum</p>
				</figcaption>
			</figure>
		</a>
	</div>
	<div class="content-type-text">
		<h1>Lorem ipsum dolor sit amet</h1>
	</div>
</div>

Styleguide #{$sgi-content-top}
*/
.content-top {
	@include columns;

	p:only-of-type {
		margin-bottom: 5px;
	}

	@media print {
      page-break-inside: avoid;
      margin-bottom: 0;
    }
}

.content-top,
.content-middle {
  max-width: 100%;

	p {
		margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
	}

	.list-default & {
		@include display-flex;
	}
}

//dividers of content, se necesita nueva regla, las creadas llevan margin negativo

.content-divider-default {
	border-top: 1px solid $darkest-shiro;

  @media print {
    border-color: #c7c7c7;
  }
}

/*
Content with toolbar

Markup:
<div class="content-top inner">
    <div class="content-toolbar">
        <ul>
            <li>
                <a href="#" class="iconfont-Edit alternative iconfont-hover iconfont-24px">
                    <span class="hide">Editar</span>
                </a>
            </li>
            <li>
                <a href="#" class="iconfont-Delete alternative iconfont-hover iconfont-24px">
                    <span class="hide">Borrar</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content-type-text">
    	<h3 class="title">Lorem ipsum</h3>
    	<p class="small">Schibsted Classified Media Barcelona</p>
        <div class="content-end">
            <a class="btn btn-primary" href="javascript:">Button</a>
        </div>
    </div>
</div>

Styleguide #{$sgi-content-toolbar}
*/

//toolbar
.content-toolbar {
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;

    @include mediaquery ($bp-desktop) {
        display: none;
    }

    li {
        display:inline-block;
        margin-left: 5px;
    }

    + .content-type-text .title {
        padding-right: 50px;
    }

}

//background cover alternative
.content-alt-cover {
   background-size: 100% 100%;
   background-position: left top;
   background-repeat: no-repeat;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
 }

/*
Content overlap

Markup:
<div class="custom-bg custom-bg-default" style="background-image: url('http://media.infojobs.net/appgrade/pictures/pic-custom-bg-default.png');">
</div>
<div class="content-middle content-overlap inner">
  <div class="content-type-media">
    <figure class="fig-thumbnail-logo crop-image-large">
      <img title="BROS GROUP - Ofertas de trabajo" src="http://media.infojobs.net/appgrade/pictures/pic-company-logo.png" alt="Lorem ipsum dolor sit amet">
    </figure>
  </div>
  <div class="content-type-text">
    <p>content-middle + <strong>content-overlap</strong></p>
    <p>text +
      <strong>
        content-type-media
        <span class="hide-large-device">(100px)</span>
        <span class="hide-small-device hide-medium-device">(140px)</span>
      </strong>
    </p>
  </div>
  <div class="action">
    <a href="#" class="btn btn-primary">Ver ofertas</a>
  </div>
</div>


Styleguide #{$sgi-content-overlap}
*/

/*
Content alt cover

Markup:
<div class="panel-canvas" style="position: relative; height: 200px;">
  <div class="content-alt-cover" style="background-image: url('//media.infojobs.net/appgrade/backgrounds/bg-card-anim.gif');">
  </div>
</div>

Styleguide #{$sgi-content-alt-cover}
*/

/*
Content media size

<a href="#{$sgp-content-media-size}" target="blank">#{$sgp-openPage}</a>

Styleguide #{$sgi-content-media-size}
*/
