//generics
@import "../generics/generics";

/*------------------------------------*\
	$CONTENT MEDIA
\*------------------------------------*/

/*
Content media

Usa la clase `.content-media` para construir una estructura con una imagen a un lado de un bloque de contenido de texto.

Markup:
<div class="content-media content-media-dismissable inner">
	<button type="button" class="btn-close soft-script iconfont-18px iconfont-Close"><span class="hide">Ignorar</span></button>
	<div class="media">
		<img alt="" src="https://www.infojobs.net/candidato.foto?dgv=2062307603661642043&amp;id_candidato=683813ea-73b4-4853-8062-1c4ab9387397" class="crop-circle">
	</div>
	<div class="body">
		<h3 class="title"><a href="#">Juan Manuel Rodriguez</a></h3>
		<p>Account Manager lorem ipsum <span class="alternative">en Schibsted Classified Media Spain</span></p>
		<a href="#" class="link-underline">Contactar</a>
	</div>
</div>

*/

.content-media {

	.body {
        margin-left: 70px;

		@include mediaquery ($bp-tablet) {
			margin-left: 80px;
		}

		p {
			margin-bottom: 0;
		}
	}

	.media {
        float: left;
		padding-right: 20px;
		width: 70px;

		@include mediaquery ($bp-tablet) {
			width: 80px;
		}

		&.connection {
			position: relative;

			.sticker {
				position: absolute;
				bottom: 0;
				left: 5px;

				@include mediaquery ($bp-tablet) {
					left: 10px;
				}
			}
		}
	}

	.title {
		margin: 0;
        word-wrap: break-word;
	}

	img {
		object-fit: cover;
		object-position: 0 0;
	}

	@at-root li#{&} + &::before {
		position: relative;
		display: block;
		content: "";
		border-top: 1px solid $darkest-shiro;
		top: -20px;
	}

	@at-root li#{&}.content-media-expanded + &::before {
		border: none;
	}

	.btn-close {
	    position: relative;
    	top: -16px;
		float: right;
	}

	&-expanded {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.content-media-dismissable {

	.body {
		margin-right: 20px;
	}

}
