/*------------------------------------*\
$CROP-IMAGE
\*------------------------------------*/

/*
Crop image

*/

/*
Crop image

Markup:
<img class="crop-image" src="http://media.infojobs.net/app/pictures/pic-view-cv-default-photo.png" alt="" />

Styleguide #{$sgi-crop-image}
*/

/*
Crop circle

Markup:
<img class="crop-circle" src="http://media.infojobs.net/app/pictures/pic-view-cv-default-photo.png" alt="" />

Styleguide #{$sgi-crop-circle}
*/

.crop-image {
	@include crop;
	width: 72px;
	height: 72px;

  &-large {
    @include crop;
  	width: 100px;
  	height: 100px;

    @include mediaquery ($bp-tablet) {
			width: 140px;
    	height: 140px;
		}

    @media print {
      max-width: none;
      max-height: none;
  		width: 120px;
  		height: 120px;
    }
  }

	&-small {
		@include crop;
		width: 34px;
		height: 34px;

		@include mediaquery ($bp-tablet) {
			width: 50px;
      height: 50px;
		}
	}

	&-xsmall {
		@include crop;
		width: 30px;
		height: 30px;

		@include mediaquery ($bp-tablet) {
			width: 40px;
			height: 40px;
		}
	}
}

.crop-circle {
	border-radius: 50%;

  img {
    border-radius: 50%;
  }
}
