//generics
@import "../generics/generics";


/*------------------------------------*\
$CROP-IMAGE
\*------------------------------------*/

/*
Crop image

*/

/*
crop-image

Markup:
<div class="crop-image" style="background-image: url('http://media.infojobs.net/appgrade/backgrounds/bheader-grid-01.jpg')"></div>

Styleguide
*/

/*
crop-circle #casper#

Markup:
<div class="crop-circle" style="background-image: url('http://media.infojobs.net/appgrade/backgrounds/bheader-grid-01.jpg')"></div>

*/

.crop-image {
	@include crop;
	width: 50px;
	height: 50px;

	@include mediaquery ($bp-tablet) {
		width: 60px;
		height: 60px;
	}

	&-small {
		@include crop;
		width: 40px;
		height: 40px;

		@include mediaquery ($bp-tablet) {
			height: 50px;
		}
	}
}

.crop-circle {
	@include crop-circle;
	width: 50px;
	height: 50px;

	@include mediaquery ($bp-tablet) {
		width: 60px;
		height: 60px;
	}

	&-small {
		@include crop-circle;
		width: 40px;
		height: 40px;
	}

	&-xsmall {
		@include crop-circle;
		width: 30px;
		height: 30px;

		@include mediaquery ($bp-tablet) {
			width: 40px;
			height: 40px;
		}
	}
}
