/*
Custom Background

To create custom backgrounds use a style attribute in html for the background-image.

Use class `.custom-bg` to make the image responsive.<br>
Use class`.overlay-60` to apply an overlay.

Markup:
<div class="custom-bg overlay-60" style="background-image: url('./images/backgrounds/bg-header-grid-01.jpg');">
    <div class="inner">
        <h1>Custom background</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et </p>
    </div>
</div>

Styleguide #{$sgi-custom-background}
*/

.custom-bg {
    @include vendor-prefix('background-size', 'cover');
    color: $shiro;
    //the background-image is not reusable, inline in html
    background-repeat: no-repeat;
    background-position: center;

    h1,
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: $shiro;
    }
    a:hover,
    a:active {
        text-decoration: underline;
    }
}

//Overlay in background

$overlay-opacity: (60);

@each $value in $overlay-opacity {

	.overlay-#{$value} {

        position: relative;
        z-index: 0;

		&::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: $value/100;
            z-index: -1;
		}
	}
}
