//refactor
/*------------------------------------*\
    $FILTERS
\*------------------------------------*/

/*
Filters

Styleguide #{$sgi-filters}
*/

.filters {
	padding: $padding;
	min-width: 240px;
	max-width: 482px;

	fieldset {
		position: relative;
		margin-bottom: $padding * 2;
	}
	.label-checkbox {
		width: 85%;
		margin:0;

		a,
		a:hover,
		a:visited,
		a:active {
			text-decoration: none;
			color: $mid-script;
		}

		.number {
			margin-left: 5px;
		}
	}

	.disabled a,
	.disabled a:hover,
	.disabled a:visited,
	.disabled a:active {
		color: $soft-script;
	}

	li,
	.salary .btn-group {
		margin-bottom: 10px;
	}

	li:last-child {
		margin-bottom: 0;
	}

	.experience .noUi-target {
		margin-top: 5px;
		margin-bottom: 26px;
	}

	p {
		@include font(small);
	}

	hr {
		width: 50px;
		margin-bottom: 15px;
		border-color: $darkest-shiro;
	}

	.hr:before {
		content: "";
		display: block;
		width: 50px;
		margin: 15px 0;
		border-top: 1px solid $darkest-shiro;
	}

	.opened-list,
	.closed-list {
		display: inline-block;
		margin-top: 10px;
	}

	.end-list {
		border-top: 1px solid $darkest-shiro;
	}

	.end-list a {
		margin-top: 0;
		padding: 10px 0;
	}
}

/*
Filter keyword

Markup:
<div class="form filters">
	<fieldset>
		<legend class="fieldset-title">Palabra clave</legend>
		<ul class="filter-keyword clearfix">
			<li class="filter-field keyword">
				<label for="keyword" class="hide-small-device hide-medium-device hide-large-device">Palabra clave</label>
				<input type="text" value="" name="keyword" id="keyword" maxlength="200" class="input-little">
			</li>
			<li class="filter-field keyword-submit">
				<button data-small-device="OK" data-large-device="Filtrar" onclick="searchByKeyword()" type="submit" id="buttonKeyword" class="btn btn-default btn-form-inline">Filtrar</button>
			</li>
		</ul>
	</fieldset>
</div>

Styleguide #{$sgi-filter-keyword}
*/

.filter-keyword {
	display: table;
	width: 100%;

	.filter-field {
		display: table-cell;
		float: none;
		vertical-align: top;
		padding-right: 10px;

		&:last-child {
			margin-right: 0;
			padding-right: 0;
		}

		@media only screen and (min-width: $bp-tablet) {
			line-height: 1.4;
		}
	}

	input {
		width: 100%;
	}

	button {
		width: auto;
		height: $medium-input-height;
		line-height: 0;
	}
}

.filters .filters-selected {
	margin-bottom: 10px;
}

a.opened-list:after {
    content: attr(data-opened-list);
    display: inline-block;
}

a.closed-list:after {
    content: attr(data-closed-list);
    display: inline-block;
}

.filters-layer {

	@media only screen and (max-width: $tablet-start) {

		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		height: 100%;
		overflow: auto;
		z-index: 999998; // this element must be under the loading element
		background-color: $dark-shiro;

		// animation of this layer is in transitions.scss
	}


	@media print {
		display: none;
	}
}

// aquesta class va al contenidor pare per a que el fons arribi fins al final de la pagina

.filters-back {
	background: $dark-shiro;
}

.filters-back {
	padding: 10px 20px;
	border-bottom: 1px solid $darkest-shiro;
	background: $dark-shiro;
	width: 100%;
	height: 50px;
}

.filters-back-bottom {
	padding: 10px 0px;
	background: $dark-shiro;
	width: 100%;
	height: 50px;
}

/*
Slider one range #disabled#

```
.js-ui-slider-pips
```

Markup:
<div class="form filters">
	<fieldset class="experience">
		<legend class="fieldset-title">Experiencia (anyos) </legend>
		<div id="experience" class="js-ui-slider-pips"></div>
	</fieldset>
</div>

Styleguide #{$sgi-filter-slider-single}
*/

/*
Slider range group

Markup:
<fieldset>
	<legend class="fieldset-title">Por edad</legend>
	<div id="sliderAge"></div>
	<ul class="range-group">
		<li class="range" id="minRange"></li>
		<li class="range" id="maxRange">ddd</li>
	</ul>
</fieldset>


Styleguide #{$sgi-filter-slider-group}
*/

//------> Mover clases a _noiuslider.scss (range, ...)

.range-group { //aplicar nombre concreto para sliders
	@include display-flex;

    -webkit-flex-flow: row wrap-reverse;
	        flex-flow: row wrap-reverse;
    height: 35px;
    -webkit-justify-content: space-between;
            justify-content: space-between;
      -webkit-align-content: space-between;
              align-content: space-between;
}

.range {
	display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    color: $soft-script;
}

.range span {
	display: none;
}

.slider-value {
	display: block;
  font-size: $small-font-size;
	margin-bottom: 5px;
}

.js-ui-slider-pips {
	position: relative;
}

.js-ui-slider-pips[disabled="disabled"].ui-slider-pips .ui-slider-pip {
	cursor: default;
}

@include mediaquery ($bp-tablet) {

	.filters {
		padding: 10px 10px 10px 30px;
	}

	.filters-back {
		padding-left: 30px;
	}

}

@include mediaquery ($bp-desktop) {

	.filters {
		padding: $padding;
	}

	.filter {
        display: none;

    }

}
