/*------------------------------------*\
	$FOOTER-CO
\*------------------------------------*/

.footer-help {
	@include inner;

	&::after {
	    display: block;
	    content: "";
	    position: relative;
	    top: 20px;
	    border-bottom: 1px solid $outer-wall;
	}

	&-details {
		color: $mid-script;
		text-align: center;

		&.list-default > li {
			@include mediaquery ($bp-desktop) {
				display: inline;
			}
		}
	}

	a,
	strong {
		@include mediaquery ($bp-desktop) {
			padding-right: 20px;
		}
	}
}

.footer {
	padding-bottom: 40px;
	font-family: $base-font-family;
	text-align: center;
	background-color: $outer-land;

	.social-footer {
		@include inner;
		height: 100%;
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.social-icons {
		display: table-cell;
		vertical-align: middle;
	}

	.apps {

		&:before {
		    display: block;
		    content: "";
		    position: relative;
		    top: 0;
		    border-bottom: 1px solid $outer-wall;

			@include mediaquery ($bp-desktop) {
				display: none;
			}

		}
		li {
			display: block;
			padding: 20px 0 0 0;

			@include mediaquery ($bp-desktop) {

				display: table-cell;
				padding: 0 0 0 20px;
				vertical-align: middle;

			}

			img {
				display: block;
				margin: 0 auto;
			}

		}

		@include mediaquery ($bp-desktop) {
				display: table;
		}
	}

	&::before {

		@include mediaquery ($bp-desktop) {

		    content: "";
		    display: block;
			height: 100%;
		    width: 100%;
		    position: absolute;
		    top: -80px;
			background-color: $outer-land;
		    z-index: -1;

		}
	}

	@include mediaquery ($bp-desktop) {
		position: absolute;
		left: 0;
		right: 0;
		//margin-top: -80px;
		//padding-top: 100px;
		text-align: left;
		background-color: $outer-land;
		//z-index: -1;
	}

	@media print {
		display: none;
	}
}

.footer-nav {

	h3,
	.row li li:not(.nav-item-visible) {
		display: none;

		@include mediaquery ($bp-desktop) {
				display: block;
		}
	}

	a {
		display: block;
		color: $outer-pawn;
	}

	a:hover {
		text-decoration: underline;
		color: $outer-king;
	}

	&::after {
	    display: block;
	    content: "";
	    position: relative;
	    top: 20px;
	    border-bottom: 1px solid $outer-wall;

		@include mediaquery ($bp-desktop) {
			margin: 0 -20px;
		}

	}


	.nav-item-visible {

		display: inline-block;
		padding-left: 20px;
		margin: 0;

		&::after {
		    color: $outer-wall;
		    content: "|";
		    position: absolute;
		    left: 5px;
		    top: 1px;

			@include mediaquery ($bp-desktop) {
				content: none;
			}
		}

		&:first-of-type {
			padding: 0;

			&::after {
			    content: none;
			}

		}

		@include mediaquery ($bp-desktop) {

			display: block;
			padding: 0;
			margin-bottom: 10px;
		}
	}

	@include mediaquery ($bp-desktop) {

		h3 {
			color: $dark-softened;
		}

	}
}

.footer-nav-bar {

	li,
	a {
		color: $outer-pawn;
	}

	a:hover {
		text-decoration: underline;
		color: $outer-king;
	}

	& > li > a,
	& > li:first-child {
		font-size: $small-font-size;
		line-height: $small-line-height;
	}

	& > li {
		position: relative;
		display: inline-block;
		margin-left: 20px;

		&:first-child,
		&:only-child {
			margin: 0;
		}

		+ li::after {
		    color: $outer-wall;
		    content: "|";
		    position: absolute;
		    left: -14px;
		    top: 1px;
		}

	}


}


//banners

.footer-slotbanner {

	@include mediaquery (1256px) {
		left: -287px;
	}

	@include mediaquery (1278px) {
		left: -310px;
	}

}

@media only screen and (max-width: $tablet-start) {

	.footer-nav .col-child {
		margin-bottom: 0;
	}
}
