/*------------------------------------*\
	$FOOTER-CO
\*------------------------------------*/

.footer-help {
	@include inner;

	&::after {
		display: block;
		content: "";
		position: relative;
		top: 20px;
		border-bottom: 1px solid $outer-wall;
	}

	&-details {
		text-align: center;

		&.list-default > li {
			@include mediaquery ($bp-desktop) {
				display: inline;
			}
		}
	}

	a,
	strong {
		@include mediaquery ($bp-desktop) {
			padding-right: 20px;
		}
	}
}

.footer {
	font-family: $base-font-family;
	text-align: center;
	background-color: $outer-land;

	.social-footer {
		@include inner;
		width: 100%;

		.col-child {
			margin-bottom: 20px;

			@include mediaquery ($bp-desktop) {
				margin-bottom: 0;
			}
		}
	}

	.social-icons {
		display: table;
		margin: 0 auto;

    [class^="iconfont-"]::before,
    [class*=" iconfont-"]::before {
      top: 11px;
    }
	}

	.col-child .social-icons {
		@include mediaquery ($bp-desktop) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.apps {
		margin: 0 auto;

		@include mediaquery ($bp-desktop) {
			float: right;
		}

		&::before {
		    display: block;
		    content: "";
		    position: relative;
		    top: 0;
		    border-bottom: 1px solid $outer-wall;

			@include mediaquery ($bp-desktop) {
				display: none;
			}
		}

		li {
			display: block;
			padding: 20px 0 0 0;

			@include mediaquery ($bp-desktop) {
				display: table-cell;
				padding: 0 0 0 20px;
				vertical-align: middle;
			}

			img {
				display: block;
				margin: 0 auto;
			}
		}

		@include mediaquery ($bp-desktop) {
				display: table;
		}
	}

	&::before {
		@include mediaquery ($bp-desktop) {
		    content: "";
		    display: block;
			height: 100%;
		    width: 100%;
		    position: absolute;
		    top: -80px;
			background-color: $outer-land;
		    z-index: -1;
		}
	}

	@include mediaquery ($bp-desktop) {
		position: absolute;
		left: 0;
		right: 0;
		text-align: left;
		background-color: $outer-land;
	}

	@media print {
		display: none;
	}
}

.footer-nav {
	h3,
	.row li li:not(.nav-item-visible) {
		display: none;

		@include mediaquery ($bp-desktop) {
				display: block;
		}
	}

	a {
		display: inline-block;
		color: $dark-silk;
	}

	a:hover {
		text-decoration: underline;
	}

	&::after {
	    display: block;
	    content: "";
	    position: relative;
	    top: 20px;
	    border-bottom: 1px solid $outer-wall;
	}

	.nav-item-visible {
		display: inline-block;
		margin: 0;

		& ~ .nav-item-visible {
			padding-left: 20px;

			@include mediaquery ($bp-desktop) {
				padding-left: 0;
			}

			&::after {
			    color: $outer-wall;
			    content: "|";
			    position: absolute;
			    left: 5px;
			    top: 1px;

				@include mediaquery ($bp-desktop) {
					content: none;
				}
			}

			@include mediaquery ($bp-desktop) {
				content: none;
			}
		}

		&:first-of-type {
			padding: 0;

			&::after {
			    content: none;
			}
		}

		@include mediaquery ($bp-desktop) {
			display: block;
			padding: 0;
			margin-bottom: 10px;
		}
	}

	@include mediaquery ($bp-desktop) {
		h3 {
			color: $dark-softened;
		}
	}
}

.footer-nav-bar {
	display: none;

	@include mediaquery ($bp-desktop) {
		@include inner;
		display: block;
		text-align: center;

		&::before {
			border-bottom: 1px solid $outer-wall;
			content: "";
			display: block;
			position: relative;
			top: -#{$padding};
		}

		&-sites {

			li {
				position: relative;
				margin-left: 20px;
				float: none;

				&:first-child,
				&:only-child {
					margin: 0;
				}

				+ li::after {
				    color: $outer-wall;
				    content: "|";
				    position: absolute;
				    right: -12px;
				    top: 1px;
				}

				&:last-child::after {
				    content: "";
				}
			}
		}

		&-badges {
			li {
				margin-left: 20px;

				&:first-child,
				&:only-child {
					margin: 0;
				}
			}
		}

		a {
			color: $dark-silk;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media only screen and (max-width: $tablet-start) {
	.footer-nav .col-child {
		margin-bottom: 0;
	}
}
