//generics
@import "../generics/generics";

/*------------------------------------*\
	$FOOTER
\*------------------------------------*/

/*
Footer

Styleguide 2.5
*/

.help-footer {

	p {
		color: $mid-script;
	}

	a,
	strong {
		padding-right: 20px;
	}

}

.footer {
	font-family: $base-font-family;
	text-align: center;
	background-color: $outer-land;

	@include mediaquery ($bp-desktop) {
		height: 100vh;
		position: absolute;
		left: 0;
		right: 0;
		text-align: left;
		background-color: $outer-land;

		.app + .app {
			margin-left: 20px;
		}

	}

	@media print {
		display: none;
	}
}

.footer-nav {

	h3,
	.row li li:not(.nav-item-visible) {
		display: none;

		@include mediaquery ($bp-desktop) {
				display: block;
		}
	}

	a {
		display: block;
		color: $outer-pawn;
	}

	a:hover {
		text-decoration: underline;
		color: $outer-king;
	}

	@include mediaquery ($bp-desktop) {

		h3 {
			color: $outer-king;
		}

	}
}

.footer-nav-bar {

	a {
		color: $outer-pawn;
	}

	a:hover {
		text-decoration: underline;
		color: $outer-king;
	}

	& > li > a,
	& > li:first-child {
		font-size: $small-font-size;
		line-height: $small-line-height;
	}

	& > li,
	& > li > a {
		display: inline;
		float: none;
		margin-right: 0;
	}

	li a {
		margin-left: 15px;
	}

}

.footer-container {

	@include mediaquery ($bp-desktop) {
		position: relative;

		& + .footer-container {
			display: none;
		}
	}
}

//banners

.footer-slotbanner {

	@include mediaquery (1256px) {
		left: -287px;
	}

	@include mediaquery (1278px) {
		left: -310px;
	}

}
