//generics
@import "../generics/generics";

.global-nav {
	//margin-top: -10px; // delete margin from container-expanded on navigation menu (only mobile)
	overflow:hidden;
	background-color: $shiro;
	background-repeat: no-repeat;
	background-position: center center;
	//bg logo es
	background-image: url(#{$path-media}/portales/ij/appgrade/backgrounds/bg-logo-reduced.png);
	border-bottom: 1px solid $darkest-shiro;

	&.global-nav-landing {
		height: 50px;
		min-height: 50px;
		background-color: $day-blue;
		background-image: url(#{$path-media}/appgrade/backgrounds/bg-logo-reduced-white.png);
		border: 0 none;
	}

	h1 {
		display: none;
	}

	.logo img {
		display: none;
	}

	@include mediaquery ($bp-tablet) {
		margin-top: 0; // margin inherit from container-expanded for tablet/desktop
	}

	@include mediaquery ($bp-header) {
		background-image: none;

		.logo span {
			display: none;
		}

		.logo img {
			display: block;
		}

		&.global-nav-landing {
			background-image: none;
		}

	}

	@media print {
		display: none;
	}
}

.nav-bar-top-toggle {
	display: block;
	margin: 0;
	width: 50px;
	height: 50px;
	background: url(#{$path-media}/appgrade/backgrounds/bg-menu-burger-icon.png) 0 0 no-repeat;

	span {
		display: none;
	}

	@include mediaquery ($bp-header) {
		display: none;
	}

}

.nav-mobile {
	@include flex-flow(column nowrap);
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 260px;
	background:$shiro;
	z-index:9000;
	-webkit-box-shadow: 1px 0 3px 0px rgba(0,0,0,0.75);
	   -moz-box-shadow: 1px 0 3px 0px rgba(0,0,0,0.75);
	        box-shadow: 1px 0 3px 0px rgba(0,0,0,0.75);

	@include mediaquery ($bp-header) {
		@include display-flex;
		@include flex-flow(row wrap);
		position: static;
		width: auto;
		height: auto;
		min-height: auto;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
		}

}

.nav-bar-top-left {
	@include flex;
	overflow: scroll;

	> li {
		float: none;
	}

	> li > a {
		display:block;
		position: relative;
		margin: 0;
		padding: 15px 20px;
		font-size: $medium-font-size;
		color: $mid-script;
	}

	> li > a:hover {
		color: $day-blue;
	}

	.logo,
	.logo:hover,
	.global-nav-submenu & .logo,
	.global-nav-submenu & .logo:hover {
		padding: 18px 20px 12px 20px;
	}

	.global-nav-submenu & {
		background: $darkest-shiro;
		overflow: visible;
	}

	@include mediaquery ($bp-header) {
		padding-left: 20px;
		overflow: visible;

		> li {
			float: left;
		}

		> li > a {
			padding: 30px 15px;
			font-size: $base-font-size;
		}

		.global-nav-submenu & > li > a {
			@include font-base-line;
			padding: 10px 10px 12px;
		}

		.logo,
		.logo:hover {
			display: block;
			margin-top: 20px;
			padding: 0 15px 0 0;
		}

		.global-nav-submenu & .logo,
		.global-nav-submenu & .logo:hover {
			margin-top: 10px;
			padding: 0 15px 0 0;
		}

		.global-nav-submenu & {
			background: $shiro;
		}
	}

}

.global-nav-logged {

	& .nav-mobile {
		height: auto;
	}

	.nav-bar-top-left {
		background: $darkest-shiro;

		@include mediaquery ($bp-header) {
			background: $shiro;
		}
	}

	.nav-bar-submenu {
		padding-top: 145px;

		@include mediaquery ($bp-header) {
			padding-top:0;
		}
	}
}

.global-nav-submenu {

	.nav-bar-top-left {
		@include mediaquery ($bp-header) {
			> li > a {
				color: $soft-script;
			}
		}
	}

}

.access-bar,
.nav-bar-top-right {
	@include display-flex;
	@include align-items(center);
	border-top: 1px solid $darkest-shiro;

	> li {
		@include flex(1 0 auto);

		&:first-child {
			margin-right: 10px;
		}
	}

	> li > a {
		@include mediaquery ($bp-header) {
			font-size: $small-font-size;
		}
	}

	@include mediaquery ($bp-header) {
		padding: 0 20px 0 0;
		border: 0 none;
	}
}

.access-bar {
	padding: 20px;

	@include mediaquery ($bp-header) {
		@include display-flex;
	}

	.btn {
		width: 100%;

		@include mediaquery ($bp-header) {
			width: auto;
		}
	}
}

.nav-bar-top-right {

	.logout {
		display: block;
		padding: 20px;
		color: $soft-script;
		background-color: $darkest-shiro;
		font-family: 'Proximanovabold';
		font-size: $medium-font-size;

		@include mediaquery ($bp-header) {
			display: inline;
			padding: 0;
			background-color: $shiro;
			font-family: 'Proximanova';
			font-size: $small-font-size;

			&:hover {
				color: $dark-silk;
				text-decoration: underline;
			}
		}
	}

	.global-nav-logged & {
		display: block;

		@include mediaquery ($bp-header) {
			@include display-flex;
		}
	}

}

.avatar {
	overflow: hidden;
	position: absolute;
	left: 0;
    top: 0;
	padding: 30px 20px;
    width: 100%;
	height: 145px;
	font-size: $large-font-size;
	text-align: center;
	color: $shiro;
	background: black;

	&:hover {
		color: $shiro;
	}

	@include mediaquery ($bp-header) {
		display: table;
		position: relative;
		padding: 0;
		width: auto;
		height: auto;
		text-align: left;
		font-size: $small-font-size;
		color: $soft-script;
		background: none;
		white-space: nowrap;

		&:hover {
			color: $dark-silk;
			text-decoration: underline;
		}

	}

	.name {
		white-space: nowrap;

		@include mediaquery ($bp-header) {
			display: table-cell;
			vertical-align: middle;
			padding-left: 10px;
		}
	}

	.picture {
		display: block;
		width: 65px;
		height: 65px;
		vertical-align: middle;
		border: 2px solid $shiro;
		margin-bottom: 10px;

		@include mediaquery ($bp-header) {
			display: table-cell;
			width: 30px;
			height: 30px;
			margin-bottom: 0;
		}
	}

}

.profile-ellipsis {
	display: block;
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nav-bar-submenu {
	@include flex(1 0 100%);
	order: -1;  //SEEMS DOESN'T WORKS PROPERLY IN iOS :(
	background: $shiro;

	@include mediaquery ($bp-header) {
		padding: 0 5px;
		order: initial;
		background: $darkest-shiro;
	}

	> li  {
		@include mediaquery ($bp-header) {
			float: left;
		}

		& > a {
			display: block;
			padding: 15px 20px;
			font-size: $medium-font-size;
			color: $outer-pawn;

			&:hover {
				color:$day-blue;
			}

			@include mediaquery ($bp-header) {
				padding: 20px 15px;
				font-size: $base-font-size;
			}
		}

		&:first-child a {
			@include mediaquery ($bp-header) {
				padding-left: 20px;
			}
		}

		&:last-child a {
			@include mediaquery ($bp-header) {
				padding-right: 20px;
			}
		}

	}

	.active {
		color: $day-blue;
	}
}

.nav-bar-top-left,
.nav-bar-submenu {
	font-family: 'Proximanovabold';

	@include mediaquery ($bp-header) {
		font-family: 'Proximanova';
	}
}

.nav-bar-notifications {
	position: relative;

    .sticker {
    	position: absolute;
		right: 190px;
    	bottom: 12px;

		@include mediaquery ($bp-header) {
	    	right: -4px;		}
    }

}

.global-nav-landing {

	.logo,
	.logo:hover {
		display: block;
		padding: 10px 20px;
		border: 0 none;
	}
}

.open-menu {
	@include display-flex;
}

.wrap-overlay {
	position: static;
}

.wrapper::before {
	background: rgba(255, 255, 255,0);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 2;
}

.wrap-overlay::before {
	display: block;
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

@media only screen and (max-width: 945px) {

	// mantenemos a 10px el padding a partir de esta resolucion por coherencia con el punto de corte del menu (distitos -> 945 vs $tablet-start)
	.wrapper {
		padding: 0 10px;
	}

}

@media only screen and (max-width: $mobile-start) {

	.wrapper {
		padding: 0;
	}

}
