//generics
@import "../generics/generics";

.global-nav {
	margin-top: -10px; // delete margin from container-expanded on navigation menu (only mobile)
	overflow:hidden;
	background-color: $shiro;
	background-repeat: no-repeat;
	background-position: center center;
	//bg logo es
	background-image: url(#{$path-media}/portales/ij/appgrade/backgrounds/bg-logo-reduced.png);
	border-bottom: 1px solid $darkest-shiro;

	@include mediaquery ($bp-header) {
		background-image: none;
		margin-top: 10px;

		.logo span {
			display: none;
		}

	}

	@media print {
		display: none;
	}

	h1 {
		margin: 0;
	}

	.logo img {
		display: none;

		@include mediaquery ($bp-header) {
			display: block;
		}

	}

	a:not(.btn) {
		font-size: $large-font-size;
		font-family: 'Proximanovabold';

		@include mediaquery ($bp-header) {
			font-size: $base-font-size;
			font-family: 'Proximanova';
		}
	}

	&.global-nav-submenu {
		a {
			font-size: $medium-font-size;

			@include mediaquery ($bp-header) {
				font-size: $small-font-size;
			}
		}

		.nav-bar-submenu a {
			font-size: $large-font-size;

			@include mediaquery ($bp-header) {
				font-size: $base-font-size;
			}
		}

		//ocultamos Inicio en movil cuando hay submenu
		.logo {
			display: none;

			@include mediaquery ($bp-header) {
				display: block;
			}

		}
	}

	.nav-bar-submenu a {
		font-size: $base-font-size;
	}

}

.global-nav-brand {
	@at-root .global-nav#{&} {
		height: 50px;
		min-height: 50px;
		background-color: $day-blue;
		background-image: url(#{$path-media}/appgrade/backgrounds/bg-logo-reduced-white.png);
		border: 0 none;

		@include mediaquery ($bp-header) {
			background-image: none;
		}
	}

	.logo,
	.logo:hover {
		display: block;
		height: 50px;
		padding: 10px 20px;
		border: 0 none;

		@include mediaquery ($bp-header) {
			display: inline-block;

		}

	}
}



.nav-bar-user li a,
.nav-bar-submenu li a {
	padding: 15px 10px;

	@include mediaquery ($bp-header) {
		padding: 15px;
	}
}

.nav-bar-menu li:first-child a,
.nav-bar-user li:first-child a,
.nav-bar-submenu li:first-child a {
	padding-top: 20px;

	@include mediaquery ($bp-header) {
		padding: 0;
	}
}

.nav-bar-menu li:first-child a {
	@include mediaquery ($bp-header) {
		padding: 20px 20px 20px 0;
	}
}
.nav-bar-user li:first-child a.avatar {
	padding-top: 30px;

	@include mediaquery ($bp-header) {
		padding: 0;
	}
}

.nav-bar-submenu li:first-child {
	a {
		@include mediaquery ($bp-header) {
			padding: 15px 10px 15px 20px;
		}
	}
}

.nav-bar-submenu li:last-child {
	a {
		padding-bottom: 20px;

		@include mediaquery ($bp-header) {
			padding-right: 20px;
			padding-bottom: 15px;
		}
	}
}

.nav-bar-user li:last-child {
	padding-left: 10px;
	padding-right: 10px;
	background: $dark-shiro;

	@include mediaquery ($bp-header) {
		padding: 0;
		background: $shiro;
	}

	a {
		padding-right: 0;
		padding-bottom: 15px;
		padding-left: 0;
		border-top: 1px solid $darkest-shiro;

		@include mediaquery ($bp-header) {
			padding-bottom: 0;
			border-top: 0;
		}
	}
}

a.nav-bar-toggle {
	display: block;
	margin: 0;
	width: 50px;
	height: 50px;

	&::before {
		position: relative;
		top: 25px;
		left: 10px;
		color: $darkest-shiro;
		font-size: $xlarge-font-size;
	}

	&:hover {
		color: $dark-shiro;
	}

	span {
		display: none;
	}

	@include mediaquery ($bp-header) {
		display: none;
	}
}

.nav-mobile {
	@include display-flex;
	@include flex-flow(column nowrap);
	position: absolute;
	top: 0;
	left: -100%;
	height: 100%;
	max-height: 100vh;
	width: 260px;
	background:$shiro;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

	z-index: $zindex-menu;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;

	@include mediaquery ($bp-header) {
		display: block;// en desktop quitamos el flexbox por compatibilidad con android 4.3
        -webkit-transition: none 0s ease 0s;
		        transition: none 0s ease 0s;
		position: static;
		height: auto;
		width: auto;
		overflow: hidden;

	}

}

.nav-bar-menu {
	@include flex(1 1 auto);
	@include order(1);
	overflow: auto;
	padding-right: 10px;
	padding-left: 10px;

	> li {
		float: none;

		@include mediaquery ($bp-header) {
			float: left;
		}

		&  a {
			display:block;
			position: relative;
			padding: 17px 0 13px 0;
			margin: 0;
			color: $dark-silk;

			@include mediaquery ($bp-header) {
				padding: 30px 15px;
				color: $mid-script;
			}
		}

		&  a:hover {
			color: $dark-silk;

			@include mediaquery ($bp-header) {
				color: $day-blue;
			}

		}

		&  a:active {
			color: $day-blue
		}
	}

	.global-nav-submenu & {
		background: $dark-shiro;
		@include order(2);
		@include flex(0 0 auto);
		overflow: visible;
	}

	@include mediaquery ($bp-header) {
		float: left;
		overflow: visible;
		padding: 0 20px;

		.global-nav-submenu & > li > a {
			padding: 10px 15px 12px;
		}

		.logo,
		.logo:hover {
			display: block;
			padding: 20px 20px 20px 0;
		}

		.global-nav-submenu & .logo,
		.global-nav-submenu & .logo:hover {
			padding: 10px 15px 15px 0;
		}

		.global-nav-submenu & {
			background: $shiro;
		}
	}

}

.global-nav-logged.global-nav-submenu {

	.nav-bar-menu {
		background: $dark-shiro;
		border-top: 1px solid $darkest-shiro;

		@include mediaquery ($bp-header) {
			background: $shiro;
			border-top: 0;
		}

		li {
			border-bottom: 1px solid $darkest-shiro;

			&:last-child {
				border: 0;
			}

			@include mediaquery ($bp-header) {
				border-bottom: 0;

				& > a {
					color: $soft-script;

					&:hover {
						color: $day-blue;
					}
				}
			}
		}

	}

}

.nav-bar-access,
.nav-bar-user {
	@include display-flex;
	@include align-items(center);

	@include mediaquery ($bp-header) {
		float: right;
		border: 0 none;
	}
}

.nav-bar-access {
	padding: 10px;
	@include order(2);
	border-top: 1px solid $darkest-shiro;

	@include mediaquery ($bp-header) {
		padding: 25.5px 20px;
		border-top: 0;
	}

	li {
		@include flex(1 1 50%);
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}
	}

	.btn {
		width: 100%;

		@include mediaquery ($bp-header) {
			width: auto;
		}
	}
}

.nav-bar-user {
	@include order(3);
	@include flex(0 0 auto);

	@include mediaquery ($bp-header) {
		padding: 5.5px 20px;
	}

	li {
		@include flex(1 0 auto);

		@include mediaquery ($bp-header) {
			position: relative;

			&:first-child {
				margin-right: 15px;
			}

			&:first-child::after {
				content: "|";
				position: absolute;
				right: -5px;
				top: calc(45% - 0.5em);
				color: $darkest-shiro;
			}
		}
	}

	.logout {
		display: block;
		padding: 15px 10px;
		color: $soft-script;
		background-color: $dark-shiro;

		&:hover {
			color:$day-blue;
		}

		@include mediaquery ($bp-header) {
			display: inline;
			padding: 0;
			background-color: $shiro;
		}
	}

	.global-nav-logged & {
		display: block;

		@include mediaquery ($bp-header) {
			@include display-flex;
		}
	}

	.avatar {
		position: absolute;
		left: 0;
	    top: 0;
		padding: 30px 20px;
	    width: 100%;
		height: 145px;
		text-align: center;
		color: $shiro;
		background: $dark-silk;

		@include mediaquery ($bp-header) {
			position: relative;
			padding: 0;
			width: auto;
			height: auto;
			text-align: left;
			color: $soft-script;
			background: none;
			white-space: nowrap;
		}

		&:hover {
			color: $shiro;

			@include mediaquery ($bp-header) {
				color:$day-blue;
			}

		}

		.name {
			white-space: nowrap;
			max-width: 100%;

			@include mediaquery ($bp-header) {
				display: table-cell;
				vertical-align: middle;
				max-width: 180px;
				padding-right: 10px;
				padding-left: 7px;
			}
		}

		.picture {
			width: 60px;
			height: 60px;
			vertical-align: middle;
			border: 3px solid $shiro;
			margin-bottom: 10px;
			overflow: hidden;

			img {
				width: 100%;
				height: auto;
			}


			@include mediaquery ($bp-header) {
				display: table-cell;
				width: 33px;
				height: 33px;
				margin-bottom: 0;
			}
		}

		.child-avatar {
			position: absolute;
			left: 0;
			right: 0;
			padding: 0 10px;

			@include mediaquery ($bp-header) {
				display: table;
				position: static;
				padding: 0;
			}

		}

		.bg-blur {
			display: block;
		    position: absolute;
		    left: 0;
		    top: 0;
		    height: 100%;
		    width: 100%;
		   background-size: 100%;
		   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(46%, rgba(0, 0, 0, 0.08)), color-stop(59%, rgba(0, 0, 0, 0.08)), color-stop(100%, rgba(0, 0, 0, 0.9)));
		   background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);
		   background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);
		   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);

			@include mediaquery ($bp-header) {
				display: none;
			}

		}
	}
}

.nav-bar-submenu {
	padding-top: 145px;
	background: $shiro;
	@include order(1);

	@include mediaquery ($bp-header) {
		clear: both;
		float: left;
		width: 100%;
		padding-top:0;
		background: $darkest-shiro;
	}

	> li  {
		@include mediaquery ($bp-header) {
			float: left;
			position: relative; // for position of sticker
		}

		& > a {
			display: block;
			color: $dark-silk;

			&:hover {
				color: $dark-silk;

				@include mediaquery ($bp-header) {
					color:$day-blue;
				}
			}

			&:active {
				color:$day-blue;
			}
		}
	}

	.active {
		color: $day-blue;
	}

	.sticker {
		position: relative;
    	top: -2px;

		@include mediaquery ($bp-header) {
			position: absolute;
		    top: 26px;
		    right: -5px;
		}
	}

	.global-nav-submenu & {
		@include flex(0 0 auto);

	}
}
.wrap-overlay {
	position: fixed;
	width: 100%;
}

.wrap-overlay::before {
	display: block;
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 2;
	z-index: $zindex-wrap-overlay;
}

.wrap-transition .open-menu:nth-of-type(1) {
	left: 0;
    -webkit-box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
      -moz-box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
	       box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
}

.wrap-transition::before {
	background: rgba(0,0,0,0.6);
}

@media only screen and (max-width: 945px) {

	// mantenemos a 10px el padding a partir de esta resolucion por coherencia con el punto de corte del menu (distitos -> 945 vs $tablet-start)
	.wrapper {
		padding: 0 10px;
	}

	.nav-mobile {
		//android 4.3
		-webkit-box-orient: block-axis;
		   -moz-box-orient: block-axis;
		        box-orient: block-axis;
		//
	}

}

@media only screen and (max-width: $mobile-start) {

	.wrapper {
		padding: 0;
	}

}
