.global-nav {
  background-color: $shiro;
  background-image: url(#{$path-media}/portales/ij/appgrade/svgs/ij-logo-default_primary.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 98px;
  overflow: hidden;

  @include mediaquery ($bp-header) {
    background-image: none;
    margin: 0 auto;
    max-width: $container-extended-width;
	}

  h1 {
    margin: 0;
  }

  .logo img {
    display: none;
  }

  a:not([class*="btn"]) {
    font-family: 'Proximanovabold';
    font-size: $large-font-size;

    @include mediaquery ($bp-header) {
      font-family: 'Proximanova';
      font-size: $base-font-size;
    }
  }

  &.global-nav-logged {
    @include mediaquery ($bp-header) {
      overflow: visible;
    }
  }
}

.global-nav-brand {
  @at-root .global-nav#{&} {
    background-color: $color-primary;
    background-image: url(#{$path-media}/portales/ij/appgrade/svgs/ij-logo-default_primary-white.svg);
    border: 0 none;
    height: 50px;
    min-height: 50px;

    @include mediaquery ($bp-header) {
      background-position: $gap * 2 center;
    }

    .logo,
    .logo:hover {
      border: 0 none;
      color: $shiro;
      display: block;
      height: 50px;
      margin: 0 auto;
      padding: $gap $gap * 2;
      width: 130px;

      @include mediaquery ($bp-header) {
        margin: 0;
      }
    }
  }
}

.global-nav-transparent {
  @at-root .global-nav#{&} {
    background-color: transparent;

    .nav-bar-wrapper {
      background-color: $shiro;

      @include mediaquery ($bp-header) {
        background-color: transparent;
      }
    }

    .nav-mobile {
      background-color: transparent;
    }

    .nav-bar-menu > li a {
      color: $dark-silk;

      &:hover {
        color: $day-blue;
      }
    }
  }
}

.nav-bar-user > li a {
  padding: 15px $gap;

  @include mediaquery ($bp-header) {
    padding: 15px;
  }
}

.nav-bar-toggle {
  display: block;
  height: 50px;
  margin: 0;
  -webkit-tap-highlight-color: rgba(227, 245, 253, 0.5); // Not visualized
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  width: 50px;

  &::before {
    color: $day-blue;
    font-size: $xlarge-font-size;
    left: $gap;
    position: relative;
    top: 25px;
	}

  &:hover {
    color: $dark-shiro;
  }

  span {
    display: none;
  }

  @include mediaquery ($bp-header) {
    display: none;
  }

}

.nav-mobile {
  @include display-flex;
  @include flex-flow(column nowrap);
  background: $shiro;
  height: 100%;
  left: -100%;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
	width: 260px;
  -webkit-overflow-scrolling: touch;
	-webkit-transition: all 0.3s ease;
  z-index: $zindex-menu;

	@include mediaquery ($bp-header) {
    display: block;// en desktop quitamos el flexbox por compatibilidad con android 4.3
		height: auto;
		position: static;
    transition: none 0s ease 0s;
    overflow: hidden;
    -webkit-transition: none 0s ease 0s;
    width: auto;

    .global-nav-logged & {
      overflow: visible;
    }
	}

  .global-nav-company & {
    padding-top: 80px;

    @include mediaquery ($bp-header) {
      padding-top: 0;
    }
  }
}

.nav-bar-menu,
.nav-bar-user {

  > li a {
    color: $dark-silk;
    display: block;
    margin: 0;
    padding: 17px $gap 13px;
    position: relative;
    -webkit-tap-highlight-color: rgba(227, 245, 253, 0.5); // Not visualized
    -webkit-tap-highlight-color: transparent; /* For some Androids */

    @include mediaquery ($bp-header) {
      color: $mid-script;
      padding: 30px 14px;
    }
  }

  > li a:hover {
    color: $dark-silk;

    @include mediaquery ($bp-header) {
      color: $day-blue;
    }
  }

  > li  a:active {
    color: $day-blue;
  }

  .active {
    color: $day-blue;
  }
}


.nav-bar-menu {
  @include flex(1 1 auto);
  overflow: auto;

  > li {
    float: none;

    @include mediaquery ($bp-header) {
      float: left;
    }
	}

	.logo,
	.logo:hover {
		padding-top: $gap * 2;

		@include mediaquery ($bp-header) {
			margin: $gap * 2 35px 0 0;
			padding: 0;
			display: block;
			height: 41px;
			width: 100px;
			background-repeat: no-repeat;
			background-position: left center;
			//bg logo es
			background-image: url(#{$path-media}/portales/ij/appgrade/svgs/ij-logo-default_primary.svg);
			background-size: contain;
		}
	}

	@include mediaquery ($bp-header) {
		float: left;
		overflow: visible;
		padding: 0 $gap * 2;
	}

  .global-nav-logged & {
    padding-top: 145px;

    .logo {
      display: none;
      @include mediaquery ($bp-header) {
        display: block;
      }
    }

    @include mediaquery ($bp-header) {
      padding-top: 0;
    }
  }
}

.nav-bar-wrapper {
  @include display-flex;
  @include flex-flow(column nowrap);
  height: 100%;
  max-height: 100vh;

  @media only screen and (max-width: $header-start) {
    		//android 4.3
    		-webkit-box-orient: block-axis;
    		   -moz-box-orient: block-axis;
    		        box-orient: block-axis;
    		//
  }

  @include mediaquery ($bp-header) {
    display: block;
    height: auto;
    max-height: none;
  }

  .global-nav-logged & {
    display: block;
    height: auto;
    max-height: none;
  }
}

.nav-bar-access,
.nav-bar-avatar {
	@include display-flex;
	@include align-items(center);

	@include mediaquery ($bp-header) {
		float: right;
		border: 0 none;
	}
}

.nav-bar-access {
	padding: $gap;
	border-top: 1px solid $darkest-shiro;

	@include mediaquery ($bp-header) {
    border-top: 0;
    padding: 25.5px $gap * 2;
	}

	li {
		@include flex(1 1 50%);
		margin-left: $gap;

		&:first-child {
			margin-left: 0;
		}

		@include mediaquery ($bp-header) {
			@include flex(0 0 auto);
		}
	}

	[class*="btn"] {
		width: 100%;

		@include mediaquery ($bp-header) {
			width: auto;
		}
	}
}

.nav-bar-avatar {
  li {

    @include mediaquery ($bp-header) {
			position: relative;
		}
	}

	.global-nav-logged &,
	.global-nav-company & {
		display: block;

		@include mediaquery ($bp-header) {
			@include display-flex;
		}
	}

	.global-nav-company & {

		@include mediaquery ($bp-header) {
			padding: 30px $gap * 2 30px 0;
		}

		.avatar {
			height: 80px;

			@include mediaquery ($bp-header) {
				height: auto;
			}
		}
	}

	.avatar {
		position: absolute;
		left: 0;
	    top: 0;
		padding: 30px $gap * 2;
	    width: 100%;
		height: 145px;
		text-align: center;
		color: $shiro;
		background: $dark-silk;

		@include mediaquery ($bp-header) {
			position: relative;
			padding: 0;
			width: auto;
			height: auto;
			text-align: left;
			color: $soft-script;
			background: none;
			white-space: nowrap;
		}

		&:hover {
			color: $shiro;

			@include mediaquery ($bp-header) {
				color:$day-blue;
			}

		}

		.name {
			white-space: nowrap;
			max-width: 100%;

			@include mediaquery ($bp-header) {
				display: none;
			}
		}

		.picture {
      border: 3px solid $shiro;
      height: 60px;
      margin: 0 auto $gap auto;
      overflow: hidden;
      width: 60px;

			img {
				width: 57px;
				height: 57px;
			    object-fit: cover;
			    object-position: 0 center;
			    vertical-align: middle;

				@include mediaquery ($bp-header) {
					width: 27px;
					height: 27px;
				}
			}

			@include mediaquery ($bp-header) {
				display: table-cell;
				width: 33px;
				height: 33px;
				margin: 0;

			}
		}

		.child-avatar {
			position: absolute;
			left: 0;
			right: 0;
			padding: 0 $gap;

			@include mediaquery ($bp-header) {
				display: table;
				position: static;
				padding: 0;
			}

		}

		.bg-blur {
			display: block;
		    position: absolute;
		    left: 0;
		    top: 0;
		    height: 100%;
		    width: 100%;
		   background-size: 100%;
		   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(46%, rgba(0, 0, 0, 0.08)), color-stop(59%, rgba(0, 0, 0, 0.08)), color-stop(100%, rgba(0, 0, 0, 0.9)));
		   background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);
		   background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);
		   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);

			@include mediaquery ($bp-header) {
				display: none;
			}
		}
	}
}

.nav-bar-drop-down {

  @include mediaquery ($bp-header) {
    position: relative;

    .nav-bar-user {
      border: 1px solid;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.wrap-overlay {
	position: fixed;
	width: 100%;
}

.wrap-overlay::before {
	display: block;
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 2;
	z-index: $zindex-wrap-overlay;
}

.wrap-transition .open-menu:nth-of-type(1) {
	left: 0;
    -webkit-box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
      -moz-box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
	       box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
}

.wrap-transition::before {
	background: rgba(0,0,0,0.6);
}

@media only screen and (max-width: $header-start) {
	.nav-mobile {
		//android 4.3
		-webkit-box-orient: block-axis;
		   -moz-box-orient: block-axis;
		        box-orient: block-axis;
		//
	}

}

//print header

@media print {
  .global-nav {
		overflow: visible;
		padding: 0;
		margin: 0 0 $gap * 2;
		background: none;
		border: 0 none;

		a.nav-bar-toggle {
			display: none;
		}

		.nav-mobile {
			position: static;

		}
		.nav-bar-menu {
			border: 0 none;
		}

		.nav-bar-avatar,
		&.global-nav-logged .nav-bar-avatar,
		.nav-bar-access,
		.nav-bar-menu li span,
		.nav-bar-menu li + li {

			display: none;
		}

		.nav-bar-menu .logo,
		&.global-nav-brand .logo {
			height: auto;
			width: auto;
			padding: 0;
			margin: 0;
			display: block;
		}

		.logo img {
			display: block;
			width: 138px;
		}
	}
}
