//generics
@import "../generics/generics";

.global-nav {
	margin-top: -10px; // delete margin from container-expanded on navigation menu (only mobile)
	overflow:hidden;
	background-color: $shiro;
	background-repeat: no-repeat;
	background-position: center center;
	//bg logo es
	background-image: url(#{$path-media}/portales/ij/appgrade/backgrounds/bg-logo-reduced.png);
	border-bottom: 1px solid $darkest-shiro;

	&.global-nav-landing {
		height: 50px;
		min-height: 50px;
		background-color: $day-blue;
		background-image: url(#{$path-media}/appgrade/backgrounds/bg-logo-reduced-white.png);
		border: 0 none;
	}

	h1 {
		margin: 0;
	}

	h1,
	.logo img {
		display: none;
	}

	a {
		font-size: $large-font-size;
		font-family: 'Proximanovabold';

		&.btn {
			font-size: $small-font-size;
			font-family: 'Proximanova';
		}

		@include mediaquery ($bp-header) {
			font-size: $base-font-size;
			font-family: 'Proximanova';
		}
	}

	&.global-nav-submenu {
		a {
			font-size: $medium-font-size;

			@include mediaquery ($bp-header) {
				font-size: $small-font-size;
			}
		}

		.nav-bar-submenu a {
			font-size: $large-font-size;

			@include mediaquery ($bp-header) {
				font-size: $base-font-size;
			}
		}
	}

	.nav-bar-submenu a {
		font-size: $base-font-size;
	}

	@include mediaquery ($bp-header) {
		background-image: none;
		margin-top: 10px;

		.logo span {
			display: none;
		}

		h1,
		.logo img {
			display: block;
		}

		&.global-nav-landing {
			background-image: none;
		}
	}

	@media print {
		display: none;
	}
}


.nav-bar-top-left li a {
	padding: 15px 0;
}

.nav-bar-top-right li a,
.nav-bar-submenu li a {
	padding: 15px 10px;
}

.nav-bar-top-left li:first-child a,
.nav-bar-top-right li:first-child a,
.nav-bar-submenu li:first-child a {
	padding-top: 20px;

	@include mediaquery ($bp-header) {
		padding: 0;
	}
}

.nav-bar-top-right li:first-child a.avatar {
	padding-top: 30px;

	@include mediaquery ($bp-header) {
		padding: 0;
	}
}

.nav-bar-top-left li:last-child a,
.nav-bar-submenu li:last-child a {
	padding-bottom: 20px;

	@include mediaquery ($bp-header) {
		padding-bottom: 0;
	}
}

.nav-bar-top-right li:last-child a {
	padding-bottom: 15px;

	@include mediaquery ($bp-header) {
		padding-bottom: 0;
	}
}

.nav-bar-top-toggle {
	display: block;
	margin: 0;
	width: 50px;
	height: 50px;
	background: url(#{$path-media}/appgrade/backgrounds/bg-menu-burger-icon.png) 0 0 no-repeat;

	span {
		display: none;
	}

	@include mediaquery ($bp-header) {
		display: none;
	}
}

.nav-mobile {
	@include flex-flow(column nowrap);
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 260px;
	background:$shiro;
	z-index:9000;
	-webkit-box-shadow: 0px 0 10px 0px rgba(0,0,0,0.8);
	   -moz-box-shadow: 0px 0 10px 0px rgba(0,0,0,0.8);
	        box-shadow: 0px 0 10px 0px rgba(0,0,0,0.8);

	@include mediaquery ($bp-header) {
		@include display-flex;
		@include flex-flow(row wrap);
		position: static;
		width: auto;
		height: auto;
		min-height: auto;
		padding: 0 20px;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}
}

.nav-bar-top-left {
	@include flex;
	overflow: scroll;
	padding-right: 10px;
	padding-left: 10px;

	> li {
		float: none;

		@include mediaquery ($bp-header) {
			float: left;
		}

		& > a {
			display:block;
			position: relative;
			margin: 0;
			color: $dark-silk;

			@include mediaquery ($bp-header) {
				padding: 30px 15px;
				color: $mid-script;
			}
		}

		& > a:hover {
			color: $day-blue;
		}
	}

	.global-nav-submenu & {
		background: $dark-shiro;
		overflow: visible;
	}

	@include mediaquery ($bp-header) {
		overflow: visible;
		padding: 0;

		.global-nav-submenu & > li > a {
			padding: 10px 10px 12px;
		}

		.logo,
		.logo:hover {
			display: block;
			margin-top: 20px;
			padding: 0 15px 0 0;
		}

		.global-nav-submenu & .logo,
		.global-nav-submenu & .logo:hover {
			margin-top: 10px;
			padding: 0 15px 0 0;
		}

		.global-nav-submenu & {
			background: $shiro;
		}
	}

}

.global-nav-logged.global-nav-submenu {
	& .nav-mobile {
		height: auto;
	}

	.nav-bar-top-left {
		background: $dark-shiro;
		border-top: 1px solid $darkest-shiro;

		@include mediaquery ($bp-header) {
			background: $shiro;
			border-top: 0;
		}

		li {
			border-bottom: 1px solid $darkest-shiro;

			&:last-child {
				border: 0;
			}

			@include mediaquery ($bp-header) {
				border-bottom: 0;

				& > a {
					color: $soft-script;

					&:hover {
						color: $day-blue;
					}
				}
			}
		}

	}

}

.access-bar,
.nav-bar-top-right {
	@include display-flex;
	@include align-items(center);
	border-top: 1px solid $darkest-shiro;

	> li {
		@include flex(1 0 auto);
	}

	@include mediaquery ($bp-header) {
		border: 0 none;
	}
}

.access-bar {
	padding: 10px;

	@include mediaquery ($bp-header) {
		@include display-flex;
		padding: 0;
	}

	li {
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}
	}

	.btn {
		width: 100%;

		@include mediaquery ($bp-header) {
			width: auto;
		}
	}
}

.nav-bar-top-right {

	li {
		@include mediaquery ($bp-header) {
			position: relative;
			margin-left: 10px;

			&:first-child {
				margin-right: 10px;
			}

			&:first-child::after {
				content: "|";
				position: absolute;
				right: -10px;
				top: calc(45% - 0.5em);
				color: $soft-script;
			}
		}
	}

	.logout {
		display: block;
		padding: 15px 10px;
		color: $soft-script;
		background-color: $dark-shiro;

		&:hover {
			color:$day-blue;
		}

		@include mediaquery ($bp-header) {
			display: inline;
			padding: 0;
			background-color: $shiro;
		}
	}

	.global-nav-logged & {
		display: block;

		@include mediaquery ($bp-header) {
			@include display-flex;
		}
	}

}

.avatar {
	overflow: hidden;
	position: absolute;
	left: 0;
    top: 0;
	padding: 30px 20px;
    width: 100%;
	height: 145px;
	text-align: center;
	color: $shiro;
	background: $dark-silk;

	&:hover {
		color: $shiro;
	}

	@include mediaquery ($bp-header) {
		display: table;
		position: relative;
		padding: 0;
		width: auto;
		height: auto;
		text-align: left;
		color: $soft-script;
		background: none;
		white-space: nowrap;

		&:hover {
			color:$day-blue;
		}
	}

	.name {
		white-space: nowrap;

		@include mediaquery ($bp-header) {
			display: table-cell;
			vertical-align: middle;
			padding-left: 10px;
		}
	}

	.picture {
		display: block;
		width: 60px;
		height: 60px;
		vertical-align: middle;
		border: 3px solid $shiro;
		margin-bottom: 10px;

		@include mediaquery ($bp-header) {
			display: table-cell;
			width: 30px;
			height: 30px;
			margin-bottom: 0;
		}
	}
}

.profile-ellipsis {
	display: block;
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.nav-bar-submenu {
	@include order(-1);
	padding-top: 145px;
	background: $shiro;

	@include mediaquery ($bp-header) {
		@include flex(1 0 100%);
		@include order(initial);
		margin: 0 -20px;
		padding-top:0;
		background: $darkest-shiro;
	}

	> li  {
		@include mediaquery ($bp-header) {
			float: left;
		}

		& > a {
			display: block;
			color: $dark-silk;

			&:hover {
				color:$day-blue;
			}
		}

		&:first-child a {
			@include mediaquery ($bp-header) {
				padding-top: 15px;
				padding-right: 10px;
				padding-left: 20px;
			}
		}

		&:last-child a {
			@include mediaquery ($bp-header) {
				padding-right: 20px;
			}
		}

	}

	.active {
		color: $day-blue;
	}
}

.nav-bar-notifications {
	position: relative;

    .sticker {
    	position: absolute;
		right: 190px;
    	bottom: 12px;

		@include mediaquery ($bp-header) {
	    	right: -4px;
		}
    }

}

.global-nav-landing {

	.logo,
	.logo:hover {
		display: block;
		padding: 10px 20px;
		border: 0 none;
	}
}

.open-menu {
	@include display-flex;
}

.wrap-overlay {
	position: static;
}

.wrap-overlay::before {
	display: block;
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	//background: rgba(255, 255, 255,0);
	background: rgba(0,0,0,0.6);
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 2;
}

@media only screen and (max-width: 945px) {

	// mantenemos a 10px el padding a partir de esta resolucion por coherencia con el punto de corte del menu (distitos -> 945 vs $tablet-start)
	.wrapper {
		padding: 0 10px;
	}

}

@media only screen and (max-width: $mobile-start) {

	.wrapper {
		padding: 0;
	}

}
