
.global-nav {
  background-color: $shiro;
  background-image: url(#{$path-media}/portales/ij/appgrade/svgs/ij-logo-default_primary.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 98px;
  overflow: hidden;

  @include mediaquery ($bp-header) {
    background-image: none;
    margin: 0 auto;
    max-width: $container-extended-width;
	}

  h1 {
    margin: 0;
  }

  .logo img {
    display: none;
  }

  &.global-nav-logged {

    @include mediaquery ($bp-header) {
      overflow: visible;
    }
  }
}

.global-nav-brand {
  @at-root .global-nav#{&} {
    background-color: $color-primary;
    background-image: url(#{$path-media}/portales/ij/appgrade/svgs/ij-logo-default_primary-white.svg);
    border: 0 none;
    height: 50px;
    min-height: 50px;

    @include mediaquery ($bp-header) {
      background-position: $gap * 2 center;
    }

    .logo,
    .logo:hover {
      border: 0 none;
      color: $shiro;
      display: block;
      height: 50px;
      margin: 0 auto;
      padding: $gap $gap * 2;
      width: 130px;

      @include mediaquery ($bp-header) {
        margin: 0;
      }
    }
  }
}

.global-nav-transparent {
  @at-root .global-nav#{&} {
    background-color: transparent;

    .nav-bar-wrapper {
      background-color: $shiro;

      @include mediaquery ($bp-header) {
        background-color: transparent;
      }
    }

    .nav-mobile {
      background-color: transparent;
    }

    .nav-bar-menu > li a {
      color: $dark-silk;

      &:hover {
        color: $day-blue;
      }
    }
  }
}

.nav-bar-toggle {
  display: block;
  height: 50px;
  margin: 0;
  -webkit-tap-highlight-color: rgba(227, 245, 253, 0.5); // Not visualized
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  width: 50px;

  &::before {
    color: $day-blue;
    font-size: $xlarge-font-size;
    left: $gap;
    position: relative;
    top: 25px;
	}

  &:hover {
    color: $dark-shiro;
  }

  span {
    display: none;
  }

  @include mediaquery ($bp-header) {
    display: none;
  }

}

.nav-mobile {
  @include display-flex;
  @include flex-flow(column nowrap);
  background: $shiro;
  height: 100%;
  left: -100%;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
	width: 260px;
  -webkit-overflow-scrolling: touch;
	-webkit-transition: all 0.3s ease;
  z-index: $zindex-menu;

	@include mediaquery ($bp-header) {
    display: block;// en desktop quitamos el flexbox por compatibilidad con android 4.3
		height: auto;
		position: static;
    transition: none 0s ease 0s;
    overflow: hidden;
    -webkit-transition: none 0s ease 0s;
    width: auto;

    .global-nav-logged & {
      overflow: visible;
    }
	}

  .global-nav-company & {
    padding-top: 80px;

    @include mediaquery ($bp-header) {
      padding-top: 0;
    }
  }
}

.nav-bar-menu,
.nav-bar-user {

  > li a {
    display: block;
    margin: 0;
    padding: 17px $gap 13px;
    position: relative;
    -webkit-tap-highlight-color: rgba(227, 245, 253, 0.5); // Not visualized
    -webkit-tap-highlight-color: transparent; /* For some Androids */

    @include mediaquery ($bp-header) {
      padding: 30px 14px;
    }

    &:hover {
      color: $dark-silk;

      @include mediaquery ($bp-header) {
        color: $day-blue;
      }
    }

    &:active {
      color: $day-blue;
    }
  }

  .active {
    color: $day-blue;
  }
}

.nav-bar-user {

  > li {
    padding-left: $gap;
    padding-right: $gap;
  }

  > li a {
    border-radius: $border-radius-m;
    color: $mid-script;
    font-family: $base-font-family;
    font-size: $large-font-size;

    &:active {
      background-color: tint($day-blue , 90%);
    }

    @include mediaquery ($bp-header) {
      font-size: $base-font-size;
      padding-top: 8px;
      padding-bottom: 8px;

      &:active {
        background-color: transparent;
      }

      &:hover {
        background-color: tint($day-blue , 90%);
      }

    }

  }
}

.nav-bar-menu {
  @include flex(1 1 auto);
  overflow: auto;

  > li {
    float: none;

    .global-nav-logged & {
      padding-left: $gap;
      padding-right: $gap;

      @include mediaquery ($bp-header) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    @include mediaquery ($bp-header) {
      float: left;
    }
	}

  > li a {
    color: $dark-silk;
    font-family: 'Proximanovabold';
    font-size: $large-font-size;

    @include mediaquery ($bp-header) {
      color: $mid-script;
      font-family: 'Proximanova';
      font-size: $base-font-size;
    }

    &.active {
      color: $day-blue;
    }

    .global-nav-logged & {
      border-radius: $border-radius-m;
      color: $mid-script;
      font-family: $base-font-family;

      &:hover {
        color: $day-blue;
      }

      &:active {
        background-color: tint($day-blue , 90%);
        color: $day-blue;

        @include mediaquery ($bp-header) {
          background-color: transparent;
        }
      }

      &.active {
        color: $day-blue;
      }

      @include mediaquery ($bp-header) {
        color: $outer-wall;
      }
    }
  }

	.logo,
	.logo:hover {
		padding-top: $gap * 2;

		@include mediaquery ($bp-header) {
			margin: $gap * 2 35px 0 0;
			padding: 0;
			display: block;
			height: 41px;
			width: 100px;
			background-repeat: no-repeat;
			background-position: left center;
			//bg logo es
			background-image: url(#{$path-media}/portales/ij/appgrade/svgs/ij-logo-default_primary.svg);
			background-size: contain;
		}
	}

	@include mediaquery ($bp-header) {
		float: left;
		overflow: visible;
		padding: 0 $gap * 2;
	}

  .global-nav-logged & {
    padding-top: 145px;
    margin-top: $gap * 2;

    .logo {
      display: none;

      @include mediaquery ($bp-header) {
        background-image: url(#{$path-media}/portales/ij/appgrade/svgs/ij-logo_reduced.svg);
        display: block;
        height: 40px;
        margin-right: 18px;
        width: 40px;
      }
    }

    @include mediaquery ($bp-header) {
      padding-top: 0;
      margin-top: 0;
    }
  }
}

.nav-bar-wrapper {
  @include display-flex;
  @include flex-flow(column nowrap);
  height: 100%;
  max-height: 100vh;

  @media only screen and (max-width: $header-start) {
    		//android 4.3
    		-webkit-box-orient: block-axis;
    		   -moz-box-orient: block-axis;
    		        box-orient: block-axis;
    		//
  }

  @include mediaquery ($bp-header) {
    display: block;
    height: auto;
    max-height: none;
  }

  .global-nav-logged & {
    display: block;
    height: auto;
    max-height: none;
  }
}

.nav-bar-access,
.nav-bar-avatar {
	@include display-flex;
	@include align-items(center);

	@include mediaquery ($bp-header) {
		float: right;
		border: 0 none;
	}
}

.nav-bar-access {
	padding: $gap;
	border-top: 1px solid $darkest-shiro;

	@include mediaquery ($bp-header) {
    border-top: 0;
    padding: 25.5px $gap * 2;
	}

	li {
		@include flex(1 1 50%);
		margin-left: $gap;

		&:first-child {
			margin-left: 0;
		}

		@include mediaquery ($bp-header) {
			@include flex(0 0 auto);
		}
	}

	[class*="btn"] {
		width: 100%;

		@include mediaquery ($bp-header) {
			width: auto;
		}
	}
}

.nav-bar-avatar {
  li {

    @include mediaquery ($bp-header) {
      padding-right: $gap * 3;
			position: relative;
		}
	}

	.global-nav-logged &,
	.global-nav-company & {
		display: block;

		@include mediaquery ($bp-header) {
			@include display-flex;
		}
	}

	.global-nav-company & {

		@include mediaquery ($bp-header) {
			padding: 30px $gap * 2 30px 0;
		}

		.avatar {
			height: 80px;

			@include mediaquery ($bp-header) {
				height: auto;
			}
		}
	}

	.avatar {
    background: $shiro;
    height: 145px;
    left: 0;
		position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

		@include mediaquery ($bp-header) {
      background: transparent;
      display: block;
      height: auto;
      text-align: left;
      padding: 0;
			position: relative;
			white-space: nowrap;
      width: auto;

		}

		.name {
      @include bold;
      display: block;
      color: $dark-silk;
      font-size: $large-font-size;
      padding-top: $gap * 2;
      max-width: 100%;
			white-space: nowrap;

			@include mediaquery ($bp-header) {
				display: none;
			}
		}

		.picture {
      height: 56px;
      margin: 0 auto;
      overflow: hidden;
      width: 56px;

			img {
				height: 56px;
        object-fit: cover;
        object-position: 0 center;
        vertical-align: middle;
        width: 56px;

				@include mediaquery ($bp-header) {
					height: 40px;
          width: 40px;
				}
			}

			@include mediaquery ($bp-header) {
				display: table-cell;
				width: 40px;
				height: 40px;
				margin: 0;

			}
		}

		.child-avatar {
      border-bottom: 1px solid $darkest-shiro;
      padding: $gap * 4 $gap $gap * 2;
			position: absolute;
			left: 0;
			right: 0;

			@include mediaquery ($bp-header) {
        border-bottom: 0;
				display: table;
				position: static;
				padding: 0;
			}

		}
	}
}

.nav-bar-drop-down {
  border-top: 1px solid $darkest-shiro;
  padding-top: $gap * 2;
  margin-top: $gap * 2;

  @include mediaquery ($bp-header) {
    position: relative;
    margin-top: 0;

    .nav-bar-drop-down-layer {
      overflow: visible;
      position: absolute;
      right: $gap * 2;
      top: 72px;
      width: 188px;
    }

    .nav-bar-user {
      background-color: $shiro;
      border: 1px solid $light-silk;
      border-radius: $border-radius-m;
      box-shadow: 0 0 4px $light-silk;
      padding: $gap * 2 $gap;
      position: relative;
      text-align: left;
      z-index: $zindex-modal-layer;

      &:before {
        border-bottom: 12px solid $light-silk;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        bottom: 100%;
        content:"";
        height: 0;
        right: 17px;
        margin-left: -12px;
        position: absolute;
        width: 0;
      }

      &:after {
        bottom: 100%;
        border-bottom: 10px solid $shiro;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        content:"";
        position: absolute;
        height: 0;
        right: 19px;
        margin-left: -$gap;
        width: 0;
    	}
    }
  }
}

.wrap-overlay {
	position: fixed;
	width: 100%;
}

.wrap-overlay::before {
	display: block;
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 2;
	z-index: $zindex-wrap-overlay;
}

.wrap-transition .open-menu:nth-of-type(1) {
	left: 0;
    -webkit-box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
      -moz-box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
	       box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
}

.wrap-transition::before {
	background: rgba(0,0,0,0.6);
}

@media only screen and (max-width: $header-start) {
	.nav-mobile {
		//android 4.3
		-webkit-box-orient: block-axis;
		   -moz-box-orient: block-axis;
		        box-orient: block-axis;
		//
	}

}

//print header

@media print {
  .global-nav {
		overflow: visible;
		padding: 0;
		margin: 0 0 $gap * 2;
		background: none;
		border: 0 none;

		a.nav-bar-toggle {
			display: none;
		}

		.nav-mobile {
			position: static;

		}
		.nav-bar-menu {
			border: 0 none;
		}

		.nav-bar-avatar,
		&.global-nav-logged .nav-bar-avatar,
		.nav-bar-access,
		.nav-bar-menu li span,
		.nav-bar-menu li + li {

			display: none;
		}

		.nav-bar-menu .logo,
		&.global-nav-brand .logo {
			height: auto;
			width: auto;
			padding: 0;
			margin: 0;
			display: block;
		}

		.logo img {
			display: block;
			width: 138px;
		}
	}
}
