.global-nav {
	margin-top: -10px; // delete margin from container-expanded on navigation menu (only mobile)
	overflow: hidden;
	background-color: $dark-blue;
	background-repeat: no-repeat;
	background-position: center center;
	//bg logo es
	background-image: url(#{$path-media}/portales/ij/appgrade/svgs/ij-logo-default_primary-white.svg);
	background-size: 98px;

	@include mediaquery ($bp-header) {

		background-image: none;
		margin-top: 10px;

		.logo span {
			display: none;
		}

	}

	h1 {
		margin: 0;
	}

	.logo img {
		display: none;

	}

	a:not([class*="btn"]) {
		@include bold;
		font-size: $large-font-size;

		@include mediaquery ($bp-header) {
			font-size: $base-font-size;
			font-family: $base-font-family;
		}
	}

	&.global-nav-submenu {
		a {
			font-size: $medium-font-size;

			@include mediaquery ($bp-header) {
				font-size: $small-font-size;
			}
		}

		.nav-bar-submenu a {
			font-size: $large-font-size;

			@include mediaquery ($bp-header) {
				font-size: $base-font-size;
			}
		}

		//ocultamos Inicio en movil cuando hay submenu
		.logo {
			display: none;

			@include mediaquery ($bp-header) {
				display: block;
			}

		}
	}

	.nav-bar-submenu a {
		font-size: $base-font-size;
	}

}

.global-nav-brand {
	@at-root .global-nav#{&} {
		height: 50px;
		min-height: 50px;
		background-color: $color-contrast;
		background-image: url(#{$path-media}/appgrade/svgs/ij-logo-default_primary-white.svg);
		border: 0 none;

		@include mediaquery ($bp-header) {
			background-position: 20px center;
		}

		.logo,
		.logo:hover {
			display: block;
			height: 50px;
			width: 130px;
			margin: 0 auto;
			padding: 10px 20px;
			border: 0 none;

			@include mediaquery ($bp-header) {

				margin: 0;

			}

		}

	}
}

.nav-bar-user li a,
.nav-bar-submenu li a {
	padding: 15px 10px;

	@include mediaquery ($bp-header) {
		padding: 15px;
	}
}

.nav-bar-submenu li:first-child a {
	padding-top: 20px;

	@include mediaquery ($bp-header) {
		padding: 0;
	}
}

.nav-bar-user li:first-child a.avatar {
	padding-top: 40px;

	@include mediaquery ($bp-header) {
		padding: 0;
	}
}

.nav-bar-submenu li:first-child {
	a {
		@include mediaquery ($bp-header) {
			padding: 15px 10px 15px 20px;
		}
	}
}

.nav-bar-submenu li:last-child {
	a {
		padding-bottom: 20px;

		@include mediaquery ($bp-header) {
			padding-bottom: 15px;
		}
	}
}

.nav-bar-user li:last-child {
	padding-left: 10px;
	padding-right: 10px;

	@include mediaquery ($bp-header) {
		padding: 0;
	}

	a {
		padding-right: 0;
		padding-bottom: 15px;
		padding-left: 0;
		border-top: 1px solid $darkest-shiro;

		@include mediaquery ($bp-header) {
			padding-bottom: 0;
			border-top: 0;
		}
	}
}

a.nav-bar-toggle {
	display: block;
	margin: 0;
	width: 50px;
	height: 50px;
	-webkit-tap-highlight-color: rgba(227, 245, 253, 0.5); // Not visualized
	-webkit-tap-highlight-color: transparent; /* For some Androids */

	&::before {
		position: relative;
		top: 25px;
		left: 10px;
		color: $darkest-shiro;
		font-size: $xxlarge-font-size;
	}

	&:hover {
		color: $dark-shiro;
	}

	span {
		display: none;
	}

	@include mediaquery ($bp-header) {
		display: none;
	}

}

.nav-mobile {
	@include display-flex;
	@include flex-flow(column nowrap);
	position: absolute;
	top: 0;
	left: -100%;
	height: 100%;
	max-height: 100vh;
	width: 260px;
	background: $dark-shiro;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

	z-index: $zindex-menu;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;

	@include mediaquery ($bp-header) {
		display: block;// en desktop quitamos el flexbox por compatibilidad con android 4.3
        -webkit-transition: none 0s ease 0s;
		        transition: none 0s ease 0s;
		position: static;
		height: auto;
		width: auto;
		overflow: hidden;
		background: $dark-blue;
	}

	.global-nav-company & {
		padding-top: 80px;

		@include mediaquery ($bp-header) {
			padding-top: 0;
		}
	}

}

.nav-bar-menu {
	@include flex(1 1 auto);
	@include order(1);
	overflow: auto;

	> li {
		float: none;

		@include mediaquery ($bp-header) {
			float: left;
		}

		&  a {
			display:block;
			position: relative;
			padding: 17px 10px 13px 10px;
			margin: 0;
			color: $dark-silk;
			-webkit-tap-highlight-color: rgba(227, 245, 253, 0.5); // Not visualized
			-webkit-tap-highlight-color: transparent; /* For some Androids */

			@include mediaquery ($bp-header) {
				padding: 30px 20px;
				color: $soft-blue;
			}

			&:hover {
				@include mediaquery ($bp-header) {
					color: $shiro;
				}
			}
		}
	}

	.logo,
	.logo:hover {
		padding-top: 20px;

		@include mediaquery ($bp-header) {
			margin: 20px 0 0 0;
			padding: 0;
			display: block;
			height: 41px;
			width: 138px;
			background-repeat: no-repeat;
			background-position: left center;
			//bg logo es
			background-image: url(#{$path-media}/portales/ij/appgrade/svgs/ij-logo_claim_primary-white.svg);
			background-size: contain;
		}
	}

	.global-nav-submenu & {
		@include order(2);
		@include flex(0 0 auto);
		overflow: visible;
	}

	.global-nav-submenu & .logo,
	.global-nav-submenu & .logo:hover {

		@include mediaquery ($bp-header) {
			padding: 0;
			margin: 10px 0 0 0;
			height: 19px;
			width: 77px;
			background-image: url(#{$path-media}/portales/ij/appgrade/svgs/ij-logo-default_primary-white.svg);

		}
	}

	@include mediaquery ($bp-header) {
		float: left;
		overflow: visible;
		padding: 0 20px;

		.global-nav-submenu & > li > a {
			padding: 10px 15px;
		}
	}

}

.global-nav-logged.global-nav-submenu {

	.nav-bar-menu {
		background: $dark-shiro;
		border-top: 1px solid $darkest-shiro;

		@include mediaquery ($bp-header) {
			border-top: 0;
		}

		li {
			border-bottom: 1px solid $darkest-shiro;

			&:first-child,
			&:last-child {
				border: 0;
			}

			@include mediaquery ($bp-header) {
				border-bottom: 0;

				& > a {
					color: $soft-blue;
					-webkit-tap-highlight-color: rgba(227, 245, 253, 0.5); // Not visualized
					-webkit-tap-highlight-color: transparent; /* For some Androids */

					&:hover {
						color: $shiro;
					}
				}
			}
		}

		@include mediaquery ($bp-header) {
			background: $dark-blue;
		}
	}

}

.nav-bar-access,
.nav-bar-user {
	@include display-flex;
	@include align-items(center);

	@include mediaquery ($bp-header) {
		float: right;
		border: 0 none;
	}
}

.nav-bar-access {
	padding: 10px;
	@include order(2);
	border-top: 1px solid $midnight-blue;

	@include mediaquery ($bp-header) {
		padding: 25.5px 20px;
		border-top: 0;
	}

	li {
		@include flex(1 1 50%);
		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}

		@include mediaquery ($bp-header) {
			@include flex(0 0 auto);
		}
	}

[class*="btn"] {
		width: 100%;

		@include mediaquery ($bp-header) {
			width: auto;
		}
	}

}

.nav-bar-user {
	@include order(3);
	@include flex(0 0 auto);

	@include mediaquery ($bp-header) {
		padding: 10px 20px;
	}

	li {
		@include flex(1 0 auto);

		@include mediaquery ($bp-header) {
			position: relative;

			&:first-child {
				margin-right: 15px;
			}

			&:first-child::after {
				content: "|";
				position: absolute;
				right: -5px;
				top: calc(45% - 0.5em);
				color: $darkest-shiro;
			}
		}
	}

	.logout {
		display: block;
		padding: 15px 10px;
		color: $soft-script;

		&:hover {
			color: $shiro;
		}

		@include mediaquery ($bp-header) {
			display: inline;
			padding: 0;
			color: $soft-blue;
		}
	}

	.global-nav-logged &,
	.global-nav-company & {
		display: block;

		@include mediaquery ($bp-header) {
			@include display-flex;
		}
	}

	.global-nav-company & {

		@include mediaquery ($bp-header) {
			padding: 30px 20px 30px 0;
		}

		.avatar {
			height: 80px;

			@include mediaquery ($bp-header) {
				height: auto;
			}
		}
	}

	.avatar {
		position: absolute;
		left: 0;
	    top: 0;
		padding: 30px 20px;
	    width: 100%;
		height: 90px;
		text-align: center;
		color: $shiro;
		background: $dark-silk;

		@include mediaquery ($bp-header) {
			position: relative;
			padding: 0;
			width: auto;
			height: auto;
			text-align: left;
			color: $soft-blue;
			background: none;
			white-space: nowrap;
		}

		&:hover {
			color: $shiro;
		}

		.name {
			white-space: nowrap;
			max-width: 100%;

			@include mediaquery ($bp-header) {
				display: table-cell;
				vertical-align: middle;
				max-width: 180px;
				padding-right: 10px;
				padding-left: 7px;
			}
		}

		.picture {
			width: 60px;
			height: 60px;
			border: 3px solid $shiro;
			margin-bottom: 10px;
			overflow: hidden;

			img {
				width: 57px;
				height: 57px;
			    object-fit: cover;
			    object-position: 0 center;
			    vertical-align: middle;

				@include mediaquery ($bp-header) {
					width: 27px;
					height: 27px;
				}
			}

			@include mediaquery ($bp-header) {
				display: table-cell;
				width: 33px;
				height: 33px;
				margin-bottom: 0;

			}
		}

		.child-avatar {
			position: absolute;
			left: 0;
			right: 0;
			padding: 0 10px;

			@include mediaquery ($bp-header) {
				display: table;
				position: static;
				padding: 0;
			}

		}

		.bg-blur {
			display: block;
		    position: absolute;
		    left: 0;
		    top: 0;
		    height: 100%;
		    width: 100%;
		   background-size: 100%;
		   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(46%, rgba(0, 0, 0, 0.08)), color-stop(59%, rgba(0, 0, 0, 0.08)), color-stop(100%, rgba(0, 0, 0, 0.9)));
		   background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);
		   background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);
		   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 46%, rgba(0, 0, 0, 0.08) 59%, rgba(0, 0, 0, 0.9) 100%);

			@include mediaquery ($bp-header) {
				display: none;
			}

		}
	}
}

.nav-bar-submenu {
	padding-top: 90px;
	background: $shiro;
	@include order(1);

	@include mediaquery ($bp-header) {
		clear: both;
		float: left;
		width: 100%;
		padding-top:0;
		background: $darkest-shiro;
	}

	> li  {
		@include mediaquery ($bp-header) {
			float: left;
			position: relative; // for position of sticker
		}

		& > a {
			display: block;
			color: $dark-silk;
			-webkit-tap-highlight-color: rgba(227, 245, 253, 0.5); // Not visualized
			-webkit-tap-highlight-color: transparent; /* For some Androids */

			&:hover {
				color: $dark-silk;

				@include mediaquery ($bp-header) {
					color:$day-blue;
				}
			}

			&:active {
				color:$day-blue;
			}
		}
	}

	.active {
		color: $day-blue;
	}

  [class*="badge"] {
    position: relative;
    top: -2px;

    @include mediaquery ($bp-header) {
      position: absolute;
      top: 5px;
      right: 15px;
    }
  }

  .badge-count {
    position: relative;
    top: -2px;

    @include mediaquery ($bp-header) {
      position: absolute;
      top: 10px;
      right: -7px;
    }
  }

	.global-nav-submenu & {
		@include flex(0 0 auto);

	}

}

.wrap-overlay {
	position: fixed;
	width: 100%;
}

.wrap-overlay::before {
	display: block;
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 2;
	z-index: $zindex-wrap-overlay;
}

.wrap-transition .open-menu:nth-of-type(1) {
	left: 0;
    -webkit-box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
      -moz-box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
	       box-shadow: 6px 0px 6px 0px rgba(0,0,0,0.4);
}

.wrap-transition::before {
	background: rgba(0,0,0,0.6);
}

@media only screen and (max-width: 945px) {

	// mantenemos a 10px el padding a partir de esta resolucion por coherencia con el punto de corte del menu (distitos -> 945 vs $tablet-start)
	.wrapper {
		padding: 0 10px;
	}

	.nav-mobile {
		//android 4.3
		-webkit-box-orient: block-axis;
		   -moz-box-orient: block-axis;
		        box-orient: block-axis;
		//
	}

}

@media only screen and (max-width: $mobile-start) {

	.wrapper {
		padding: 0;
	}

}

//print header

@media print {

	.global-nav {
		overflow: visible;
		padding: 0;
		margin: 0 0 20px 0;
		background: none;
		border: 0 none;

		a.nav-bar-toggle {
			display: none;
		}

		.nav-mobile {
			position: static;

		}

    .nav-bar-menu,
    &.global-nav-submenu .nav-bar-menu {
      border: 0 none;
    }

		.nav-bar-user,
		&.global-nav-logged .nav-bar-user,
		.nav-bar-access,
		.nav-bar-menu li span,
		.nav-bar-menu li + li,
    .nav-bar-submenu {

			display: none;
		}

		.nav-bar-menu .logo,
		&.global-nav-brand .logo {
			height: auto;
			width: auto;
			padding: 0;
			margin: 0;
			display: block;
		}

		.logo img {
			display: block;
			width: 138px;
		}


	}
}

.global-nav-transparent {
  @at-root .global-nav#{&} {
	background-color: transparent;
	background-image: url(//media.infojobs.net/portales/ij/appgrade/svgs/ij-logo-default_primary.svg);
	background-position: center 20px;
	
	@include mediaquery ($bp-header) {
		background-image: none;
		margin: 0 auto;
		max-width: $container-extended-width;
	}

    .nav-bar-wrapper {
      	background-color: $shiro;
		height: 100%;
		display: flex;
		flex-flow: column nowrap;

      @include mediaquery ($bp-header) {
        background-color: transparent;
		display: block;
      }
    }

    .nav-mobile {
      background-color: transparent;
    }

	.nav-bar-menu .logo, 
	.nav-bar-menu .logo:hover {
		@include mediaquery ($bp-header) {
			margin: $gap * 2 35px 0 0;
			padding: 0;
			display: block;
			height: 41px;
			width: 100px;
			background-repeat: no-repeat;
			background-position: left center;
			//bg logo es
			background-image: url(#{$path-media}/portales/ij/appgrade/svgs/ij-logo-default_primary.svg);
			background-size: contain;
		}
	}

    .nav-bar-menu > li a {
      color: $dark-silk;

      &:hover {
        color: $day-blue;
      }
    }
  }
}

a.nav-bar-toggle::before {
	color: #167db7;
	padding-top: 30px;
}

.experiment {
  background: #fff;
  overflow: hidden;

  .container {
    max-width: 100%;

    @include mediaquery ($bp-tablet) {
      width: 1100px;
    }
  }

  h2 {
    font-family: Proximanovalight;
    margin: 40px auto 0 auto;
    text-align: center;
    padding: 0 20px;
    margin-left: -10px;
    margin-bottom: 40px;
    width: 100%;
    font-size: 24px;
    line-height: 1.21;

    @include mediaquery ($bp-desktop) {
      font-size: 42px;
      line-height: 50px;
      margin-left: 0;
      margin-top: 100px;
      padding: 0 6px;
    }
      
    span { 
      background-color:#fff; 
      padding: 6px 10px;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;

      @include mediaquery ($bp-tablet) {
        padding: 6px 40px;
      }
    }
  }
  

  .xlarge span {
    display: none;

    @include mediaquery ($bp-desktop) {
      background: url(//media.infojobs.net/appgrade/discovery/home-empresas/img_list_offer.png) no-repeat center;
      color: #89bddb;
      font-size: 40px;
      display: inline-block;
      padding: 16px 35px;

      &.bbdd {
        background: url(//media.infojobs.net/appgrade/discovery/home-empresas/img_list_bbdd.png) no-repeat center;
        color: #f1c40f;
      }
    }
  }

  .xlarge {
    font-size: 18px;

    @include mediaquery ($bp-desktop) {
      font-size: 25px;
    }
  }

  .xxlarge {
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 0;
    padding: 0 40px;

    @include mediaquery ($bp-desktop) {
      font-size: 36px;
      margin-top: 300px;
      margin-bottom: 70px;
      padding: 0;
    }

    &.publish {
      @include mediaquery ($bp-desktop) {
        margin-top: 160px;
      }
    } 
    
  }

  .bg-home-empresas {
    background-image: url(//media.infojobs.net/appgrade/discovery/home-empresas/bg_header2.jpg);
  }

  .content-middle {
    flex-direction: column;
    
    @include mediaquery ($bp-desktop) {
      flex-direction: row;
    }
  }

  .content-type-text {
    margin-left: 0;
    order: 1;
    text-align: center;
    margin-top: 10px;
    flex: auto;

    @include mediaquery ($bp-desktop) {
      margin-left: -50px;
      order: 0;
      text-align: left;
      flex: 1;
    }
    
    p {
      margin-top: 8px;
      margin-left: 0;

      @include mediaquery ($bp-desktop) {
        margin-left: 85px;
      }     
    }
  }

  .content-type-media { 
    img {
      width: 150px;

      @include mediaquery ($bp-desktop) {
        width: auto;
      }
    }
  }

  .offer {
    background: #e7f1f7;
    padding: 20px 0;
    

    @include mediaquery ($bp-desktop) {
      height: 476px;
      margin-top: 250px;
      padding: 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      position: relative;

      @include mediaquery ($bp-desktop) {
        width: row;
      }
    }

    .claim {
      
      background-repeat: no-repeat;
      color: #0B5077;
      order: 1;
      text-align: center;

      .xxxlarge {
        font-size: 24px;
        line-height: 28px;
        padding: 0 20px;
        width: 80%;
          margin: 20px auto 33px auto;

        @include mediaquery ($bp-desktop) {
          font-size: 42px;
          line-height: 50px;
          padding: 0;
          width: 510px;
        }
      }

      @include mediaquery ($bp-desktop) {
        background-image: url(//media.infojobs.net/appgrade/discovery/home-empresas/bg_of_standard.png);
        margin-left: -150px;
        position: absolute;
        padding: 280px 110px;
        top: -100px;
        
      }

      .alert {
        color: #E25D5C;
      }

      .btn-large {
        margin-bottom: 40px;
      }
    }

    img {
      width: 100%;

      @include mediaquery ($bp-tablet) {
        
        display: flex;
        width: auto;
        margin: 0 auto;
      }

      @include mediaquery ($bp-desktop) {
        position: absolute;
        top: -70px;
        right: 0;
        width: auto;
      }
    }

    span img {
      width: 30%;
      position: absolute;
      left: calc(50% - 15%);
      top: calc(28% - 74px);

      @include mediaquery ($bp-tablet) {
        width: auto;
        right: calc(50% - 70px);
      }

      @include mediaquery ($bp-desktop) {
        top: 80px;
        left: auto;
        right: -60px;
        width: auto;
      }
    }
  }

  .title-logos {
    margin-bottom: 20px;

    @include mediaquery ($bp-desktop) {
      margin-top: 160px;
    }
  }

  .subtitle-logos {
    margin-bottom: 80px;
  }
}

.experiment,
.experiment-mkt {
  .semibold {
    @include semi-bold;
  }

  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 80px;
    

    @include mediaquery ($bp-desktop) {
      width: 1200px;
    }

    li {
      flex-grow: 1;
      margin-bottom: 10px;
      text-align: center;
      width: 50%;

      @include mediaquery ($bp-tablet) {
        width: 33%;
      }

      @include mediaquery ($bp-desktop) {
        width: 180px;
      }

      img {
        border-radius: 6px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04), 
              0 1px 16px 0 rgba(0, 0, 0, 0.16),
              0 2px 4px 0 rgba(0, 0, 0, 0.08);
        width: 90%;
        margin-bottom: 16px;
        
        @include mediaquery ($bp-desktop) {
          width: 180px;
        }
      }
    }
  } 
  
  .help {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04), 
          0 1px 16px 0 rgba(0, 0, 0, 0.16),
          0 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #083752;
    display: flex;
    
    @include mediaquery ($bp-desktop) {
      height: 318px;
      margin: 0 auto 230px auto;
      width: 1200px;
    }

    .text {
      padding: 40px;

      @include mediaquery ($bp-desktop) {
        padding: 80px 66px 80px 80px;
        width: 70%;

        .medium {
          margin-bottom: 40px;
        }

        span {
          color: #167db7;
        }
      }
    }
    
    .callcenter {
      display: none;

      @include mediaquery ($bp-desktop) {
        display: block;
        margin: 0;

        &:before {
          background: #fff;
          content: "";
          height: 318px;
          margin: 0px 0 0 -44px;
          position: absolute;
          transform: skew(-15deg);
          width: 88px;
        }
      }
    }

    .xlarge {
      font-size: 30px;
    }

    .text {
      color: #44484c;
      
      span {
        color: #44484c;
      }
    }
  }
}

.experiment-mkt {
  .content-top {
    @include mediaquery ($bp-tablet) {
      flex-wrap: nowrap;

      .content-type-text {
        flex: auto;
        flex: 1 1 80%;
      }
    }
  }

  .offer {
    background-color: #e7f1f7;
    padding: 20px 0;
    

    @include mediaquery ($bp-desktop) {
      height: 326px;
      margin-top: 262px;
      margin-bottom: 172px;
      padding: 0;
    }

    .container {
      flex-direction: column;
      position: relative;

      @include mediaquery ($bp-desktop) {
        display: flex;
        width: row;
      }
    }

    .claim {
      
      background-repeat: no-repeat;
      color: #4085cc;
      order: 1;
      font-size: 42px;
      line-height: 1.19;
      text-align: center;

      .xxxlarge {
        font-size: 24px;
        line-height: 28px;
        padding: 0 20px;
        text-align: center;

        @include mediaquery ($bp-tablet) {
          font-size: 42px;
          line-height: 50px;
          padding: 0;
        }

        @include mediaquery ($bp-desktop) {
          text-align: left;
        }
      }

      @include mediaquery ($bp-desktop) {
        background-image: url(//media.infojobs.net/appgrade/discovery/home-empresas/mkt/img-circle.png);
        width: 617px;
          padding: 100px 0 100px 77px;
        text-align: left;
      }

      .alert {
        color: #E25D5C;
      }

      .btn-primary {
        margin-bottom: 40px;
      }
    }

    img {
      width: 100%;

      @include mediaquery ($bp-desktop) {
        position: absolute;
        top: -140px;
        right: 0;
        width: auto;
      }
    }

    .img-offer {
      @include mediaquery ($bp-tablet) {
        width: 480px;
        margin: 0 auto;
      }
    }

    span.dto,
    span.dto.mobile {
      right: -100px;
      top: -70px;
      z-index: 5;
      background: url(//media.infojobs.net/appgrade/discovery/home-empresas/mkt/img-offer.png) no-repeat;
      padding: 70px 30px;
      font-size: 50px;
      color: #ffff;
      font-family: Proximanovabold;

      @include mediaquery ($bp-desktop) {
        position: absolute;
      }
    }

    span.dto {
      display: none;

      @include mediaquery ($bp-desktop) {
        display: block;
      }
    }

    span.dto.mobile {
      display: block;
      width: 150px;
      margin: 0 auto;

      @include mediaquery ($bp-desktop) {
        display: none;
      }
    }
  }

  .main {
    display: block;
    text-align: left;
    
    h2 {
      color: #287dc1;
      font-size: 24px; 
      line-height: 29px;

      @include mediaquery ($bp-tablet) {
        font-size: 42px;
        line-height: 50px;
      }
    }

    p {
      font-size: 24px; 
      line-height: 29px;
      font-family: Proximanovalight;
      margin-bottom: 40px;

      @include mediaquery ($bp-tablet) {
        font-size: 36px;
        line-height: 1.11;
        margin-bottom: 60px;
      }
    }

    .btn-primary {
      margin-bottom: 40px;
    }
  }

  .xxlarge {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 60px;

    @include mediaquery ($bp-tablet) {
      font-size: 36px;
      line-height: 36px;
    }

    @include mediaquery ($bp-desktop) {
      margin-top: 160px;

      &.found {
        margin-top: 60px;
      }
    }
  }

  .content-type-media {
    flex: auto;

    @include mediaquery ($bp-desktop) {
      flex: none;
    }

    img {
      width: 100%;

      @include mediaquery ($bp-desktop) {
        width: auto;
      }
    }
  }

  .bbdd {
    display: flex;
    flex-direction: column;

    @include mediaquery ($bp-desktop) {
      flex-direction: row;
    }

    .benify {
      @include mediaquery ($bp-tablet) {
        width: 480px;
        margin: 0 auto;
      }

      @include mediaquery ($bp-desktop) {
        width: auto;
        margin: 0 0 0 120px;
      }

      
      .content-type-text {
        margin-left: 20px;

        @include mediaquery ($bp-desktop) {
          margin-left: 50px;        
        }
      }

      display: flex;
      flex-direction: column;

      p {
        margin-top: 16px;
      }

      .content-type-media {
        flex: none;
        
        img {
          width: auto;
        }
      }
    }
  }
  
  .help {
    flex-direction: column;
    color: #2d3133;
    
    @include mediaquery ($bp-desktop) {
      flex-direction: row;
      width: 1038px;
      margin-bottom: 0;
    }
    
    
    .medium {
      font-size: 16px;
      font-family: Proximanovasemibold;
    }

    .call {
      font-size: 16px;
      line-height: 20px;

      @include mediaquery ($bp-desktop) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .text {
      @include mediaquery ($bp-tablet) {
        padding: 60px 40px;
      }
    }

    .xlarge {
      font-size: 20px;
      line-height: 24px;

      @include mediaquery ($bp-desktop) {
        font-size: 30px;
        line-height: 36px;
      }
    }

    .callcenter {
      display: block;
      background: #c0d8e8;
      padding: 50px 0;
      width: auto;
    
      @include mediaquery ($bp-desktop) {
        position: relative;
        width: 50%;
        padding: 0;
      }

      img {
        position: relative;
        width: 200px;
        display: block;
        margin: 0 auto;

        @include mediaquery ($bp-desktop) {
          position: absolute;
          width: 60%;
          position: absolute;
          right: 50px;
          top: 50px;
        }
      }
    }
  }
  .callcenter {
    background: #c0d8e8;
    position: relative;
    width: 50%;
  }

  .offer-section {
    display: flex;
    flex-direction: column;

    @include mediaquery ($bp-tablet) {
      margin: 0 auto;
      width: 480px;
    }

    @include mediaquery ($bp-desktop) {
      flex-direction: row;
      width: auto;
    }

    li {
      box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
      
      margin-bottom: 16px;
      padding: 40px 24px;

      @include mediaquery ($bp-desktop) {
        margin-right: 14px;
      }

      
      img {
        margin-bottom: 35px;
      }

      p {
        margin-top: 16px;
      }
    }
  }
  .desktop {
    @include mediaquery ($bp-tablet) {
        margin: 0 auto;
      }
  
    img {
      width: 100%;
    }
  }
}
