//generics
@import "../generics/generics";

//refactor
//@import "../core/fonts";
//@import "../core/colors";

/*------------------------------------*\
    $JOB LIST
\*------------------------------------*/

/*


Styleguide 2.8
*/

/* job-list */

.job-list {

    .result-list-header + & {
        margin-top: 0;
        border-top: none;
    }

    & + .border-top { //parche a doc listado-ofertas
        margin-bottom: 0;
        border-top: none;
    }

    .inner & {
        margin: 0 -10px;

        @include mediaquery ($bp-tablet) {
            margin: 0 -20px;
        }
    }

    .sticker-marked {
        @extend %marked-contrast;
        margin-left: 10px;

        .skin-executive & {
            background-color: $day-blue;
        }
    }

    .sticker-secondary {
        margin-bottom: 5px;
    }

    .tag-group-top {
        height: 20px;

        @include mediaquery ($bp-desktop) {
            height: auto;
        }

        li  {
            padding-right: 20px;
        }
    }

    .item {
        @include inner;
        @extend %font-small-line;
        position: relative;
        overflow: hidden;
        padding-bottom: 15px;
        border-bottom: 1px solid $darkest-shiro;
        -webkit-touch-callout:none;

        &:hover {
            @include mediaquery($bp-desktop) {
                background: #e3f5fd;
                cursor: pointer;

                .action-global {
                    visibility: visible;
                }
            }
        }

        &.item-nohover:hover {
            @include mediaquery($bp-desktop) {
                background: transparent;
                cursor: inherit;
            }
        }

        &:last-child {
            margin-bottom: 20px;
        }

        &:only-of-type {
            margin-bottom: 0;
        }

        p:last-child {
            margin-bottom: 5px;
        }

        .active {
            background: $dark-shiro;
            cursor: pointer;
        }

        .disabled a {
            color: $soft-script;
        }

        .action-global {
            float: right;
            margin-left: 10px;
            transition: none;

            @include mediaquery ($bp-desktop) {
                visibility: hidden;
                transition: none;
            }
        }
    }

    .title {
        @include font-medium-line;
        clear: left;
        margin-top: 0;
        margin-bottom: 0;

        a {
            color: $dark-silk;
        }

        a.discarded {
            text-decoration: line-through;
            color: $soft-script;
        }

        a:visited {
            color: $soft-script;
        }
    }

    .subtitle {
        @include font-small-line;
        margin-top: 0;
        margin-bottom: 5px;
        font-family: $base-font-family;

        .skin-executive & {
            font-size: 16px;
        }

        a {
            color: $mid-script;
            text-decoration: underline;
        }
    }

    .description {
        margin-top: 12px;
        margin-bottom: 10px;
        color: $mid-script;

        @include mediaquery ($bp-tablet) {
            width: 80%;

            &.without-logo {
                width: 100%;
            }
        }
    }

    .suggest {
        @include inner;
    }
}
// Quan hi ha logo, el nom de l'empresa ha de quedar truncat
// per no collapsar amb el logo

.result-list-logo .subtitle {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 1px;
}


/* result-list-pic-logo */
.result-list-pic-logo {
    width: 62px;
    height: 62px;
    float: right;
    margin-left: 20px;

    @include mediaquery ($bp-tablet) {
        width: 82px;
        height: 82px;
    }

    @include mediaquery ($bp-desktop) {
        width: 108px;
        height: 108px;
    }

    img {
        width: 52px;

        @include mediaquery ($bp-tablet) {
            width: 72px;
        }

        @include mediaquery ($bp-desktop) {
            width: 98px;
        }
    }
}


/* list-logos */

.list-logos {
    padding: 20px 0 20px 10px;
    max-height: 198px;
    overflow: hidden;
    background-color: $shiro;

    @include mediaquery ($bp-tablet) {
        padding-left: 20px;
    }

    .item {
        float: left;
        width: 25%;
        overflow: hidden;
        padding-right: 10px;

        img {
            width: 100%;
            height: auto;
        }

        &:hover {
            background-color: $shiro;
        }
    }
}


/* result-list-header */

.result-list-header {
	flex-direction: column; //TODO: make a mixin with vendors
	padding-bottom: 0;

    @include mediaquery ($bp-desktop) {
    	@include display-flex;
    	flex-direction: row; //TODO: make a mixin with vendors
    	padding-bottom: 20px;
        border-bottom: 1px solid $darkest-shiro;
    }

    .box {
        @include display-flex;
        @include flex;
        overflow: hidden;

        @include mediaquery ($bp-desktop) {
        	align-self: center;
        }
    }

    .header-filters {
        padding: 10px;

        @include mediaquery ($bp-tablet) {
            padding-left: 20px;
        }
    }

    h1 {
    	@include flex;
    	align-self: center;
        font-family: $base-font-family;
        font-size: $base-font-size;
        margin: 0;
        line-height: 23px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #333;

        @include mediaquery ($bp-desktop) {
        	white-space: normal;
        	overflow: visible;
            text-overflow: clip;
        }
    }

    .link {
    	align-self: center;
    }

    .action {
    	margin-top: 10px;

    	@include mediaquery ($bp-desktop) {
        	align-self: center;
        	margin-top: 0;
        }
    }
}


/* result-list-footer */

.result-list-footer {
    border-top: 1px solid $darkest-shiro;
    padding: 20px 10px;
    text-align: center;

    @include mediaquery ($bp-desktop) {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    @media print {
        display: none;
    }

}

//ToDo: esta clase debe subsituirse por una extend de list-default
.result-list-zero li {
    color: $mid-script;
}
