//generics
@import "../generics/generics";

/*------------------------------------*\
$KPI
\*------------------------------------*/

/*
KPI

Markup:
<div class="kpi">
	<h2 class="kpi-title">Ofertas para ti</h2>
	<a href="#" id="kpi-indicator-offers"
	data-endval="59"
	data-duration="1"
	class="kpi-indicator">158</a>
	<p>Basada en tus últimas búsquedas</p>
	<a class="link-underline" href="#">Buscar ofertas</a>
</div>

Styleguide 2.25
*/


.kpi {
	margin: 0 auto;
	text-align: center;

	p {
		margin: 0;
	}

}


.kpi-title {
	margin-bottom: 10px;
	font-size: $medium-font-size;
	line-height: $medium-line-height;

	@include mediaquery ($bp-tablet	) {
		font-size: $large-font-size;
		line-height: $large-line-height;
	}
}

.kpi-indicator {
	display: block;
	margin-bottom: 5px;
	font-size: 60px;
	line-height: 60px;
}
