//generics
@import "../generics/generics";

/*------------------------------------*\
$KPI
\*------------------------------------*/

/*
KPI

Structure to display indicators.

<a href="#{$sgp-kpi}" target="blank">#{$sgp-openPage}</a> with toggle show/hide for mobile device.
The example in demo needs toggle.js.

Markup:
<div class="kpi">
  <span data-endval="0" data-duration="1" class="kpi-indicator">0</span>
  <h2 class="kpi-title">Candidaturas activas</h2>
  <div class="kpi-body">
    <p>No te has inscrito en ninguna oferta recientemente</p>
	<a class="link-underline" href="#">Buscar ofertas de empleo</a>
  </div>
</div>

Styleguide #{$sgi-kpi}
*/


.kpi {
	margin: 0 auto;

	p {
		margin-bottom: 10px;
	}

	p:last-child {
		margin-bottom: 0;
	}

	.arrow {
		margin-left: 10px;
		padding-top: 5px;
	}

}

.kpi-title {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: $large-font-size;
	line-height: $large-line-height;
}

.kpi-body {
	padding-top:10px;
}

.kpi-indicator {
	padding: 0 10px 0 0;
	font-size: 36px;
	line-height: 27px;
	color: $day-blue;

    @include mediaquery ($bp-desktop) {
		color: $dark-silk;
	}

}
