//generics
@import "../generics/generics";

/*------------------------------------*\
$KPI
\*------------------------------------*/

/*
KPI

Markup:
<div class="kpi">
	<h2 class="kpi-title">Ofertas para ti</h2>
	<a href="#"><span class="kpi-indicator iconfont-Viewdetails">15</span></a>
	<p>Lorem ipsum <br><a href="#">Link</a></p>
</div>

Styleguide 2.25
*/


.kpi {
	margin: 0 auto;

	p {
		margin-bottom: 10px;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	.arrow {
		margin-left: 10px;
		padding-top: 5px;
	}

}

.kpi-title {
	margin-bottom: 0;
	padding-top: 3px;
	font-size: $medium-font-size;
	line-height: $medium-line-height;

	@include mediaquery ($bp-tablet	) {
		font-size: $large-font-size;
		line-height: $large-line-height;
		padding-top: 0;
	}
}

.kpi-indicator {
	font-size: 27px;
	line-height: 23px;

	@include mediaquery ($bp-tablet	) {
		display: block;
		font-size: 48px;
		line-height: 38px;
	}
}
