/*------------------------------------*\
    $LOADING
\*------------------------------------*/

$loading-sizes: small 15px, big 40px;

@each $type, $size in $loading-sizes {
  @keyframes Spinner--#{$type} {
    0% {
      box-shadow: -#{$size} $size $orange-soda, 0 $size * 2 $color-primary;
    }
    25% {
      box-shadow: 0 $size $orange-soda, -#{$size} $size * 2 $color-primary;
    }
    50% {
      box-shadow: 0 $size * 2 $orange-soda, -#{$size} $size $color-primary;
    }
    75% {
      box-shadow: -#{$size} $size * 2 $orange-soda, 0 $size $color-primary;
    }
    100% {
      box-shadow: -#{$size} $size $orange-soda, 0 $size * 2 $color-primary;
    }
  }
  @-webkit-keyframes Spinner--#{$type} {
    0% {
      box-shadow: -#{$size} $size $orange-soda, 0 $size * 2 $color-primary;
    }
    25% {
      box-shadow: 0 $size $orange-soda, -#{$size} $size * 2 $color-primary;
    }
    50% {
      box-shadow: 0 $size * 2 $orange-soda, -#{$size} $size $color-primary;
    }
    75% {
      box-shadow: -#{$size} $size * 2 $orange-soda, 0 $size $color-primary;
    }
    100% {
      box-shadow: -#{$size} $size $orange-soda, 0 $size * 2 $color-primary;
    }
  }
}

%loading-layer {
  background-color: rgba(255, 255 , 255, 0.8);
  bottom: 0;
  content: '';
  left: 0;
  right: 0;
  top: 0;
}

.loading {
  &--container {
    position: relative;
    z-index: 1;

    &:before {
      @extend %loading-layer;
      position: absolute;
    }
  }

  &--fullPage {
    &::before {
      @extend %loading-layer;
      position: fixed;
    }
  }

  @each $type, $size in $loading-sizes {
    &-file--#{$type} {
      box-shadow: -#{$size} $size $orange-soda, 0 #{$size}*2px $color-primary;
      animation: Spinner--#{$type} 1.5s ease-in-out infinite;
      -webkit-animation: Spinner--#{$type} 1.5s ease-in-out infinite;
      bottom: calc(50% + #{$size}/2);
      height: $size;
      left: calc(50% - #{$size}/2);
      overflow: hidden;
      text-indent: 100%;
      position: absolute;
      width: $size;
    }
  }
}
