/*------------------------------------*\
    $LOADING
\*------------------------------------*/

$size-loading: 15px;

.loading-layer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999999;
	background-color: rgba(255, 255 , 255, 0.8);
}

.loading {
  background-color: transparent;
  border-radius: 50%;
  width: $size-loading;
  height: $size-loading;
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: -#{$size-loading} $size-loading $orange-soda, 0 30px $color-primary;
  animation: Spinner 1.5s ease-in-out infinite;
  -webkit-animation: Spinner 1.5s ease-in-out infinite;

  &-text {
    bottom: 0;
    left: 0;
    margin-top: $padding * 2;
    position: fixed;
    right: 0;
    text-align: center;
    top: calc(50% + #{$size-loading * 2});
  }
}

@keyframes Spinner {
  0% {
    box-shadow: -#{$size-loading} $size-loading $orange-soda, 0 $size-loading * 2 $color-primary;
  }
  25% {
    box-shadow: 0 $size-loading $orange-soda, -#{$size-loading} $size-loading * 2 $color-primary;
  }
  50% {
    box-shadow: 0 $size-loading * 2 $orange-soda, -#{$size-loading} $size-loading $color-primary;
  }
  75% {
    box-shadow: -#{$size-loading} $size-loading * 2 $orange-soda, 0 $size-loading $color-primary;
  }
  100% {
    box-shadow: -#{$size-loading} $size-loading $orange-soda, 0 $size-loading * 2 $color-primary;
  }
}
@-webkit-keyframes Spinner {
  0% {
    box-shadow: -#{$size-loading} $size-loading $orange-soda, 0 $size-loading * 2 $color-primary;
  }
  25% {
    box-shadow: 0 $size-loading $orange-soda, -#{$size-loading} $size-loading * 2 $color-primary;
  }
  50% {
    box-shadow: 0 $size-loading * 2 $orange-soda, -#{$size-loading} $size-loading $color-primary;
  }
  75% {
    box-shadow: -#{$size-loading} $size-loading * 2 $orange-soda, 0 $size-loading $color-primary;
  }
  100% {
    box-shadow: -#{$size-loading} $size-loading $orange-soda, 0 $size-loading * 2 $color-primary;
  }
}
