/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

/*
Messaging

Markup:
<ul class="messaging-list">
  <li class="messaging-list-item-init">
    <div class="messaging-body">
      <p class="messaging-title truncate">Desarrollador/Analista de aplicaciones web</p>
    </div>
    <a href="#" class="btn btn-primary">Iniciar chat <span></span></a>
  </li>
</ul>
<ul class="messaging-list">
  <li class="messaging-list-item">
    <div class="messaging-body">
      <div class="messaging-body-main">
        <p class="messaging-title truncate">UX / UI Designer</p>
      </div>
      <div class="messaging-body-secondary">
        <p class="messaging-last-text truncate">Julia: a buscar curro en InfoJobs todos los días, a buscar curro en InfoJobs todos los días, a buscar curro en InfoJobs todos los días, a buscar curro en InfoJobs todos los días</p>
      </div>
    </div>
    <div class="messaging-icons-right">
      <p class="iconfont-Arrow focus" title="Ir al chat"><span class="hide">Ir al chat</span></p>
    </div>
  </li>
  <li class="messaging-list-item">
    <div class="messaging-avatar">
      <img class="crop-circle-xsmall border-default" alt="Nombre Apellidos" src="https://media.infojobs.net/app/pictures/pic-view-cv-default-photo.png">
    </div>
    <div class="messaging-body">
      <div class="messaging-body-main">
        <p class="messaging-title truncate">UX / UI Designer</p>
        <time class="messaging-meta" datetime="2016-02-14 20:00">Ayer</time>
      </div>
      <div class="messaging-body-secondary">
        <p class="messaging-last-text truncate">Julia: a buscar curro en InfoJobs todos los días, a buscar curro en InfoJobs todos los días, a buscar curro en InfoJobs todos los días, a buscar curro en InfoJobs todos los días</p>
        <span class="sticker-new-secondary">10</span>
      </div>
    </div>
    <div class="messaging-icons-right">
      <p class="iconfont-Arrow focus" title="Ir al chat"><span class="hide">Ir al chat</span></p>
    </div>
  </li>
  <li class="messaging-list-item">
    <div class="messaging-avatar">
      <img class="crop-image-xsmall border-default" alt="Nombre Apellidos" src="https://media.infojobs.net/app/pictures/pic-view-cv-default-photo.png">
    </div>
    <div class="messaging-body">
      <div class="messaging-body-main">
        <p class="messaging-title truncate">UX / UI Designer</p>
        <time class="messaging-meta" datetime="2016-09-04 20:00">04/09/16</time>
      </div>
      <div class="messaging-body-secondary">
        <p class="messaging-last-text truncate">Julia: a buscar curro en InfoJobs todos los días, a buscar curro en InfoJobs todos los días, a buscar curro en InfoJobs todos los días, a buscar curro en InfoJobs todos los días</p>
      </div>
    </div>
    <div class="messaging-icons-right">
      <p class="iconfont-Arrow focus" title="Ir al chat"><span class="hide">Ir al chat</span></p>
    </div>
  </li>
  <li class="messaging-list-item">
    <div class="messaging-icons-left hide-medium-device hide-large-device">
      <p class="iconfont-ArrowLeft focus" title="Ir al chat"><span class="hide">Ir al chat</span></p>
    </div>
    <div class="messaging-avatar">
      <img class="crop-circle-xsmall border-default" alt="Nombre Apellidos" src="https://media.infojobs.net/app/pictures/pic-view-cv-default-photo.png">
    </div>
    <div class="messaging-body">
      <div class="messaging-body-main">
        <p class="messaging-title truncate">Desarrollador/Analista de aplicaciones web</p>
        <time class="messaging-meta" datetime="2016-08-14 20:35">20:35</time>
      </div>
      <div class="messaging-body-secondary">
        <p class="messaging-last-text truncate">Julia: Hooola</p>
      </div>
    </div>
  </li>
</ul>

Styleguide #{$sgi-messaging}
*/

.messaging-list {
  border-bottom: 1px solid $darkest-shiro;

  .messaging-list-item {
    @include display-flex;
    justify-content: space-between;
    padding: 0 $padding;
    background-color: $shiro;

    &.messaging-list-item-active {
      background-color: tint($day-blue, 90%);
    }

    p {
      margin: 0;
    }

    .btn {
      margin-left: $padding;
    }

    .messaging-body {
      flex-grow: 1;
      min-width: 0; //for text with ellipsis inside body
      border-bottom: 1px solid $darkest-shiro;
      padding: ($padding/2) 0;
    }

    .messaging-body-main,
    .messaging-body-secondary {
      @include display-flex;
    }

    .messaging-title {
      font-family: $base-font-family-semi-bold;
      margin-bottom: 4px;
      flex-grow: 1;
    }

    .messaging-last-text {
      flex-grow: 1;
    }

    .messaging-last-text,
    .messaging-meta {
      font-size: $small-font-size;
      line-height: $small-line-height;
      color: $soft-script;
    }

    .messaging-meta,
    [class*="sticker"] {
      margin-left: $padding/2;
    }

    .messaging-avatar {
      padding: ($padding/2) 0;
      margin-right: $padding/2;
    }


    &:last-of-type .messaging-body,
    &:last-of-type .messaging-icons-right {
      border: 0 none;
    }

  }

  .messaging-list-item-init {
    @extend .messaging-list-item;
    @include align-items(center);
  }

  [class*="iconfont-"]::before {
  	margin: 0;
  }

}

.messaging-icons-left,
.messaging-icons-right {
  padding: $padding 0;
}

.messaging-icons-left {
  padding-right: 5px;

  @include mediaquery ($bp-tablet) {
    padding-right: 0;
    display: none;
  }

}

.messaging-icons-right {
  padding-left: 5px;
  border-bottom: 1px solid $darkest-shiro;
}


.messaging-detail {
  max-width: 100%;
  overflow: hidden;

  p {
    overflow: hidden;
  }
  .message {
    overflow: hidden;
    clear: both;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    &-in {
      @extend .message;
      float: left;
      margin-right: 50px;
      border-bottom-left-radius: 0;
      background: $shiro;

      + time {
        clear: left;
        float: left;
        margin-top: 5px;
        color: $soft-script;
        @include font-small-line;
      }
    }

    &-out {
      @extend .message;
      float: right;
      margin-left: 50px;
      border-bottom-right-radius: 0;
      background-color: tint($kiiro,90%);

      + time {
        clear: right;
        float: right;
        margin-top: 5px;
        color: $soft-script;
        @include font-small-line;
      }
    }
  }
  .unread {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    text-transform: uppercase;
    @include font-small-line;
    color: $soft-script;

    &:before,
    &:after {
        background-color: $soft-script;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    &:before {
        right: 10px;
        margin-left: -50%;
    }
    &:after {
        left: 10px;
        margin-right: -50%;
    }
  }

  .messaging-reply {
    border-top: 1px solid $darkest-shiro;
  }

	@include mediaquery ($bp-tablet) {
    border-left: 1px solid $outer-fields;
  }
}

.messaging-compact {

  overflow: hidden;

  [class^="col-"],
  [class*="col-"] {
    width: 100%;

    &:last-child {
      margin-left: 10px;
    }
  }

  .messaging-detail {
    border-left: 0 none;
    max-width: calc(100% - 10px);
  }

  .messaging-icons-left {
    padding-right: 5px;
    display: block;
  }

}
