/*
Javascript Components

Styleguide 3
*/

/*------------------------------------*\
    $MODAL
\*------------------------------------*/

/*
Modal

Use the following classes structure to create a modal window:

- Use class `.modal-layer` to create the structure and class `.modal-fade-in` to apply the animation that shows it.
- Then nest `<div class="modal-inner">` to build the layout.
- Include the container `<div class="modal-header">` with the header structure.
- Include the container `<div class="modal-content">` with the content structure.



<a href="#{$sgp-modal}" target="blank">#{$sgp-openPage}</a>

Markup:
<div class="modal-layer modal-fade-in hide">
	<div class="modal-inner">
		<div class="modal-header">
			...
		</div>
		<div class="modal-content">
			...
		</div>
	</div>
</div>

Styleguide #{$sgi-modal}
*/

/*
Modal size

Apply width and height styles in the container `.modal-inner` for rewrite the default modal size.

Markup:
<div class="modal-inner hide" style="width: 370px; height: 579px;">
	...
</div>

Styleguide #{$sgi-modal-size}
*/

/*
Modal header #disabled#

Use the following structure inside the `.modal-header`, to define the closing action and the heading text.

Markup:
<div class="modal-header">
	<a title="" class="close-modal hit-area" href="#"></a>
	<h1 class="title">Title</h1>
</div>

Styleguide #{$sgi-modal-header}
*/

/*
Modal content

Use the structure it's needed inside the `.modal-content` to create the layout.

Markup:
<div class="modal-content">
	<p>Text content.</p>
</div>

Styleguide #{$sgi-modal-content}
*/

.modal-hidden {/*por defecto oculto*/
	display: none;
}

.modal-header {
	position: relative;
	height: 58px;
	padding: 20px 10px 15px 10px;
	overflow: hidden;
	color: $shiro;
	background-color: $color-header;

	@include mediaquery ($bp-tablet) {
		padding: 20px 20px 15px 20px;
 	}

	.title {
		font-size: $large-font-size;
		line-height: $large-line-height;
		margin: 0;
		float:left;
		padding-right: 40px;
		color: $shiro;
	}
}

.close-modal {
	@include iconfont-Close;
	position: absolute;
	top: 12px;
	right: 5px;
	left: auto;
	width: 30px;
	display: block;
	overflow: hidden;
	padding: 5px;
	font-size: ($large-font-size + 2);
	line-height: $large-line-height;

	&::before {
		color: $shiro;
	}

	&.focus::before {
		color: $day-blue;
	}

	&:hover {
		color: $shiro;
	}

	@include mediaquery ($bp-tablet) {
		right: 10px;
	}

	&.hit-area { //rules overwritten by .hit-area {position: relative;} on tools.scss
		position: absolute;
	}

}

.modal-content { //TODO: confirm this structure is necessary instead of .inner
	overflow: auto;

 	textarea {
 		min-height: 140px;
 	}

 	img {
		vertical-align: bottom;
		max-height: 160px;

		@include mediaquery ($bp-desktop) {
			max-height: 242px;
		}

	}

}

.modal-layer {

  &::before {
    content: "";
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  }

  &.modal-fade-in::before {
    display: block;
  }

}

.modal-inner {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	margin: 0 auto;
	max-width: 100%;
	//min-height: 100%;
	background-color: $shiro;
 	box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
 	z-index: 9999;

	//problems with iOS & safari
    -webkit-animation: modal-flipinX .3s both;
    animation: modal-flipinX .3s both;
	-webkit-transition: height 600ms;
	        transition: height 600ms;

	@include mediaquery ($bp-tablet - 1) {
		//top: 50%;
		min-height: inherit;
		bottom: auto;
    }

}

.modal-fade-out {
  -webkit-animation: modal-fade-out .4s both;
          animation: modal-fade-out .4s both;
}


//keyframes
@keyframes modal-fade-out {

  0% {
	visibility: visible;
	opacity: 1;
  }

  100% {
  	visibility: hidden;
    opacity: 0;
  }

}

@-webkit-keyframes modal-fade-out {

  0% {
	visibility: visible;
	opacity: 1;
  }

  100% {
  	visibility: hidden;
    opacity: 0;
  }

}

// modal-flipinX --------------------------------------------------------------

.modal-flipinX {
  -webkit-animation: modal-flipinX .6s both;
  animation: flipInX .6s both;
}

@keyframes modal-flipinX {
  from {
    transform: perspective(800px) translateY(-60%);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  to {
    transform: perspective(800px);
    opacity: 1;

	@include mediaquery ($bp-desktop) {

      transform: perspective(800px) translateY(-50%);

    }
  }
}

@-webkit-keyframes modal-flipinX {
  from {
    -webkit-transform: perspective(800px) translateY(-60%);
    -webkit-transition-timing-function: ease-in;
    opacity: 0;
  }

  to {
    -webkit-transform: perspective(800px);
    opacity: 1;

	@include mediaquery ($bp-desktop) {

      -webkit-transform: perspective(800px) translateY(-50%);

    }
  }
}


// fade-in --------------------------------------------------------------------

.modal-fade-in {
  -webkit-animation: modal-fade-in .4s both;
  animation: modal-fade-in .4s both;
}

@keyframes modal-fade-in {
  0% { opacity: 0; }
  100% { modal-fade-in: 1; }
}

@-webkit-keyframes modal-fade-in {
  0% { opacity: 0; }
  100% { modal-fade-in: 1; }
}

.mobile-header {
	position: fixed;
	width: 100%;
	z-index: 1;
	margin: -20px -10px 20px -10px;
	padding-right:0;

	.container-expanded & {
		margin-top: -20px;
	}

	h1 {
		margin: 0 0 0 15px;
		padding: 0 10px;
		font-size: 20px;
		line-height: 22px;
		color: white;
	}

	~ form {
		margin-top: 57px;
	}
}

.btn-save {
	z-index: 2;
	position: fixed;
	top: 0;
	right: 10px;
	margin-top: 10px;
}
.btn-cancel {
	z-index: 2;
	position: fixed;
	top: -7px;
	left: 0;
	color: white;
	margin-top: 18px;

	&:hover {
		color: white;
	}

	&.hit-area {
		position: fixed;
	}
}
