/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.links-bar {
	float: right; //replace for grid structure

	li {
		@extend %divider;
		float: left;
		padding: 0 10px;

		&:first-child {
			padding-left: 0;
		}

	 	&:last-child {
			padding-right: 0;
			border: 0;
		}
	}

	a,
	a:hover,
	a:active,
	a:visited {
 		//@extend %font-small-line !optional;
	}

	a:hover{
 		text-decoration: underline;
	}

	a.disabled:hover{
 		text-decoration: none;
	}

	@media print {
		display: none;
	}
}

.text-center ul.links-bar {
	margin-top: 5px;
}

@include mediaquery ($bp-tablet) {

	.text-center ul.links-bar {
		margin-top: 0;
	}

}
