/*------------------------------------*\
	$NOTIFICATIONS
\*------------------------------------*/

/*
Notifications

Contextual notifications for messages.

The modifier classes are `.notification-error` for errors, `.notification-success` for success,  `.notification-info` for information and `.notification-warning` for warnings.<br>
Use class `.notification-dismissable` for notifications with close button.<br>
Wrap in div with class `.notification-toast-fixed` to fix at top of the page, <a href="#{$sgp-notificationToast}" target="blank">#{$sgp-openPage}</a>

Markup:
<!-- Notification-->
<div class="notification notification-info">
	<p class="title">Lorem ipsum dolor sit</p>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget. <a href="#" class="link-underline">Link underline</a></p>
</div>
<!-- /Notification-->
<div class="container-expanded">
<!-- Notification error -->
<div class="notification notification-error notification-dismissable">
	<button class="btn-close" type="button">x</button>
	<p class="title">Lorem ipsum dolor sit</p>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget. <a href="#" class="link-underline">Link underline</a></p>
</div>
<!-- /Notification error -->
</div>
<div class="container-expanded">
<!-- Notification success -->
<div class="notification notification-success notification-dismissable">
	<button class="btn-close" type="button">x</button>
	<p class="title">Lorem ipsum dolor sit</p>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget. <a href="#" class="link-underline">Link underline</a></p>
</div>
<!-- /Notification success -->
</div>
<div class="container-expanded">
<!-- Notification info -->
<div class="notification notification-info notification-dismissable">
	<button class="btn-close" type="button">x</button>
	<p class="title">Lorem ipsum dolor sit</p>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget. <a href="#" class="link-underline">Link underline</a></p>
</div>
<!-- /Notification info -->
</div>
<div class="container-expanded">
<!-- Notification warning -->
<div class="notification notification-warning notification-dismissable">
	<button class="btn-close" type="button">x</button>
	<p class="title">Lorem ipsum dolor sit</p>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget. <a href="#" class="link-underline">Link underline</a></p>
</div>
<!-- /Notification warning -->
</div>

Styleguide #{$sgi-notifications}
*/

.notification {
	color: $shiro;
	padding: $padding;
	font-size: 16px;
	line-height: $base-line-height; //revisar line-height

  &.notification-contextual {
    display: inline-block;
    padding: $padding/2;
    color: $dark-silk;

    &.notification-success {
      //@include iconfont-Big-check;
      background-color: tint($bamboo,80%);

      &::before {
        color: $bamboo;
      }
    }
    &.notification-error {
      background-color: tint($trueblood,80%);

      &::before {
        color: $trueblood;
      }
    }

  }

  &.notification-icon {
    padding-left: 35px;
    position: relative;

    &::before {
      position: absolute;
      top: $padding;
      left: $padding/2;
    }

  }

	a,
	a:hover,
	a:focus {
		color: $shiro;
	}

	.notification-toast & {
		opacity: .9;
	}

  .notification-toast-fixed & {
    position: fixed;
    width: 100%;
    max-width: $container-width;
    top: 0;

		@include mediaquery ($bp-tablet) {

			margin: 0 10px;

		}

		@include mediaquery ($bp-tablet) {

			margin: 0 auto;

		}
	}
}

.notification-toast {
  position: relative;
  z-index: $zindex-notification;
}

.notification .btn-close { //TODO: update for font-icons
	color: inherit;
	position: absolute;
	right: 15px;
	top: 10px;
}

.notification .title {
	margin-bottom: 5px;
	font-family: $base-font-family-bold;
	font-size: 20px;
	line-height: 100%;
	color: $shiro;
}

.notification-error {
	background: $trueblood;
}

.notification-success {
	background: $bamboo;

}

.notification-info {
	background: $outer-king;
}

/*TODO: var to be defined*/
.notification-warning {
	color: $dark-silk;
	background: #e1a900;

	a,
	a:hover,
	a:focus {
		color: $dark-silk;
	}

	.title {
		color: $dark-silk;
	}
}

.notification-dismissable {
	position: relative;
	padding-right: 70px;
}
