/*------------------------------------*\
    $PAGINATION
\*------------------------------------*/

/*
Pagination

For pagination wrap a `.btn-group` structure with class `.pagination` as a parent.<br>
Use class `.active` for the active button.

Markup:
<div class="pagination">
	<div class="btn-group">
		<div>
			<button class="btn btn-default" id="page1" type="button">Anterior</button>
		</div>
		<div>
			<button class="btn btn-default" id="page1" type="button">1</button>
		</div>
		<div class="active">
			<button class="btn btn-default" id="page2" type="button">2</button>
		</div>
		<div>
			<button class="btn btn-default" id="page3" type="button">3</button>
		</div>
		<div>
			<button class="btn btn-default" id="pageNext" type="button" title="Siguiente">Siguiente</button>
		</div>
	</div>
</div>

Styleguide #{$sgi-pagination}
*/

.pagination {

	.btn-group {
		margin: 0 auto;
		width: 100%;

		@include mediaquery ($bp-tablet) {
			width: 440px;
		}

		@include mediaquery ($bp-desktop) {
			width: auto;
		}

	}
}

.pagination-top-microsite {

	@include mediaquery ($bp-tablet) {
		padding: $gap * 2;

	 	+ .inner {
			padding-top: 0;
		}
	}
}
