//generics
@import "../generics/generics";

/*------------------------------------*\
    $PAGINATION
\*------------------------------------*/

/*
Pagination

###Pagination
For pagination wrap a `.btn-group` structure with class `.pagination` as a parent.<br>
Use class `.active` for the active button.

Markup:
<div class="pagination">
	<div class="btn-group">
		<div class="active">
			<button class="btn btn-default" id="page1" type="button">1</button>
		</div>
		<div>
			<button class="btn btn-default" id="page2" type="button">2</button>
		</div>
		<div>
			<button class="btn btn-default" id="page3" type="button">3</button>
		</div>
		<div>
			<button class="btn btn-default" id="page4" type="button">4</button>
		</div>
		<div>
			<button class="btn btn-default" id="page5" type="button">5</button>
		</div>
		<div>
			<button class="btn btn-default" id="page6" type="button">6</button>
		</div>
		<div>
			<button class="btn btn-default" id="page7" type="button">7</button>
		</div>
		<div>
			<button class="btn btn-default" id="page8" type="button">8</button>
		</div>
		<div>
			<button class="btn btn-default" id="page9" type="button">9</button>
		</div>
		<div>
			<button class="btn btn-default" id="page10" type="button">10</button>
		</div>
		<div>
			<button class="btn btn-default" id="pageNext" type="button" title="Siguiente">Siguiente</button>
		</div>
	</div>
</div>
<div class="pagination">
	<div class="btn-group">
		<div>
			<button class="btn btn-default" id="page1" type="button">Anterior</button>
		</div>
		<div>
			<button class="btn btn-default" id="page1" type="button">1</button>
		</div>
		<div class="active">
			<button class="btn btn-default" id="page2" type="button">2</button>
		</div>
		<div>
			<button class="btn btn-default" id="page3" type="button">3</button>
		</div>
		<div>
			<button class="btn btn-default" id="page4" type="button">4</button>
		</div>
		<div>
			<button class="btn btn-default" id="page5" type="button">5</button>
		</div>
		<div>
			<button class="btn btn-default" id="page6" type="button">6</button>
		</div>
		<div>
			<button class="btn btn-default" id="page7" type="button">7</button>
		</div>
		<div>
			<button class="btn btn-default" id="page8" type="button">8</button>
		</div>
		<div>
			<button class="btn btn-default" id="page9" type="button">9</button>
		</div>
		<div>
			<button class="btn btn-default" id="page10" type="button">10</button>
		</div>
		<div>
			<button class="btn btn-default" id="pageNext" type="button" title="Siguiente">Siguiente</button>
		</div>
	</div>
</div>

Styleguide 2.9
*/


.pagination {
	@include inner;
	border-top: 1px solid $darkest-shiro;
	background: $shiro;
}

.pagination .btn-group {
	margin: 0 auto;
	width: 100%;
}

.pagination .btn-group .btn {
    width: 100%;
}

@include mediaquery ($bp-tablet) {

	.pagination .btn-group {
		width: 440px;
	}

	.pagination .btn-group .btn {
	    width: 100%;
	}

	.pagination-top-microsite {
		padding: 20px;
	}

	.pagination-top-microsite + .inner {
		padding-top: 0;
	}
}

@include mediaquery ($bp-desktop) {

	.pagination .btn-group {
      width: auto;
	}

	.pagination .btn-group .btn {
      width: auto;
	}
}
