/*------------------------------------*\
    $PANEL CLIPBOARD
\*------------------------------------*/
.panel-clipboard {
	padding: 10px;

	.iconfont-Attach {
		left: -10px;
		position: relative;
		top: -5px;
	}
}
