//generics
@import "../generics/generics";
@import "stickers";

/*------------------------------------*\
    $CHOSEN
\*------------------------------------*/

/*

Styleguide 2.16
*/

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: $base-font-size;
  zoom: 1;
  *display: inline;
  border: 1px solid #c7c7c7; //TODO: var to be defined on _vars.scss
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url(#{$path-backgrounds}/bg-select-arrow.png) right 50% no-repeat $shiro;

  .error & {
      border: 1px solid $trueblood;
  }
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 9999;
  margin-left: -1px;
  width: calc(100% - -2px);
  border-top: 0;
  border-right:1px;
  border-bottom:1px;
  border-left:1px;
  border-style: solid;
  border-color: #c7c9ca;
  background: $shiro;
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  @include input;
  position: relative;
  overflow: hidden;
  border:0 none;
  text-decoration: none;
  white-space: nowrap;

    @media only screen and (max-width: $tablet-start) {
  	padding: 10px;
  }

}

.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $dark-silk;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url(#{$path-media}/appgrade/backgrounds/bg-select-arrow.png) right 50% no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 23px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  /*background: url(#{$path-media}/appgrade/backgrounds/bg-select-arrow.png) right 50% no-repeat;*/
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid $dark-shiro;
  background-image:url(#{$path-media}/appgrade/backgrounds/bg-magglass-light.png);
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -3px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 300px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  float: none;
  margin: 0;
  padding: 10px 2%;
  list-style: none;
  line-height: 15px;
  -webkit-touch-callout: none;
  color: $dark-silk;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: $dark-shiro;
  color: $dark-silk;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: $dark-shiro;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  cursor: default;
  border-top: 1px solid $dark-shiro;
  font-size: 14px;
  font-weight: normal;
  color: $soft-script;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 10px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */

/* @group Multi Chosen */
.chosen-container-multi {

    .chosen-choices {
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0 30px 0 0;
        width: 100%;
        height: auto !important;
        height: 1%;
        background: url(#{$path-backgrounds}/bg-select-arrow.png) right 15px no-repeat $shiro;

        li {
          float: left;
          list-style: none;


        &.search-field {
            margin: 0;
            padding: 0;
            white-space: nowrap;

            input[type="text"]  {
                margin: 1px 0;
                padding: 5px;
                outline: 0;
                border: 0 !important;
                background: transparent !important;
                box-shadow: none;
                color: $dark-silk;
                font-size: 100%;
                line-height: normal;
                border-radius: 0;
            }
        }

        &.search-field {

            .default {
              color: #999;
            }
        }

        &.search-choice {
            @include sticker-multi;
            position: relative;
            margin: 5px 0 5px 5px;

            .search-choice-close {
                @include iconfont-Close;
                position: relative;
                top: 3px;
                padding: 10px 6px;
                cursor: pointer;
                color: $soft-script;
                font-size: $base-font-size;

                &:hover {
                    color: $dark-silk;
                }
            }
        }

        // &.search-choice-disabled {
        //
        //     .search-choice-close {
        //
        //         &:hover {
        //
        //         }
        //     }
        // }

        // &.search-choice-focus {
        //
        //     .search-choice-close {
        //
        //         &:hover {
        //
        //         }
        //     }
        // }
}
    }

    .chosen-results {
      margin: 0;
      padding: 0;
    }

    .chosen-drop .result-selected {
      display: list-item;
      color: #ccc;
      cursor: default;
    }
}


/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
}
.chosen-container-active.chosen-with-drop .chosen-single {
    transition: none;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: right 50%;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background-image:url(#{$path-media}/appgrade/backgrounds/bg-magglass-light.png);
  background-position: 98% 50%;
  background-repeat: no-repeat;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

.chosen-select {
    border: 1px solid #c7c7c7;
}

.chosen-container-multi.chosen-container-active .chosen-choices {
    border-bottom: 1px solid $dark-shiro;
}
/* @end */
/* @group Retina compatibility */
// @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
//   .chosen-rtl .chosen-search input[type="text"],
//   .chosen-container-single .chosen-single abbr,
//   .chosen-container-single .chosen-single div b,
//   .chosen-container-single .chosen-search input[type="text"],
//   .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
//   .chosen-container .chosen-results-scroll-down span,
//   .chosen-container .chosen-results-scroll-up span {
//     background-image: url('chosen-sprite@2x.png') !important;
//     background-size: 52px 37px !important;
//     background-repeat: no-repeat !important;
//   }
// }
/* @end */
