//generics
@import "../generics/generics";

/*------------------------------------*\
    $search-bar
\*------------------------------------*/

.search-bar {
	padding: 10px;
	font-size: 14px;
	vertical-align: middle;

	&-main {
		background-color: $day-blue;

		label {
			color: $shiro;
		}

	}

	.skin-executive & {
		background-color: $mediterranean-sea;
	}

	.inner & {
		padding: 0;
	}

	.form-field-inline {
		padding-right: 0;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

	}

	.search-keyword-field,
	.search-country-field,
	.search-submit-field {
		float: none;
		width: 100%;
	}

	.radio-group {
		margin-bottom: 0;
	}

	.radio-group li {
		padding: 10px 10px 10px 0;
	}

	input[type="radio"] {
		margin: 2px 5px 0 2px;
		width: auto;
	}

	label {
		margin-bottom: 5px;
		line-height: 105%;
	}

	input {
		width: 100%;
	}

	.search-country-field li {
		margin-bottom: 0;

	}

	.radio-group label {
		margin: 0;

	}

	.js-show-field {
		display: none;

		&.js-field-open {
			display: block;
		}
	}


	@media print {
		display: none;
	}

}

@include mediaquery ($bp-tablet) {

	.search-bar {
		padding: 20px;

		.radio-group label {
			margin-bottom: 5px;

		}

	}

}

@include mediaquery ($bp-desktop) {

	.search-bar {

		ul:first-of-type {
			display: table;
			width: 100%;
		}

		.form-field-inline {
			display: table-cell;
			vertical-align: bottom;
			padding-right: 10px;
			margin-bottom: 0;

			&:last-child {
				padding-right: 0;
			}
		}

		.search-keyword-field {
			width: 50%;
		}

		.search-country-field {
			width: auto;
		}

		.search-submit-field {
			width: auto;
			overflow: hidden;
		}

		.radio-group li {
			padding: 0;
		}

		.js-show-field {
			display: table-cell;

			&.js-field-open {
				display: table-cell;
			}
		}


	}

}

@media only screen and (max-width: $tablet-start) {

	.search-bar {

		.search-keyword-field {

			input {
				background-image:url(//media.infojobs.net/appgrade/backgrounds/bg-magglass-light.png);
			    background-position: 98% 50%;
			    background-repeat: no-repeat;
			    padding-right: 18%;
			}
		}

		.radio-group li:first-child {
			margin-right: 10px;
		}

		.form-select {
			height: 44px;
		}

		.chosen-container-single .chosen-single {
			margin-top: 2px;
			padding: 10px;
		}

	}



}
