/*------------------------------------*\
    $SOCIAL-FOOTER
\*------------------------------------*/

.social-footer {

	display: table;

	dt {
    @include bold;
		display: none;
		color: $dark-softened;
		font-size: $medium-font-size;
		line-height: $medium-line-height;

		@include mediaquery ($bp-desktop) {
			display: table-cell;
			padding-right: 10px;
			padding-top: 5px;
			vertical-align: middle;

		}

	}

	dd {
		display: table-cell;
		padding-left: 10px;
		vertical-align: middle;
	}

}
