//generics
@import "../generics/generics";

/*------------------------------------*\
    $SOCIAL-FOOTER
\*------------------------------------*/

.social-footer {

	display: table;

	dt {
		display: none;
		color: $outer-king;
		@extend %font-medium-line;

		@include mediaquery ($bp-desktop) {
			display: table-cell;
			vertical-align: middle;

		}



	}

	dd {
		display: table-cell;
		vertical-align: middle;
	}

}
