/*------------------------------------*\
    $STEPS
\*------------------------------------*/

/*
Steps

Markup:
<ol class="steps">
	<li class="step-focus">Paso </span>1. Step One</li>
	<li>2. Step Two</li>
</ol>

Styleguide #{$sgi-steps}
*/

.steps {

	@include display-flex;
	@include vendor-prefix('flex-flow', 'row wrap');
	margin-bottom: 40px;

    li {

		@include display-flex;
        @include flex;
        padding: 0 5px;
		overflow: hidden;
        color: $soft-script;
        border-bottom: 2px solid;

        & + li {
            margin-left: 10px;
            }

        }

    .step-focus {
        color: inherit;
        border-bottom: 2px solid $color-primary;

    }

	.text-center {
	           -webkit-box-pack: center;
	    -webkit-justify-content: center;
	              -ms-flex-pack: center;
	            justify-content: center;
	}

  &--bullet {
    text-align: center;

    li {
      display: inline-block;

      &::before {
        border: 1px solid $theme-color-primary;
        border-radius: 5px;
        content: ' ';
        display: inline-block;
        height: 10px;
        margin-right: 5px;
        width: 10px;
      }

      &.active::before {
        background-color: $theme-color-primary;
  		}
  	}

    span {
      display: none;
    }
  }


}

/*
Steps bullet

Markup:
<ol class="steps--bullet">
  <li><span>1</span></li>
  <li class="active"><span>2</span></li>
  <li><span>3</span></li>
  <li><span>4</span></li>
</ol>

Styleguide #{$sgi-steps-bullet}
*/
