@import "../generics/generics";

//refactor
//@import "../core/fonts";
//@import "../core/colors";

/*------------------------------------*\
    $STICKERS
\*------------------------------------*/

.sticker {
    font-family: 'Proximanova';
    font-size: $xsmall-font-size;
    line-height: 16px;
    display: inline-block;
    padding: 0 10px;
    border-radius: 10px;

    @media print {
    	padding: 0;
    }
}

.sticker-marked {
    color: $shiro;
	background-color: $bamboo;
}

.sticker-secondary {
	color: $shiro;
	background-color: $day-blue;
}

.sticker-skill,
.skin-executive a.sticker-skill {
	margin: 0 5px 0 0;
    border: 1px solid $katana-slash;
    color: $dark-silk;
    background-color: $resting-katana;
    cursor: pointer;

    &:hover {
    	color: $dark-silk;
    	background-color: $katana-slash;
	}

	&:active {
    	background-color: $katana-smash;
	}
}

.sticker-executive {
    color: $shiro;
	background-color: $dark-silk;
}

/*
Sticker Tag group

Use class `.tag-group` and `.tag-group-sticker` for list items inline of stickers.

Markup:
<ul class="tag-group tag-group-sticker">
    <li><a href="#" class="sticker sticker-skill">Javascript</a></li>
    <li><a href="#" class="sticker sticker-skill">Office</a></li>
    <li><a href="#" class="sticker sticker-skill">HTML</a></li>
    <li><a href="#" class="sticker sticker-skill">Java</a></li>
</ul>

*/

.tag-group-sticker li {
    padding-right: 0;
}

@include mediaquery ($bp-desktop) {

    .tag-group li.tag-sticker {
        float: left;
    }

}
