//refactor
@import "../core/fonts";
//@import "../core/colors";

/*------------------------------------*\
    $STICKERS
\*------------------------------------*/

/*
Stickers

Examples of stickers.

Markup:
<a href="#" class="sticker">Javascript</a>
<a href="#" class="sticker-marked">Javascript</a>
<a href="#" class="sticker-contrast">Javascript</a>
<a href="#" class="sticker-secondary">Javascript</a>
<span class="sticker-label-marked">Sticker label marked</span>
<span class="sticker-label-warning">Sticker label marked</span>
<span class="sticker-label-error">Sticker label marked</span>
<br>
<div class="panel-focus inner"><span class="sticker-label-opacity">Sticker label opacity</span></div>

Styleguide #{$sgi-stickers}
*/

.sticker {
  @include sticker;
  color: $sticker-color;
  background-color: $sticker-background;

  @at-root {
    a#{&}:hover {
      color: $sticker-color--hover;
    	background-color: $sticker-background--hover;
    }
  }
}

.sticker-marked {
  @include sticker;
  color: $shiro;
	background-color: $bamboo;

  &:hover {
      color: $shiro;
  }

  &[class*="iconfont-"]::before {
    color: $shiro;
  }
}

.sticker-contrast {
  @include sticker;
  color: $shiro;
	background-color: $dark-silk;

  &:hover {
      color: $shiro;
  }

  &[class*="iconfont-"]::before {
	  color: $shiro;
  }
}

.sticker-secondary {
	@include sticker;
  color: $shiro;
	background-color: $color-primary;

  &:hover {
      color: $shiro;
  }
}

.sticker-input {
  @include sticker;
  color: $mid-script;
  border: 1px solid #c7c7c7;
  background-color: $dark-shiro;
}

.sticker-label {
  @include sticker-label;
  color: $sticker-color;
  background-color: $sticker-background;
}

.sticker-label-opacity {
  @include sticker-label;
  color: $shiro;
  background-color: tint(transparent,30%);
  border: transparent;
}

.sticker-label-marked {
  @include sticker-label;
  color: $dark-silk;
  background-color: tint($bamboo,80%);
}

.sticker-label-warning {
  @include sticker-label;
  color: $dark-silk;
  background-color: tint($kiiro,80%);
}

.sticker-label-error {
  @include sticker-label;
  color: $dark-silk;
  background-color: tint($trueblood,80%);
}

/*
Stickers size

Size for stickers.

Markup:
<a href="#" class="sticker-small">Javascript</a>

Styleguide #{$sgi-stickerSize}
*/

.sticker-small {
	@include sticker;
  padding: 0 10px;
  font-size: $xsmall-font-size;
  line-height: 14.6px;

  &[class*="iconfont-"]::before {
	font-size: $small-font-size;
  }
}

/*
Stickers skill

Examples of stickers like skills in a list.

Markup:
<ul class="list-default list-inline">
    <li class="sticker-skill">
        <img src="//media.infojobs.net/portales/ij//appgrade/pictures/pic-skills.svg#high" alt="High level">Adobe Photoshop
	    <a class="sticker-close" title="close" href="#"></a>
    </li>
    <li class="sticker-skill">
	    <img src="//media.infojobs.net/portales/ij//appgrade/pictures/pic-skills.svg#medium" alt="Medium level">CSS
	    <a class="sticker-close" title="close" href="#"></a>
    </li>
    <li class="sticker-skill">
	    <img src="//media.infojobs.net/portales/ij//appgrade/pictures/pic-skills.svg#low" alt="Low level">Java
	    <a class="sticker-close" title="close" href="#"></a>
    </li>
</ul>

Styleguide #{$sgi-stickerSkill}
*/

.sticker-skill {
  @include sticker-skill;

  a#{&}:hover {
      color: $dark-silk;
      background-color: $katana-slash;
  }

  a#{&}:active {
      background-color: $katana-smash;
  }

  img {
    margin: 0 10px 0 0;
    vertical-align: text-top;
    width: $base-font-size;// equivalencia del width y font-size
  }

}

.sticker-close {
    @include iconfont-Close;
    position: relative;
    top: 3px;
    padding: 10px 6px;
    cursor: pointer;
    color: $soft-script;
    font-size: $base-font-size;

    &:hover {
        color: $dark-silk;
    }
}

/*
Stickers Tag group

Use class `.tag-group` and `.tag-group-sticker` for list items inline of stickers.

Markup:
<ul class="tag-group tag-group-sticker">
    <li><a href="#" class="sticker sticker-skill">Javascript</a></li>
    <li><a href="#" class="sticker sticker-skill">Office</a></li>
    <li><a href="#" class="sticker sticker-skill">HTML</a></li>
    <li><a href="#" class="sticker sticker-skill">Java</a></li>
</ul>

Styleguide #{$sgi-stickersGroup}
*/

.tag-group-sticker li {
    padding-right: 0;
}

@include mediaquery ($bp-desktop) { //ver oferta

    .tag-group li.tag-sticker {
        float: left;
    }

}
