/*------------------------------------*\
    $TABS
\*------------------------------------*/

/*
Tabs

Use class `.tabs` to create a structure of tabs inline. You must also add the class `.inner` to generate the padding.<br>
Use class `.tab-active` in active tab.

Markup:
<ul class="tabs inner">
	<li><a class="tab-active" href="#">Empresa</a></li>
	<li><a href="#">Personas</a></li>
</ul>

Styleguide #{$sgi-tabs}
*/

.tabs {
  border-bottom: 1px solid $darkest-shiro;

  > li {
    @include bold;
    display: inline-block;

    & + li {
      margin-left: $gap * 2;
    }
  }

  a {
    @include font(base);
    @include vendor-prefix('flex-flow', 'row wrap');
    padding-top: $gap * 2;
    padding-bottom: $gap * 2;
    color: $dark-silk;

    @include mediaquery ($bp-desktop) {
      @include font(medium);
    }

    &.tab-active {
      position: relative;
      color: $color-primary;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: $color-primary;
      }
    }
  }

  &.tabs-menu {
    border-bottom: 0 none;

    @at-root .inner #{&} {
      margin: 0 -$gap;

      @include mediaquery ($bp-tablet) {
        margin: 0 -$gap * 2;
      }
    }

    @at-root .inner-expanded #{&} {
      margin-top: -#{$gap};
      margin-bottom: -#{$gap};

      @include mediaquery ($bp-tablet) {
        margin-top: -#{$gap*2};
        margin-bottom: -#{$gap*2};
      }
  	}

    @at-root .inner#{&} {
      a {
        padding-right: 0;
        padding-left: 0;
      }
    }

    + h1 {
      margin-bottom: $gap * 2;
    }

    > li {
      position: relative;
  		display: block;
      border-top: 1px solid $darkest-shiro;

      .iconfont-Arrow {
        @include iconfont-Arrow;
				position: absolute;
				top: 26px;
				right: 0;
				left: auto;
      }

      & + li {
        margin-left: 0;
      }

      a {
        display: block;
        padding-right: $gap;
        padding-bottom: 15px;
        padding-left: $gap;

        @include mediaquery ($bp-tablet) {
          padding-right: $gap * 2;
          padding-left: $gap * 2;
        }

        &.tab-active {

          &::after {
            background: none;
          }
        }

        &.arrow-parent {
					padding-left: 70px;

          .arrow {
            width: 57px;
            height: 57px;
            display: block;
            padding-top: 22px;
            padding-left: 16px;
            top: 0;
            left: 0;
            position: absolute;
            background: $dark-shiro;
          }
        }
      }
    }
  }

  &.tabs-menu--link a { // based on .link class behaviour
    color: $color-primary;

    &:hover {
      text-decoration: underline;
    }
  }

  @at-root .tabs-hover#{&} {

    @include mediaquery ($bp-desktop) {

      a:hover {
        background-color: tint($day-blue , 80%);
      }
    }
  }

  .tabs-scroll & { //con scroll horizontal en movil

    @media only screen and (max-width: $mobile-start) {

      @include display-flex;
      @include flex-flow;
      width: 110%;// para android nativo

      li {
        @include flex(0 0 auto);
        -webkit-box-flex: 0;
           -moz-box-flex: 0;
                box-flex: 0;
      }
    }
  }

  @at-root & .tabs-content  {

    li,
    p {
      font-family: $base-font-family;

      a {
        @include font(base);
        display: inline;
        padding: 0;

        &:hover {
          background: none;
          text-decoration: underline;
        }
      }
    }
  }

  /*
  Tabs Icons

  Markup:
  <ul class="tabs tabs-icons">
  	<li><a class="icon-tab-comments tab-active" href="#">Tab 1</a></li>
  	<li><a class="icon-tab-messages" href="#">Tab 2</a></li>
  	<li><a class="icon-tab-timeline" href="#">Tab 3</a></li>
  </ul>

  Styleguide #{$sgi-tabsIcons}
  */

  /*
  Vertical tabs menu with link style

  Use class `.tabs-menu--link`, `.tabs-menu` and `.tabs` to create a structure of vertical tabs menu.

  Markup:
  <ul class="tabs tabs-menu tabs-menu--link inner">
  	<li><a href="#">Lorem Ipsum Link</a></li>
  	<li><a href="#">Lorem Ipsum Link</a></li>
  	<li><a href="#">Lorem Ipsum Link</a></li>
  	<li><a href="#">Lorem Ipsum Link</a></li>
  	<li><a href="#">Lorem Ipsum Link</a></li>
  </ul>

  Styleguide #{$sgi-tabsMenuLink}
  */

  &.tabs-icons {
    @include display-flex;

    li {
      @include flex(1 1 0);
      position: relative;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }

    a {
      @include display-flex;
      @include align-items(center);
      @include font(xsmall);
      @include flex-direction(column);
      @include semi-bold;
      justify-content: center;
      padding: $gap * 2 $gap (20px - 4);//4 es el alto del border del tab active

      &::before {
        color: $soft-script;
      }

      &:hover {
        color: $color-primary;

        &::before {
          color: $color-primary;
        }
      }

      &.tab-active {
        cursor: default;

        &::before {
          color: $color-primary;
        }
      }
    }
  }

  .badge-count {
    position: absolute;
    top: 20px;
    right: calc(50% - 25px);
  }
}

.tabs-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

/*
Vertical tabs menu

Use class `.tabs-menu` and `.tabs` to create a structure of vertical tabs menu.<br>
The tabs structure can also be with icons. <a href="#{$sgp-tabs}" target="blank">#{$sgp-openPage}</a>

Markup:
<ul class="tabs tabs-menu inner">
	<li><a href="#">Lorem Ipsum Link</a></li>
	<li><a href="#">Lorem Ipsum Link</a></li>
	<li><a href="#">Lorem Ipsum Link</a></li>
	<li><a href="#">Lorem Ipsum Link</a></li>
	<li><a href="#">Lorem Ipsum Link</a></li>
</ul>

Styleguide #{$sgi-tabsMenu}
*/

/*
Vertical tabs menu with link style

Use class `.tabs-menu--link`, `.tabs-menu` and `.tabs` to create a structure of vertical tabs menu.

Markup:
<ul class="tabs tabs-menu tabs-menu--link inner">
	<li><a href="#">Lorem Ipsum Link</a></li>
	<li><a href="#">Lorem Ipsum Link</a></li>
	<li><a href="#">Lorem Ipsum Link</a></li>
	<li><a href="#">Lorem Ipsum Link</a></li>
	<li><a href="#">Lorem Ipsum Link</a></li>
</ul>

Styleguide #{$sgi-tabsMenuLink}
*/
