/*------------------------------------*\
    $TEXT AREA RESIZED
\*------------------------------------*/

.textarea-resized {
	height: 30px;
	min-height: 30px;
	overflow-y: auto;
	word-wrap:break-word
}
