/*------------------------------------*\
	$THUMBNAIL
\*------------------------------------*/
//Revisar componente - font-size's

/*
Thumbnail logo

Logo with caption at bottom.
The combination of classes `.slide-up` in `<figure>` and `.slide-item` in `<figcaption>` is used to show the caption on hovering with the mouse over the logo.


Markup:
<div class="row">
	<div class="col-4">
	<!-- Thumbnail logo -->
	<figure class="fig-thumbnail fig-thumbnail-logo slide-up">
		<a href="#">
        <img style="width: 100%;" border="0" alt="" src="../images/pictures/pic-company-logo.png">			<figcaption class="fig-thumbnail-caption slide-item">
				<p class="fig-thumbnail-details">Ver ofertas</p>
			</figcaption>
		</a>
	</figure>
	<!-- /Thumbnail logo -->
	</div>
</div>

Styleguide #{$sgi-thumbnail}
*/

.fig-thumbnail {
	position:relative;
	text-align:left;
	background:$dark-shiro;

	p {
		margin:0;
	}

	img {
		display:block;
		// width: 82px;
	}
}

.fig-thumbnail-title {
	font-size: 18px;
	color:$shiro;
	margin:0;
}

.fig-thumbnail-description {
	font-size: 14px;
	color:$shiro;
}

.fig-thumbnail-details {
	color:$bamboo;
	font-size: 14px;
}

.fig-thumbnail-logo {
	border: 1px solid $darkest-shiro;
	background: $shiro;
	padding: 3px;

	.fig-thumbnail-caption {
		display: none;
	}

	img {
		width: 100%;
	}
}

.fig-thumbnail-caption {
	background: $dark-silk;
	opacity: .9;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.fig-logos-home {
	position: relative;
	border: 1px solid $darkest-shiro;
	height: 190px;
	overflow: hidden;

	.brand {
		position: relative;
		top: -50px;
		transition: all 500ms ease 0s;
		width: 100%;

		&::before {
			display: block;
			content: '';
			background-color: rgba(40, 110, 143, .8);
			height: 100%;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}

	figcaption {
		padding: 10px;
	}

	.logo {
		position: absolute;
		top: -37px;
		right: 10px;
		width: 70px;
		height: 70px;
		padding: 4px;
		border: 1px solid $darkest-shiro;
		background: $shiro;

		img {
			width: 100%;
		}
	}

	&--caption {
		position: absolute;
		top: 55px;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		border-top: 2px solid $color-primary;
		background-color: #F4F4F4; //ToDo: no existe como variable
		transition: all 500ms ease 0s;

		.title {
			height: 20px;
			overflow: hidden;
			margin: 0 80px 0 0;
			font-family: $base-font-family-bold;
			font-size: 16px;
			line-height: 18px;
			white-space: nowrap;
			color: $dark-silk;
			transition: all 300ms ease 0s;
		}

		.details {
			color: $color-primary;
			margin-bottom: 10px;
		}

		.description {
			opacity: 1;
			transition: all 800ms ease 0s;
			color: $dark-silk;
		}

	}
	@include mediaquery ($bp-tablet) {
		height: 225px;

	}

	@include mediaquery ($bp-desktop) {

		height: auto;

		&::after {
			content:"";
			display: block;
			height: 58px;
		}

		.brand {
			position: relative;
			top: 0;
			overflow: hidden;

			&::before {
				background-color: transparent;
				position: relative;
			}

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		&--caption {
			top: auto;
			bottom: -133px;
			height: 192px;

			.description {
				opacity: 0;
			}
		}

		&:hover {
			position: relative;

			.brand {
				top: -50px;
				transition: all 300ms ease 0s;

				&::before {
					display: block;
					content: '';
					background-color: rgba(40, 110, 143, .8);
					height: 100%;
					position: absolute;
					transition: all 400ms ease 0s;
					width: 100%;
					top: 0;
					left: 0;
					z-index: 1;
				}

			}

			.fig-logos-home--caption {
				bottom: 0;
				transition: all 250ms ease 0s;
			}

			.logo {
				top: -35px;
				transition: all 300ms ease 0s;
			}

			.title {
				transition: all 300ms ease 0s;
			}

			.description {
				opacity: 1;
				transition: all 400ms ease 0s, opacity 800ms ease 0s;
			}
		}
	}


}

@include mediaquery ($bp-desktop) {
	.fig-thumbnail-logo .fig-thumbnail-caption {
		display: block;
		text-align: center;
	}

	.fig-thumbnail-logo .fig-thumbnail-caption p {
		padding: 5px;
	}
}

@media only screen and (max-width: $tablet-start) {
	.fig-thumbnail-description  {
		display: none;
	}

}

@media only screen and (max-width: $mobile-start) {
	.fig-thumbnail {
		max-height: none;
	}
}
