//generics
@import "../generics/generics";

/*------------------------------------*\
	$TIPS
\*------------------------------------*/

.tips-list {

	li {

		width: 100%;
		overflow: hidden;
		border-bottom: 1px solid $katana-slash; //TODO: idem .list-divider except paddings and margins

		&:last-child {
			border: none;
		}

		& > div {
			position: relative;

			@include mediaquery ($bp-tablet) {
			// First create a flex layout context
				@include display-flex;
				///* Define the flow direction and if it's allowed the items to wrap. Default values are:
				//* flex-direction: row;
				//* flex-wrap: nowrap;
				//*
				//* This is the same as:
				//* flex-flow: row nowrap;
				//*/

				&.middle {
					align-items: center;

				}
			}
		}

	}


	.cell {

		&-1 {
			text-align: center;
			max-width: 70px;
			width: 70px;
			float: left;

			&.hide-small-device + .cell-2 {
				margin-left: 0;
			}

			@include mediaquery ($bp-tablet) {
				//Define a flex grow
  				@include flex;
				max-width: 140px;
				width: 140px;
				float: none;
			}

			@include mediaquery ($bp-desktop) {
				max-width: 180px;
				width: 180px;
			}

			.crop-circle {
				width: 50px;
				height: 50px;

				@include mediaquery ($bp-tablet) {
					width: 60px;
					height: 60px;
				}
			}

			.fig-thumbnail-logo {
				width: 50px;

				@include mediaquery ($bp-tablet) {
					width: 60px;
				}
			}
		}

		&-2 {
			margin-left: 70px;

			@include mediaquery ($bp-tablet) {
				//Define a flex grow
  				@include flex(2);
				width: auto;
				margin-left: 0;
			}

		}

	}

	.cell-1 [class^="icon-"],
	.cell-1 [class*=" icon-"] {
			display: block;
			margin: 0 auto;
			margin-bottom: 5px;
	}

	.cell-1 [class^="iconfont-"],
	.cell-1 [class*=" iconfont-"] {
		position: relative; //needed to position .iconfont-Flag applied by .main class

		@include mediaquery ($bp-desktop) {
			padding-bottom: 10px;
		}
	}

	.cell-1 [class^="iconfont-"]::before,
	.cell-1 [class*=" iconfont-"]::before {
			display: block;
			top: 0;
			color: $soft-script;

	}

	.title {
		margin-bottom: 10px;
		font-size: $medium-font-size;
		line-height: $medium-line-height;

		@include mediaquery ($bp-desktop) {
			font-size: $large-font-size;
			line-height: $large-line-height;
		}
	}

	& p {
		margin-bottom: 0;
	}

	.kind {
		display: none;

		@include mediaquery ($bp-desktop) {
			display: block;
			position: relative;
			font-size: $small-font-size;
			line-height: $small-line-height;
		}
	}

	.actions {

		a {
			display: inline-block;
			margin-top: 10px;

		}
	}

	.btn-close {
	    float: right;
	    position: relative;
	    top: -10px;
	    margin-left: 5px;
	    color: inherit;

	}

	//animations

	.fade-out {
		@include vendor-prefix('transition-duration', '400ms');
	}

	.close-animate {
		@include vendor-prefix('transition-duration', '200ms');
	}

	.open-tip {
		max-height: 0;
		-webkit-animation: opentip 2s 1.5s;
		        animation: opentip 2s 1.5s;
 		-webkit-animation-iteration-count: 1;
		-webkit-animation-fill-mode: forwards;
		        animation-iteration-count: 1;
		    	animation-fill-mode: forwards;
	}

	@keyframes opentip {

		from {
			opacity: 0;
			max-height: 0;
		}

		to {
			opacity: 1;
			max-height: 280px;
		}

	}

	@-webkit-keyframes opentip {

		from {
			opacity: 0;
			max-height: 0;
		}

		to {
			opacity: 1;
			max-height: 280px;
		}

	}


}
