//generics
@import "../generics/generics";

/*------------------------------------*\
	$TIPS
\*------------------------------------*/

.tips-list {

	li {
		width: 100%;
		margin-top: 10px;
		border-bottom: 1px solid $katana-slash; //TODO: idem .list-divider except paddings and margins

		&:last-child {
			border: none;
		}

		@include mediaquery ($bp-tablet) {
			display: table;
			margin-top: 0;
		}

		@at-root #{&}.main .cell-1 [class*=" iconfont-"]::after {

			@include mediaquery ($bp-tablet) {
				position: absolute;
				top: 0;
				left: 50%;
				width: 30px;
				height: 30px;
				padding-top: 4px;
				font-family: 'Icons';
				content: "\e62a";
				border: 2px solid #e2e5e6;
				border-radius: 50%;
				color: $shiro;
				background-color: $bamboo;
			}

		}

		@at-root #{&}.main .kind {
			color: $bamboo;
		}

		@at-root #{&}.main .kind::before {
			content: "";
			position: absolute;
			top: 2px;
			left: -15px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #00a550;

			@include mediaquery ($bp-tablet) {
				display: none;
				border: none;
			}
		}
	}

	[class^="cell-"],
	[class*=" cell-"] {
		text-align: center;
		padding: 20px 10px; //TODO: placeholder .inner??
		vertical-align: middle;
		background-color: $shiro;

		@include mediaquery ($bp-tablet) {
			display: table-cell;
			vertical-align: middle;
			padding: 20px;
		}
	}

	.cell {

		&-1 {

			@include mediaquery ($bp-tablet) {
				max-width: 90px;
				width: 90px;
			}

			@include mediaquery ($bp-desktop) {
				max-width: 180px;
				width: 180px;
			}
		}

		&-2 {
			padding-bottom: 15px;

			@include mediaquery ($bp-tablet) {
				text-align: left;
				width: auto;
				padding-top: 20px;
			}

			.text {

				@include mediaquery ($bp-tablet) {
					padding-top: 0;
				}

			}
		}

		&-image {

			+ .cell-2  {
				padding-top: 0;
			}

			@include mediaquery ($bp-tablet) {
				width: 100px;
				margin: 0;
				padding: 20px 0 20px 20px;

				+ .cell-2  {
					padding-top: 20px;
				}

			}

			.crop-circle {
				width: 80px;
				height: 80px;
				border: 1px solid $darkest-shiro;
			}

			.crop-image {
				width: 100%;
				height: 80px;
				border: 1px solid $darkest-shiro;

				@include mediaquery ($bp-tablet) {
					width: 80px;
				}

			}
		}

	}

	.cell-1 [class^="icon-"],
	.cell-1 [class*=" icon-"] {
		display: none;

		@include mediaquery ($bp-desktop) {
			display: block;
			margin: 0 auto;
			margin-bottom: 5px;
		}
	}

	.cell-1 [class^="iconfont-"],
	.cell-1 [class*=" iconfont-"] {
		display: none;
		padding-left: 0; //needed to reset .iconfont-[size] padding-left heritance

		@include mediaquery ($bp-tablet) {
			position: relative; //needed to position .iconfont-Flag applied by .main class
			display: block;
		}

		@include mediaquery ($bp-desktop) {
			padding-bottom: 10px;
		}
	}

	.cell-1 [class^="iconfont-"]::before,
	.cell-1 [class*=" iconfont-"]::before {

		@include mediaquery ($bp-tablet) {
			display: block;
			top: 0;
			color: $soft-script;

			.main & {
				display: inline-block;
			}
		}

	}

	.title {
		margin-bottom: 0;

		& + p {
			margin-bottom: 0;
		}

		@include mediaquery ($bp-tablet) {
			font-size: $medium-font-size;
			line-height: $medium-line-height;
		}

		@include mediaquery ($bp-desktop) {
			font-size: $large-font-size;
			line-height: $large-line-height;
		}
	}

	.kind {
		display: inline;
		position: relative;
		font-size: $small-font-size;
		line-height: $small-line-height;
		color: $soft-script;

		@include mediaquery ($bp-tablet) {
			display: none;
		}

		@include mediaquery ($bp-desktop) {
			display: block;
		}
	}

	.btn {
		display: block;
		width: 100%;
		margin-top: 8px;

		@include mediaquery ($bp-tablet) {
			display: inline-block;
			width: auto;
		}
	}

	.link {
		display: block;
		margin-top: 15px;
		font-size: $small-font-size;

			@include mediaquery ($bp-tablet) {
				display: inline-block;
				margin: 0 0 0 10px;


			}

	}
}
