//generics
@import "../generics/generics";

/*------------------------------------*\
	$TIPS
\*------------------------------------*/

.tips-list {

	li {

		width: 100%;
		overflow: hidden;
		border-bottom: 1px solid $katana-slash; //TODO: idem .list-divider except paddings and margins

		&:last-child {
			border: none;
		}

		& > div {

			@include mediaquery ($bp-tablet) {
			// First create a flex layout context
			@include display-flex;
			///* Define the flow direction and if it's allowed the items to wrap. Default values are:
			//* flex-direction: row;
			//* flex-wrap: nowrap;
			//*
			//* This is the same as:
			//* flex-flow: row nowrap;
			//*/
			align-items: center;
			}
		}


	}

	[class^="cell-"],
	[class*=" cell-"] {
		vertical-align: top;

		@include mediaquery ($bp-tablet) {
			vertical-align: middle;
			padding: 20px;
		}
	}

	.cell {

		&-1 {
			text-align: center;
			max-width: 70px;
			width: 70px;
			float: left;

			@include mediaquery ($bp-tablet) {
				//Define a flex grow
  				@include flex;
				max-width: 140px;
				width: 140px;
				float: none;
			}

			@include mediaquery ($bp-desktop) {
				max-width: 180px;
				width: 180px;
			}

			.crop-circle {
				width: 50px;
				height: 50px;

				@include mediaquery ($bp-tablet) {
					width: 60px;
					height: 60px;
				}
			}
		}

		&-2 {
			margin-left: 70px;

			@include mediaquery ($bp-tablet) {
				//Define a flex grow
  				@include flex(2);
				width: auto;
				padding-top: 20px;
				margin-left: 0;
			}

		}

	}

	.cell-1 [class^="icon-"],
	.cell-1 [class*=" icon-"] {
			display: block;
			margin: 0 auto;
			margin-bottom: 5px;
	}

	.title {
		margin-bottom: 0;
		font-size: $medium-font-size;
		line-height: $medium-line-height;

		@include mediaquery ($bp-desktop) {
			font-size: $large-font-size;
			line-height: $large-line-height;
		}
	}

	& p {
		margin-bottom: 0;
	}

	.kind {
		display: none;

		@include mediaquery ($bp-tablet) {

			display: inline-block;
		  	margin-top: 8px;
		}

		@include mediaquery ($bp-desktop) {
			position: relative;
			font-size: $small-font-size;
			line-height: $small-line-height;
			color: $shiro;
		}
	}

	.actions {
		margin-top: 8px;
	}

	.fade-out {
		@include vendor-prefix('transition-duration', '400ms');
	}

	.close-animate {
		@include vendor-prefix('transition-duration', '200ms');
	}

}
