/*------------------------------------*\
    $TOOLBAR
\*------------------------------------*/

/*
Toolbar

Markup:
<div class="container-toolbar">
  <ul class="toolbar">
    <li><img src="//media.infojobs.net/appgrade/icons/ico-print.svg" alt="Print">
  </ul>
</div>

Styleguide #{$sgi-toolbar}
*/

.container-toolbar {
  position: relative;

  .toolbar {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.toolbar {

  li {
    display: inline-block;
    margin-right: $gap / 2;
  }

  li:last-child {
    margin-right: 0;
  }

  img {
    vertical-align: middle;
  }

  @media print {
    display: none;
  }

}
