/*------------------------------------*\
    $USER FEEDBACK
\*------------------------------------*/

/*
User Feedback

Use class `.user-feedback` followed by the nested structure `.link-user-feedback` to create the feedback container.

You can define a copy for mobile or desktop using data-mobile and data-desktop in html tag (example: `<a href="#" class="link-user-feedback" data-mobile="Mobile text" data-desktop="Desktop text">User Feedback</a>`) and calling changeButtonText.js.

<a href="#{$sgp-userFeedback}" target="blank">#{$sgp-openPage}</a>

Markup:
<div class="user-feedback">
	<a href="#" class="link-user-feedback">User Feedback</a>
</div>


Styleguide #{$sgi-user-feedback}
*/

.user-feedback {
	position: fixed;
	overflow: hidden;
	display: inline-block;
	top: 25%;
	right: 0;
	padding: 10px;
	font-size: 14px;
    font-weight: bold;

	-webkit-transform-origin: right bottom 0;
		-ms-transform-origin: right bottom 0;
			transform-origin: right bottom 0;
	-webkit-transform: rotate(-90deg);
    	 -o-transform: rotate(-90deg);
	        transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    background: $bamboo;
    z-index: 9999;

	@include mediaquery ($bp-tablet) {
    	right: 5%;
	    bottom: 0;
		top: auto;
		left: auto;
	    transform: none;
	    -webkit-transform: none;
	    -moz-transform: none;
	    -o-transform: none;
	    filter: none;
	}

	a:hover {
		color: $shiro;
	}

	@media print {
		display: none;
	}
}

.link-user-feedback {
	color: #fff;
}
