//generics
@import "../generics/generics";

/*------------------------------------*\
    $USER FEEDBACK
\*------------------------------------*/

/*
User Feedback

Use class `.user-feedback` followed by the nested structure `.link-user-feedback` to create the feedback container.


Markup:
<div class="user-feedback">
	<a href="#" class="link-user-feedback">User Feedback</a>
</div>


Styleguide #{$sgi-user-feedback}
*/

.user-feedback {
	position: relative;
	height: 0;

	a:hover {
		color: $shiro;
	}

	@media print {
		display: none;
	}
}

.link-user-feedback {
    display: inline-block;
    position: fixed;
    padding: 10px;
    background: $bamboo;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
	left:100%;
   	top: 60%;
	-webkit-transform-origin: -40px 0 0;
		-ms-transform-origin: -40px 0 0;
			transform-origin: -40px 0 0;
	-webkit-transform: rotate(-90deg);
    	 -o-transform: rotate(-90deg);
	        transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    z-index: 9999;

	@include mediaquery ($bp-tablet) {
    	right: 5%;
	    bottom: 0;
		top: auto;
		left: auto;
	    transform: none;
	    -webkit-transform: none;
	    -moz-transform: none;
	    -o-transform: none;
	    filter: none;
	}

}
