//generics
@import "../generics/generics";

/*------------------------------------*\
    $USER FEEDBACK
\*------------------------------------*/

/*
User Feedback

Use class `.user-feedback` followed by the nested structure `.link-user-feedback` to create the feedback container.


Markup:
<div class="user-feedback">
	<a href="#" class="link-user-feedback">User Feedback</a>
</div>


Styleguide 2.22
*/

.user-feedback {
	position: relative;
	height: 0;

	@media print {
		display: none;
	}

	a:hover {
		color: $shiro;
	}
}
.user-feedback .link-user-feedback {
    display: inline-block;
    position: fixed;
    right: 5%;
    bottom: 0;
    padding: 10px;
    background: $bamboo;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    z-index: 9999;
}

@media only screen and (max-width: $tablet-start) {
	.user-feedback {
		display: none;
	}
}
