/*------------------------------------*\
    $VALUE-PROPOSITION-CO
\*------------------------------------*/

.value-proposition-preoffer1 {
	background-image: url(#{$path-media}/appgrade/pictures/pic-value-phone.png);
}

.value-proposition-preoffer2 {
	background-image: url(#{$path-media}/appgrade/pictures/pic-value-publication.png);
}

.value-proposition-preoffer3 {
	background-image: url(#{$path-media}/appgrade/pictures/pic-value-welcome.png);
}

.value-proposition-insert1 {
	background-image: url(#{$path-pictures}/pic-value-offer.png);
}

.value-proposition-insert2 {
	background-image: url(#{$path-pictures}/pic-value-crono.png);
}

.value-proposition-insert3 {
	background-image: url(#{$path-pictures}/pic-value-candidates.png);
}

.value-proposition-find1 {
	background-image: url(#{$path-pictures}/pic-value-search-cv.png);
}

.value-proposition-find2 {
	background-image: url(#{$path-pictures}/pic-value-love-offer.png);
}

.value-proposition-find3 {
	background-image: url(#{$path-pictures}/pic-value-cash.png);
}
