/*------------------------------------*\
    $VALUE-PROPOSITION-CO
\*------------------------------------*/

.value-proposition-preoffer1 {
	background-image: url(#{$path-media}/appgrade/pictures/pic-value-phone.png);
}

.value-proposition-preoffer2 {
	background-image: url(#{$path-media}/appgrade/pictures/pic-value-publication.png);
}

.value-proposition-preoffer3 {
	background-image: url(#{$path-media}/appgrade/pictures/pic-value-welcome.png);
}


