/*
Buttons

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra ante enim, cursus fringilla metus hendrerit non.

Styleguide 1.5
*/

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.btn {
    /*@include transition;*/
    display: inline-block;
    width: auto;
    height: 30px;
    padding: 0 10px;
    border: 1px solid transparent;
    color: $shiro;
    cursor: pointer;
    font-size: $small-font-size;
    font-weight: normal;
    line-height: 28px;
    overflow: visible;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    &:hover {
      @include transition;
    }

    @at-root button#{&} {
      border: 0 none; //TODO: pending a crossbrowser solution
    }

    @at-root #{&}[class*="iconfont-"]::before { //TODO: fix top position and margin-right to text
        font-size: $medium-font-size;
    }

    p > & {
        margin-left: 10px;

        @media only screen and (max-width: $mobile-start) {
            display: block;
            margin: 10px 0 0;
        }
    }

    + .btn {
        margin-left: 5px;
    }
}


/*
Buttons type

Use class `.btn` to create a button using `<a>` (outside forms) or `<button>` (only inside forms).
<br>
Also add one of the following classes to give it format:

`.btn-default` for a default action style<br>
`.btn-primary` for a primary action style<br>
`.btn-primary-contrast`for a primary action style over dark background

{modifier_class}:
.btn-default
.btn-primary
.btn-primary-contrast

Markup:
<a href="#" class="btn {{modifier_class}}">Link Button</a>

Styleguide 1.5.1.1
*/

.btn-default {
  color: $mid-script;
  background-color: $resting-katana;

  .skin-executive & {
  	color: $mediterranean-sea;
  	background-color: transparent;
  }

  .skin-executive .panel-executive .btn-group &,
  .panel-executive .btn-group & {
  	border-color: $mediterranean-sea;
  	color: $mediterranean-sea;
  	background-color: transparent;
  }

  .skin-executive .btn-group & {
  	border-color: $wood-katana-slash;
  	color: $mid-script;
  	background-color: $shiro;
  }
}

.btn-default:hover,
.btn-default:active {
    background: $katana-slash;
	color: $dark-silk;

	.skin-executive &,
	.skin-executive .panel-executive .btn-group & {
	    background-color: $mediterranean-sea;
		color: $shiro;
	}

	.skin-executive .btn-group & {
		color: $mid-script;
		background-color: $wood-katana-slash;
	}
}

.btn-primary {
  color: $shiro;
  background-color: $day-blue;

  .skin-executive & {
    color: $shiro;
    background-color: $mediterranean-sea;
  }
}

.btn-primary:hover,
.btn-primary:focus {
    color: $shiro;
    background-color: $late-blue;

  .skin-executive & {
    color: $shiro;
    background-color: $dark-mediterranean-sea;
  }
}

.btn-primary:active {
  background-color: $night-blue;
}

.btn-primary-contrast {
  color: $shiro;
  background-color: $late-blue;

  .skin-executive &  {
      background-color: $dark-mediterranean-sea;
  }
}

.btn-primary-contrast:hover,
.btn-primary-contrast:focus {
    color: $shiro;
    background-color: $night-blue;

  .skin-executive &  {
      background-color: $dark-mediterranean-sea;
  }
}

.btn-primary-contrast:active {
  background-color: $midnight-blue;

  .skin-executive &  {
      background-color: $dark-mediterranean-sea;
  }
}

///*DEPRECATED: .btn-link-primary only used in header and 'ver_oferta.html'*/
.btn-link-primary {
  color: $day-blue;
}

.btn-link-primary:hover,
.btn-link-primary:focus {
  text-decoration: underline;
  color: $late-blue;
}

.btn-link-primary + .btn-link-primary,
.btn-link-secondary + .btn-link-secondary {
  padding-left: 0;
}

///*DEPRECATED: .btn-link-secondary only used in header*/
.btn-link-secondary {
  color: $mid-script;
}

.btn-link-secondary:hover {
  text-decoration: underline;
  color: $dark-silk;
}

///*DEPRECATED: .btn-link-company only used in header*/
.btn-link-company {
  color: $soft-script;
}

.btn-link-company:hover {
  @extend .btn-link-secondary:hover;
  color: $shiro;
}


/*
Buttons size

Use class `.btn-medium` or `.btn-large` to change buttons size.

Markup:
<a href="#" class="btn btn-default {{modifier_class}}">Link Button</a>

{modifier_class}:

.btn-medium
.btn-large

Styleguide 1.5.1.2
*/

.btn-medium {
    height: 40px;
    padding: 0 10px;
    font-size: $base-font-size;
    line-height: 38px;

    @at-root #{&}[class*="iconfont-"]::before { //TODO: fix top position and margin-right to text
        font-size: 22px;
    }

    /*@at-root button#{&} {
        height: 40px;
    }*/

}

.btn-large {
    height: 42px;
    padding: 0 20px;
    font-size: $large-font-size;
    line-height: 40px;

    @media only screen and (max-width: $mobile-start) {
        font-size: $medium-font-size;
    }

    @at-root #{&}[class*="iconfont-"]::before { //TODO: fix top position and margin-right to text
        top: 7px;
        font-size: 30px;
    }

    /*@at-root button#{&} {
        height: 42px;
    }*/
}


/*
Buttons with text and icon

Use class `.iconfont-[name]` to display an icon inside the button.

Markup:
<a href="#" class="btn btn-primary btn-medium iconfont-Facebook">Link Button</a>

Styleguide 1.5.1.3
*/

/*
Buttons status

Use class `.btn-disabled` to show button as disabled.

Markup:
<a href="#" class="btn btn-default btn-medium btn-disabled">Link Button</a>

Styleguide 1.5.1.4
*/

button[disabled],
button:hover[disabled],
button:active[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:active,
.btn-disabled:focus {
   background: $shiro;
   color: $wood-katana-smash;
   text-decoration: none;
   cursor: default;

   // review this rule (not work without background, border,...)
   .skin-executive & {
     background: $wood-resting-katana;
     color: $wood-katana-smash;
   }
}


/*
Button annex

Use class `.btn-annex` to add an element adjacent to the button.

Markup:
<a href="#" class="btn btn-primary btn-medium btn-annex">Button</a>
<a href="#" class="link">Link</a>

Styleguide 1.5.1.5
*/

.btn-annex {
    margin-right: 15px;

    & + .link {
      white-space: nowrap;  //TODO: solve margin-top when .link fall down below .btn
      font-size: $small-font-size;
    }

    @at-root #{&}.btn-medium + .link {
        font-size: $medium-font-size;
    }

    @at-root #{&}.btn-large + .link {
        font-size: $large-font-size;
    }

    & + .field-annex { //needed for a check/radiobutton/link structure close to the btn

      display: inline-block;
        margin-top: 10px;

      input[type="checkbox"] + label {
        width: auto;
      }
    }

}


/*
Buttons display

Use class `.btn-form-inline` to display a full width button.

Markup:
<a href="#" class="btn btn-primary btn-form-inline">Button Element</a>

Styleguide 1.5.1.6
*/

.btn-form-inline { //only used on search-bar and filters
  width: 100%;

    @media only screen and (max-width: $tablet-start) {
        @at-root button#{&} {
            height: auto;
            padding: 10px;
            font-size: 16px;
        }
    }
}

/*
Button group

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra ante enim, cursus fringilla metus hendrerit non.

Styleguide 1.6

*/

/*
Button group structure

Use class `.btn-group` to create a button group structure.<br>
Use class `.btn-default` for buttons inside buttons group.<br>
Use class `.active` to highlight the selected button.<br>

Markup:
<div class="btn-group">
    <div class="active">
        <button class="btn btn-default" type="button">year</button>
    </div>
    <div>
        <button class="btn btn-default" type="button">month</button>
    </div>
    <div>
        <button class="btn btn-default" type="button">hour</button>
    </div>
</div>

Styleguide 1.6.1.1
*/

.btn-group { //TODO: Add hide text for empty buttons
    display: table;

    & > div {
        display: table-cell;
    }

    .btn {
        border-color: $katana-slash;
        border-width: 1px;
        border-style: solid;
    }

  	button { /* fix iOS buttons separation */
  		margin: 0;
  	}

  	.btn,
  	.btn:hover {
  		border-right-width: 0;
  		width: 100%;
  		background-color: $shiro;

  		&:hover:not([disabled]) {
  			background-color: $resting-katana;

  			.panel-executive & {
  				background-color: $mediterranean-sea;
  			}
  		}

  		&.btn-disabled:hover {
  			background: $shiro;
  		}
  	}

  	div:last-of-type .btn{
  		border-right-width: 1px;
  	}

  	.active .btn,
  	.active .btn.btn-disabled {
  	    background-color: $resting-katana;
  	    cursor: default;

  	    .skin-executive & {
  	 		background: $resting-katana;
  	 	}

  	 	.skin-executive .panel-executive & {
  			color: $shiro;
  			background-color: $mediterranean-sea;
  		}
  	}
}

/*
Button group justified

Use class `.btn-group-justified` to display `.btn-group` full width buttons.


Markup:
<div class="btn-group btn-group-justified">
    <div class="active">
        <button class="btn btn-default" type="button">year</button>
    </div>
    <div>
        <button class="btn btn-default" type="button">month</button>
    </div>
    <div>
        <button class="btn btn-default" type="button">hour</button>
    </div>
</div>

Styleguide 1.6.1.2
*/

/*
Button group with icon

Use class `.iconfont-[name]` to display an icon inside the button.

Markup:
<div class="btn-group">
    <div>
        <a class="btn btn-default iconfont-Facebook" href="#" title="Comparte esta oferta en Facebook"></a>
    </div>
    <div>
        <a class="btn btn-default iconfont-Twitter" href="#" title="Tweetea esta oferta"></a>
    </div>
</div>

Styleguide 1.6.1.3
*/

.btn-group-justified { //TODO: same properties than .btn-form-inline class
     width: 100%;

    .btn {
        width: 100%;
    }
}

///*DEPRECATED: .btn-divider and .btn-divider-company only used on header*/
.btn-divider {
  border-right: 1px solid $darkest-shiro;
}

///*DEPRECATED: .btn-divider and .btn-divider-company only used on header*/
.btn-divider-company {
  border-right:  1px solid $mid-script;
}

///*DEPRECATED: .btn-close only used on .toast, .notifications and red_de_contactos*/
.btn-close {
    padding: 0;
    font-size: 33px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.5;
    border: 0 none;
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
}
