@import "forms-autocomplete";
@import "forms-g-recaptcha";

/*------------------------------------*\
    $FORMS
\*------------------------------------*/

/*
Form elements

This section contains all the elements that we can use to build a form.

Styleguide #{$sgi-forms}
*/

@include placeholder;

fieldset {

	& + fieldset {
		margin-top: 40px;
	}

	&:first-child {
		margin-top: 0;
	}

	& > button {
		margin-top: 20px;
	}
}

legend {
	display: none;
}

label,
.label {
  display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
	font-size: $base-font-size;
	line-height: 125%;

  @media print {
    font-size: ($base-font-size/$point-to-px);
  }

	.error &:first-of-type {
		color: $trueblood;
	}
	.success &:first-of-type {
		color: $bamboo;
	}
}

.form--field-block {
	> li { //TODO: Could be possible to apply only a class in <form> to avoid do it in every <ul>?
		margin-bottom: 20px;
		vertical-align: middle;

		&:last-child {
			margin-bottom: 0;
		}

		.info {
			margin-bottom: 0;

			&:first-of-type:only-child {
				margin-top: 5px;
			}
		}

		label + .info {
			margin-top: -5px;
		}
	}

	> li:last-child {
			margin-bottom: 0;
	}

	label {
		width: 100%;
	}
}

//TODO: Nest .form-field-inline in .search-bar.scss component, because is not possible to apply this layout independently
.form-field-inline { // Used in search box + filters job search
	display: table;

	> label {
		margin-right: 10px;
		margin-bottom: 0;
    vertical-align: middle;
	}

	> input,
	> .form-select  {
  		display: inline-block;
  		width: 220px!important;
	}
}

@mixin form-field {
	display: block;
	padding: 4px 10px;
	font-size: $base-font-size;
	line-height: $base-line-height;
}


textarea,
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="button"],
input[type="submit"],
select {
  -webkit-appearance: none;
  border-radius: 0;
}

input {
  height: $medium-input-height;
  width: $input-width;

  &.#{&}-small {
    height: $small-input-height;
  }

  &[class*="btn"] {
    height: auto;
    width: auto;
  }
}

input,
textarea {
	@include form-field;
	color: $dark-silk;
	margin: 0;
	border: 1px solid $light-silk;

	.error & {
		border-color: $trueblood;
	}

	.success & {
		border-color: $bamboo;
		background: $light-bamboo;
	}

	&:focus {
    @include focus;
	}

  &.input-justify{
    width: 100%;
  }
}

::-webkit-input-placeholder {
	font-size: $base-font-size;
}

::-moz-placeholder { // firefox 19+
	font-size: $base-font-size;
}

:-ms-input-placeholder {
	font-size: $base-font-size;
}

::placeholder {
	font-size: $base-font-size;
}

.input-group {
	display: table;
	width: 100%;

	& > div {
		display: table-cell;
	}

	input { /* fix iOS buttons separation */
		margin: 0;
	}

	input {
		border-right-width: 0;
		width: 100%;
	}

	div:last-child input {
		border-right-width: 1px;
	}

	.active input {
	    background-color: $shiro;
	    cursor: default;
	}

	&-date {
    width: auto;
    border: 1px solid $light-silk;

		> div {
      		position: relative;

			&::before {
        content: "|";
        position: absolute;
        top: 12px;
        left: -5px;
        color: $light-silk;

				@at-root .input-small#{&} {
		      		top: 6px;
		      	}
			}

			&:first-of-type::before {
        		content: "";
			}

			input {
		      	width: 50px;
		      	margin-left: -4px;
		      	text-align: center;
		      	border: none;

		      	@at-root .input-small#{&} {
		      		height: $small-input-height;
		      	}
			}

			&:last-child input  {
	        	width: 66px;
			}
		}

		> div:first-of-type input {
			margin-left: 0;
		}

		.error & {
			border: 1px solid $trueblood;
		}
	}

	&-disabled {

		label {
			color: $darkest-shiro;
		}

		input[disabled],
		input[placeholder] {
			background: transparent;
			color: $darkest-shiro;
		}

		input::-webkit-input-placeholder {// no agrupar, el browser invalida la regla si no interpreta todas las lineas
			background: transparent;
			color: $darkest-shiro;
		}

		.input-group-date {
			border-color: $darkest-shiro;

			 > div::before {
				 color: $darkest-shiro;
			 }
		}
	}

}

input[type="number"] {
	-moz-appearance:textfield;

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
    margin: 0;
	}
}

input[type="tel"],
.row-centered .input-cif {
  margin-right: 20px;

	@include mediaquery ($bp-desktop) {
		width: $input-tel-width;
		float: left;
	}

	~ label {
		width: auto;
		margin: 10px 0 0 0;
	}

	~ input {
		margin: 12px 0 0 0;
	}

	~ .error-info {
    clear: both;
	  display: block;
	  padding-top: 5px;
	}
}

.row-centered .input-PostalCode,
.input-PostalCode {
	width: 70px; // 5 digits format (ES, IT)
}

.field-date-group { // group of date fields

	.start-date-group {
		float: left;
		padding-right: 10px;

		@include mediaquery ($bp-tablet) {
			padding-right: 20px;
		}
	}

	.end-date-group {
		float: left;

		.list-default {
			@include display-flex;
			@include flex-direction(column);

			@include mediaquery ($bp-tablet) {
				@include flex-direction(row);
			}

		}

		.end-date {
			float: left;//Fallback
			@include flex(1 0 auto);
		}

		.field-date-group-currently {

			@include mediaquery ($bp-tablet) {
				float: left;//Fallback
				@include flex(1 0 100%);
				margin: 30px 0 0 20px;
			}
		}

	}

	.error-info {
		@include mediaquery ($bp-tablet) {
			max-width: 116px;
		}
	}
}

/*
Input fields

Markup:
<form method="post" action="#">
    <fieldset>
        <legend>Lorem ipsum</legend>
        <ul class="form--field-block clearfix">
            <li>
                <label for="input">Basic field <span class="alternative">(opcional)</span></label>
                <input id="input" type="text" placeholder="Lorem ipsum..." />
            </li>
            <li class="success">
                <label for="input-success">Basic success field</label>
                <input id="input-success" type="text" />
            </li>
            <li class="error">
                <label for="input-error">Basic error field</label>
                <input id="input-error" type="text" />
                <p class="error-info">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="disabled">
                <label for="input-disabled">Basic disabled field</label>
                <input id="input-disabled" type="text" disabled />
            </li>
            <li>
                <label for="input-PostalCode">Postal Code</label>
                <input id="input-PostalCode" type="number" class="input-PostalCode" maxlength="5" />
            </li>
        </ul>
    </fieldset>
</form>

Styleguide #{$sgi-forms-basic-fields}
*/

/*
Input fields size

Use `<input class="input-small"`

Markup:
<form method="post" action="#">
    <fieldset>
        <legend>Lorem ipsum</legend>
        <ul class="form--field-block clearfix">
            <li>
                <label for="input">Basic field <span class="alternative">(opcional)</span></label>
                <input class="input-small" id="input" type="text" placeholder="Lorem ipsum..." />
            </li>
        </ul>
    </fieldset>
</form>

Styleguide #{$sgi-forms-basic-fields-size}
*/

/*
Input group date

Markup:
<form method="post" action="#">
    <fieldset>
        <legend>Lorem ipsum</legend>
        <ul class="form--field-block clearfix">
            <li>
                <label for="day">Input group date</label>
                <div class="input-group input-group-date">
                    <div>
                        <input placeholder="DD" type="number" id="day" name="day" maxlength="2" />
                    </div>
                    <div>
                        <input placeholder="MM" type="number" id="month" name="month" maxlength="2" />
                    </div>
                    <div>
                        <input placeholder="AAAA" type="number" id="year" name="year" maxlength="4" />
                    </div>
                </div>
            </li>
            <li class="error">
                <label for="day-error">Input group date error</label>
                <div class="input-group input-group-date">
                    <div>
                        <input placeholder="DD" type="number" id="day-error" name="day" maxlength="2" />
                    </div>
                    <div>
                        <input placeholder="MM" type="number" id="month" name="month" maxlength="2" />
                    </div>
                    <div>
                        <input placeholder="AAAA" type="number" id="year" name="year" maxlength="4" />
                    </div>
                </div>
                <p class="error-info">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="input-group-disabled">
                <label for="day-disabled">Input group date disabled</label>
                <div class="input-group input-group-date">
                    <div>
                        <input placeholder="DD" type="number" id="day-disabled" name="day" maxlength="2" disabled />
                    </div>
                    <div>
                        <input placeholder="MM" type="number" id="month" name="month" maxlength="2" disabled />
                    </div>
                    <div>
                        <input placeholder="AAAA" type="number" id="year" name="year" maxlength="4" disabled />
                    </div>
                </div>
            </li>
            <li class="field-date-group">
                <ul class="list-default clearfix">
                    <li>
                        <input name="cursando00" id="cursando00" type="checkbox">
                        <label for="cursando00" class="label-checkbox">Cursando</label>
                    </li>
                    <li class="start-date-group">
                        <label for="month01">Input group date</label>
                        <div class="input-group input-group-date">
                            <div>
                                <input placeholder="MM" type="number" id="month01" name="month" maxlength="2" />
                            </div>
                            <div>
                                <input placeholder="AAAA" type="number" id="year" name="year" maxlength="4" />
                            </div>
                        </div>
                    </li>
                    <li class="end-date-group">
                        <ul class="list-default">
                            <li class="end-date">
                                <label for="month02">Input group date</label>
                                <div class="input-group input-group-date">
                                    <div>
                                        <input placeholder="MM" type="number" id="month02" name="month" maxlength="2" />
                                    </div>
                                    <div>
                                        <input placeholder="AAAA" type="number" id="year" name="year" maxlength="4" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </fieldset>
</form>

Styleguide #{$sgi-forms-group-date}
*/

textarea {
	min-height: $textarea-height;
	resize: vertical;
	width:  $textarea-width;
}

.textarea {
	.info {
		margin-top: 5px;
	}
}

/*
Textarea

Markup:
<form method="post" action="#">
    <fieldset>
        <legend>Lorem ipsum</legend>
        <ul class="form--field-block clearfix">
            <li>
                <label for="comment">Textarea</label>
                <div class="textarea">
                    <textarea placeholder="Lorem ipsum..." id="comment"></textarea>
                    <p class="info alternative small"><span>114</span>/<span>250</span></p>
                </div>
            </li>
            <li class="error">
                <label for="comment-error">Textarea</label>
                <div class="textarea">
                    <textarea id="comment-error"></textarea>
                    <p class="info alternative small"><span>114</span>/<span>250</span></p>
                </div>
            </li>
            <li class="disabled">
                <label for="comment">Textarea</label>
                <div class="textarea">
                    <textarea disabled></textarea>
                    <p class="info alternative small"><span>114</span>/<span>250</span></p>
                </div>
            </li>
        </ul>
    </fieldset>
</form>

Styleguide #{$sgi-forms-textarea}
*/

select {
	padding: 13px 10px;
	height: $medium-input-height;
	background: transparent;
	font-size: $base-font-size;
	color: $dark-silk;
	border: 0 none;
	background: url(#{$path-backgrounds}/bg-select-arrow.png) right 15px no-repeat $shiro;
	border: 1px solid $light-silk;
	cursor: pointer;

	&:focus {
		border: 1px solid $color-primary;
		outline: none;
		color: $dark;
	}

	.error & {
		border: 1px solid $trueblood;
	}
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $outer-wall;
}

/*
Select

Markup:
<form method="post" action="#">
    <fieldset>
        <legend>Lorem ipsum</legend>
        <ul class="form--field-block clearfix">
            <li>
                <label for="pulldown">Pulldown</label>
                <select id="pulldown" class="chosen-select" data-placeholder="(Seleccionar)">
                        <option value="01">Option01</option>
                        <option value="02">Option02</option>
                        <option value="03">Option03</option>
                        <option value="04">Option04</option>
                        <option value="05">Option05</option>
                </select>
                <p class="info alternative small clearfix">Puedes seleccionar varios permisos de conducir</p>
            </li>
            <li class="error">
                <label for="pulldown">Pulldown error</label>
                <select id="pulldown" class="chosen-select" data-placeholder="(Seleccionar)">
                        <option value="01">Option01</option>
                        <option value="02">Option02</option>
                        <option value="03">Option03</option>
                        <option value="04">Option04</option>
                        <option value="05">Option05</option>
                </select>
                <p class="error-info">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="disabled">
                <label for="pulldown">Pulldown disabled</label>
                <select id="pulldown" class="chosen-select" data-placeholder="(Seleccionar)" disabled>
                        <option value="01">Option01</option>
                        <option value="02">Option02</option>
                        <option value="03">Option03</option>
                        <option value="04">Option04</option>
                        <option value="05">Option05</option>
                </select>
            </li>
        </ul>
    </fieldset>
</form>

Styleguide #{$sgi-forms-select}
*/


/*
Select size

Markup:
<form method="post" action="#">
    <fieldset>
        <legend>Lorem ipsum</legend>
        <ul class="form--field-block clearfix">
            <li>
                <label for="pulldown">Pulldown</label>
                <select id="pulldown" class="chosen-select select-small" data-placeholder="(Seleccionar)">
                        <option value="01">Option01</option>
                        <option value="02">Option02</option>
                        <option value="03">Option03</option>
                        <option value="04">Option04</option>
                        <option value="05">Option05</option>
                </select>
                <p class="info alternative small clearfix">Puedes seleccionar varios permisos de conducir</p>
            </li>
        </ul>
    </fieldset>
</form>

Styleguide #{$sgi-forms-select-size}
*/

/*
Select inline

Markup:
<form method="post" action="#">
    <fieldset>
        <legend>Lorem ipsum</legend>
        <div class="form-field-inline">
            <label for="name">Pulldown inline:</label>
            <div class="form-select">
                <select id="pulldown" class="chosen-select" data-placeholder="(Seleccionar)">
                        <option value="01">Option01</option>
                        <option value="02">Option02</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>

Styleguide #{$sgi-forms-select-inline}
*/

/*
Multiple Selects

Markup:
<form method="post" action="#">
    <fieldset>
        <legend>Lorem ipsum</legend>
        <ul class="form--field-bock clearfix">
            <li>
                <label for="multiple-pulldown">Multiple pulldown</label>
                <select id="multiple-pulldown" multiple="true" class="chosen-select" data-placeholder="(Seleccionar)">
                    <option value="01">Option01</option>
                    <option value="02">Option02</option>
                    <option value="03">Option03</option>
                    <option value="04">Option04</option>
                    <option value="05">Option05</option>
                </select>
            </li>
        </ul>
    </fieldset>
</form>

Styleguide #{$sgi-forms-multiple-select}
*/

input[type="radio"],
input[type="checkbox"]{
	display: inline-block;
	cursor: pointer;
  padding: 0;
  margin: 3px 6px 0 0;
	width: auto;
  border: 0 none;
  vertical-align: top;
  height: auto;
	font-size: 15px;
}

//disabled styles
input[disabled="disabled"],
select[disabled="disabled"],
.disabled {
	color: $darkest-shiro;
	cursor: default;
}

input[type="text"]:disabled {
	background: transparent;
	border-color: $darkest-shiro;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
	color: $soft-script;
}

input[type="checkbox"] + label,
input[type="radio"] + label,
.label-checkbox { //class ".label-checkbox" deprecated. actualy used in filters only
	cursor: pointer;
	max-width: 85%;
}

.appearance-btn,
.appearance-sticker {
	margin-right: 10px;

	input[type="radio"],
	input[type="checkbox"] {
	    display: none;

	    + label {
			width: auto;
			height: 34px;
      line-height: 32px;
			max-width: 100%;
			margin-bottom: 5px;
			padding: 5px 10px;
			color: $mid-script;
      background-color: transparent;
      border: 1px solid $outer-land;
      border-radius: 21px;

			@include mediaquery ($bp-desktop) {
		  	    &:hover,
		  	    &:active {
		  	    	color: $day-blue;
		      		background-color: transparent;
		      		border: 1px solid $day-blue;
		      	}
		    }

	    	.sticker-close {
	            display: none;
	        }
    	}

    	&:checked {
    		+ label {
    			color: $day-blue;
    			background-color: tint($day-blue,80%);
		      border: 1px solid $day-blue;

    			.sticker-close {
            display: inline-block;
            padding: 0 0 0 6px;
            color: $day-blue;
          }
    		}

    	}
    }
}

.appearance-btn {
	min-width: 50%;
	margin-right: 0;

	@at-root .layer-stickers #{&} {
    	width: auto;
  	}

	@include mediaquery ($bp-tablet) {
		min-width: auto;
	}

	input[type="radio"] {
		+ label {
			@include btn;
			font-family: $base-font-family;
			text-transform: none;
      height: 44px;
      display: block;
      color: $mid-script;
			font-size: $small-font-size;
			text-align: left;

      		@at-root button#{&} {
        		font-size: $base-font-size;
			}

	    	&::before {
		        content: " ";
		        display: inline-block;
		        width: 10px;
		        height: 10px;
		        margin-right: 5px;
		        border: 1px solid $soft-script;
		        border-radius: 5px;
		        background-color: $dark-shiro;
      		}
    	}

    	&:checked {
  			+ label {
  				&::before {
  					border: 1px solid $shiro;
  					background-color: $day-blue;
  				}
		  	}
		}
	}

	@at-root .list-inline li#{&}:nth-child(2) {
		padding-right: 0;

		@include mediaquery ($bp-tablet) {
			padding-right: 10px;
		}
	}
}


.sticker.appearance-sticker {
	height: 34px;
	line-height: 32px;
	padding: 5px 15px;
	border: 1px solid $outer-land;
	border-radius: 21px;
  background-color: transparent;

  &[class*="iconfont-"] {
	  padding: 5px 13px;
  }
	&:hover,
	&:active {
		background-color: transparent;
    border-color: $day-blue;
	}

	@include mediaquery ($bp-desktop) {
		&:hover {
			background-color: transparent;

			&::before {
				color: $day-blue;
			}
		}
	}

	&::before {
		color: $mid-script;
	}


}

/*
Input radio / Input check

Markup:
<form method="post" action="#">
    <fieldset>
        <legend>Lorem ipsum</legend>
        <h2 class="h3 heading-divider">Basic fields</h2>
        <ul class="form--field-block">
            <li>
                <p class="label bold">Radio button field</p>
                <ul>
                    <li>
                        <input id="gender1" name="gender" type="radio" />
                        <label for="gender1">Radio button field 1</label>
                    </li>
                    <li>
                        <input id="gender2" name="gender" type="radio" />
                        <label for="gender2">Radio button field 2</label>
                    </li>
                </ul>
            </li>
            <li class="error">
                <p class="label bold">Radio button field with error</p>
                <ul>
                    <li>
                        <input id="gender1-error" name="gender-error" type="radio" />
                        <label for="gender1-error">Radio button field 1</label>
                    </li>
                    <li>
                        <input id="gender2-error" name="gender-error" type="radio" />
                        <label for="gender2-error">Radio button field 2</label>
                    </li>
                </ul>
                <p class="error-info">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="disabled">
                <p class="label bold">Radio button field with error</p>
                <ul>
                    <li>
                        <input id="gender1-disabled" name="gender-disabled" type="radio" disabled />
                        <label for="gender1-disabled">Radio button field 1</label>
                    </li>
                    <li>
                        <input id="gender2-disabled" name="gender-disabled" type="radio" disabled />
                        <label for="gender2-disabled">Radio button field 2</label>
                    </li>
                </ul>
            </li>
            <li>
                <p class="label bold">Check button field</p>
                <ul>
                    <li>
                        <input id="option01" type="checkbox" />
                        <label for="option01">Check button field 1</label>
                    </li>
                    <li>
                        <input id="option02" type="checkbox" />
                        <label for="option02">Check button field 1</label>
                    </li>
                </ul>
            </li>
            <li class="error">
                <p class="label bold">Check button field error</p>
                <ul>
                    <li>
                        <input id="option03" type="checkbox" />
                        <label for="option03">Check button field 1</label>
                    </li>
                    <li>
                        <input id="option04" type="checkbox" />
                        <label for="option04">Check button field 1</label>
                    </li>
                </ul>
            </li>
            <li class="disabled">
                <p class="label bold">Check button field disabled</p>
                <ul>
                    <li>
                        <input id="option05" type="checkbox" disabled />
                        <label for="option05">Check button field 1</label>
                    </li>
                    <li>
                        <input id="option06" type="checkbox" disabled />
                        <label for="option06">Check button field 1</label>
                    </li>
                </ul>
            </li>
        </ul>
    </fieldset>
</form>

Styleguide #{$sgi-forms-radio}
*/


.radio-group {
	width: 100%;
}

.radio-group li {
	float: left;
	white-space: nowrap;
	overflow: hidden;
}

.radio-group li + li {
	margin-left: 10px;
}

.radio-group label {
  position: relative;
  width: 100%;
  margin-bottom: 5px;

	//TODO: Fix line-height

  &:before,
  &:after {
  	content: "";
    position: absolute;
    right: 0;
    left: 0;
    height: 10px;
  }

	&:before {
		top: -10px;
	}

	&:after {
    top: 100%;
	}
}

.form-select {
	position: relative;
	line-height: 14px;
	-webkit-appearance: none;

	select {
		width: 100%;
		padding: 6px 30px 6px 6px;
		text-indent: 0.01px;
		text-overflow: "";
		top: 0;
		left: 0;
		margin: 0;
		-webkit-appearance: none;
		   -moz-appearance: none;
				    appearance: none;
	}

	&-disabled {
		overflow: hidden;
		background-color: $dark-shiro;
	}

	optgroup:before {
		content: "";
		display: block;
		height: 1px;
		border-bottom: 1px solid $darkest-shiro;
		margin-bottom: 5px;
	}

	optgroup {
		padding: 0;
		margin: 10px 0;

		option {
			background: transparent;
		}

		option:after {
			content: "";
			display: block;
			padding: 2px;
		}

		option:before {
			content: "";
			display: block;
			padding: 2px;
		}
	}
}

/*
Special fields

Markup:
<form method="post" action="#">
    <fieldset>
        <legend>Lorem ipsum</legend>
        <ul class="form--field-block clearfix">
            <li class="clearfix">
                <label for="phone">Phone number <span class="alternative">(optional)</span></label>
                <input id="phone" type="tel">
                <input name="phone-check" id="phone-check" type="radio">
                <label for="phone-check" class="label-checkbox">Preferent</label>
            </li>
            <li class="error clearfix">
                <label for="phone-error">Phone number <span class="alternative">(optional)</span></label>
                <input id="phone-error" type="tel">
                <input name="phone-check" id="phone-check-error" type="radio">
                <label for="phone-check-error" class="label-checkbox">Preferent</label>
                <p class="error-info">Lorem ipsum dolor sit amet.</p>
            </li>
        </ul>
    </fieldset>
</form>

Styleguide #{$sgi-forms-special-files}
*/

.form-select-medium { /* Used in SectionCvComponent*/
	width: 350px;
}

.fieldset-title { /* DEPRECATED: used in registration-index + KQ + filters job search */
	display: block;
	padding-bottom:10px;

	.error & {
		color: $trueblood;
	}
}

.error-info,
.success-info {
	margin-top: 5px;
	color: $trueblood;
	font-size: 12px;
	line-height: 110%;
}

.success-info {
	color: $bamboo;
}


//helpers for form
.input-link-annex {
	margin: 10px 0 0 0;
}

.label-annex {
	display: inline;
}

@media only screen and (max-width: $tablet-start) {

	input {
		width: 100%;
	}

	.radio-group {
		margin-bottom: 10px;

		li {
			float: left;
			padding: 6px 10px;
			box-sizing: border-box;
		}

		li + li {
			margin-left: 0;
		}

		label {
	    margin-bottom: 0;
		}
	}

	.form-select select {
		height: auto;
		margin-top: 2px;
		padding: 10px;
	}

	/*already defined (and modified) at pulldown-chosen.scss */
	.chosen-container-single .chosen-single {
		margin-top: 2px;
		padding: 10px;
	}
}

.strength-bar {
	position: relative;

	a {
		position: absolute;
		top: 26px;
		right: 1px;
		font-size: $small-font-size;
		line-height: $xsmall-line-height;
		padding: 15px 10px;
	}

	input,
	textarea {
		margin-bottom: 10px;
	}

	.meter,
	meter {
		height: 7px;
	}

	meter {
		width: 100%;
		vertical-align: top;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: $dark-shiro;

		/* WebKit */
		&::-webkit-meter-bar {
			background: $dark-shiro;
		}

		&::-webkit-meter-optimum-value,
		&::-webkit-meter-suboptimum-value {
			background: $bamboo;
		}

		&::-webkit-meter-even-less-good-value  {
			background: $trueblood;
		}

		/* Firefox */
		&:-moz-meter-optimum::-moz-meter-bar,
		&:-moz-meter-sub-optimum::-moz-meter-bar {
		  background: $bamboo;
		}

		&:-moz-meter-sub-sub-optimum::-moz-meter-bar {
		  background: $trueblood;

		}

	}

}

/*
Strength bar

Markup:
<dl class="strength-bar">
    <dt>Lorem ipsum</dt>
    <dd>
      <meter max="3" min="0" value="2" high="2" low="2" optimum="3"></meter>
    </dd>
</dl>

Styleguide #{$sgi-forms-strength-bar}
*/

.field-group-grow { //used on edit-cv when an input + button sizes needs to be 100%
	@include display-flex;
  @include align-items(flex-end);

	> div:first-of-type {
		@include flex;
		margin-right: 10px;

    @include mediaquery ($bp-desktop) {
      margin-right: 20px;
     }

     input[type="text"] {
       width: 100%;
     }
   }

  label.hide + div:last-of-type {
    border: 4px solid;
  }
}

.input-drop-down-wrapper {
	position: relative;
}

.input-drop-down {
	position: absolute;
	z-index: $zindex-notification;
	width: 100%;
	margin-top: 5px;

	@at-root .search-bar #{&} ul {
		display: block;
	}
}

/*
Switch radio button

Markup:
<div class="switch-radio">
    <input id="yes" name="i" checked="" type="radio">
    <label class="switch-radio-label" for="yes">Yes</label>
    <input id="no" name="i" type="radio">
    <label class="switch-radio-label" for="no">No</label>
</div>
<div class="js-to-show margin-top hide">
    <p>Show something</p>
</div>

Styleguide #{$sgi-forms-switch-radio}
*/

.switch-radio {

  position: relative;

    input {
      display: none;
    }

    input:checked + label {
      color: $mid-script;

      &:last-of-type::before {
        margin: 1px 10px 0 -28px;
      }

    }

    .switch-radio-label {
      @include font(small);
      width: auto;
      color: $mid-script;
      margin: 0;
      line-height: 150%;

      &:first-of-type::after {
        content:"";
        display: block;
        float: right;
        width: 30px;
        height: 20px;
        border: 1px solid $day-blue;
        border-radius: 15px;
        background-color: tint($day-blue, 80%);
        margin: 0 5px 0 10px;
      }

      &:last-of-type {
        margin-left: -30px;
        padding-left: 30px;
      }

      &:last-of-type::before {
        content:"";
        display: block;
        float: left;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $shiro;
        border: 1px solid $day-blue;
        margin: 1px 20px 0 -38px;
        -webkit-transition: margin 200ms linear;
           -moz-transition: margin 200ms linear;
             -o-transition: margin 200ms linear;
                transition: margin 200ms linear;
      }
    }

}
