/*------------------------------------*\
    $FORMS
\*------------------------------------*/

fieldset {

	& + fieldset {
		margin-top: 40px;
	}

	&:first-child {
		margin-top: 0;
	}

	& > button {
		margin-top: 20px;
	}
}

legend {
	display: none;
}

label,
.label {
	margin-bottom: 5px;
	font-size: $base-font-size;
	line-height: 125%;

	.error &:first-of-type {
		color: $trueblood;
	}
	.success &:first-of-type {
		color: $bamboo;
	}
}

label {
	display: inline-block;
	vertical-align: top;
}

select {
	padding: 13px 10px;
	border: 0;
	background: transparent;
	font-size: 16px;
	color: $dark-silk;
	border: 0 none;
	background: url(#{$path-backgrounds}/bg-select-arrow.png) right 15px no-repeat $shiro;
	cursor: pointer;

	.error & {
		border: 1px solid $trueblood;
	}
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $outer-wall;
}

@mixin input {
	display: block;
	padding: 4px 10px;
	font-size: $base-font-size;
	line-height: $base-line-height;
}

textarea,
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="button"],
input[type="submit"],
select {
     -webkit-appearance: none;
     border-radius: 0;
}

input,
textarea {
	@include input;
	width: 330px;
	margin: 0;
	border: 1px solid #c7c7c7; //TODO: var to be defined on _vars.scss

	.error & {
		border-color: $trueblood;
	}

	.success & {
		border-color: $bamboo;
		background: $light-bamboo;
	}

	&:focus {
		border: 1px solid $day-blue;
		outline: none;
		color: #000;
	}
}

textarea {
	min-height: 150px;
	resize: vertical;
	width: 100%;
}

.textarea {

	.info {
		margin-top: 5px;
	}
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder  {
	color: $soft-script;
}

input[placeholder],
textarea[placeholder] {
	text-overflow: ellipsis;
	color: $soft-script;
}

input[type="radio"],
input[type="checkbox"]{
	display: inline-block;
	cursor: pointer;
  	padding: 0;
  	margin: 3px 0 0 0;
	width: auto;
  	border: 0 none;
  	vertical-align: top;
  	height: auto;
	font-size: 15px;
}

input[disabled="disabled"],
select[disabled="disabled"],
.disabled {
	color: $darkest-shiro;
	cursor: default;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
	color: $soft-script;
}

input[type="checkbox"] + label,
input[type="radio"] + label,
.label-checkbox { //class ".label-checkbox" deprecated. actualy used in filters only
	cursor: pointer;
	max-width: 85%;
}

/*
Forms structure #disabled#

```
.form--field-block 	- Fields disposition: block
```

Markup:
<form>
  <fieldset>
    <legend>Lorem ipsum</legend>
    <ul class="form--field-block clearfix">
		<li>
			<label for="field1">Label</label>
			<input type="text" id="field1">
		</li>
		<li>
			<label for="field2">Label</label>
			<input type="text" id="field2">
		</li>
    </ul>
    <button type="submit" class="btn btn-primary" id="button">Send</button>
	<div class="field-annex">
		<input type="checkbox" id="permanent-login">
		<label for="permanent-login">Recordar</label>
	</div>
  </fieldset>
</form>

Styleguide 1.4
*/

.form--field-block {
	> li { //TODO: Could be possible to apply only a class in <form> to avoid do it in every <ul>?
	margin-bottom: 20px;
	vertical-align: middle;

	&:last-child {
		margin-bottom: 0;
	}

	.info {
			margin-bottom: 0;

			&:first-of-type {
				margin-top: 5px;
			}
		}
	}

	> li:last-child {
			margin-bottom: 0;
	}

	label {
		width: 100%;
	}
}

form ul .indent { // Used in cartas presentacion
	margin-left: 20px;
	margin-top: 5px;
}

//TODO: Nest .form-field-inline in .search-bar.scss component, because is not possible to apply this layout independently
.form-field-inline { // Used in search box + filters job search
	display: table;

	> label {
		margin-right: 10px;
		margin-bottom: 0;
   		vertical-align: middle;
	}

	> input,
	> .form-select  {
		display: inline-block;
		width: 220px!important;
	}
}


/*
Radio buttons / Checkbox #disabled#

```
.fieldset-title - To format radio button/checkbox's title
.label-checkbox - To align label in a radio button/checkbox structure
```

Markup:
<fieldset>
	<legend class="fieldset-title">Fecha</legend>
	<ul>
		<li>
			<input type="radio" checked="checked" id="fecha_a">
			<label title="Ofertas de empleo para cualquier fecha" class="label-checkbox" for="fecha_a">
				Cualquier fecha
			</label>
		</li>
		<li>
			<input type="radio" id="fecha_b">
			<label title="Ofertas de empleo ultimas 24h" class="label-checkbox" for="fecha_b">
				Ultimas <span class="marked">24 horas</span>
			</label>
		</li>
		<li>
			<input type="radio" id="fecha_c">
			<label title="Ofertas de empleo ultimos 7 dias" class="label-checkbox" for="fecha_c">
				Ultimos 7 dias
			</label>
		</li>
		<li>
			<input type="radio" id="fecha_d">
			<label title="Ofertas de empleo ultimos 15 dias" class="label-checkbox" for="fecha_d">
				Ultimos 15 dias
			</label>
		</li>
	</ul>
</fieldset>

Styleguide 1.4.1
*/

/*
Radio buttons's inline #disabled#

```
.radio-group - To create a radio button's group with inline structure
```

Markup:
<ul class="radio-group clearfix">
	<li>
		<input type="radio" checked="checked" id="option1"><label for="option1">Option 1</label>
	</li>
	<li>
		<input type="radio" id="option2"><label for="option2">Option 2</label>
	</li>
</ul>

Styleguide 1.4.2
*/

.radio-group {
	width: 100%;
}

.radio-group li {
	float: left;
	white-space: nowrap;
	overflow: hidden;
}

.radio-group li + li {
	margin-left: 10px;
}

.radio-group label {
    position: relative;
    width: 100%;
    margin-bottom: 5px;

		//TODO: Fix line-height

    &:before,
    &:after {
    	content: "";
	    position: absolute;
	    right: 0;
	    left: 0;
	    height: 10px;
    }

		&:before {
			top: -10px;
		}

		&:after {
	    top: 100%;
		}
}

/*
Select

```
.form-select -  Field select
```

Markup:
<div class="form-select">
  <select data-placeholder="Cualquier provincia" class="chosen-select" tabindex="-1">
    <option selected="selected" value="0">Option 1</option>
    <option value="1">Option 2</option>
  </select>
</div>

Styleguide 1.4.3
*/

.form-select {
	position: relative;
	line-height: 14px;
	-webkit-appearance: none;

	select {
		width: 100%;
		padding:6px;
		text-indent: 0.01px;
		text-overflow: "";
		-webkit-appearance: none;
			 -moz-appearance: none;
						appearance: none;
		top: 0;
		left: 0;
		margin: 0;
	}

	&-disabled {
		overflow: hidden;
		background-color: $dark-shiro;
	}

	optgroup:before {
		content: "";
		display: block;
		height: 1px;
		border-bottom: 1px solid $darkest-shiro;
		margin-bottom: 5px;
	}

	optgroup {
		padding: 0;
		margin: 10px 0;

		option {
			background: transparent;
		}

		option:after {
			content: "";
			display: block;
			padding: 2px;
		}

		option:before {
			content: "";
			display: block;
			padding: 2px;
		}
	}
}

/*
Multiple select

Markup:
<label for="multiple-pulldown">Multiple pulldown</label>
<select id="multiple-pulldown" multiple="true" class="chosen-select" data-placeholder="(Seleccionar)">
	<option value="01">Option01</option>
	<option value="02">Option02</option>
	<option value="03">Option03</option>
	<option value="04">Option04</option>
	<option value="05">Option05</option>
</select>

Styleguide 1.4.4
*/

.form-select-medium { /* Used in SectionCvComponent*/
	width: 350px;
}


/*
Input group #disabled#

```
.input-group
```

Styleguide 1.4.5
*/

.input-group {
    display: table;
	width: 100%;

	& > div {
		display: table-cell;
	}

	input { /* fix iOS buttons separation */
		margin: 0;
	}

	input {
		border-right-width: 0;
		width: 100%;
	}

	div:last-child input {
		border-right-width: 1px;
	}

	.active input {
	    background-color: $shiro;
	    cursor: default;
	}

	&-date {
		width: auto;
		border: 1px solid #c7c7c7;

		> div {
			position: relative;

			&::before {
			    content: "|";
			    position: absolute;
			    top: 12px;
			    left: -5px;
				color: #c7c7c7;

				@include mediaquery ($bp-desktop) {
					top: 4px;
				}
			}

			&:first-of-type::before {
			    content: "";
			}

		input {
			width: 50px;
				margin-left: -4px;
				text-align: center;
				border: none;
		}

			&:last-child input  {
			width: 66px;
		}
	}

		> div:first-of-type input {
			margin-left: 0;
		}

		.error & {
			border: 1px solid $trueblood;
		}
	}

	&-disabled {

		label {
			color: $darkest-shiro;
		}

		input[disabled],
		input[placeholder] {
			background: transparent;
			color: $darkest-shiro;
		}

		.input-group-date {
			border-color: $darkest-shiro;

			 > div::before {
				 color: $darkest-shiro;
			 }
		}
	}

}

input[type="number"] {
	-moz-appearance:textfield;

	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	    margin: 0;
	}
}

input[type="tel"] {
	margin-right: 20px;

	@include mediaquery ($bp-desktop) {
		width: 230px;
		float: left;
	}

	~ label {
		width: auto;
		margin: 10px 0 0 0;

		@include mediaquery ($bp-desktop) {
			margin-top: 4px;
		}
	}

	~ input {
		margin: 12px 0 0 0;

		@include mediaquery ($bp-desktop) {
			margin-top: 7px;
		}
	}

	~ .error-info {
	    clear: both;
	    display: block;
	    padding-top: 5px;
	}
}

.fieldset-title { /* DEPRECATED: used in registration-index + KQ + filters job search */
	display: block;
	padding-bottom:10px;

	.error & {
		color: $trueblood;
	}
}

/*
Field error #disabled#

```
.error-info - Error description
```

Markup:
<form>
  <fieldset>
    <legend>Lorem ipsum</legend>
    <ul class="form--field-block clearfix">
      <li class="error">
        <label for="field1">Label</label>
        <input type="text" id="field1">
		<p class="error-info">Descripcion del error</p>
      </li>
      <li>
        <label for="field2">Label</label>
        <input type="text" id="field2">
      </li>
    </ul>
    <button type="submit" class="btn btn-primary" id="button">Send</button>
  </fieldset>
</form>

Styleguide 1.4.6
*/

.error-info {
	margin-top: 5px;
	color: $trueblood;
	font-size: 12px;
	line-height: 110%;
}

//helpers for form

.input-link-annex {
	margin: 10px 0 0 0;
}

.label-annex {
	display: inline;
}

@media only screen and (max-width: $tablet-start) {

	input {
		width: 100%;
		height: 44px;
	}

	.radio-group {
		margin-bottom: 10px;

		li {
			float: left;
			padding: 6px 10px;
			box-sizing: border-box;
		}

		li + li {
			margin-left: 0;
		}

		label {
		    margin-bottom: 0;
		}
	}

	.form-select select {
		height: auto;
		margin-top: 2px;
		padding: 10px;
	}

	/*already defined (and modified) at pulldown-chosen.scss */
	.chosen-container-single .chosen-single {
		margin-top: 2px;
		padding: 10px;
	}
}

.password {
	position: relative;

	a {
		position: absolute;
		top: 26px;
		right: 1px;
		font-size: $small-font-size;
		line-height: $xsmall-line-height;
		padding: 15px 10px;

		@include mediaquery ($bp-desktop) {
			top: 25px;
			right: 5px 10px;
			padding: 8px;
		}
	}

	input {
		margin-bottom: 10px;
	}

	.meter,
	meter {
		height: 7px;
	}

	meter {
		width: 100%;
		vertical-align: top;

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		background: $dark-shiro;


		/* WebKit */
		&::-webkit-meter-bar {
			background: $dark-shiro;
		}

		&::-webkit-meter-optimum-value,
		&::-webkit-meter-suboptimum-value {
			background: $bamboo;
		}

		&::-webkit-meter-even-less-good-value  {
			background: $trueblood;
		}


		/* Firefox */
		&:-moz-meter-optimum::-moz-meter-bar,
		&:-moz-meter-sub-optimum::-moz-meter-bar {
		  background: $bamboo;
		}

		&:-moz-meter-sub-sub-optimum::-moz-meter-bar {
		  background: $trueblood;

		}

	}

}

.field-group-grow { //used on edit-cv when an input + button sizes needs to be 100%
	@include display-flex;

	> div:first-of-type {
		@include flex;
		margin-right: 20px;
	}

	> div:last-of-type {
		-webkit-align-items: flex-end;
		align-self: flex-end;
		//properties above don't work on safari :(

		margin-top: 25px;
	}
}

.field-date-group {

	.input-group-date {
		> div {
			width: 50%;

			input {
				width: 100%;
			}
		}
	}

	.start-date-group {
		width: calc(50% - 5px);
		float: left;
		margin-right: 5px;

		input {
			width: 100%;
		}

		@include mediaquery ($bp-tablet) {
			width: calc(33% - 10px);
			margin-right: 10px;
		}
	}

	.end-date-group {
		width: calc(50% - 5px);
		float: left;
		margin-left: 5px;

		input {
			width: 100%;
		}

		@include mediaquery ($bp-tablet) {
			width: calc(66% - 10px);
			margin-left: 10px;
		}

		.end-date {

			@include mediaquery ($bp-tablet) {
				width: 50%;
				float: left;
			}
		}

		.field-date-group-currently {
			//margin-top: 40px;

			input {
				width: auto;
			}

			@include mediaquery ($bp-tablet) {
				width: calc(50% - 20px);
				float: left;
				overflow: hidden;
				margin-top: 40px;
				margin-left: 20px;
				padding-left: 1px;
			}

			@include mediaquery ($bp-desktop) {
				margin-top: 30px;
			}
		}
	}
}
