/*
Text elements

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra ante enim, cursus fringilla metus hendrerit non.

Styleguide 1.2
*/


/*------------------------------------*\
$HEADINGS
\*------------------------------------*/
/*
Headings

Definition of differents levels of titles: <br>
`<h1>` for level 1,<br>
`<h2>` for level 2,<br>
`<h3>` for level 3.<br>
`<h1>` defines the most important heading. Only one `<h1>` per page or `<section>`.

Markup:
<h1>Heading level 1</h1>
<h2>Heading level 2</h2>
<h3>Heading level 3</h3>

Styleguide 1.2.1
*/

h1,
h2,
.h2
h3,
.h3 {
	font-family: $base-font-family-bold;

	.skin-executive & {
		font-family: $base-font-family-light;
	}
}

.section h1 {
	margin: 20px 0;
	font-size: 32px;

	@media only screen and (min-width: $bp-desktop) {
		margin-bottom: 40px;
		font-size: 36px;
		line-height: 100%;
	}
}

h1 {
	margin-bottom: 35px;
	font-size: $xlarge-font-size;
	line-height: $xlarge-line-height;

	@include mediaquery ($bp-desktop) {
		font-size: $xxlarge-font-size;
		line-height: $xxlarge-line-height;
	}
}

h2,
.h2 {
	margin: 0 0 15px 0;
	font-size: $large-font-size;
	line-height: $large-line-height;

	@include mediaquery ($bp-desktop) {
		font-size: $xlarge-font-size;
		line-height: $xlarge-line-height;
	}
}

h3,
.h3 {
	@extend %font-medium-line;
	margin-bottom: 15px;
}

/*
Heading-addons

Use class `.heading-addons` to reset margin defined for generic `<h1>`.

Markup:
<div class="heading-addons">
	<h1>Header Level 1</h1>
	<p>Lorem ipsum</p>
</div>

Styleguide 1.2.1.1
*/

.heading-addons { //TODO: modificar nomenclatura de esta clase

	h1 {
		margin: 0;
		word-wrap : break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
}

/*
Heading mega

Use class `.heading-mega` for a big size heading.

Markup:
<h1 class="heading-mega">Heading mega</h1>

Styleguide 1.2.1.2
*/

.heading-mega {
	font-size: $xlarge-font-size;
	line-height: $xlarge-line-height;
	margin-bottom: 20px;

	@include mediaquery ($bp-tablet) {
		font-size: $xxlarge-font-size;
		line-height: $xxlarge-line-height;
		margin-bottom: 30px;
	}

	@include mediaquery ($bp-desktop) {
		font-size: $xxxlarge-font-size;
		line-height: $xxxlarge-line-height;
	}

}

.heading-divider {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $darkest-shiro;

	&-bleed {
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 10px;

		@include mediaquery ($bp-tablet) {
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
		}
	}
}
