/*------------------------------------*\
	$ICONS
\*------------------------------------*/

//Applies to elements containing a class that begin with icon-

[class^="icon-"],
[class*="icon-"] {
	position: relative;
	padding-left: 17px;

	@media print {
		padding: 0;
	}
}


/*
Icons

Icons are generated as fonts.<br>
Use the following classes to apply an icon on a tag.<br>
You can force the [icon size](#rubik-#{$sgi-iconsSize}) when there isn't text with icon.

Styleguide #{$sgi-icons}
*/

/*
Icons list

@@include('../templates/partials/icons.html')

Styleguide #{$sgi-iconsList}

*/

[class^="iconfont-"]::before,
[class*=" iconfont-"]::before,
[class^="iconfont-"]::after,
[class*=" iconfont-"]::after {
	@include iconfont;
	top: 3px; // font-size base medium
}

//needs sass version 3.4.7 or later
[class*="iconfont-"]::before {
	margin-right: 6px;
	font-size: $medium-font-size;

	@at-root .sticker#{&} {
		margin-right: 0;
	}

	@at-root .small#{&} {
		font-size: ($small-font-size + 2);
		margin-right: 3px;
	}

	@at-root .tag-group #{&} {
		font-size: ($small-font-size + 2);
		margin-right: 3px;
	}

	@at-root .base#{&} {
		font-size: ($base-font-size + 2);
		margin-right: 6px;
	}

	@at-root .tag-group .base#{&} {
		margin-right: 6px;
	}

	@at-root .medium#{&} {
		font-size: ($medium-font-size + 2);
		margin-right: 6px;
	}

	@at-root .tabs #{&} {
		font-size: ($medium-font-size + 2);
		margin-right: 9px;
	}

	@at-root .tag-group .medium#{&} {
		margin-right: 6px;
	}

	@at-root [class*="btn"]#{&} {
		top: 4px;
		margin-right: 8px; //needed to separate icon from the text
		color: $shiro;
	}

	@at-root .btn-default#{&} {
		color: $day-blue;
	}

	@at-root .btn-default:hover#{&} {
		color: $shiro;
	}

	@at-root .btn-group ^="btn-"]#{&} {
		margin-right: 0;
	}

	@at-root .btn-group [class*="btn"]:not(.disabled)#{&} {
		margin-right: 0;
		color: $day-blue;
	}

	@at-root .btn-group [class*="btn"]:not(.disabled):hover#{&} {
		color: $shiro;
	}

	@at-root .btn-group [class*="btn"]:not(.disabled):active#{&} {
		color: $shiro;
	}

  @at-root a#{&} {
    color: $day-blue;
  }
}

/*
Icons size

Use the following classes to specify the icon size when it appears without text: `.iconfont-16px`, `.iconfont-18px`, `.iconfont-22px`, `.iconfont-30px` or `.iconfont-36px`.

Markup:
	<a href="#" class="iconfont-Company iconfont-16px"><span class="hide">Icon name</span></a>
	<a href="#" class="iconfont-Company iconfont-18px"><span class="hide">Icon name</span></a>
	<a href="#" class="iconfont-Company iconfont-22px"><span class="hide">Icon name</span></a>
	<a href="#" class="iconfont-Company iconfont-30px"><span class="hide">Icon name</span></a>
	<a href="#" class="iconfont-Company iconfont-36px"><span class="hide">Icon name</span></a>

Styleguide #{$sgi-iconsSize}
*/

$iconfont-size: (16, 18, 22, 24, 30, 36, 100); //TODO: resolve problem when it s moved to _vars

@each $value in $iconfont-size {

	.iconfont-#{$value}px {

		&::before {
			font-size: #{$value}px;
		}
	}

	.ico-width-#{$value}px {
		width: #{$value}px;
		margin-right: 5px;
		vertical-align: middle;
	}
}

.iconfont-soft-script::before,
.iconfont-soft-script::after {
	color: $soft-script;
}

/*------------------------------------*\
	$ICONSIMAGE
\*------------------------------------*/
.icon-candidaturas {
		background: url("#{$path-backgrounds}/icon-candidaturas.png") no-repeat 0 0;
}
.icon-CV {
		background: url("#{$path-backgrounds}/icon-CV.png") no-repeat 0 0;
}
.icon-contactos {
		background: url("#{$path-backgrounds}/icon-contacts.png") no-repeat 0 0;
}
.icon-alerts {
		background: url("#{$path-backgrounds}/icon-alert.png") no-repeat 0 0;
}
.icon-email-banned {
		background: url("#{$path-backgrounds}/icon-email-banned.png") no-repeat 0 0;
}
.icon-android {
		background: url("#{$path-backgrounds}/icon-android-app.png") no-repeat 0 0;
}
.icon-gplus {
		background: url("#{$path-icons}/ico-social-gplus-footer.png") no-repeat 0 0;
}
.icon-facebook {
		background: url("#{$path-icons}/ico-social-face-footer.png") no-repeat 0 0;
}
.icon-twitter {
		background: url("#{$path-icons}/ico-social-twitter-footer.png") no-repeat 0 0;
}
.icon-youtube {
		background: url("#{$path-icons}/ico-social-youtube-footer.png") no-repeat 0 0;
}

.icon-email-contrast {
		background: url("#{$path-icons}/ico-email-white.png") no-repeat 0 0;
}
.icon-phone-mobile-contrast {
		background: url("#{$path-icons}/ico-mobile-white.png") no-repeat 0 0;
}
.icon-phone-contrast {
		background: url("#{$path-icons}/ico-cell-white.png") no-repeat 0 0;
}

/*------------------------------------*\
	$ICONSIMAGE TABS
\*------------------------------------*/

@mixin icon-tab($icon-img, $icon-img-focus) {

  background: url("#{$path-icons}/#{$icon-img}.png") no-repeat  center $padding;
  background-size: 40px;

  &:hover,
  &:active,
  &.tab-active {
    background: url("#{$path-icons}/#{$icon-img-focus}.png") no-repeat  center $padding;
    background-size: 40px;
  }

}

.icon-tab-comments {
    @include icon-tab(icon-tab-comments, icon-tab-comments-focus);
}

.icon-tab-favorites {
    @include icon-tab(icon-tab-favorites, icon-tab-favorites-focus);
}

.icon-tab-messages {
    @include icon-tab(icon-tab-messages, icon-tab-messages-focus);
}

.icon-tab-timeline {
    @include icon-tab(icon-tab-timeline, icon-tab-timeline-focus);
}


$icon-size: (30,50); //TODO: resolve problem when it s moved to _vars

@each $value in $icon-size {

	.icon-#{$value}px {
		display: block;
		width: #{$value}px;
		height: #{$value}px;
		background-size: 100% auto;
	}
}

//Icon function

.iconfont-img::before {
	position: relative;
}

//Icon types

.iconfont {

  &-ArrowDown {
    @include iconfont-ArrowDown;
  }

  &-ArrowLeft {
    @include iconfont-ArrowLeft;
  }

  &-ArrowUp {
    @include iconfont-ArrowUp;
  }

  &-Arrow {
	  @include iconfont-Arrow;
  }

  &-BurguerMenu {
  	@include iconfont-BurguerMenu;
  }

  &-Calendar {
    @include iconfont-Calendar;
  }

  &-Candidaturas {
    @include iconfont-Candidaturas;
  }

  &-Category {
    @include iconfont-Category;
  }

  &-Check {
    @include iconfont-Check;
  }

  &-Clock {
    @include iconfont-Clock;
  }

  &-Close {
    @include iconfont-Close;
  }

  &-Company {
    @include iconfont-Company;
  }

  &-Config {
    @include iconfont-Config;
  }

  &-CV {
    @include iconfont-CV;
  }

  &-Euro {
    @include iconfont-Euro;
  }

  &-Facebook {
    @include iconfont-Facebook;
  }

  &-GooglePlus {
    @include iconfont-GooglePlus;
  }

  &-Location {
    @include iconfont-Location;
  }

  &-Mail {
    @include iconfont-Mail;
  }

  &-Reload {
    @include iconfont-Reload;
  }

  &-Search {
    @include iconfont-Search;
  }

  &-State {
    @include iconfont-State;
  }

  &-Suitecase {
    @include iconfont-Suitecase;
  }

  &-Twitter {
    @include iconfont-Twitter;
  }

  &-User {
    @include iconfont-User;
  }

  &-LinkedIn {
    @include iconfont-LinkedIn;
  }

  &-Viewdetails {
    @include iconfont-Viewdetails;
  }

  &-EditCv {
    @include iconfont-EditCv;
  }

  &-Home {
    @include iconfont-Home;
  }

  &-QR {
    @include iconfont-QR;
  }

  &-Config-alt {
    @include iconfont-Config-alt;
  }

  &-Edit {
    @include iconfont-Edit;
  }

  &-Help {
    @include iconfont-Help;
  }

  &-Info {
    @include iconfont-Info;
  }

  &-Plus {
    @include iconfont-Plus;
  }

  &-Smile {
    @include iconfont-Smile;
  }

  &-Wifi {
    @include iconfont-Wifi;
  }

  &-Alert {
    @include iconfont-Alert;
  }

  &-Connect {
    @include iconfont-Connect;
  }

  &-AlertProfile {
    @include iconfont-AlertProfile;
  }

  &-Hide {
    @include iconfont-Hide;
  }

  &-News {
    @include iconfont-News;
  }

  &-Flag {
    @include iconfont-Flag;
  }

  &-Offers {
    @include iconfont-Offers;
  }

  &-Big-check {
  	@include iconfont-Big-check;
  }

  &-BigArrowDown {
    @include iconfont-BigArrowDown;
  }

  &-BigArrowLeft {
    @include iconfont-BigArrowLeft;
  }

  &-BigArrowUp {
    @include iconfont-BigArrowUp;
  }

  &-BigArrowRight {
    @include iconfont-BigArrowRight;
  }

  &-BigArrowObliqueLeftDown {
    @include iconfont-BigArrowObliqueLeftDown;
  }

  &-BigArrowObliqueRightDown {
    @include iconfont-BigArrowObliqueRightDown;
  }

  &-BigArrowObliqueLeftUp {
    @include iconfont-BigArrowObliqueLeftUp;
  }

  &-BigArrowObliqueRightUp {
    @include iconfont-BigArrowObliqueRightUp;
  }

  &-Star {
    @include iconfont-Star;
  }

  &-Lock {
    @include iconfont-Lock;
  }

  &-Menumore {
    @include iconfont-Menumore;
  }

  &-Alert-circle {
    @include iconfont-Alert-circle;
  }

  &-Save {
    @include iconfont-Save;
  }

  &-SaveAs {
    @include iconfont-SaveAs;
  }

  &-OneTime {
    @include iconfont-OneTime;
  }

  &-Applications {
    @include iconfont-Applications;
  }

  &-Attach {
    @include iconfont-Attach;
  }

  &-Phone {
    @include iconfont-Phone;
  }

  &-Website {
    @include iconfont-Website;
  }

  &-Camera {
    @include iconfont-Camera;
  }

  &-Image {
    @include iconfont-Image;
  }

  &-PinReset {
    @include iconfont-PinReset;
  }

  &-CallCenter {
    @include iconfont-CallCenter;
  }

}

//icons svg

a[class^="Icon--"],
a[class*=" Icon--"],
a[class^="Icon--"],
a[class*=" Icon--"] {

    fill: #d1d8dc;

    &:hover svg {
        fill: $color-primary;
    }
    span {
        display: none;
    }
}
.Icon--small svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
