//generics
@import "../generics/generics";

//Applies to elements containing a class that begin with icon-

[class^="icon-"],
[class*="icon-"] {
	position: relative;
	padding-left: 17px;

	@media print {
		padding: 0;
	}
}

/*------------------------------------*\
	$ICONS
\*------------------------------------*/

/*
Icons

The icons are generated as font,<br>
color and size can be modified in the same way as text.
Use these classes for icon type, you can use any tag.

Styleguide 1.6
*/

@mixin iconfont {
	position: relative;
	top: 2px;
	font-family: 'Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 0;
	left: 0;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="iconfont-"]::before,
[class*=" iconfont-"]::before,
[class^="iconfont-"]::after,
[class*=" iconfont-"]::after {
	@include iconfont;
}

//needs sass version 3.4.7 or later
[class*=" iconfont-"]::before {

	@at-root .btn#{&} {
		display: inline-block;
		margin-right: 8px; //needed to separate icon from the text
	}

	@at-root .btn-group .btn#{&} {
		top: 4px;
		margin-right: 0;
	}
}

/*
Icons size

Use these classes to modify the icon size in px.

Markup:
<ul>
	<li class="iconfont-Company {$modifiers}"><span class="hide">Icon name</span></li>
</ul>

{$modifiers}:

.iconfont-16px	- 16px
.iconfont-18px	- 18px
.iconfont-22px	- 22px
.iconfont-30px	- 30px
.iconfont-100px	- 100px

Styleguide 1.6.1
*/

$iconfont-size: (16, 18, 22, 30, 100); //TODO: resolve problem when it s moved to _vars

@each $value in $iconfont-size {

	.iconfont-#{$value}px {

		&::before {
			font-size: #{$value}px;
		}
	}
}

.iconfont-soft-script::before {
	color: $soft-script;
}

/*------------------------------------*\
	$ICONSIMAGE
\*------------------------------------*/

/*
Icons image and size

Icons as a background image, not an icon font.<br>
Use class `.icon-[size]` to modify the image size.

Markup:
<span class="icon-50px icon-candidaturas"></span>
<span class="icon-50px icon-CV"></span>
<span class="icon-50px icon-contactos"></span>
</ul>

Styleguide 1.6.2
*/

.icon-candidaturas {
		background: url("#{$path-backgrounds}/icon-candidaturas.png") no-repeat 0 0;
}
.icon-CV {
		background: url("#{$path-backgrounds}/icon-CV.png") no-repeat 0 0;
}
.icon-contactos {
		background: url("#{$path-backgrounds}/icon-contacts.png") no-repeat 0 0;
}


$icon-size: (50); //TODO: resolve problem when it s moved to _vars

@each $value in $icon-size {

	.icon-#{$value}px {
		display: block;
		width: #{$value}px;
		height: #{$value}px;
		background-size: 100% auto;
	}
}

//Icon function

.iconfont-img::before {
	position: relative;
}

//Icon types

.iconfont-ArrowDown::before {
	content: "\e600";
}
.iconfont-ArrowLeft::before {
	content: "\e601";
}
.iconfont-ArrowUp::before {
	content: "\e602";
}
.iconfont-Arrow::before {
	content: "\e603";
}
.iconfont-BurguerMenu::before {
	content: "\e604";
}
.iconfont-Calendar::before {
	content: "\e605";
}
.iconfont-Candidaturas::before {
	content: "\e606";
}
.iconfont-Category::before {
	content: "\e607";
}
.iconfont-Check::before {
	content: "\e608";
}
.iconfont-Clock::before {
	content: "\e609";
}
.iconfont-Close::before {
	content: "\e60a";
}
.iconfont-Company::before {
	content: "\e60b";
}
.iconfont-Config::before {
	content: "\e60c";
}
.iconfont-CV::before {
	content: "\e60d";
}
.iconfont-Euro::before {
	content: "\e60e";
}
.iconfont-Facebook::before {
	content: "\e60f";
}
.iconfont-GooglePlus::before {
	content: "\e610";
}
.iconfont-Location::before {
	content: "\e611";
}
.iconfont-Mail::before {
	content: "\e612";
}
.iconfont-Reload::before {
	content: "\e613";
}
.iconfont-Search::before {
	content: "\e614";
}
.iconfont-State::before {
	content: "\e615";
}
.iconfont-Suitecase::before {
	content: "\e616";
}
.iconfont-Twitter::before {
	content: "\e617";
}
.iconfont-User::before {
	content: "\e618";
}
.iconfont-LinkedIn::before {
	content: "\e619";
}
.iconfont-Viewdetails::before {
	content: "\e61a";
}
.iconfont-EditCv::before {
	content: "\e61b";
}
.iconfont-Home::before {
	content: "\e61c";
}
.iconfont-QR::before {
	content: "\e61d";
}
.iconfont-Config-alt::before {
	content: "\e61e";
}
.iconfont-Edit::before {
	content: "\e61f";
}
.iconfont-Help::before {
	content: "\e620";
}
.iconfont-Info::before {
	content: "\e621";
}
.iconfont-Plus::before {
	content: "\e622";
}
.iconfont-Smile::before {
	content: "\e623";
}
.iconfont-Wifi::before {
	content: "\e624";
}
.iconfont-Alert::before {
	content: "\e625";
}
.iconfont-Connect::before {
	content: "\e626";
}
.iconfont-AlertProfile::before {
	content: "\e627";
}
.iconfont-Hide::before {
	content: "\e628";
}
.iconfont-News::before {
	content: "\e629";
}
.iconfont-Flag::before {
	content: "\e62a";
}
.iconfont-Offers::before {
	content: "\e62b";
}
.iconfont-Big-check::before {
	content: "\e62c";
}
.iconfont-BigArrowDown::before {
	content: "\e62d";
}
.iconfont-BigArrowLeft::before {
	content: "\e62e";
}
.iconfont-BigArrowUp::before {
	content: "\e62f";
}
.iconfont-BigArrowRight::before {
	content: "\e630";
}
.iconfont-BigArrowObliqueLeftDown::before {
	content: "\e631";
}
.iconfont-BigArrowObliqueRightDown::before {
	content: "\e632";
}
.iconfont-BigArrowObliqueLeftUp::before {
	content: "\e633";
}
.iconfont-BigArrowObliqueRightUp::before {
	content: "\e634";
}
.iconfont-Star::before {
	content: "\e635";
}
.iconfont-Lock::before {
	content: "\e636";
}
.iconfont-Menumore::before {
	content: "\e637";
}
.iconfont-Alert-circle::before {
	content: "\e638";
}
