/*
Definition List Inline

Only desktop.
Use class `.col-n` in `dt` and `dd` to generate columns.

Markup:
    <dl class="dl-inline">
    	<dt class="dt-col-2">Label dt col-2</dt>
    	<dd>Lorem ipsum</dd>
    	<dt class="dt-col-2">Label dt col-2</dt>
    	<dd>Lorem ipsum</dd>
    	<dt class="dt-col-2">Label dt col-2</dt>
    	<dd>Lorem ipsum</dd>
    </dl>
    <p class="margin-top">Example with 2 definitions list:</p>
    <dl class="dl-inline list-expanded">
    	<dt class="dt-col-4">Label dt col-3 and list-expanded</dt>
    	<dd>Lorem ipsum</dd>
    	<dd>Lorem ipsum</dd>
    	<dt class="dt-col-4">Label dt col-3 and list-expanded</dt>
    	<dd>Lorem ipsum</dd>
    </dl>

Styleguide #{$sgi-dlInline}
*/

$dl-col-unit: $theme-container-width / $gridColumns;

@mixin dl-inline {
  overflow: hidden;

  dt {
    clear: left;
    padding-right: $padding;

    &[class*="col-"]:not(:first-child) + dd{
      margin-top: $padding/2;
    }
  }

  @for $i from 1 through $gridColumns {
    .dt-col-#{$i} {
      float: left;
      width: $dl-col-unit * $i;

      + dd {
        float: left;
        width: calc(100% - #{$dl-col-unit} * #{$i});

        + dd {
          clear: left;
          padding-left: $dl-col-unit * $i;
          padding-top: $padding/2;
        }
      }
    }
  }

  &.list-expanded {

    dt {

      &[class*="col-"]:not(:first-child) + dd{
        margin-top: $padding;
      }
    }

    dd {

      + dt {
        margin-top: $padding;
      }
    }
  }
}

.dl-inline {
  dt {
    color: $soft-script;
  }

  dd {
    margin: 0;

    + dt {
      margin-top: $padding/2;
    }

  }

  @include mediaquery($bp-desktop) {
    @include dl-inline;
  }

  @media print {
    @include dl-inline;
  }
}
