/*------------------------------------*\
    $LIST ICON
\*------------------------------------*/

//size icon 20x20

.list-icon {

  li {
    position: relative;
    padding: 0 20px 0 30px;
  }

  [class^="icon-"],
  [class*="icon-"] {
    background-size: 20px;
  }

}
