/*------------------------------------*\
    $DL-TABLE
\*------------------------------------*/

.dl-table {
  @include display-flex;
  @include flex-wrap(wrap);
  overflow: hidden;
  width: 100%;

  dt {
    flex: 1 1 85%;
    padding-right: $padding;
  }

  dd {
    flex: 1 1 15%;
    min-width: 15%;
  }

  &--right {
    text-align: right;
  }
}
