/*
List with item checked

Markup:
<ul class="list-default list-item-checked">
  <li>
    <span class="checked">
      M&aacute;s de 10 a&ntilde;os <span class="break alternative">Puntuacion: 10</span>
    </span>
  </li>
  <li>
    <span>
      M&aacute;s de 5 a&ntilde;os <span class="break alternative">Puntuacion: 5</span></li>
    </span>
  <li>
    <span>
      No tengo experiencia <span class="break alternative">Excluido</span>
    </span>
  </li>
</ul>
Styleguide #{$sgi-listsItemChecked}
*/

.list-item-checked {

  > li {

    > span {
      display: inline-block;
      padding: 10px 0 10px 40px;
      line-height: 1;

      + small {
        margin-left: 10px;
      }

      @media print {
        padding: 7px 0 7px 20px;
      }

    }

    > .checked {
      padding-right: 20px;
      background: rgba(0,0,0,0.05) url("#{$path-icons}/ico-check-24x24.svg") no-repeat 10px center;
      border:1px solid rgba(0,0,0,0.05);
      border-radius: 2px;

      @media print {
        border: 0 none;
        position: relative;

        &::before {
         content:  "\2713 ";
         font-size: 14pt;
         position: absolute;
         left: 0;
        }
      }

    }
  }

  &.list-default > li {
    margin-bottom: 0;
  }

}
