
/*
List in columns

Use class `.list-columns-2`, `.list-columns-3`, `.list-columns-4` in `<ul>`tag to generate columns.

Markup:
<ul class="list-columns-4">
    <li>1 Lorem ipsum</li>
    <li>2 Lorem ipsum</li>
    <li>3 Lorem ipsum</li>
    <li>4 Lorem ipsum</li>
</ul>

Styleguide #{$sgi-listsColumns}
*/


@for $i from 1 through 4{
  $column-unit: 100 / $i;

  .list-columns-#{$i} {
     @include display-flex;
     @include flex-flow(row wrap);

     li,
     dt {
       width: calc(1% * #{$column-unit});
     }

     dt:nth-of-type(n+#{$i+1}) {
       margin-top: 20px;
     }

     dd {
       display: none;
     }

     dt::after {
       content: attr(data-text);
       display: block;
       margin:3px 0 0 0;
     }

     dt.light::after {
       @include bold;
     }

     dt.bold::after {
       @include light;
     }

     &.dl-inline dt::after {
       display: inline-block;
       margin: 0 0 0 10px;
     }
   }
}

.list-grid-columns-2 {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  dd {
    display: none;
  }
  dt {
    -webkit-column-break-inside: avoid;
              page-break-inside: avoid;
                 break-inside: avoid;
  }
  dt::after {
    content: attr(data-text);
    display: block;
    margin:3px 0 0 0;
  }

  dt.light::after {
    @include bold;
  }

  .inner & {
    margin-bottom: -#{$padding};
  }

}
