// Text elements

/*------------------------------------*\
$PARAGRAPHS
\*------------------------------------*/

/*
Paragraphs

Use tag `<p>` for a basic paragraph. Don't use `<span>` or `<div>` as a text tag, it's not semantic.

Markup:
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

Styleguide #{$sgi-paragraphs}
*/

p {
	@extend %font-base-line;
	margin-bottom: 15px;
	word-wrap: break-word;

	&:last-child,
	&:only-child {
		margin-bottom: 0;
	}


	&.error,
	.error-info {
		margin-top: 5px;
		color: $trueblood;
	}
}

.error span {
	margin-top: 5px;
	color: $trueblood;
}

#prefijoDescripcion1 p:last-child {
	margin-bottom: 15px; //TODO: update this rule
}


$font-size: (xsmall, small, base, medium); //TODO: resolve problem when it s moved to _vars

@each $value in $font-size {

	.#{$value} {
		@extend %font-#{$value}-line;
	}

	@if ($value == small) {

		p.#{$value} {
			margin-bottom: 7px;

			&:last-child,
			&:only-of-type {
				margin-bottom: 0;
			}
		}

	}

}
/*
Text Style

These classes affect how text appears on a page.

Styleguide #{$sgi-textStyle}
*/

/*
Text size

Use class `.base` to force body copy size or `.medium`, `.large`, `.xlarge` to increase the text size.

Markup:
<h2 class="base">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
<p class="medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<p class="xlarge">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

Styleguide #{$sgi-textSize}
*/

.xsmall {
  @extend %font-xsmall-line;
}

.base { //TODO: used in whatever kind of copy text (p, a, li...). Get out of _paragraphs.scss
	@extend %font-base-line;
}

.medium { //TODO: really necessary? this size is not defined in 'text-sizes.png' document for body copy
	@extend %font-medium-line;
}

.large {
	@extend %font-large-line;
}

.xlarge {
	@extend %font-xlarge-line;
}

/*
Text variants

Use class `.bold` to bold the content. Use only on the following tags: `<p>`, `<li>`, `<span>`, `dt` or `dd`.
Use class `.light` to to change from bold to light content.

Markup:
<p class="bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
<h2>Lorem ipsum dolor sit amet, <span class="light">consectetur adipiscing elit</span>.</h2>

Styleguide #{$sgi-textVariants}
*/

.bold {
  @include bold;
}
.light {
  @include light;
}

/*
Blockquotes

Use tag `<blockquote>` instead of `<p>` to introduce a block of text that is quoted from another source.
<br>
Use tag `<cite>` to cite the reference.
<br><br>
Use class `.quote` to give format to a blockquote.
<br>
Use class `.vip-quote` to emphasise a blockquote.

Markup:
<blockquote class="quote">
	<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
	<cite>Lorem ipsum</cite>
</blockquote>
<blockquote class="vip-quote">
	<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
	<cite>Lorem ipsum</cite>
</blockquote>

Styleguide #{$sgi-blockquotes}
*/
//TODO: move a blockquote.css
.quote {
	@extend %font-base-line;
	display: block;
	padding-top: 40px;
	font-style: italic;
	text-align: center;
	background: url(#{$path-media}/appgrade/pictures/pic-quote-executive.png) center 0 no-repeat;
}

.vip-quote {
	font-family: $alternative-font-family;
	font-size: $large-font-size;
	line-height: $large-line-height;

	span:after,
	span:before {
		content:'"';
	}

	cite {
		display: block;
		margin-top: 10px;
		font-family: $base-font-family;
		font-size: $base-font-size;
		line-height: $base-line-height;
	}
}
