/*------------------------------------*\
$PARAGRAPHS
\*------------------------------------*/

/*
Paragraphs

Markup:
<p>Loremew eqwfwaerg sefg sdfg sdfgsdfg sdfg sdfg sdf gsdf gsdfgsdfgsdfg</p>

Styleguide 1.3.2
*/

p {
	@extend %font-base-line;
	margin-bottom: 15px;

	&:last-child,
	&:only-child {
		margin-bottom: 0;
	}


	&.error {
		margin-top: 5px;
		color: $trueblood;
	}
}

#prefijoDescripcion1 p:last-child {
	margin-bottom: 15px; //TODO: update this rule
}

$font-size: (small, base, medium); //TODO: resolve problem when it s moved to _vars


@each $value in $font-size {

	.#{$value} {
		@extend %font-#{$value}-line;
	}

	@if ($value == small) {

		p.#{$value} {
			margin-bottom: 7px;

			&:last-child {
				margin-bottom: 0;
			}
		}

	}

}

/*
Text variants

Markup:
<p class="{$modifiers}">Loremew eqwfwaerg sefg sdfg sdfgsdfg sdfg sdfg sdf gsdf gsdfgsdfgsdfg</p>

.base				- Size: To force body copy size
.medium				- Size: To increase text size

.bold				- Style: To bold the letter

.quote				- Type: To identify a cite

Styleguide 1.3.3
*/

.base { //TODO: used in whatever kind of copy text (p, a, li...). Get out of _paragraphs.scss
	@extend %font-base-line;
}

.medium { //TODO: really necessary? this size is not defined in 'text-sizes.png' document for body copy
	@extend %font-medium-line;
}

.bold { //TODO: used in whatever kind of copy text (p, a, li...). Get out of _paragraphs.scss
	font-family: $base-font-family-bold;
}

/*
Blockquotes

Markup:
<blockquote class="small-quote base">
<span>The blockquote element represents a section that is quoted from another source.</span>
<cite class="small alternative">The Idol</cite>
</blockquote>

Styleguide 1.3.3.1
*/

.quote {
	@extend %font-base-line;
	display: block;
	padding-top: 40px;
	font-style: italic;
	background: url(#{$path-media}/appgrade/pictures/pic-quote-executive.png) center 0 no-repeat;
}

.small-quote {
	font-style: italic;

	span:after,
	span:before {
		content:'"';
	}

	cite {
		white-space: nowrap;
	}

	cite:before {
		content: "- ";
	}
}
