/*------------------------------------*\
    $TABLE
\*------------------------------------*/

.table-default {
	text-align: left;
	width: 100%;

	thead, tfoot, tbody, th, td, tr {
		text-align: left;
	}

	th,
	td {
		position: relative;

		@at-root & [class^="panel-"] {
			padding: 10px;

			@media print {
				padding-top: 0;
				padding-left: 0;
			}
		}
	}

	th {
		margin-bottom: 10px;
		color: $mid-script;
	}

	td {
		margin-bottom: 5px;
		color: $dark-silk;
	}

	> tbody > tr {
		position: relative;
	}

	> tbody  th {
		@include bold;
		color: $dark-silk;
	}

	tr:not(:first-child) table {
		border-top: 1px solid $darkest-shiro;

		th {
			margin-top: 10px;
		}
	}

	@include mediaquery ($bp-tablet) {

		width: 100%;
		max-width: 100%;

		table {
			width: 100%;
			max-width: 100%;
		}

		thead {
      border-bottom: 1px solid $darkest-shiro;
		}

		th,
		td {
			width: 25%;
			padding: 10px 10px 10px 0;

			@at-root &.cell-parent {
				padding: 0;
			}

			@at-root & [class^="panel-"] {
				margin-top: -10px;
				margin-right: -10px;

	      	}

		}

	}

	@media only screen and (max-width: $mobile-start) {

		thead, tfoot, tbody, th, td, tr {
			display: block;
		}

		> tbody > tr {
		    //margin-top: 10px;
			//padding-top: 10px;
		}

		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		td:before {
			color: $mid-script;
			content: attr(data-th)" ";
			white-space: nowrap;
		}

	}

	@media print {
		th,
		td {
			width: 25%;
		}

		td {
			padding-top: 5pt;
		}
	}

}

.table-editable {

	.action {
		display: none;
	}

	@include mediaquery ($bp-desktop) {

		> tbody > tr:hover,
		> tbody > tr:focus {
			background: #f5fcff;
			cursor: pointer;

			> td::before {
				background: #f5fcff;
			    content: "";
			    display: block;
			    height: 100%;
			    left: -20px;
			    top: 0;
			    position: absolute;
			    width: 20px;
			 }

 			> td::after {
				background: #f5fcff;
			    content: "";
			    display: block;
			    height: 100%;
			    right: -20px;
			    top: 0;
			    position: absolute;
			    width: 20px;
			 }

			.action {
				display: block;
			}

			[class*="btn"] {
				top: 10px;
				right: 10px;
				position: absolute;
			}
		}
	}

  @media print {
    thead {
      border-bottom: 1px solid $darkest-shiro;
    }
  }
}
