/*------------------------------------*\
    $TABLE
\*------------------------------------*/

/*
Table

Markup:
<table class="table-align-right">
  <tbody>
    <tr>
      <td>Lorem ipsum</td>
      <td>123455</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>123</td>
    </tr>
  </tbody>
</table>

Styleguide #{$sgi-table}
*/
@mixin table-default {
  max-width: 100%;
  table-layout: fixed;
  text-align: left;
  overflow: hidden;
  width: 100%;
}

@mixin reset-table {
  display: block;

  table,thead, tfoot, tbody, th, td, tr {
    display: block;
    text-align: left;
  }

  @at-root &.table-inner {
    > tbody {
      padding: $padding;
    }

    th,
    td {
      padding: 0;
    }

    td[data-th]:before {
      color: $mid-script;
      content: attr(data-th);
      display: block;
      font-size: $xsmall-font-size;
      white-space: nowrap;
    }
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

@mixin td-child-group {
  display: inline-table;
  vertical-align: text-top;
}

.table {

  &-align-right {
    margin: 0 0 0 auto;
    tr:not(:first-child) {
      td {
        padding-top: $padding/2;
      }
    }

    td,
    th {
      padding-right: $padding;
      text-align: right;

      &.text-left {
        text-align: left;
      }
    }

    td:first-child {
      padding: 0;
    }
  }
}

.table-default {
  text-align: left;

  @for $i from 1 through $gridColumns {
  	& .td-col-#{$i},
    & .th-col-#{$i} {
  		@include mediaquery ($bp-desktop) {
  			width: ((100 / $gridColumns) * $i) * 1%;
  		}
  	}
  }

	th,
	td {
		position: relative;

		@at-root & [class^="panel-"] {
			padding: 10px;

			@media print {
				padding-top: 0;
				padding-left: 0;
			}
		}
	}

	th {
		margin-bottom: 10px;
		color: $mid-script;
	}

	td {
		margin-bottom: 5px;
	}

	> tbody > tr {
		position: relative;
	}

	> tbody  th {
    @include bold;
		color: $dark-silk;
	}

	tr:not(:first-child) table {
		border-top: 1px solid $darkest-shiro;
    width: 100%;

		th {
			margin-top: $padding;
		}
	}

  td[colspan]:not(.td-footer) {
    padding: 0;
  }

	@include mediaquery ($bp-tablet) {
    @include table-default;

		table {
      @include table-default;
	  }

		thead {
      border-bottom: 1px solid $darkest-shiro;
		}

		th,
		td {
			padding: $padding/2 $padding/2 $padding/2 0;

			@at-root &.cell-parent {
				padding: 0;
			}

			@at-root & [class^="panel-"] {
				margin-top: -10px;
				margin-right: -10px;
      }
		}

    @at-root &.table-inner {
      th,
      td {
        padding: $padding;
      }

      td[colspan] {
        padding: 0;
      }
    }

    &-large-device {
      @media only screen and (max-width: $tablet-start) {
        @include reset-table;

        .td-child-group-medium-device {
          @include td-child-group;

          &.td-child-margin {
            margin-right: $padding*2;
          }

          &[data-th]:before {
            color: $mid-script;
            content: attr(data-th);
            display: block;
            font-size: $xsmall-font-size;
            white-space: nowrap;
          }

        }

      }
    }

	}

	@media only screen and (max-width: $mobile-start) {
    @include reset-table;

    .td-child-group-small-device {
      @include td-child-group;

      &.td-child-margin {
        margin-right: $padding*2;
      }

      &[data-th]:before {
        color: $mid-script;
        content: attr(data-th);
        display: block;
        font-size: $xsmall-font-size;
        white-space: nowrap;
      }
    }
	}

	@media print {
		th,
		td {
			width: 25%;
		}

		td {
			padding-top: 5pt;
		}
	}
  @at-root & [class^="table-right"] {
    text-align: right;
  }
}

.table-editable {

	.action {
		display: none;
	}

	@include mediaquery ($bp-desktop) {

		> tbody > tr:hover,
		> tbody > tr:focus {
			background: #f5fcff;
			cursor: pointer;

			> td::before {
				background: #f5fcff;
			    content: "";
			    display: block;
			    height: 100%;
			    left: -20px;
			    top: 0;
			    position: absolute;
			    width: 20px;
			 }

 			> td::after {
				background: #f5fcff;
			    content: "";
			    display: block;
			    height: 100%;
			    right: -20px;
			    top: 0;
			    position: absolute;
			    width: 20px;
			 }

			.action {
				display: block;
			}

			[class*="btn"] {
				top: 10px;
				right: 10px;
				position: absolute;
			}
		}
	}

  @media print {
    thead {
      border-bottom: 1px solid $darkest-shiro;
    }
  }
}

.td-child-group {
  @include td-child-group;
}
