/*------------------------------------*\
    $TABLE
\*------------------------------------*/

/*
Table

Markup:
<table class="table-align-right">
  <tbody>
    <tr>
      <td>Lorem ipsum</td>
      <td>123455</td>
    </tr>
    <tr>
      <td>Lorem</td>
      <td>123</td>
    </tr>
  </tbody>
</table>

Styleguide #{$sgi-table}
*/
@mixin table-default {
  max-width: 100%;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

@mixin data-th {
  color: $mid-script;
  content: attr(data-th);
  display: block;
  font-size: $xsmall-font-size;
  white-space: nowrap;
}

@mixin reset-table {
  display: block;

  table,thead, tfoot, tbody, th, td, tr {
    display: block;
    text-align: left;
  }

  @at-root &.table-inner {
    > tbody {
      padding: $gap * 2;
    }

    th,
    td {
      padding: 0;
    }

    td[data-th]::before {
      @include data-th;
    }

    .tr-footer {
      td {
        padding: 0;
      }
    }
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

}

@mixin td-child-group {
  display: inline-table;
  vertical-align: text-top;
}

.table {

  &-align-right {
    margin: 0 0 0 auto;
    tr:not(:first-child) {
      td {
        padding-top: $gap;
      }
    }

    td,
    th {
      padding-right: $gap * 2;
      text-align: right;

      &.text-left {
        text-align: left;
      }
    }

    td:first-child {
      padding: 0;
    }
  }
}

.table-default {
  text-align: left;

  @for $i from 1 through $gridColumns {
  	& .td-col-#{$i},
    & .th-col-#{$i} {
  		@include mediaquery ($bp-desktop) {
  			width: ((100 / $gridColumns) * $i) * 1%;
  		}
  	}
  }

	th,
	td {
		position: relative;

		@at-root & [class^="panel-"] {
      padding: $gap;

			@media print {
				padding-top: 0;
				padding-left: 0;
			}
		}
	}

	th {
		margin-bottom: $gap;
		color: $mid-script;
	}

	td {
    margin-bottom: $gap / 2;

    &.data-th-hidden::before {
      visibility: hidden;
    }

  }

  @at-root &.table-shrink {
    td {
      margin-bottom: 0;
    }
  }


	> tbody > tr {
		position: relative;
	}

	> tbody  th {
    @include bold;
		color: $dark-silk;
	}

	tr:not(:first-child) table {
		border-top: 1px solid $darkest-shiro;
    width: 100%;

		th {
			margin-top: $gap * 2;
		}
	}

  td.colspan {
    padding: 0;
  }

  .tr-footer {
    td {
      padding: $gap $gap $gap 0;
    }
  }

	@include mediaquery ($bp-tablet) {
    @include table-default;

    @at-root &.table-shrink {
      width: auto;
    }

    table {
      @include table-default;

      th,
      td {
        padding-top: $gap;

        @at-root &.cell-parent {
          padding: 0;
        }

        @at-root & [class^="panel-"] {
          margin-top: -$gap;
          margin-right: -$gap;
        }
      }
    }

		thead {
      border-bottom: 1px solid $darkest-shiro;
		}

		th,
		td {
			padding: 0 $gap $gap 0;

			@at-root &.cell-parent {
				padding: 0;
			}

			@at-root & [class^="panel-"] {
				margin-top: -$gap;
				margin-right: -$gap;
      }
		}

    @at-root &.table-inner {
      th,
      td {
        padding: $gap * 2;
      }

      td.colspan {
        padding: 0;
      }

      .tr-header-list {
          display: table;
          width: 100%;
          padding: $gap * 2;

        ~ tr {
          display: table;
          table-layout: fixed;
          width: 100%;

          td,
          th {
            padding-top: 0;
            margin-top: 0;
          }
        }

        td {
          padding-bottom: 0;
        }
      }

      .tr-footer {
        td {
          padding: $gap $gap * 2 $gap * 2;
        }
      }
    }

    &-large-device {
      @media only screen and (max-width: $tablet-start) {
        @include reset-table;

        .td-child-group-medium-device {
          @include td-child-group;

          &.td-child-margin {
            margin-right: $gap * 2;
          }

          &[data-th]::before {
            @include data-th;
          }
        }
      }
    }
	}

	@media only screen and (max-width: $mobile-start) {
    @include reset-table;

    .td-child-group-small-device {
      @include td-child-group;

      &.td-child-margin {
        margin-right: $gap * 2;
      }
    }

    td[data-th]:before {
      @include data-th;
    }

	}

	@media print {
		th,
		td {
			width: 25%;
		}

		td {
			padding-top: 5pt;
		}
	}
  @at-root & [class^="table-right"] {
    text-align: right;
  }
}

.table-editable {

	.action {
		display: none;
	}

	@include mediaquery ($bp-desktop) {

		> tbody > tr:hover,
		> tbody > tr:focus {
			background: #f5fcff;
			cursor: pointer;

			> td::before {
				background: #f5fcff;
			    content: "";
			    display: block;
			    height: 100%;
			    left: -20px;
			    top: 0;
			    position: absolute;
			    width: 20px;
			 }

 			> td::after {
				background: #f5fcff;
			    content: "";
			    display: block;
			    height: 100%;
			    right: -20px;
			    top: 0;
			    position: absolute;
			    width: 20px;
			 }

			.action {
				display: block;
			}

			[class*="btn"] {
				top: 10px;
				right: 10px;
				position: absolute;
			}
		}
	}

  @media print {
    thead {
      border-bottom: 1px solid $darkest-shiro;
    }
  }
}

.td-child-group {
  @include td-child-group;
}
