<!DOCTYPE html>
<head>
<meta charset="ISO-8859-15">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
<link rel="stylesheet" type="text/css" href="../styleguide/styleguide/public/style.css" />

</head>

<body>
  <div class="wrapper">
    <div class="container">

      <div class="container-expanded">
        <div class="panel-canvas">
          <div class="row row-bled panel-info row-panel-8-4 row-bleed clearfix fade-in-up" id="accountEngagement">
            <div class="col-8 col-12-medium">
              <div class="col-child">
                <div class="col-child-content">
                  <p>Si tenías tu CV en InfoJobs es probable que tu cuenta Executive ya esté activada.</p>
                  <a title="" class="btn btn-primary btn-medium" href="#" onclick="abrirThickboxLogin('/empleo-directivos-managers?dgv='+getDgv());xt_med('C', '1', 'X_EXECUTIVE_ACTUALIZE_CV', 'N');">Comprobar que tengo mi cuenta Executive</a>
                  <p>¿Eres nuevo/a en InfoJobs? <a class="link" onclick="xt_click(this,'C',infojobs.pageConfig.getXitiPortalLevelTwo(),'header_registration','N'); return true;" href="/candidate/registration/registration-index.xhtml?forTrace=executive-landing&amp;subsegmento=31">Crea ahora tu cuenta</a></p>
                </div>
              </div>
            </div>
            <div class="col-4 col-12-medium">
              <div class="col-child">
                <div class="col-child-content">
                  <h2>¿Quién puede acceder a una cuenta Executive?</h2>
                  <ul class="list-default list-bullet-default small">
                    <li>
                      Profesionales de perfil de dirección o management.
                      <a onclick="window.scrollTo(0,1320);" id="verperfiles" class="link" href="javascript:void(0);">Ver perfiles</a>
                    </li>
                    <li>Experiencia laboral de más de 5 años.</li>
                    <li>Último salario al nivel del puesto.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-expanded panel-canvas">
        <p>Helloooo!</p>
      </div>

    </div>
  </div>


</body>

</html>
