<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mi InfoJobs</title>
	<link rel="stylesheet" type="text/css" href="../styleguide/styleguide/public/style.css">
</head>

<body>

<div class="wrapper">
	<div class="container">

		<div class="custom-board custom-bg" style="background-image: url('http://media.infojobs.net/appgrade/backgrounds/bg-header-grid-01.jpg')">
			<div class="inner gradient text-center">
				<div class="clearfix">
					<div class="weather pull-right">
						<img id="weatherIcon">
						<ul class="data">
							<li>
								<span id="weatherTemp" class="degrees"></span><span id="weatherLocation" class="province"></span>
							</li>
							<li id="weatherDate" class="date" data-date='{"week": {"0":"Domingo","1":"Lunes","2":"Martes","3":"Miércoles","4":"Jueves","5":"Viernes","6":"Sábado"}, "month": {"0":"ENR","1":"FEB","2":"MAR","3":"ABR","4":"MAY","5":"JUN","6":"JUL","7":"AGO","8":"SET","9":"OCT","10":"NOV","11":"DIC"} }'></li>
						</ul>
					</div>
				</div>
				<h1 class="heading-mega">Buenas PEPITO</h1>
				<div class="row clearfix">
					<div class="col-6 col-6-mobile">
						<div class="col-child col-child-content clearfix">
							<!-- component kpi -->
							<div class="kpi pull-right">
								<span id="kpi-indicator-offers"
								data-endval="59"
								data-duration="1"
								class="kpi-indicator iconfont-Offers">158</span>
								<h2 class="kpi-title">Ofertas para ti</h2>
								<p class="small hide-small-device hide-medium-device">Lorem ipsum  <br><a href="#">Link</a></p>
							</div>
							<!-- /component kpi -->
						</div>
					</div>
					<div class="col-6 col-6-mobile">
						<div class="col-child col-child-content clearfix">

							<div class="kpi pull-left">
								<a  class="kpi-link-indicator" href="#">
									<span class="kpi-indicator iconfont-Viewdetails">15</span>
								</a>

								<h2 class="kpi-title">Ofertas para ti</h2>
								<p class="small hide-small-device hide-medium-device">Lorem ipsum  <br><a href="#">Link</a></p>
							</div>

						</div>
					</div>
				</div>

				<blockquote class="small-quote base hide-small-device">
					<span>The blockquote element represents a section that is quoted from another source.</span>
					<cite class="small alternative">The Idol</cite>
				</blockquote>
			</div>
		</div>

		<div class="container-expanded panel-canvas">
			<div class="row clearfix">
				<section class="col-8 col-12-medium inner-expanded">
					<div class="col-child inner">

						<div class="heading-addons">
							<h1>hello</h1>
							<p>62 ofertas de ingenieros técnicos en Barcelona</p>
						</div>
						<ul class="result-list" id="offer-list">
							<li value="0" class=" " id="of_4a2b692d6b41fe8df329f50af2e1eb">
								<h2 class="result-list-title">
									<a onclick="javascript:relaunchView('item_form_codigo','4a2b692d6b41fe8df329f50af2e1eb', '//www.infojobs.net/manresa/coordinador-tecnico-proyectos/of-i4a2b692d6b41fe8df329f50af2e1eb');return false;" title="Coordinador/a Técnico de Proyectos" id="table_results_offer0" class="lines-2 clamp" href="//www.infojobs.net/manresa/coordinador-tecnico-proyectos/of-i4a2b692d6b41fe8df329f50af2e1eb">Coordinador/a Técnico de Proyectos</a>
								</h2>
								<h3 class="result-list-subtitle">
									<span class="ellipsis">
										<a id="table_results_company0" href="//tous.ofertas-trabajo.infojobs.net/">TOUS</a>
									</span>
								</h3>
								<ul class="tag-group">
									<li class="tag-divider tag-ellipsis-cols2">
										<span class="ellipsis">Manresa</span></li>
										<li>
											<span class="marked">Hace 4m</span>
											<span class="sticker sticker-marked">Nueva</span>
										</li>
									</ul>
									<ul class="tag-group hide-small-device">
										<li class="tag-divider">Contrato no especificado</li>
										<li class="tag-divider">Jornada completa</li>
										<li>Salario no especificado</li>
									</ul>
								</li>
								<li value="0" class=" " id="">
									<h2 class="result-list-title">
										<a onclick="javascript:relaunchView('item_form_codigo','4a2b692d6b41fe8df329f50af2e1eb', '//www.infojobs.net/manresa/coordinador-tecnico-proyectos/of-i4a2b692d6b41fe8df329f50af2e1eb');return false;" title="Coordinador/a Técnico de Proyectos" id="table_results_offer0" class="lines-2 clamp" href="//www.infojobs.net/manresa/coordinador-tecnico-proyectos/of-i4a2b692d6b41fe8df329f50af2e1eb">Coordinador/a Técnico de Proyectos</a>
									</h2>
									<h3 class="result-list-subtitle">
										<span class="ellipsis">
											<a id="" href="//tous.ofertas-trabajo.infojobs.net/">TOUS</a>
										</span>
									</h3>
									<ul class="tag-group">
										<li class="tag-divider tag-ellipsis-cols2">
											<span class="ellipsis">Manresa</span></li>
										<li>
											<span class="marked">Hace 4m</span>
											<span class="sticker sticker-marked">Nueva</span>
										</li>
									</ul>
									<ul class="tag-group hide-small-device">
										<li class="tag-divider">Contrato no especificado</li>
										<li class="tag-divider">Jornada completa</li>
										<li>Salario no especificado</li>
									</ul>
								</li>
							</ul>
							<a class="link" href="#">Ver 59 ofertas más como éstas</a>
					</div>
				</section>
				<section class="col-4 col-12-medium inner-expanded">
					<div class="col-child inner">
						<div class="panel-default">
							<div class="inner">
								<h3>Últimas búsquedas</h3>
								<div class="inner-expanded text-center hide-small-device hide-medium-device">
									<span class="iconfont-img iconfont-Search iconfont-100px darkest-shiro"></span>
								</div>
								<p class="alternative">Aquí verás las últimas búsquedas que has realizado. Encuentra nuevas ofertas con los mismos criterios a un colo click.</p>
								<a class="link" href="#">Realiza tu primer búsqueda ahora</a>

								<!--<ul class="list-default list-divider list-divider-bleed">
									<li><a class="link" href="#">Ingeniero Técnico en Barcelona (26)</a></li>
									<li><a class="link" href="#">Ingeniero Técnico en Barcelona (26)</a></li>
									<li><a class="link" href="#">Ingeniero Técnico en Barcelona (26)</a></li>
									<li><a class="link" href="#">Ingeniero Técnico en Barcelona (26)</a></li>
								</ul>-->
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>


	</div>
</div>
<script type="text/javascript" src="../js/count-up.js"></script>
<script type="text/javascript" src="../js/widget.weather.js"></script>
<script>
	(function(){
		var eKpiOffers = document.getElementById('kpi-indicator-offers');

		nValKpiOffers = parseInt(eKpiOffers.dataset.endval);

		if( nValKpiOffers > 999 ) {
			nValKpiOffers = nValKpiOffers / 1000;
			eKpiOffers.innerHTML = nValKpiOffers.toFixed(1).replace('.',',') + '<span>K</span>';

		} else {
			var numAnim = new countUp('kpi-indicator-offers');
			numAnim.start();
			
		}
	})();
</script>
</body>

</html>
