<div  class="sg-guide">
    <div class="inner">
        <ul class="clearfix color">
            <li class="contrast panel-executive">
                .contrast
            </li>

            <li class="disabled">
                .disabled
            </li>

            <li class="marked">
                .marked
            </li>

            <li class="marked-contrast">
                .marked-contrast
            </li>

            <li class="alternative">
                .alternative
            </li>

            <li class="highlight">
                .highlight
            </li>

            <li class="script">
                .script
            </li>

            <li class="soft-script">
                .soft-script
            </li>
        </ul>
    <div>
</div>
