<div  class="guide">
    <div class="inner">
        <ul class="clearfix color">
            <li class="contrast panel-executive">
                .contrast
            </li>

            <li class="disabled">
                .disabled
            </li>

            <li class="marked">
                .marked
            </li>

            <li class="marked-contrast">
                .marked-contrast
            </li>

            <li class="alternative">
                .alternative
            </li>

            <li class="highlight">
                .highlight
            </li>

            <li class="script">
                .script
            </li>

            <li class="soft-script">
                .soft-script
            </li>
        </ul>

        <p>Apply any class specified above to provide color to any html element. </p>
        <p>".contrast" class needs a dark background.</p>
        <p>".marked-contrast" and ".highlight" classes adds their own background.</p>
    <div>
</div>
