<div class="view">
    <div class="guide">
      <div class="row-faux clearfix">
          <div class="col-1">
              <div class="col-child">.col-1 (more content)</div>
          </div>
          <div class="col-1">
              <div class="col-child">.col-1</div>
          </div>
          <div class="col-1">
              <div class="col-child">.col-1</div>
          </div>
          <div class="col-1">
              <div class="col-child">.col-1</div>
          </div>
          <div class="col-1">
              <div class="col-child">.col-1</div>
          </div>
          <div class="col-1">
              <div class="col-child">.col-1</div>
          </div>
          <div class="col-1">
              <div class="col-child">.col-1</div>
          </div>
          <div class="col-1">
              <div class="col-child">.col-1</div>
          </div>
          <div class="col-1">
              <div class="col-child">.col-1</div>
          </div>
          <div class="col-1">
              <div class="col-child">.col-1</div>
          </div>
          <div class="col-1">
              <div class="col-child">.col-1</div>
          </div>
          <div class="col-1">
              <div class="col-child">.col-1</div>
          </div>
      </div>

  </div>
</div>
