<div class="sg-view">
    <div class="sg-guide">
          <!-- ROW 4/8-->
          <div class="row clearfix">
              <div class="col-4">
                  <div class="col-child">.col-4</div>
              </div>
              <div class="col-8">
                  <div class="col-child">.col-8</div>
              </div>
          </div>
          <!--/ROW 4/8-->
          <!-- ROW 8/4-->
          <div class="row clearfix">
              <div class="col-8">
                  <div class="col-child">.col-8</div>
              </div>
              <div class="col-4">
                  <div class="col-child">.col-4</div>
              </div>
          </div>
          <!--/ROW 8/4-->
          <!-- ROW 4/4/4-->
          <div class="row clearfix">
              <div class="col-4">
                  <div class="col-child">.col-4</div>
              </div>
              <div class="col-4">
                  <div class="col-child">.col-4</div>
              </div>
              <div class="col-4">
                  <div class="col-child">.col-4</div>
              </div>
          </div>
          <!--/ROW 4/4/4-->
          <!-- ROW 3/3/3-->
          <div class="row clearfix">
              <div class="col-3">
                  <div class="col-child">.col-3</div>
              </div>
              <div class="col-3">
                  <div class="col-child">.col-3</div>
              </div>
              <div class="col-3">
                  <div class="col-child">.col-3</div>
              </div>
              <div class="col-3">
                  <div class="col-child">.col-3</div>
              </div>
          </div>
          <!--/ROW 4/4/4-->
      </div>
  </div>
