<div class="sg-view">
    <div class="sg-guide">
          <!-- ROW tablet 50%-->
          <div class="row clearfix">
              <div class="col-8 col-6-medium">
                  <div class="col-child">.col-8 .col-6-medium</div>
              </div>
              <div class="col-4 col-6-medium">
                  <div class="col-child">.col-4 .col-6-medium</div>
              </div>
          </div>
          <!--/ROW tablet 50%-->
          <!-- ROW tablet 100%-->
          <div class="row clearfix">
              <div class="col-8 col-12-medium">
                  <div class="col-child">.col-8 .col-12-medium</div>
              </div>
              <div class="col-4 col-12-medium">
                  <div class="col-child">.col-4 .col-12-medium</div>
              </div>
          </div>
          <!--/ROW tablet 100%-->
      </div>
  </div>
