<div class="sg-guide">
  <div class="row clearfix">
      <div class="col-1">
          <div class="col-child">.col-1 (content)</div>
      </div>
      <div class="col-1">
          <div class="col-child">.col-1</div>
      </div>
      <div class="col-1">
          <div class="col-child">.col-1</div>
      </div>
      <div class="col-1">
          <div class="col-child">.col-1</div>
      </div>
      <div class="col-1">
          <div class="col-child">.col-1</div>
      </div>
      <div class="col-1">
          <div class="col-child">.col-1</div>
      </div>
      <div class="col-1">
          <div class="col-child">.col-1</div>
      </div>
      <div class="col-1">
          <div class="col-child">.col-1</div>
      </div>
      <div class="col-1">
          <div class="col-child">.col-1</div>
      </div>
      <div class="col-1">
          <div class="col-child">.col-1</div>
      </div>
      <div class="col-1">
          <div class="col-child">.col-1</div>
      </div>
      <div class="col-1">
          <div class="col-child">.col-1</div>
      </div>
  </div>
</div>
