<div class="sg-view">
    <div class="sg-guide">
          <!--ROW-FAUX-->
          <div class="row clearfix">
              <div class="col-6">
                  <div class="col-child">
                         .col-6 with nested row
                        <div class="row">
                        	<div class="col-6"><div class="col-child">.col-6</div></div>
                        	<div class="col-6"><div class="col-child">.col-6</div></div>
                        </div>
                  </div>
              </div>
              <div class="col-6">
                  <div class="col-child">.col-6</div>
              </div>
          </div>
          <!--/ROW-MATRIOSKA-->
      </div>
  </div>
