      <img src="./public/media/index.jpg" class="sg-img">

      <div class="margin-top">
          <h1>Rubik frontend framework</h1>

          <p>Rubik es el framework interno del portal InfoJobs. Rubik permite utilizar componentes CSS y elementos Javascript para construir las páginas del portal. </p>

          <p>Objetivos de Rubik:</p>

          <ol>
              <li>- Estandarizar y reutilizar elementos y componentes.</li>
              <li>- Hacer más autónomo al equipo de desarrollo.</li>
          </ol>
      </div>
      <div class="sg-block">
          <h2>¿En qué se basa Rubik?</h2>

          <p>Rubik se basa en cuatro pilares básicos.</p>

          <div class="row-faux margin-bottom">
              <div class="col-4">
                <div class="col-child panel-canvas">
                    <img src="./public/media/MOBILE-FIRST.jpg" class="sg-img">
                    <div class="inner">
                        <h3>Mobile first</h3>
                        <p>Mobile first se centra en jerarquizar y estructurar el contenido partiendo de la resolución de una pantalla móvil.</p>
                    </div>
                </div>
              </div>

              <div class="col-4">
                <div class="col-child panel-canvas">
                    <img src="./public/media/RESPONSIVE.jpg" class="sg-img">
                    <div class="inner">
                        <h3>Responsive design</h3>
                        <p>Responsive design ofrece una correcta visualización y experiencia en las distintas resoluciones y dispositivos.</p>
                    </div>
                </div>
              </div>

                <div class="col-4">
                  <div class="col-child panel-canvas">
                      <img src="./public/media/OOCSS.jpg" class="sg-img">
                      <div class="inner">
                          <h3>OOCSS</h3>
                          <p>Oriented Object CSS promueve la creación de componentes reutilizables, escalables y fáciles de mantener, separando los estilos que definen la estructura de los que definen la presentación.</p>
                      </div>
                  </div>
                </div>
          </div>

          <div class="row-faux">
                <div class="col-4">
                  <div class="col-child panel-canvas">
                      <img src="./public/media/SASS.jpg" class="sg-img">
                      <div class="inner">
                          <h3>Sass</h3>
                          <p>Syntactically Awesome Stylesheets es un preprocesador CSS que simplifica la escritura y estructura de las hojas de estilo dando como resultado una CSS más limpia y ordenada.</p>
                      </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="col-child panel-canvas">
                      <img src="./public/media/JS.jpg" class="sg-img">
                      <div class="inner">
                          <h3>Javascript</h3>

                          <p>Javascript nos ayuda a enriquecer la interfaz e implementar comportamientos a nivel de interacción.</p>
                      </div>
                  </div>
                </div>

                  <div class="col-4">
                    <div class="col-child panel-canvas">
                        <img src="./public/media/HTMLSEMANTICO.jpg" class="sg-img">
                        <div class="inner">
                            <h3>HTML semántico</h3>

                            <p>El HTML semántico se utiliza para reforzar la coherencia entre las etiquetas HTML y el contenido, haciendo un uso correcto de los estándares web.</p>
                        </div>
                    </div>
                  </div>

          </div>

      </div>
