<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>InfoJobs Rubik Styleguides</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="public/kss.css">
        <link rel="stylesheet" href="public/styleguide.css">
        <link rel="stylesheet" href="public/rubik.css">
    </head>
    <body id="kss-node">

    	<nav class="sg-menu">
            <div class="sg-logo">
                <a href="./index.html" id="logo"><img src="public/media/logo.png"></a>
            </div>
        	<ul>
        		<li>
        			<div class="sg-section">Introduction</div>
        			<ul>
        				<li><a href="./index.html" id="home">Design principles</a></li>
        			</ul>
        		</li>
        		<li>
        			<div class="sg-section">Styleguide</div>
        			<ul>
        				{{#eachRoot}}
                        <li>
                            <a href="section-{{referenceURI}}.html" class="js-itemMenu">
                                {{header}}
                            </a>
                            {{#if overview}}
                            {{else}}

                            <ul class="sg-submenu">
                                {{#eachSection reference}}
                                    {{#ifDepth 2}}
                                    <li>
                                        <a href="section-{{../../reference}}.html#rubik-{{{reference}}}" {{#isDisabled header}}class="disabled js-disabled"{{/isDisabled}}>{{header}}</a>
                                    </li>
                                    {{/ifDepth}}
                                {{/eachSection}}
                            </ul>

                            {{/if}}

        				</li>
        				{{/eachRoot}}
        			</ul>
        		</li>
        	</ul>
        </nav>
        <div class="sg-overlay"></div>

        <header class="sg-header">
            <a id="burgerMenu" class="iconfont-BurguerMenu"></a>
            <h1>
                {{#if homepage}}
                Rubik Components
                {{/if}}
            </h1>
        </header>
        <div class="sg-wrapper">
        <section class="sg-content">

            {{#if homepage}}
            {{! - HOME ------------------------------------------------------ }}
            <img src="./public/media/index.jpg" class="sg-img">
            <h1 class="sg-block">Rubik</h1>
            <p>Quid sed cernantur et noster in et nostrud relinqueret. Malis admodum comprehenderit non id elit ne illum e o quis veniam de laboris ad quibusdam illum an tempor sempiternum o quo arbitror firmissimum do senserit graviterque a laborum, malis offendit graviterque in mentitum fugiat senserit laborum.</p>
            <p>Quid sed cernantur et noster in et nostrud relinqueret. Malis admodum comprehenderit non id elit ne illum e o quis veniam de laboris ad quibusdam illum an tempor sempiternum o quo arbitror firmissimum do senserit graviterque a laborum, malis offendit graviterque in mentitum fugiat senserit laborum.</p>

            <h2 class="sg-block">Heading</h2>
            <p>Quid sed cernantur et noster in et nostrud relinqueret. Malis admodum comprehenderit non id elit ne illum e o quis veniam de laboris ad quibusdam illum an tempor sempiternum o quo arbitror firmissimum do senserit graviterque a laborum, malis offendit graviterque in mentitum fugiat senserit laborum.</p>

            <div class="row-faux">
                  <div class="col-6">
                    <div class="col-child panel-canvas">
                        <img src="./public/media/index.jpg" class="sg-img">
                        <div class="inner">
                            <h3>Mobile first & Responsive design</h3>
                            <p>Quid sed cernantur et noster in et nostrud relinqueret. Malis admodum comprehenderit non id elit ne illum e o quis veniam de laboris ad quibusdam illum an tempor sempiternum o quo arbitror firmissimum do senserit graviterque a laborum, malis offendit graviterque in mentitum fugiat senserit laborum.</p>
                        </div>
                    </div>
                  </div>
                  <div class="col-6">
                      <div class="col-child panel-canvas">
                          <img src="./public/media/index.jpg" class="sg-img">
                          <div class="inner">
                              <h3>Sass</h3>
                              <p>Quid sed cernantur et noster in et nostrud relinqueret. Malis admodum comprehenderit non id elit ne illum e o quis veniam de laboris ad quibusdam illum an tempor sempiternum o quo arbitror firmissimum do senserit graviterque a laborum, malis offendit graviterque in mentitum fugiat senserit laborum.</p>
                          </div>
                      </div>
                  </div>
        </div>
        <div class="row-faux">
                  <div class="col-6">
                        <div class="col-child panel-canvas">
                            <img src="./public/media/index.jpg" class="sg-img">
                            <div class="inner">
                                <h3>OOCSS</h3>
                                <p>Quid sed cernantur et noster in et nostrud relinqueret. Malis admodum comprehenderit non id elit ne illum e o quis veniam de laboris ad quibusdam illum an tempor sempiternum o quo arbitror firmissimum do senserit graviterque a laborum, malis offendit graviterque in mentitum fugiat senserit laborum.</p>
                            </div>
                        </div>
                  </div>
                  <div class="col-6">
                        <div class="col-child panel-canvas">
                            <img src="./public/media/index.jpg" class="sg-img">
                            <div class="inner">
                                <h3>Javascript</h3>
                                <p>Quid sed cernantur et noster in et nostrud relinqueret. Malis admodum comprehenderit non id elit ne illum e o quis veniam de laboris ad quibusdam illum an tempor sempiternum o quo arbitror firmissimum do senserit graviterque a laborum, malis offendit graviterque in mentitum fugiat senserit laborum.</p>
                            </div>
                        </div>
                  </div>
            </div>


            <div class="sg-grid sg-block">
                <div class="sg-col-8">
                    <div class="sg-box-row">
                       <h2>Heading</h2>
                       <p>Quid sed cernantur et noster <a href="#">in et nostrud relinqueret</a>.</p>
                    </div>
                </div>
                <div class="sg-col-4"></div>
            </div>

            {{else}}
            {{! - SECTIONS -------------------------------------------------- }}

            {{#eachSection rootName}}

                {{#isDisabled header}}

                    {{! - If header have ##deisabled## don't render section --}}

                {{else}}


                    {{#if markup}}
                        <div id="rubik-{{reference}}" class="sg-grid sg-block">
                                <div class="sg-col-12">
                                <header class="sg-block-header">
                                    <h2>{{{header}}}</h2>
                                </header>
                                {{#if description}}
                                    <div class="sg-block-description">
                                        {{{description}}}

                                    </div>
                                {{/if}}

                                {{#if markup}}

                                        {{#if modifiers}}
                                        {{/if}}

                                        {{#isntCaster markup}}
                                            <div class="sg-view">
                                                {{{markup}}}
                                            </div>

                                            {{#eachModifier}}
                                                <div class="">
                                                    {{name}} <span>{{{description}}}</span>
                                                </div>
                                                {{#isntCaster markup}}
                                                <div class="sg-view">
                                                    {{{markup}}}
                                                </div>
                                                {{/isntCaster}}
                                            {{/eachModifier}}
                                        {{/isntCaster}}

                                        <pre class="prettyprint linenums lang-html"><code data-language="html">{{markup}}</code></pre>
                                {{/if}}

                            </div>
                        </div>

                    {{else}}
                    <div id="rubik-{{reference}}" class="sg-grid sg-block">
                        <div class="sg-col-12">
                            <header class="sg-block-header">
                                <h1>{{{header}}}</h1>
                            </header>
                            {{#if description}}
                                <div class="sg-block-description">
                                    {{{description}}}
                                </div>
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                {{/isDisabled}}
            {{/eachSection}}

            {{/if}}
        </section>
        <section class="sg-content sg-footer">
        © Infojobs 2015
        </section>
    </div>

        <script src="public/jquery-2.1.0.min.js"></script>
        <script src="public/kss.js"></script>
        <script src="public/prettify.js"></script>
        <script src="public/plugins.js"></script>
        <script src="public/main.js"></script>
        <script src="public/jquery.modal.js"></script>
    </body>
</html>
