html,
body {
    height: auto;
}

body {
    background: none;
}

.guide {
    background-color: $shiro;

    //Grid
    .col-child {
    //[class^="col-"],
    //[class*="col-"]
        padding: 10px;
        text-align: center;
        background-color: $darkest-shiro;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .col-6-medium {
        width: 50%;
    }

    .row + .row {
        margin-bottom: 0;
    }

    //Colors
    .color {
        margin-bottom: 10px;

        li {
            padding: 10px 20px;
            text-align: center;
            border: 1px solid #2D3133;
            float: left;
            margin: 0 10px 10px 0;
        }
    }

	&.icons ul {
		overflow: hidden;
        display: inline-block;
        width: 100%;

	    li {
			height: 100px;
			margin: 0px;
			outline: 1px solid white;
			font-size: 14px;
			text-align: center;
			background-color: $darkest-shiro;
			float: left;
			width: 50%;

			@include mediaquery ($bp-tablet) {

				width: 25%;

			}

			@include mediaquery ($bp-desktop) {

				width: 16.666%;

			}

        }

		li::after,
        li::before {
			display: block;
			padding: 30px;
			text-align: center;
			font-size: 30px;
		}

    }
}
