html,
body {
    height: auto;
    background: none;
}

.guide {
    background-color: $shiro;

    .col-child {
    //[class^="col-"],
    //[class*="col-"]
        padding: 10px;
        text-align: center;
        background-color: $darkest-shiro;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .col-6-medium {
        width: 50%;
    }

}
