.guide {
    background-color: $shiro;
    height: auto;

    .col-child {
    //[class^="col-"],
    //[class*="col-"]
        padding: 20px;
        background-color: grey;
    }
}


.guide-icons ul {

    overflow: hidden;
    display: inline-block;
    width: 100%;

    li {
      height: 100px;
      margin: 0px;
      outline: 1px solid white;
      font-size: 14px;
      text-align: center;
      background-color: $darkest-shiro;

            @include mediaquery ($bp-desktop) {

                float: left;
                width: 25%;

            }

          @include mediaquery ($bp-desktop) {

              float: left;
              width: 16.666%;

          }

    }

    li::after,
    li::before {
      display: block;
      padding: 30px;
      text-align: center;
      font-size: 30px;


    }




}
